@using eActForm.BusinessLayer;

@model eActForm.Models.SearchActivityModels
@{
    ViewBag.Title = "ApproveList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Approve Lists</h2>
<hr />
<div class="row tile_count">

    <div class="row tile_count">
        <div class="col-md-12 col-xs-12">
            @using (Ajax.BeginForm("searchActForm", "ApproveLists"
, new AjaxOptions { UpdateTargetId = "getQuery", HttpMethod = "post", OnBegin = "return beginQuery()", OnSuccess = "successQuery", OnFailure = "failureQuery", LoadingElementId = "WaitDialog" }
, new { id = "form", @class = "form-horizontal form-label-left" }))
            {
                @RenderPage("~/Views/Shared/_search.cshtml")
            }
        </div>
    </div>
</div>

<div id="divShowSummary"><a href="#"><h4>Show Summary</h4></a></div>
<div class="clsSummary" style="display: none;">
    @Html.Action("approveListSummaryActBeer", "ApproveLists", new { })
</div>



@if (ViewBag.messCannotFindSignature != null)
{
    <div class="loading" style="text-align: center;">
        <img src="~/images/warning_error.png" style="margin-top:100px;width:100px;height:100px;" />
        <div style="margin-top: 10px; color: white">
            <p class="text-danger"><h2>@Resources.Global.dontFoundYourSignatureInSystem !!! <br />@Resources.Global.pleaseInsertYourSignatureBeforeApprovalDocument</h2></p>
            @Html.ActionLink(Resources.Global.insertYourSignature + " Click", "index", "Signature")
        </div>

    </div>
}

<div class="row tile_count">
    <div id="getQuery" class="col-md-12 col-xs-12">
        @Html.Action("ListView", "ApproveLists", new { })
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#txtApproveCount').val('@UtilsAppCode.Session.User.countWatingActForm')

        $('#divShowSummary').click(function () {
            $('.clsSummary').slideToggle("fast");
        });
    })

    function beginQuery() {
        if ($("#ddlStatus").val() == "" && $("#txtActivityNo").val() == "") {
            return false;
        }
        $("#getQuery").fadeOut(300);
    }

    function successQuery(htmlResponse) {
        $("#getQuery").html(htmlResponse)
        $("#getQuery").fadeIn(300);
    }

    function failureQuery(data) {
        doMsgFail(data.responseText);
    }

</script>