@using eActForm.Models
@model eActForm.Models.Activity_Model.actForms

<div class="row">

    <div class="col-md-12 col-xs-12">

    </div>
    <div class="col-md-12 col-xs-12">
        <a class="btn ink-reaction btn-success fa fa-thumbs-o-up" style="width:150px; height:40px" onclick="submitApprove();"> Approve </a>

        <table id="datatable" class="table table-striped table-hover">
            <thead>
                <tr style="background-color:#2B5D95;color:#ffffff;">
                    <th width="20">
                        <input type="checkbox" id="chk_All" class="icheckbox_flat-green" onchange="setFlagAll(this);" name="table_records">
                    </th>
                    <th></th>
                    <th>Status</th>
                    <th>Doc.Date</th>
                    <th>Act.No</th>
                    <th>วัตถุประสงค์</th>
                    <th align="center">ยอดขายช่วงกิจกรรม</th>
                    <th align="center">ค่าใช้จ่าย</th>
                    <th align="center">% ต่อยอดขาย</th>
                    <th align="center">createBy</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.actLists)
                {
                    <tr class="gradeX">
                        <td class="a-center ">
                            <input type="checkbox" id="chk_@item.id"  class="icheckbox_flat-green" value="@item.id" name="chk_approve" >
                        </td>
                        <td>
                            @Html.ActionLink(" ", "getPDF", "ActivityViewer", new { actId = item.id, type = AppCode.ApproveType.Activity_Form.ToString() }, new { @class = "btn ink-reaction btn-info fa fa-search", target = "_blank" })
                            <a onclick="callApproveList('@item.id');">
                                <i class="btn ink-reaction btn-dark fa fa-eye"></i>
                            </a>
                            @Html.ActionLink(" ", "index", "approve", new { actId = item.id, type = AppCode.ApproveType.Activity_Form }, new { @class = "btn ink-reaction btn-success fa fa-thumbs-o-up" })
                        </td>
                        <td>@item.statusName</td>
                        <td>@{var date = item.documentDate == null ? "" : item.documentDate.Value.ToString("dd/MM/yyyy");} @date </td>
                        <td>@item.activityNo</td>
                        <td>@item.objective</td>
                        <td align="center">@string.Format("{0:n2}", item.themeCost)</td>
                        <td align="center">@string.Format("{0:n2}", @item.totalCost)</td>
                        <td align="center">
                            @string.Format("{0:n2}", @item.perTotal)
                        </td>
                        <td>@item.createByUserName</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>


<div class="modal fade" id="ModalPreviewPDF" style="display:none">
    <div id="divPreviewApprove">

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 0 }
                , { "orderable": false, "targets": 1 }
                , { "orderable": false, "targets": 2 }
                , { "orderable": false, "targets": 3 }
            ],
            "dom": 'lCfrtip',
            "order": [],
            "language": {
                "lengthMenu": '_MENU_ entries per page',
                "search": '<i class="fa fa-search"></i>',
                "paginate": {
                    "previous": '<i class="fa fa-angle-left"></i>',
                    "next": '<i class="fa fa-angle-right"></i>'
                }
            }
        });

    })

    function setFlagAll(ele) {
        var chkAll = ele.checked ? true : false;
        $("input[name='chk_approve']:checkbox").prop('checked', chkAll);
    }

    function submitApprove() {
        var favorite = [];
        var valChk = []; 
        $.each($("input[name='chk_approve']:checked"), function () {
            favorite.push($(this).val());
            console.log(favorite[favorite.length-1]);
            submitApprove(favorite[favorite.length - 1]);
        });
    }
    function submitApprove(actId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("insertApprove", "Approve")',
            data: {
                actId: actId,
                status: '3',
                approveType: '@AppCode.ApproveType.Activity_Form.ToString()'
            }
        }).done(function () {
            callPreviewApprove(actId);
        });
    }
    function callPreviewApprove(actId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("previewApprove", "Approve")',
            data: {
                actId: actId,
            }
        }).done(function (htmlResponse) {
            genPdf(actId, htmlResponse);
        });
    }
    function genPdf(actId, htmlResponse) {
        $.ajax({
            url: '@Url.Action("genPdfApprove", "Approve")',
            data: {
                GridHtml: htmlResponse,
                statusId: '3',
                activityId: actId,
            },
            dataType: "json",
            type: 'POST',
        }).done(function (response) {
            doMsgSuccess("ดำเนินการเรียบร้อยครับ");
        });
    }


    function callApproveList(actId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("approveLists", "Home")',
            data: {
                actId: actId
            }
        }).done(function (response) {
            $("#divPreviewApprove").html(response)
            $('#ModalPreviewPDF').modal('show');
        });
    }
</script>