@using eActForm.Models
@using eActForm.BusinessLayer
@using System.Configuration;
@model eActForm.Models.Activity_Model.actForms
@{ 
    int lvlEmp = 0;
    lvlEmp = @UtilsAppCode.Session.User.empLevel != "" ? int.Parse(@UtilsAppCode.Session.User.empLevel) : 0;
}

@if (ViewBag.messCannotFindSignature != null)
{
    <div class="loading" style="text-align: center;">
        <img src="~/images/warning_error.png" style="margin-top:100px;width:100px;height:100px;" />
        <div style="margin-top: 10px; color: white">
            <p class="text-danger"><h2>@Resources.Global.dontFoundYourSignatureInSystem !!! <br />@Resources.Global.pleaseInsertYourSignatureBeforeApprovalDocument</h2></p>
            @Html.ActionLink(Resources.Global.insertYourSignature + " Click", "index", "Signature")
        </div>

    </div>
}
else
{


    <div class="row">
        <div id="WaitDialog" class="loading" style="text-align: center;display:none;">
            <img src="~/images/loading.gif" style="margin-top:100px;width:100px;height:100px;" />
            <div style="margin-top: 10px; color: white">
                <b>Please wait</b>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <a class="btn ink-reaction btn-info fa fa-search" href="#"></a>@Resources.Global.toViewDocument
            <a class="btn ink-reaction btn-success fa fa-thumbs-o-up" href="#"></a>@Resources.Global.toApproveDocument
        </div>
        <div class="col-md-12 col-xs-12">


            <table id="datatable" class="table table-striped table-hover">
                <thead>
                    <tr style="background-color:#2B5D95;color:#ffffff;">
                        @if (UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_MT"] || UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_OMT"]
                            || @UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_ChangBeer"]
                            || @Array.AsReadOnly(AppCode.compPomForm).Contains(UtilsAppCode.Session.User.empCompanyGroup)
                            || @lvlEmp == 0
                            || @lvlEmp > 9)
                        {
                        <th width="20">
                            <input type="checkbox" id="chk_All" class="icheckbox_flat-green" onchange="setFlagAll(this);" name="table_records">
                        </th>

                        <th>
                            <a class="btn ink-reaction btn-success fa fa-thumbs-o-up" style="width:100px; height:25px; margin-bottom:1px" onclick="submitApprove();"> Approve </a>
                        </th>
                        }
                        else
                        {
                        <th></th>
                        }

                        <th>Status</th>
                        <th>Doc.Date</th>
                        <th>Act.No</th>
                        <th>Brand</th>
                        <th>@Resources.Global.headerTableObjective</th>
                        <th align="center">@Resources.Global.headerTableSales</th>
                        <th align="center">@Resources.Global.headerTableCost</th>
                        <th align="center">@Resources.Global.headerTableSalesPercent</th>
                        <th align="center">createBy</th>
                        <th align="center">วันที่ส่งอนุมัติ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.actLists)
                    {
                        <tr class="gradeX">
                            @if (UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_MT"] || UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_OMT"]
                                 || @UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_ChangBeer"]
                                 || @Array.AsReadOnly(AppCode.compPomForm).Contains(UtilsAppCode.Session.User.empCompanyGroup)
                                 || @lvlEmp == 0
                                 || @lvlEmp > 9
                                )
                            {
                                <td class="a-center ">
                                    @if (item.statusId == "2" && item.master_type_form_id != ConfigurationManager.AppSettings["formSetPriceMT"] && item.master_type_form_id != ConfigurationManager.AppSettings["formSetPriceOMT"])
                                    {
                                        <input type="checkbox" id="chk_@item.id" class="icheckbox_flat-green" value="@item.id" name="chk_approve" onchange="onchangeFlag();">
                                    }
                                </td>
                            }

                            <td>
                                @Html.ActionLink(" ", "getPDF", "ActivityViewer", new { actId = item.id, type = AppCode.ApproveType.Activity_Form.ToString() }, new { @class = "btn ink-reaction btn-info fa fa-search", target = "_blank" })
                                <a onclick="callApproveList('@item.id');">
                                    <i class="btn ink-reaction btn-dark fa fa-eye"></i>
                                </a>
                                @Html.ActionLink(" ", "index", "approve", new { actId = item.id, type = AppCode.ApproveType.Activity_Form }, new { @class = "btn ink-reaction btn-success fa fa-thumbs-o-up" })
                            </td>
                            @if (Request.Cookies[ConfigurationManager.AppSettings["nameCookieLanguageEact"]].Value.ToString() == ConfigurationManager.AppSettings["cultureEng"])
                            {
                                <td>@item.statusNameEN</td>
                            }
                            else
                            {
                                <td>@item.statusName</td>
                            }
                            <td>@{var date = item.documentDate == null ? "" : DocumentsAppCode.convertDateTHToShowCultureDateEN(item.documentDate, ConfigurationManager.AppSettings["formatDateUse"]);} @date </td>
                            <td>@item.activityNo</td>
                            <td>@item.brandName</td>
                            <td>@item.objective</td>
                            <td align="center">@string.Format("{0:n2}", item.themeCost)</td>
                            <td align="center">@string.Format("{0:n2}", @item.totalCost)</td>
                            <td align="center">
                                @string.Format("{0:n2}", @item.perTotal)
                            </td>
                            <td>@item.createByUserName</td>
                            <td>@DocumentsAppCode.convertDateTHToShowCultureDateEN(item.dateSentApprove, ConfigurationManager.AppSettings["formatDateUse"])</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>


    <div class="modal fade" id="ModalPreviewPDF" style="display:none">
        <div id="divPreviewApprove">

        </div>
    </div>
    <input id="dataFromAct" type="hidden" />

}
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 0 }
                , { "orderable": false, "targets": 1 }
                , { "orderable": false, "targets": 2 }
                , { "orderable": false, "targets": 3 }
            ],
            "dom": 'lCfrtip',
            "order": [],
            "language": {
                "lengthMenu": '_MENU_ entries per page',
                "search": '<i class="fa fa-search"></i>',
                "paginate": {
                    "previous": '<i class="fa fa-angle-left"></i>',
                    "next": '<i class="fa fa-angle-right"></i>'
                }
            }
        });

    })

    function setFlagAll(ele) {
        var chkAll = ele.checked ? true : false;
        $("input[name='chk_approve']:checkbox").prop('checked', chkAll);
        var empLvl = parseInt('@UtilsAppCode.Session.User.empLevel');

        console.log('True');
        var favorite = [];
        $.each($("input[name='chk_approve']:checked"), function (index, value) {
            favorite.push($(this).val());
        }).promise().done(function () {

            summaryActBeerByActId(favorite);
              document.getElementById("divSubmit").style.display = "block";
        });

    }

    function onchangeFlag(ele) {
        var favorite = [];
        $.each($("input[name='chk_approve']:checked"), function (index, value) {
            favorite.push($(this).val());
        }).promise().done(function () {
            summaryActBeerByActId(favorite);
            document.getElementById("divSubmit").style.display = "block";
        });
    }

    function summaryActBeerByActId(actId) {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("approveListSummaryActBeer", "ApproveLists")',
            data: {
                actId: actId,
            }
        }).done(function (htmlResponse) {
            $("#divSummaryActBeer").html(htmlResponse)
            $("#divSummaryActBeer").fadeIn(300);
        });
    }


    function submitApprove() {
        var favorite = [];
        var countDoc = document.querySelectorAll("input[name='chk_approve']:checked").length

        if (countDoc > 0) {

                bootbox.confirm({
                    title: "",
                    message: "ยืนยันการอนุมัติเอกสาร จำนวน : " + countDoc + " ฉบับ",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {

                            $.each($("input[name='chk_approve']:checked"), function (index, value) {
                                favorite.push($(this).val());
                                setTimeout(insertApprove(favorite[favorite.length - 1]), 300);
                            }).promise().done(function () {
                                $("#WaitDialog").show();
                                setTimeout(alertFunc, 5000);
                            });

                        }

                    }
                });

        }
        else {
            doAlert('กรุณาเลือกรายการ อนุมัติ');
        }
    }

    function alertFunc() {
        bootbox.alert({
            message: "<div class= 'row' > <div class='text-center'><img width='150px' src='http://thaibevss.com/eAct/images/checkmark.gif' class='text-center' /><br />อนุมัติเรียบร้อย</div></div>",
            callback: function () {
                var url = '@Url.Action("Index", "ApproveLists")';
                window.location.replace(url);
            }
        })
    }


    function insertApprove(actId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("insertApproveList", "ApproveLists")',
            data: {
                actId: actId,
                status: '3',
                approveType:'@AppCode.ApproveType.Activity_Form',
            }
        }).done(function (result) {
            callPreviewApprove(actId)
        });
    }

    function callPreviewApprove(actId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("previewApprove", "Approve")',
            data: {
                actId: actId,
                typeForm: '@AppCode.ApproveType.Activity_Form.ToString()',
            }
        }).done(function (htmlResponse) {
            //$("#dataFromAct").val(htmlResponse);

            sentApprove_GenPdf(actId, htmlResponse);
        });
    }

    function sentApprove_GenPdf(actId, htmlResponse) {
        $.ajax({
            url: '@Url.Action("doApprove", "ApiApprove")',
            data: {
                GridHtml: htmlResponse,
                statusId: '3',
                activityId: actId,
            },
            dataType: "json",
            type: 'POST',
        }).done(function (response) {
            console.log('success' + actId);
            console.log($("#dataFromAct").val());
        });
    }


    function callApproveList(actId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("approveLists", "Home")',
            data: {
                actId: actId
            }
        }).done(function (response) {
            $("#divPreviewApprove").html(response)
            $('#ModalPreviewPDF').modal('show');
        });
    }


</script>
