@model eActForm.Models.Activity_Model
@using eActForm.BusinessLayer
@using System.Configuration;
@using eActForm.Models;
@{
    /**/

    /**/

    Layout = null;
    decimal? total = 0;
    decimal? totalCase = 0;
    decimal? normalTotal = 0;
    decimal? activityTotal = 0;
    decimal? growthTotal = 0;
    decimal? sumGrowth = 0;
    decimal? LE = 0;

}

<div class="row">
    <div class="col-12">
        <p class="lead">รายละเอียดค่าใช้จ่าย (Cost)</p>
    </div>
    <div class="col-12">
        <table class="table table-bordered" id="tbl_activityDetail">
            <thead class="thead-dark">
                <tr>
                    <th class="align-content-center font10" rowspan="2" width="10px" > <button class="btn ink-reaction btn-danger fa fa-trash-o" onclick="onDelActDetail();"></button></th>

                        <th class="align-content-center font10" rowspan="2" style="width:15%;">ประเภทกิจกรรม</th>
                        <th class="align-content-center font10" rowspan="2" style="width:14%;">ชื่อสินค้า/ค่าใช้จ่ายอื่นๆ</th>
                        @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                        {
                            <th class="align-content-center font10" rowspan="2" style="width:10%;">Mechanics</th>
                        }
                        <th class="align-content-center font10" rowspan="2" style="width:6%;">Unit</th>
                        <th class="align-content-center font10" rowspan="2" style="width:6%;">Compensate</th>
                        @if (Model.activityFormModel.typeForm == Activity_Model.activityType.OMT.ToString())
                        {
                            <th class="align-content-center font10" colspan="3" style="width:25%;">ประมาณการยอดขาย (Estimate)</th>
                            <th class="align-content-center font10" colspan="3" style="width:26%;">ประมาณการค่าใช้จ่าย (Estimate)</th>
                        }
                        else
                        {
                            <th class="align-content-center font10" colspan="3" style="width:20%;">ประมาณการยอดขาย (Estimate)</th>
                            <th class="align-content-center font10" colspan="4" style="width:30%;">ประมาณการค่าใช้จ่าย (Estimate)</th>
                        }
                    </tr>
                <tr>
                    <th class="align-content-center font10">ยอดขายปกติ (Case)</th>
                    <th class="align-content-center font10">ยอดขายข่วงทำกิจกรรม (Case)</th>
                    <th class="align-content-center font10">% Growth</th>
                    <th class="align-content-center font10">%SE</th>
                    <th class="align-content-center font10">Spending Exp. (Case)</th>
                    <th class="align-content-center font10">Spending Exp. (Bath)</th>
                    @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                    {
                        <th class="align-content-center font10">% : ยอดขาย</th>
                    }
                </tr>
            </thead>

            @if (Model.activitydetaillist != null)
            {
                var index = 0;
                total = 0;

                foreach (var item in Model.activitydetaillist)
                {

                    <tr class="tagTR">
                        <td>
                            <button class="btn ink-reaction btn-danger fa fa-trash-o" onclick="onDelActDetail('@item.productGroupId')"></button>
                            @Html.HiddenFor(model => item.productId, new { @id = "hdProductId_" + index })
                        </td>
                        @if (item.isShowGroup == true)
                        {
                            <td class="font10 textLeft">@item.typeTheme</td>
                        }
                        else
                        {
                            if (item.detailGroup.Count >= 1)
                            {

                                <td class="font10 textLeft">@item.detailGroup[0].typeTheme</td>
                            }
                        }

                        <td>@Html.TextBoxFor(model => item.productName, new { @id = "lblProductName_" + index, @class = "form-control textboxcss font10 textLeft clsProductName", @onchange = "calActivityDetailCost('" + item.productGroupId + "'," + index + ")", style = "autofocus = 'autofocus'" })</td>

                        @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                        {
                            <td>@Html.TextBoxFor(model => item.mechanics, new { @id = "lblMechanics_" + index, @class = "form-control textboxcss font10 textLeft clsMechanics", @onchange = "calActivityDetailCost('" + item.productGroupId + "'," + index + ")", style = "autofocus = 'autofocus'" })</td>
                        }
                        <td>@Html.TextBoxFor(model => item.unit, new { @id = "lblUnit_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calActivityDetailCost('" + item.productGroupId + "'," + index + ")", onfocus = "setZero(lblUnit_" + index + ")", style = "autofocus = 'autofocus'" })</td>
                        <td>@Html.TextBoxFor(model => item.compensate, new { @id = "lblCompensate_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calActivityDetailCost('" + item.productGroupId + "'," + index + ")", onfocus = "setZero(lblCompensate_" + index + ")", style = "autofocus = 'autofocus'" })</td>

                        <td>@Html.TextBoxFor(model => item.normalCost, "{0:n2}", new { @id = "lblNormalCost_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calActivityDetailCost('" + item.productGroupId + "'," + index + ")", onfocus = "setZero(lblNormalCost_" + index + ")", style = "autofocus = 'autofocus'" })</td>
                        <td>
                            @Html.TextBoxFor(model => item.themeCost, "{0:n2}", new { @id = "lblThemeCost_" + index, Name = "lblThemeCost_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calActivityDetailCost('" + item.productGroupId + "'," + index + ")", onfocus = "setZero(lblThemeCost_" + index + ")", style = "autofocus = 'autofocus'" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => item.growth, "{0:n2}", new { @id = "lblGrowth_" + index, Name = "lblGrowth_" + index, @class = "form-control textboxcss font10 textRight", @readonly = true, style = "autofocus = 'autofocus'" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => item.LE, "{0:n2}", new { @id = "lblLE_" + index, Name = "lblLE_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calActivityDetailCost('" + item.productGroupId + "'," + index + "," + "true" + ")", onfocus = "setZero(lblLE_" + index + ")", style = "autofocus = 'autofocus'" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => item.totalCase, "{0:n2}", new { @id = "lblTotalCase_" + index, Name = "lblTotalCase_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calActivityDetailCost('" + item.productGroupId + "'," + index + "," + "true" + ")", onfocus = "setZero(lblTotalCase_" + index + ")", style = "autofocus = 'autofocus'" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => item.total, "{0:n2}", new { @id = "lblTotal_" + index, Name = "lblTotal_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calGrowthTotal('" + item.productGroupId + "'," + index + "," + "true" + ")", onfocus = "setZero(lblTotal_" + index + ")", style = "autofocus = 'autofocus'" })
                        </td>
                        @if (Model.activityFormModel.typeForm == Activity_Model.activityType.OMT.ToString())
                        {
                            @Html.HiddenFor(model => item.perTotal, new { @id = "lblPerTotal_" + index, Name = "lblPerTotal_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calGrowthPerTotal('" + item.productGroupId + "'," + index + "," + "true" + ")", style = "autofocus = 'autofocus'" })
                        }
                        else
                        {
                            <td>@Html.TextBoxFor(model => item.perTotal, "{0:n2}", new { @id = "lblPerTotal_" + index, Name = "lblPerTotal_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calGrowthPerTotal('" + item.productGroupId + "'," + index + "," + "true" + ")", style = item.perTotal > 200 ? "background-color:coral;" : "" })</td>
                        }
                    </tr>
                    LE = item.LE == null ? 0 + LE : item.LE + LE;
                    total = item.total == null ? 0 + total : item.total + total;
                    totalCase = item.totalCase == null ? 0 + totalCase : item.totalCase + totalCase;
                    normalTotal = item.normalCost == null ? 0 + normalTotal : item.normalCost + normalTotal;
                    activityTotal = item.themeCost == null ? 0 + activityTotal : item.themeCost + activityTotal;
                    sumGrowth = item.growth == null ? 0 + sumGrowth : item.growth + sumGrowth;
                    index++;
                }
            }

            <tr>
                @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                {
                    <td colspan="6" class="auto-style3" style="text-align:right;">&nbsp;รวม</td>
                }
                else
                {
                    <td colspan="5" class="auto-style3" style="text-align:right;">&nbsp;รวม</td>
                }

                <td>
                    <p class="text-success textRight">
                        @if (normalTotal != 0)
                        {
                            string result = String.Format("{0:n2}", @normalTotal);
                            @result.ToString();
                        }
                    </p>
                </td>
                <td>
                    <p class="text-success textRight">
                        @if (activityTotal != 0)
                        {
                            string result = String.Format("{0:n2}", @activityTotal);
                            @result.ToString();
                        }
                    </p>
                </td>
                <td>
                    <p class="text-success textRight">
                        @if (Model.activityFormModel.typeForm == Activity_Model.activityType.OMT.ToString())
                        {
                            growthTotal = sumGrowth;
                            string result = String.Format("{0:n2}%", @growthTotal);
                            @result.ToString();

                        }
                        else
                        {
                            if (activityTotal != 0 && normalTotal != 0)
                            {
                                growthTotal = (activityTotal - normalTotal) / normalTotal * 100;
                                string result = String.Format("{0:n2}%", @growthTotal);
                                @result.ToString();
                            }
                        }

                    </p>
                </td>
                <td>
                    <p class="text-success textRight">
                        @if (LE != 0)
                        {
                            string result = String.Format("{0:n2}%", @LE);
                            @result.ToString();
                        }
                    </p>
                </td>

                <td>
                    <p class="text-success textRight">

                        @if (totalCase != 0)
                        {
                            string result = String.Format("{0:n2}", @totalCase);
                            @result.ToString();
                        }
                    </p>
                </td>
                <td>
                    <p class="text-success textRight">
                        @if (total != 0)
                        {
                            string result = String.Format("{0:n2}", @total);
                            @result.ToString();
                        }
                    </p>
                </td>

                @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                {
                    <td>
                        @*<p class="text-success textRight">
                        @if (total != 0 && activityTotal != 0)
                        {
                            perTotal = total / (activityTotal * Convert.ToDecimal(promotioncost == null || Session["promotionTotal"].ToString() == "0" ? "1" : Session["promotionTotal"].ToString()));
                            string result = String.Format("{0:n2}", @perTotal);
                            @result.ToString();
                        }
                    </p>*@
                    </td>
                }
            </tr>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {


        if ('@Model.activityFormModel.master_type_form_id' == '@ConfigurationManager.AppSettings["formAddOn_MT_OMT"]') {
            $("#tbl_activityDetail").find("button").attr("disabled", true);
            var elmsDel = document.getElementsByClassName('clsProductName')
            for (var i = 0; i < elmsDel.length; i++) {

                document.getElementById('lblProductName_' + i).disabled = true;
            }

            var elmsDel = document.getElementsByClassName('clsMechanics')
            for (var i = 0; i < elmsDel.length; i++) {

                document.getElementById('lblMechanics_' + i).disabled = true;
            }
        }
    });

    function setZero(txtId) {
        if ($(txtId).val() == "0.00") {
            $(txtId).val("");
        }
    }

    // case %Spending of sale Change
    function calGrowthPerTotal(id, rowIndex, checktotal) {
        var perTotal = 0;
        if (checktotal == true) {
            perTotal = $('#lblPerTotal_' + rowIndex).val();
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("calSpendingOfSaleChange", "ActivityCostDetail")',
            data: {
                productGroupId: id,
                perTotal: perTotal,
                actId:'@Model.activityFormModel.id',

            }
        }).done(function (response) {
            callThemedetailcost('@Model.activityFormModel.id');
        });
    }

    // case spending input change
    function calGrowthTotal(id, rowIndex, checktotal) {

        var themeCost = $('#lblThemeCost_' + rowIndex).val();
        themeCost = themeCost == "" ? 0 : themeCost;
        var productId = $("#hdProductId_" + rowIndex).val();
        var total = 0;
        if (checktotal == true) {
            total = $("#lblTotal_" + rowIndex).val();
            total = total == "" ? 0 : total;
            perTotal = $('#lblPerTotal_' + rowIndex).val();
            perTotal = perTotal == "" ? 0 : perTotal;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("calPercentSpendingOfSale", "ActivityCostDetail")',
            data: {
                productGroupId: id,
                productId: productId,
                total: total,
                themeCost: themeCost,
                actId:'@Model.activityFormModel.id'

            }
        }).done(function (response) {
            callThemedetailcost('@Model.activityFormModel.id');
        });
    }

    // case all input change
    function calActivityDetailCost(id, rowIndex, checktotal) {
        var name = $('#lblProductName_' + rowIndex).val();
        var mechanics = $('#lblMechanics_' + rowIndex).val();
        var normalCost = $('#lblNormalCost_' + rowIndex).val();
        normalCost = normalCost == "" ? 0 : normalCost;
        var themeCost = $('#lblThemeCost_' + rowIndex).val();
        themeCost = themeCost == "" ? 0 : themeCost;
        var unit = $("#lblUnit_" + rowIndex).val();
        unit = unit == "" ? 0 : unit;
        var compensate = $("#lblCompensate_" + rowIndex).val();
        compensate = compensate == "" ? 0 : compensate;
        var LE = $("#lblLE_" + rowIndex).val();
        LE = LE == "" ? 0 : LE;
        var productId = $("#hdProductId_" + rowIndex).val();
        var totalCase = $("#lblTotalCase_" + rowIndex).val();
        totalCase = totalCase == "" ? 0 : totalCase;


        $.ajax({
            type: 'POST',
            url: '@Url.Action("calActivityDetailCost", "ActivityCostDetail")',
            data: {
                name: name,
                mechanics: mechanics,
                productGroupId: id,
                productId: productId,
                normalCase: normalCost,
                promotionCase: themeCost,
                unit: unit,
                compensate: compensate,
                LE: LE,
                totalCase: totalCase,
                typeForm: '@Model.activityFormModel.typeForm',
                actId : '@Model.activityFormModel.id'
            }
        }).done(function (response) {
            callThemedetailcost('@Model.activityFormModel.id');
        });

    }
    function onDelActDetail(id) {

        $.ajax({
            url: '@Url.Action("delActCostDetail", "ActivityCostDetail")',
            data: {
                rowid: id,
                actId:'@Model.activityFormModel.id'
            },
            dataType: "json",
            type: 'POST',
            success: function (response) {
                callThemedetailcost('@Model.activityFormModel.id');
                CallChangefunc('@Model.activityFormModel.id');
            }
        });
    }

</script>