@model eActForm.Models.AdminUserModel
@using System.Configuration;
@using eActForm.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<h2>Users Management</h2>
<hr class="ruler-gl">
<div id='dialogDiv' class='modal hide fade in'>
    <div id='dialogContent'></div>
</div>
@using (Html.BeginForm("insertUsers", "AdminUser", FormMethod.Post, new { id = "frmAdminUser", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{


    <div class="row">
        <div class="form-group">
            <div class="col-md-2 control-label">
                EmpCode :
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" required="required" id="txtEmpCode" name="txtEmpCode" />
            </div>

            <div class="col-md-2 control-label">
                Company :
            </div>
            <div class="col-md-4">

                @Html.DropDownList("model.companyList", new SelectList(Model.getCompany, "val1", "displayVal"), "Please Select", new { @class = "form-control txtBoxRed", id = "ddlCompany", multiple = "multiple", onchange = "onchangeCompany();" })



            </div>
        </div>

        <div id="divCustomer">
            <div class="form-group">
                <div class="col-md-2 control-label">
                    Customer :
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="txtCustomer" name="txtCustomer" />
                    <input type="hidden" class="form-control" id="txtCustomerIds" name="txtCustomerIds" />
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 control-label">
                    </div>
                    <div class="col-md-10">
                        <div id="divCustLists">

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="divRegion">
            <div class="form-group">
                <div class="col-md-2 control-label">
                    Region :
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="txtRegion" name="txtRegion" />
                    <input type="hidden" class="form-control" id="txtRegions" name="txtRegions" />
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 control-label">
                    </div>
                    <div class="col-md-10">
                        <div id="divRegionLists">

                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-2 control-label">
                <label>
                    Role :
                </label>
            </div>
            <div class="col-md-2">
                @foreach (var item in Model.roleList)
                {
                    <div>
                        <input id="@item.roleName" type="checkbox" name="model.chkRole" value="@item.id">
                        @item.roleName
                    </div>
                }


            </div>

            <div id="divProductType">
                <div class="col-md-2 control-label">
                    <label>
                        ProductType :
                    </label>
                </div>
                <div class="col-md-2">
                    <div>
                        <input id="chkNonAl" type="checkbox" name="model.chkProductType" value="@AppCode.nonAL">
                        Non-Alcohol
                    </div>
                    <div>
                        <input id="chkAl" type="checkbox" name="model.chkProductType" value="@AppCode.AL">
                        Alcohol
                    </div>
                </div>
            </div>

        </div>


    </div>



    <div class="row text-center">
        <button type="button" onclick="return validateForm();" class="btn ink-reaction btn-primary"><i class="fa fa-search fa-fw"></i>&nbsp;Submit</button>
    </div>



    <div class="row">
        <hr class="ruler-gl">
        <table id="datatable" class="table table-striped table-hover">
            <thead>
                <tr style="background-color:#2B5D95;color:#ffffff;">
                    <th style="text-align:center"></th>
                    <th style="text-align:center">รหัสพนักงาน</th>
                    <th style="text-align:center">ชื่อ</th>
                    <th style="text-align:center">นามสกุล</th>
                </tr>
            </thead>

            @if (Model.userLists.Any())
            {
                foreach (var item in Model.userLists)
                {
                    <tr>
                        <td style="text-align:center">
                            <a href="javascript:" onclick="onClickDel('@item.empId');">
                                <i class="btn ink-reaction btn-danger fa fa-trash-o"></i>&nbsp;
                            </a>
                            <a href="javascript:" onclick="onClickEdit('@item.empId');">
                                <i class="btn ink-reaction btn-info fa fa-edit"></i>&nbsp;
                            </a>
                        </td>
                        <td style="text-align:center">@Html.DisplayFor(model => item.empId, new { @id = "empId" })</td>
                        <td style="text-align:center">@Html.DisplayFor(model => item.userName, new { @id = "userName" })</td>
                        <td style="text-align:center">@Html.DisplayFor(model => item.userLName, new { @id = "userLName" })</td>
                    </tr>
                }

            }


            <tbody></tbody>
        </table>

    </div>
}

<script type="text/javascript">
    var index = 0;



    function onchangeCompany() {

         if ($("#ddlCompany").val().includes('@ConfigurationManager.AppSettings["companyId_MT"]') && $("#ddlCompany").val().includes('@ConfigurationManager.AppSettings["companyId_OMT"]')) {
            document.getElementById("divRegion").style.display = "block";
            document.getElementById("divCustomer").style.display = "block";
            document.getElementById("divProductType").style.display = "block";
        }
        else if ($("#ddlCompany").val().includes('@ConfigurationManager.AppSettings["companyId_OMT"]')) {
            document.getElementById("divRegion").style.display = "block";
            document.getElementById("divCustomer").style.display = "none";
            document.getElementById("divProductType").style.display = "block";

        }
        else if ($("#ddlCompany").val().includes('@ConfigurationManager.AppSettings["companyId_MT"]')) {
            document.getElementById("divRegion").style.display = "none";
            document.getElementById("divCustomer").style.display = "block";
            document.getElementById("divProductType").style.display = "block";
        }
        else {
            document.getElementById("divRegion").style.display = "none";
            document.getElementById("divCustomer").style.display = "none";
            document.getElementById("divProductType").style.display = "none";
        }
    }

    function validateForm() {
        $("#WaitDialog").show();
        var favorite = [];
        $.each($("input[name='model.chkProductType']:checked"), function () {
            favorite.push($(this).val());
        });

        console.log(favorite.length);
        console.log($("#ddlCompany").val());
        if (favorite.length == 0 && $("#ddlCompany").val() == "@ConfigurationManager.AppSettings["companyId_MT"]" && $("#ddlCompany").val() == "@ConfigurationManager.AppSettings["companyId_OMT"]") {
            doMsgFail("กรุณาระบุ <br/>ProductType");
            return false;
        }
        else {
            $("#frmAdminUser").submit();
        }
    }


    $(document).ready(function () {
        $('#ddlCompany').multiselect({
            numberDisplayed: 2,
            enableFiltering: true,
            buttonWidth: '100%'
        });
        $(".multiselect .caret").css('float', 'right');//ทำให้ caret ไปอยู่ขวาสุดของ Dropdown Multiselect ห้ามลบ
        $(".multiselect .caret").css('margin', '8px 0');//ทำให้ caret ไปอยู่ขวาสุดของ Dropdown Multiselect ห้ามลบ


        document.getElementById("divCustomer").style.display = "none";
        document.getElementById("divRegion").style.display = "none";

            $('#datatable').DataTable({
                "dom": 'lCfrtip',
                "order": [],
                "language": {
                    "lengthMenu": '_MENU_ entries per page',
                    "search": '<i class="fa fa-search"></i>',
                    "paginate": {
                        "previous": '<i class="fa fa-angle-left"></i>',
                        "next": '<i class="fa fa-angle-right"></i>'
                    }
                }
            });



            $("#txtCustomer").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("getCustomerByCompany", "eAct")',
                        type: "POST",
                        dataType: "json",
                        data: {
                            companyId: '@ConfigurationManager.AppSettings["companyId_MT"]',
                            txtCus: $("#txtCustomer").val(),
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.cusNameTH, value: item.cusNameTH, id: item.id };
                            }))
                        }
                    })
                },
                minLength: 0,
                messages: {
                    noResults: '',
                    results: function (resultsCount) {
                    }
                }, select: function (event, ui) {

                    $("#txtCustomerIds").val($("#txtCustomerIds").val() + "," + ui.item.id);
                    $("#divCustLists").append("<div id='" + ui.item.id + "' ><span class='pull-left close' onclick=javascript:onclickDelCusList('" + ui.item.id + "');>x</span><input type='hidden' name='model.custLi' value='" + ui.item.id + "'/>" + ui.item.label + " <br/></div>");
                    index++;
                }
            }).focus(function () {
                $(this).data("uiAutocomplete").search($(this).val());
            });



            $("#txtRegion").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("getAllRegion", "eAct")',
                        type: "POST",
                        dataType: "json",
                        data: {
                            txtRegion: $("#txtRegion").val(),
                            condition: 'OMT'
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.descTh, value: item.descTh, id: item.id };
                            }))
                        }
                    })
                },
                minLength: 0,
                messages: {
                    noResults: '',
                    results: function (resultsCount) {
                    }
                }, select: function (event, ui) {
                    $("#txtRegionIds").val($("#txtRegionIds").val() + "," + ui.item.id);
                    $("#divRegionLists").append("<div id='" + ui.item.id + "' ><span class='pull-left close' onclick=javascript:onclickDelCusList('" + ui.item.id + "');>x</span><input type='hidden' name='model.regionList' value='" + ui.item.id + "'/>" + ui.item.label + " <br/></div>");
                    index++;
                }
            }).focus(function () {
                $(this).data("uiAutocomplete").search($(this).val());
            });

        });


    function onclickDelCusList(id) {
        document.getElementById(id).remove();
    }

    function onClickEdit(empId) {
        $("#WaitDialog").show();


        $("#divRegionLists").html("");
        $("#divCustLists").html("");
        $.ajax({
            url: '@Url.Action("getUserRoleByEmpId", "AdminUser")',
            data: {
                empId: empId,
            },
            dataType: "json",
            type: 'POST',
            success: function (response) {
                // $("#ddlCompany").val(response.Data.companyId);

                $("#ddlCompany").multiselect("clearSelection");
                $("#ddlCompany").multiselect('refresh');

                var stringArray = [];
                if (response.Data.companyList.length > 0) {
                    $.each(response.Data.companyList, function () {
                        stringArray.push(this['companyId']);
                    });
                }
                var delayInMilliseconds = 1000; //1 second
                setTimeout(function () {
                    $("#ddlCompany").multiselect('select', stringArray);
                    onchangeCompany();

                }, delayInMilliseconds);




                $("#txtEmpCode").val(response.Data.empId);

                if (response.Data.regionList.length > 0) {
                    $.each(response.Data.regionList, function () {
                        $("#divRegionLists").append("<div id='" + this['id'] + "'> <span class='pull-left close' onclick=javascript:onclickDelCusList('" + this['id'] + "');>x</span><input type='hidden' name='model.regionList' value='" + this['id'] + "'/>" + this['descTh'] + " <br/></div>");
                    });
                }


                if (response.Data.customerLists.length > 0) {
                    $.each(response.Data.customerLists, function () {
                        $("#divCustLists").append("<div id='" + this['cusId'] + "'> <span class='pull-left close' onclick=javascript:onclickDelCusList('" + this['cusId'] + "');>x</span><input type='hidden' name='model.custLi' value='" + this['cusId'] + "'/>" + this['customerName'] + " <br/></div>");
                    });
                }
                $('input:checkbox').removeAttr('checked');
                $.each(response.Data.productTypeList, function () {
                    console.log(this['productTypeId']);
                    switch (this['productTypeId']) {
                        case '@AppCode.nonAL':
                            document.getElementById("chkNonAl").checked = true;
                            break;
                        case '@AppCode.AL':
                            document.getElementById("chkAl").checked = true;
                            break;
                    }
                });


                $.each(response.Data.userLists, function () {
                  var roleId = this['roleId'];
                    $.each(response.Data.roleList, function () {
                        if (this['id'] == roleId) {
                            document.getElementById(this['roleName']).checked = true;
                        }
                    });
                });
            }
        });

        $("#WaitDialog").hide();
    }


    function onClickDel(empId) {
        bootbox.confirm({
            message: "คุณต้องการ ลบ User : " + empId + " ใช่หรือไม่ ?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    if (result) {
                        $("#WaitDialog").show();
                        $.ajax({
                            url: '@Url.Action("delUserandAuthor", "AdminUser")',
                            data: {
                                empId: empId,
                            },
                            dataType: "json",
                            type: 'POST',
                        }).done(function (response) {
                            if (response.Code > 0) {
                                bootbox.alert('Success')
                                window.location.href = '@Url.Action("Index", "AdminUser")';
                            }
                        });
                    }

                }
            }
        });
    }

</script>
