@model eActForm.Models.AdminUserModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<h2>Users Management</h2>
<hr class="ruler-gl">
<div id='dialogDiv' class='modal hide fade in'>
    <div id='dialogContent'></div>
</div>
@using (Html.BeginForm("insertUsers", "AdminUser", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" ,onsubmit = "validateForm(event)" }))
{


    <div class="row">
        <div class="form-group">
            <div class="col-md-2 control-label">
                EmpCode :
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" required="required" id="txtEmpCode" name="txtEmpCode" />
            </div>

            <div class="col-md-2 control-label">
                Company :
            </div>
            <div class="col-md-4">
                <select class="form-control" id="ddlCompany" name="ddlCompany">
                    <option value="">-Selected-</option>
                    <option value="5600">MTM</option>
                    <option value="5601">OMT</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                Customer :
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control"  id="txtCustomer" name="txtCustomer" />
                <input type="hidden" class="form-control"  id="txtCustomerIds" name="txtCustomerIds" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2 control-label">
                </div>
                <div class="col-md-10">
                    <div id="divCustLists">

                    </div>
                </div>

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-2 control-label">
                <label>
                    Role :
                </label>
            </div>
            <div class="col-md-2">
                <div>
                    <input id="creater" type="checkbox" name="model.chkRole" value="1">
                    creater
                </div>
                <div>
                    <input id="approve" type="checkbox" name="model.chkRole" value="2">
                    approve
                </div>
                <div>
                    <input id="admin" type="checkbox" name="model.chkRole" value="3">
                    admin
                </div>
                <div>
                    <input id="superAdmin" type="checkbox" name="model.chkRole" value="4">
                    superAdmin
                </div>
                <div>
                    <input id="adminOMT" type="checkbox" name="model.chkRole" value="5">
                    adminOMT
                </div>
            </div>


            <div class="col-md-2 control-label">
                <label>
                    ProductType :
                </label>
            </div>
            <div class="col-md-2">
                <div>
                    <input id="chkNonAl" type="checkbox" name="model.chkProductType" value="1D1097F4-246F-4DC2-BB69-B7BB6E678299">
                    Non-Alcohol
                </div>
                <div>
                    <input id="chkAl" type="checkbox" name="model.chkProductType" value="FC696EB5-B058-445E-B605-977C5067AEBA">
                    Alcohol
                </div>
            </div>

        </div>


    </div>



    <div class="row text-center">
        <button type="submit" class="btn ink-reaction btn-primary"><i class="fa fa-search fa-fw"></i>&nbsp;Submit</button>
    </div>



    <div class="row">
        <hr class="ruler-gl">
        <table id="datatable" class="table table-striped table-hover">
            <thead>
                <tr style="background-color:#2B5D95;color:#ffffff;">
                    <th style="text-align:center"></th>
                    <th style="text-align:center">รหัสพนักงาน</th>
                    <th style="text-align:center">ชื่อ</th>
                    <th style="text-align:center">นามสกุล</th>
                </tr>
            </thead>

            @if (Model.userLists.Any())
            {
                foreach (var item in Model.userLists)
                {
                    <tr>
                        <td style="text-align:center">
                            <a href="javascript:" onclick="onClickDel('@item.empId');">
                                <i class="btn ink-reaction btn-danger fa fa-trash-o"></i>&nbsp;
                            </a>
                            <a href="javascript:" onclick="onClickEdit('@item.empId');">
                                <i class="btn ink-reaction btn-info fa fa-edit"></i>&nbsp;
                            </a>
                        </td>
                        <td style="text-align:center">@Html.DisplayFor(model => item.empId, new { @id = "empId" })</td>
                        <td style="text-align:center">@Html.DisplayFor(model => item.userName, new { @id = "userName" })</td>
                        <td style="text-align:center">@Html.DisplayFor(model => item.userLName, new { @id = "userLName" })</td>
                    </tr>
                }

            }


            <tbody></tbody>
        </table>

    </div>
}

<script type="text/javascript">
    var index = 0;
    function validateForm(event) {
        console.log(event);
        return false;
    }
        $(document).ready(function () {
            $('#datatable').DataTable({
                "dom": 'lCfrtip',
                "order": [],
                "language": {
                    "lengthMenu": '_MENU_ entries per page',
                    "search": '<i class="fa fa-search"></i>',
                    "paginate": {
                        "previous": '<i class="fa fa-angle-left"></i>',
                        "next": '<i class="fa fa-angle-right"></i>'
                    }
                }
            });



            $("#txtCustomer").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("getCustomerByCompany", "eAct")',
                        type: "POST",
                        dataType: "json",
                        data: {
                            companyId: $("#ddlCompany").val(),
                            txtCus: $("#txtCustomer").val(),
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.cusNameTH, value: item.cusNameTH, id: item.id };
                            }))
                        }
                    })
                },
                minLength: 0,
                messages: {
                    noResults: '',
                    results: function (resultsCount) {
                    }
                }, select: function (event, ui) {
                    $("#txtCustomerIds").val($("#txtCustomerIds").val() + "," + ui.item.id);
                    $("#divCustLists").append("<div id='" + ui.item.id + "' ><span class='pull-left close' onclick=javascript:onclickDelCusList('" + ui.item.id + "');>x</span><input type='hidden' name='model.custLi' value='" + ui.item.id + "'/>" + ui.item.label + " <br/></div>");
                    index++;
                }
            }).focus(function () {
                $(this).data("uiAutocomplete").search($(this).val());
            });
        });


        function onclickDelCusList(id) {
            document.getElementById(id).remove();
        }

        function onClickEdit(empId) {

            $("#divCustLists").html("");
            $.ajax({
                url: '@Url.Action("getUserRoleByEmpId", "AdminUser")',
                data: {
                    empId: empId,
                },
                dataType: "json",
                type: 'POST',
                success: function (response) {
                    $("#ddlCompany").val(response.Data.companyId);
                    $("#txtEmpCode").val(response.Data.empId);
                    if (response.Data.customerLists.length > 0) {

                        $.each(response.Data.customerLists, function () {

                            $("#divCustLists").append("<div id='" + this['cusId'] +"'> <span class='pull-left close' onclick=javascript:onclickDelCusList('" + this['cusId'] + "');>x</span><input type='hidden' name='model.custLi' value='" + this['cusId'] + "'/>" + this['customerName'] + " <br/></div>");

                            $.each(response.Data.productTypeList, function () {
                                switch (this['productTypeId']) {
                                    case '1D1097F4-246F-4DC2-BB69-B7BB6E678299':
                                        document.getElementById("chkNonAl").checked = true;
                                        break;
                                    case 'FC696EB5-B058-445E-B605-977C5067AEBA':
                                        document.getElementById("chkAl").checked = true;
                                        break;
                                }
                            });
                        });
                    }

                    $.each(response.Data.userLists, function () {
                        switch (this['roleId']) {
                            case '1':
                                document.getElementById("creater").checked = true;
                                break;
                            case '2':
                                document.getElementById("approve").checked = true;
                                break;
                            case '3':
                                document.getElementById("admin").checked = true;
                                break;
                            case '4':
                                document.getElementById("superAdmin").checked = true;
                                break;
                            case '5':
                                document.getElementById("adminOMT").checked = true;
                                break;
                        }
                    });
                }
            });
    }

    function onClickDel(empId) {
        $.ajax({
            url: '@Url.Action("delUserandAuthor", "AdminUser")',
            data: {
                empId: empId,
            },
            dataType: "json",
            type: 'POST',
            success: function (response) {
                if (response.Code > 0) {
                    bootbox.alert('Success')
                    window.open('@Url.Action("Index", "AdminUser")');
                }
            }
        });
    }



</script>
