@model eActForm.Models.TB_Act_Image_Model.ImageModels
@{
    Layout = null;
    var url = System.Configuration.ConfigurationManager.AppSettings["urlUploadfiles"].ToString();
}

<div class="row">

    @if (Model.tbActImageList.Any())
    {
        foreach (var item in Model.tbActImageList)
        {
            if (item.extension.ToLower() == ".jpeg" || item.extension.ToLower() == ".jpg" || item.extension.ToLower() == ".png")
            {
                <div class="col-md-2">
                    <div>
                        <div class="col-md-1 divDelImg">
                            <span id="iconDelFile" class="close" onclick="javascript:onclickDelImage('@item.id');">&times;</span>
                        </div>
                        <a href="@string.Format(url,item._fileName)" target="_blank"><img src="@string.Format(url,item._fileName)" id="catImage" width="100px" height="100px" /></a>
                    </div>
                </div>
            }
            else if (item.extension.ToLower() == ".pdf")
            {
                <div class="col-md-2">
                    <div>
                        <div class="col-md-1 divDelImg">
                            <span id="iconDelFile1" class="close" onclick="javascript:onclickDelImage('@item.id');">&times;</span>
                        </div>
                        <a href="@string.Format(url,item._fileName)" target="_blank"><img src="~/images/adobe-acrobat-pdf-file-512.png" width="100px" height="100px" /></a>
                    </div>
                    <div>
                        <a href="@Url.Action("getPDF", "ActivityViewer", new { actId = item._fileName ,type= @item.imageType , extension = item.extension})" target="_blank">@item._fileName</a>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-2">
                    <div>
                        <div class="col-md-1 divDelImg">
                            <span id="iconDelFile1" class="close" onclick="javascript:onclickDelImage('@item.id');">&times;</span>
                        </div>
                        <img src="~/images/xlx.png" width="100px" height="100px" />
                    </div>
                    <div>
                        <a href="@Url.Action("getPDF", "ActivityViewer", new { actId = item._fileName ,type= @item.imageType, extension = item.extension })" target="_blank">@item._fileName</a>
                    </div>
                </div>
            }
        }
    }

</div>



<script>

    function onclickDelImage(id) {
        console.log(id);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("deleteImgById", "Activity")',
            data: {
                id: id,
            }
        }).done(function (response) {
            CallImageView($("#hdActivityId").val());
        });
    }
</script>
