@model eActForm.Models.TB_Act_Image_Model.ImageModels
@{
    Layout = null;
}


<div>
    <table>
        <thead>
            @if (Model.tbActImageList != null)
            {
                <tr>
                    @foreach (var item in Model.tbActImageList)
                    {
                        <td width="120px;">
                            @if (item.extension != ".pdf")
                            {

                                <span id="iconDelFile" class="close" onclick="javascript:onclickDelImage('@item.id');">&times;</span>

                                <img src="../Uploadfiles/@item._fileName" id="catImage" width="100px" height="100px" />
                            }
                            else
                            {

                                <span id="iconDelFile1" class="close" onclick="javascript:onclickDelImage('@item.id');">&times;</span>

                                <img src="~/images/adobe-acrobat-pdf-file-512.png" width="100px" height="100px" />
                                <a href="@Url.Action("getPDF", "ActivityViewer", new { actId = @item.activityId ,type= @item.imageType , fileName = item._fileName })" target="_blank">@item._fileName</a>
                            }
                        </td>
                    }
                </tr>
            }
        </thead>
    </table>
</div>
<script>

    function onclickDelImage(id) {
        console.log(id);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("deleteImgById", "Activity")',
            data: {
                id: id,
            }
        }).done(function (response) {
            CallImageView($("#hdActivityId").val());
        });
    }
</script>