@model eActForm.Models.Activity_Model
@using eActForm.Models;

@Html.HiddenFor(m => m.activityFormModel.id, new { id = "HdId" })

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <div style=""></div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        @RenderPage("~/Views/Shared/_previewActForm.cshtml")

        <div class="modal-footer">
            <div>
                <p class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa fa-reply fa-fw"></i>&nbsp;Close</button>
                    <button type="button" class="btn ink-reaction btn-success" onclick="submitPreview();"><i class="fa fa fa-check fa-fw"></i>&nbsp;Submit</button>
                </p>
            </div>

        </div>
    </div>
</div>

<script>
    function submitPreview() {

        bootbox.confirm({
            message: "ยืนยัน บันทึกข้อมูล!",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    bootbox.dialog({ message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading...</div>' })
                    $.ajax({
                        url: '@Url.Action("submitPreview", "Activity")',
                        data: {
                            GridHtml1: $("#Grid1").html(),
                            status: 2,
                            activityId: $("#HdId").val(),
                        },
                        dataType: "json",
                        type: 'POST',
                    }).done(function (response) {
                        console.log(response.Message);
                        if (response.Message == 'MT') {
                            var url = '@Url.Action("Index", "Home", new { actId = "", typeForm = Activity_Model.activityType.MT.ToString() }, null)';
                            window.location.href = url;
                        }
                        else if (response.Message == 'OMT')
                        {
                              var url = '@Url.Action("Index", "Home", new { actId = "", typeForm = Activity_Model.activityType.OMT.ToString() }, null)';
                            window.location.href = url;
                        }

                    });
                }
            }

        });
    }
</script>


