@model eActForm.Models.Activity_Model
@{
                /**/

                /**/

                ViewBag.Title = "ProductCostdetail";
}

<style>
    .font12 {
        font-size: 10px;
    }

    .font12B {
        font-size: 10px;
    }
</style>

<div class="row">
    <div class="col-12">
        <p class="lead">โครงสร้างราคา - ไม่รวม Vat (Product Cost - Bath Per Case)</p>
    </div>
    <div class="col-12">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="align-content-center font12B" rowspan="2" onclick="onDelCostDetail();"> <label class="btn ink-reaction btn-danger fa fa-trash-o"></label></th>
                    <th class="align-content-center font12B" rowspan="2" style="width:20%;">ชื่อสินค้า (product Name)</th>
                    <th class="align-content-center font12B" rowspan="2" style="width:10%;">Std. Wholesales Price</th>
                    <th class="align-content-center font12B" colspan="2" style="width:10%;">ราคาขาย</th>
                    <th class="align-content-center font12B" colspan="3" style="width:15%;">Normal Discount (%)</th>
                    <th class="align-content-center font12B" style="width:6%;">Normal</th>
                    <th class="align-content-center font12B" style="width:6%;">Normal</th>
                    <th class="align-content-center font12B" style="width:6%;">Promotion</th>
                    <th class="align-content-center font12B" colspan="2" style="width:15%;">Special Discount %</th>
                    <th class="align-content-center font12B" style="width:10%;">Promotion</th>
                </tr>
                <tr>
                    <th class="align-content-center font12B">&nbsp;&nbsp;Normal&nbsp;&nbsp;</th>
                    <th class="align-content-center font12B">Promotion</th>
                    <th class="align-content-center font12B">(1)</th>
                    <th class="align-content-center font12B">(2)</th>
                    <th class="align-content-center font12B">(3)</th>
                    <th class="align-content-center font12B">Cost</th>
                    <th class="align-content-center font12B">GP%</th>
                    <th class="align-content-center font12B">GP%</th>
                    <th class="align-content-center font12B">บาท</th>
                    <th class="align-content-center font12B">&nbsp;&nbsp;&nbsp;%</th>
                    <th class="align-content-center font12B">Cost (BHT)</th>
                </tr>
            </thead>

            @if (Model.productcostdetaillist1 != null)
            {
                var index = 0;
                foreach (var item in Model.productcostdetaillist1)
                {
            <tr>
                <td onclick="onDelCostDetail('@item.id')">
                    <label class="btn ink-reaction btn-danger fa fa-trash-o"></label>
                </td>
                @if (item.isShowGroup == "true")
                {
                    <td style="text-align:right">@item.brandName @item.smellName ALL(@item.detailGroup.Count)</td>
                }
                else if (item.isShowGroup == "false")
                {
                    for (int i = 0; i < @item.detailGroup.Count; i++)
                    {
                        <td style="text-align:right">@item.detailGroup[i].productName</td>
                    }
                }
                else
                {
                    <td style="text-align:right">@item.productName</td>
                }
                <td style="text-align:right">@item.wholeSalesPrice</td>
                <td style="text-align:right">@Html.TextBoxFor(model => item.saleOut, new { @id = "saleOut_" + index, @class = "form-control textboxcss font12", @onchange = "calProductDiscount('" + item.id + "', " + index + ")" })</td>
                <td style="text-align:right">@Html.TextBoxFor(model => item.saleIn, new { @id = "saleIn_" + index, @class = "form-control textboxcss font12", @onchange = "calProductDiscount('" + item.id + "', " + index + ")" })</td>
                <td style="text-align:right">@Html.TextBoxFor(model => item.disCount1, new { @id = "disCount1_" + index, @class = "form-control textboxcss font12", @onchange = "calProductDiscount('" + item.id + "', " + index + ")" })</td>
                <td style="text-align:right">@Html.TextBoxFor(model => item.disCount2, new { @id = "disCount2_" + index, @class = "form-control textboxcss font12", @onchange = "calProductDiscount('" + item.id + "', " + index + ")" })</td>
                <td style="text-align:right">@Html.TextBoxFor(model => item.disCount3, new { @id = "disCount3_" + index, @class = "form-control textboxcss font12", @onchange = "calProductDiscount('" + item.id + "', " + index + ")" })</td>
                <td style="text-align:right">
                    @Html.TextBoxFor(model => item.normalCost, new { @id = "normalCost_" + index, @class = "form-control textboxcss font12" })
                </td>
                <td style="text-align:right">@Html.TextBoxFor(model => item.normalGp, new { @id = "normalGp_" + index, @class = "form-control textboxcss font12", @onchange = "calProductDiscount('" + item.id + "', " + index + ")" })</td>
                <td style="text-align:right">@Html.TextBoxFor(model => item.promotionGp, new { @id = "promotionGp_" + index, @class = "form-control textboxcss font12", @onchange = "calProductDiscount('" + item.id + "', " + index + ")" })</td>
                <td style="text-align:right">@Html.TextBoxFor(model => item.specialDisc, new { @id = "specialDisc_" + index, @class = "form-control textboxcss font12", @onchange = "calProductDiscount('" + item.id + "', " + index + ")" })</td>
                <td style="text-align:right">@Html.TextBoxFor(model => item.specialDisc, new { @id = "specialDisc_" + index, @class = "form-control textboxcss font12", @onchange = "calProductDiscount('" + item.id + "', " + index + ")" })</td>
                <td style="text-align:right">@Html.TextBoxFor(model => item.promotionCost, new { @id = "promotionCost_" + index, @class = "form-control textboxcss font12" })</td>
            </tr>
                    index++;
                }
            }
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td class="auto-style3">&nbsp;</td>
                <td class="auto-style3">&nbsp;</td>
                <td class="auto-style3">&nbsp;</td>
                <td>&nbsp;</td>
                <td class="auto-style4">&nbsp;</td>
                <td class="auto-style4">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

            </tr>
        </table>
    </div>
</div>
<script>
    function calProductDiscount(id,rowIndex) {

        if ($('#normalCost_' + rowIndex).val() != "" && $('#specialDisc_' + rowIndex).val() != "") {
            var normalCost = $('#normalCost_' + rowIndex).val();
            var normalGP = $('#normalGP_' + rowIndex).val();
            var promotionGP = $('#promotionGP_' + rowIndex).val();
            var specialDisc = $("#specialDisc_" + rowIndex).val();

            $.ajax({
            type: 'POST',
            url:  '@Url.Action("calDiscountProduct", "Activity")',
             data: {
                 activityModel: ObjModel,
                 id: id,
                 normalCost: normalCost,
                 normalGP: normalGP,
                 promotionGP: promotionGP,
                 specialDisc: specialDisc,
            }
         }).done(function (response) {
             ObjModel = response.Data.activityModel;
             CallChangefunc(response.Data.activityModel);
        });

        }
    }

    function onDelCostDetail(id) {

            $.ajax({
            url: '@Url.Action("delCostDetail", "Activity")',
            data: {
                rowid: id,
                activityModel: ObjModel,
            },
            dataType: "json",
            type: 'POST',
                success: function (response) {
                    ObjModel = response.Data.activityModel;
                    CallChangefunc(response.Data.activityModel);
            }
        });
    }

</script>

