@model eActForm.Models.Activity_Model
@{
    /**/

    /**/
    decimal? promotionTotal = 0;
    TempData["promotionTotal"] = 0.00;
    ViewBag.Title = "ProductCostdetail";
}

<div class="row">
    <div class="col-12">
        <p class="lead">โครงสร้างราคา - ไม่รวม Vat (Product Cost - Bath Per Case)</p>
    </div>
    <div class="col-12">
        <table class="table table-bordered" id="tbl_productDetail">
            <thead class="thead-dark">
                <tr>
                    <th class="align-content-center font10" rowspan="2" width="10px" onclick="onDelCostDetail();"> <button class="btn ink-reaction btn-danger fa fa-trash-o"></button></th>
                    <th class="align-content-center font10" rowspan="2" style="width:15%;">ชื่อสินค้า (product Name)</th>
                    <th class="align-content-center font10" rowspan="2" style="width:10%;">Std. Wholesales Price</th>
                    <th class="align-content-center font10" colspan="2" style="width:10%;">ราคาขาย</th>
                    <th class="align-content-center font10" colspan="3" style="width:18%;">Normal Discount (%)</th>
                    <th class="align-content-center font10" style="width:8%;">Normal</th>
                    <th class="align-content-center font10" style="width:7%;">Normal</th>
                    <th class="align-content-center font10" style="width:7%;">Promotion</th>
                    <th class="align-content-center font10" colspan="2" style="width:12%;">Special Discount %</th>
                    <th class="align-content-center font10" style="width:8%;">Promotion</th>
                </tr>
                <tr>
                    <th class="align-content-center font10">&nbsp;&nbsp;Normal&nbsp;&nbsp;</th>
                    <th class="align-content-center font8">Promotion</th>
                    <th class="align-content-center font10">(1)</th>
                    <th class="align-content-center font10">(2)</th>
                    <th class="align-content-center font10">(3)</th>
                    <th class="align-content-center font10">Cost</th>
                    <th class="align-content-center font10">GP%</th>
                    <th class="align-content-center font10">GP%</th>
                    <th class="align-content-center font10">บาท</th>
                    <th class="align-content-center font10">&nbsp;&nbsp;&nbsp;%</th>
                    <th class="align-content-center font10">Cost (BHT)</th>
                </tr>
            </thead>

            @if (Model.productcostdetaillist1 != null)
            {
                var index = 0;
                foreach (var item in Model.productcostdetaillist1)
                {
                    <tr>
                        <td onclick="onDelCostDetail('@item.id')">
                            <button class="btn ink-reaction btn-danger fa fa-trash-o"></button>
                            @Html.HiddenFor(model => item.productId, new { @id = "hdProductId_" + index })
                        </td>
                        @if (item.isShowGroup == "true")
                        {
                            <td class="font10 textLeft">@item.brandName @item.smellName ALL(@item.detailGroup.Count) Pack(@item.pack) </td>
                        }
                        else if (item.isShowGroup == "false")
                        {
                            for (int i = 0; i < @item.detailGroup.Count; i++)
                            {
                                <td class="font10 textLeft">@item.detailGroup[i].productName Pack(@item.pack)</td>
                            }
                        }
                        else
                        {
                            <td class="font10 textLeft">@item.productName</td>
                        }
                        <td style="text-align:right">@Html.TextBoxFor(model => item.wholeSalesPrice, "{0:n2}", new { @id = "wholeSalesPrice_" + index, @class = "form-control textboxcss font10 textRight", @readonly = true })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => item.saleOut, "{0:n2}", new { @id = "saleOut_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + item.id + "', " + index + ")", @onfocus = "setZero(saleOut_" + index + ")" })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => item.saleIn, "{0:n2}", new { @id = "saleIn_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + item.id + "', " + index + ")", @onfocus = "setZero(saleIn_" + index + ")" })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => item.disCount1, "{0:n2}", new { @id = "disCount1_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + item.id + "', " + index + ")", @onfocus = "setZero(disCount1_" + index + ")" })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => item.disCount2, "{0:n2}", new { @id = "disCount2_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + item.id + "', " + index + ")", @onfocus = "setZero(disCount2_" + index + ")" })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => item.disCount3, "{0:n2}", new { @id = "disCount3_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + item.id + "', " + index + ")", @onfocus = "setZero(disCount3_" + index + ")" })</td>
                        <td style="text-align:right">
                            @Html.TextBoxFor(model => item.normalCost, "{0:n2}", new { @id = "normalCost_" + index, @class = "form-control textboxcss font10 textRight", @readonly = true })
                        </td>
                        <td style="text-align:right">@Html.TextBoxFor(model => item.normalGp, "{0:n2}%", new { @id = "normalGp_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + item.id + "', " + index + ")", @readonly = true })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => item.promotionGp, "{0:n2}%", new { @id = "promotionGp_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + item.id + "', " + index + ")", @readonly = true })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => item.specialDiscBaht, "{0:n2}", new { @id = "specialDiscBaht_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + item.id + "', " + index + ")" ,@onfocus = "setZero(specialDiscBaht_" + index + ")" })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => item.specialDisc, "{0:n2}", new { @id = "specialDisc_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + item.id + "', " + index + ")" ,@onfocus = "setZero(specialDisc_" + index + ")" })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => item.promotionCost, "{0:n2}", new { @id = "promotionCost_" + index, @class = "form-control textboxcss font10 textRight", @readonly = true })</td>
                    </tr>
                    promotionTotal = item.promotionCost == null ? 0 + promotionTotal : item.promotionCost + promotionTotal;
                    index++;
                }
                TempData["promotionTotal"] = promotionTotal;
            }

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td class="auto-style3">&nbsp;</td>
                <td class="auto-style3">&nbsp;</td>
                <td class="auto-style3">&nbsp;</td>
                <td>&nbsp;</td>
                <td class="auto-style4">&nbsp;</td>
                <td class="auto-style4">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

            </tr>
        </table>
    </div>
</div>
<input type="hidden" id="hdPromotionCost" value="@promotionTotal">
<script>
    function calProductDiscount(id, rowIndex) {
        if ($('#wholeSalesPrice_' + rowIndex).val() != "") {
            var productId = $('#hdProductId_' + rowIndex).val();
            var wholeSalesPrice = $('#wholeSalesPrice_' + rowIndex).val();
            var saleOut = $('#saleOut_' + rowIndex).val();
            var saleIn = $('#saleIn_' + rowIndex).val();
            var disCount1 = $('#disCount1_' + rowIndex).val();
            var disCount2 = $('#disCount2_' + rowIndex).val();
            var disCount3 = $('#disCount3_' + rowIndex).val();
            var normalCost = $('#normalCost_' + rowIndex).val();
            var normalGP = $('#normalGP_' + rowIndex).val();
            var promotionGP = $('#promotionGP_' + rowIndex).val();
            var specialDisc = $("#specialDisc_" + rowIndex).val();
            var specialDiscBaht = $("#specialDiscBaht_" + rowIndex).val();

            $.ajax({
            type: 'POST',
            url:  '@Url.Action("calDiscountProduct", "Activity")',
             data: {
                 id: id,
                 productId: productId,
                 wholeSalesPrice: wholeSalesPrice,
                 saleOut: saleOut,
                 saleIn: saleIn,
                 disCount1: disCount1,
                 disCount2: disCount2,
                 disCount3: disCount3,
                 normalCost: normalCost,
                 normalGP: normalGP,
                 promotionGP: promotionGP,
                 specialDisc: specialDisc,
                 specialDiscBaht: specialDiscBaht,
            }
         }).done(function (response) {
             CallChangefunc();
        });

        }
    }

    function onDelCostDetail(id) {

            $.ajax({
            url: '@Url.Action("delCostDetail", "Activity")',
            data: {
                rowid: id,
            },
            dataType: "json",
            type: 'POST',
                success: function (response) {
                    console.log(response.success);
                    CallChangefunc();
                }

        });
    }

</script>

