
@model eActForm.Models.Budget_Activity_Model
@{
	Layout = null;
	//decimal? totalActCost = 0;
}

<input type="hidden" id="hd_activity">
@Html.HiddenFor(x => x.Budget_Activity_Product_list.ElementAt(0).act_activityId, new { @id = "hd_activityId" })
@Html.HiddenFor(x => x.Budget_Activity_Product_list.ElementAt(0).act_activityNo, new { @id = "hd_activityNo" })
@Html.HiddenFor(x => x.Budget_Activity_Product_list.ElementAt(0).prd_productId, new { @id = "hd_productId" })
@Html.HiddenFor(x => x.Budget_Activity_Product_list.ElementAt(0).activityOfEstimateId, new { @id = "hd_activityOfEstimateId" })

@if (Model.Budget_Activity_Invoice_list != null)
{
	@Html.HiddenFor(x => x.Budget_Activity_Invoice_list.ElementAt(0).invoiceId, new { @id = "hd_invoiceId" })
}

<style>
	.font14 {
		font-size: 14px;
	}
</style>

<div class="modal-dialog modal-lg" style="width:90%;">
	<div class="modal-content">
		<div class="modal-header">
			<div style=""></div>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
			<div id="Grid" style="width:97%; margin-left:20px;">
				<style>
					.cssborderbottom {
						border-bottom-width: 1px;
						border-bottom-style: solid;
						border-bottom-color: gray;
					}
				</style>

				<div>
					<div style="text-align:left;">
						<h4>
							เลขที่กิจกรรมส่งเสริมการขาย :
							@if (Model.Budget_Activity_Product_list != null)
							{
								@Html.DisplayFor(item => Model.Budget_Activity_Product_list.ElementAt(0).act_activityNo)
							}
						</h4>
					</div>
					@if (Model.Budget_Activity_Invoice_list != null)
					{
						<div style="text-align:left;">
							<h4>
								เลขที่ใบแจ้งหนี้ :
								@Html.DisplayFor(item => Model.Budget_Activity_Invoice_list.ElementAt(0).invoiceNo)
							</h4>
						</div>
					}
				</div>

				<div>
					<table style="border-bottom-width:1px; border-bottom-style: solid; border-bottom-color: gray; width:100%;"><tr><td>&nbsp;</td></tr></table>
				</div>

				<div style="margin-top:5px; width:100%;" class="font-weight-bold">
					<h5><strong>รายละเอียดค่าใช้จ่าย (Cost)</strong></h5>
				</div>

				<div>
					<table class="tablethin" style="width:100%; text-align:center;" border="1" cellpadding="0" cellspacing="0">
						<tr>
							<td rowspan="2" width="30%" class="font14">กลุ่มสินค้า/ชื่อสินค้า/Remark</td>
							<td colspan="5" class="font14">ค่าใช้จ่ายจริง (Estimate)</td>
						</tr>
						<tr>
							<td width="10%" class="font14">จำนวนเงินที่ตั้ง</td>
							<td width="10%" class="font14">เลขที่ใบแจ้งหนี้</td>
							<td width="10%" class="font14">จำนวนเงินจ่าย</td>
							<td width="10%" class="font14">วันที่ทำกิจกรรม</td>
							<td width="10%" class="font14">สถานะ</td>
						</tr>

						<tr>
							<td width="10%" class="font14" style="text-align:left;">
								@if (Model.Budget_Activity_Product_list != null)
								{

									@Html.DisplayFor(item => Model.Budget_Activity_Product_list.ElementAt(0).prd_productDetail)

								}
							</td>

							<td width="15%" class="font14" style="text-align:right;">
								@if (Model.Budget_Activity_Invoice_list != null)
								{
									string result = String.Format("{0:n2}", Model.Budget_Activity_Invoice_list.ElementAt(0).productStandBath);
									@result.ToString();
								}
								else
								{
									string result = String.Format("{0:n2}", Model.Budget_Activity_Product_list.ElementAt(0).productBalanceBath);
									@result.ToString();
								}
								&nbsp;
							</td>
							@if (Model.Budget_Activity_Invoice_list != null)
							{
								<td width="10%"><input class="form-control textboxcss font14" style="text-align:center;" id="txt_invoice_no" value="@Html.DisplayFor(item => item.Budget_Activity_Invoice_list.ElementAt(0).invoiceNo)"></td>
								<td width="10%"><input class="form-control textboxcss font14" style="text-align:right;" id="txt_invoice_baht" value="@Html.DisplayFor(item => item.Budget_Activity_Invoice_list.ElementAt(0).invoiceTotalBath)"></td>
								<td width="10%"><input class="form-control textboxcss font14" style="text-align:center;" id="txt_date_action" value="@Html.DisplayFor(item => item.Budget_Activity_Invoice_list.ElementAt(0).invoiceActionDate)"></td>
								<td width="10%">
									@Html.DropDownListFor(item => Model.Budget_Activity_Invoice_list.ElementAt(0).invoiceBudgetStatusId, new SelectList(Model.Budget_Activity_Ststus_list, "id", "nameTH", Model.Budget_Activity_Invoice_list.ElementAt(0).invoiceBudgetStatusId), "Please Select", new { @class = "form-control textboxcss", id = "ddlStatus" })
								</td>
							}
							else
							{
								<td width="10%"><input class="form-control textboxcss font14" style="text-align:center;" id="txt_invoice_no"></td>
								<td width="10%"><input class="form-control textboxcss font14" style="text-align:right;" id="txt_invoice_baht"></td>
								<td width="10%"><input class="form-control textboxcss font14" style="text-align:center;" id="txt_date_action"></td>
								<td width="10%">
									@Html.DropDownListFor(item => Model.Budget_Activity_Ststus_list.ElementAt(0).id, new SelectList(Model.Budget_Activity_Ststus_list, "id", "nameTH", 2), "Please Select", new { @class = "form-control textboxcss", id = "ddlStatus" })
								</td>
							}
						</tr>
					</table>
				</div>

			</div>
		</div>
		<div class="modal-footer">
			<div>
				<p class="d-flex justify-content-center">
					<button type="button" class="btn ink-reaction btn-success" onclick="submitInvoice();"><i class="fa fa fa-check fa-fw"></i>&nbsp;Submit</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa fa-reply fa-fw"></i>&nbsp;Close</button>
				</p>
			</div>

		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function () {
		ObjModel = {};
	});

	var today = new Date();
	var dd = String(today.getDate()).padStart(2, '0');
	var mm = String(today.getMonth() + 1).padStart(2, '0');
	var yyyy = today.getFullYear();

	today = dd + '-' + mm + '-' + yyyy;
	document.getElementById("txt_date_action").defaultValue = today;

	$.datetimepicker.setLocale('th');
	var thaiYear = function (ct) {
		var leap = 3;
		var dayWeek = ["พฤ.", "ศ.", "ส.", "อา.", "จ.", "อ.", "พ."];
		if (ct) {
			var yearL = new Date(ct).getFullYear();
			leap = (((yearL % 4 == 0) && (yearL % 100 != 0)) || (yearL % 400 == 0)) ? 2 : 3;
			if (leap == 2) {
				dayWeek = ["ศ.", "ส.", "อา.", "จ.", "อ.", "พ.", "พฤ."];
			}
		}
		this.setOptions({
			i18n: { th: { dayOfWeek: dayWeek } }, dayOfWeekStart: leap,
		})
	};

	$("#txt_date_action").datetimepicker({
		timepicker: false,
		format: 'd-m-Y',  // กำหนดรูปแบบวันที่ ที่ใช้ เป็น 00-00-0000
		lang: 'th',  // แสดงภาษาไทย
		onChangeMonth: thaiYear,
		onShow: thaiYear,
		//yearOffset: 543,  // ใช้ปี พ.ศ. บวก 543 เพิ่มเข้าไปในปี ค.ศ
		closeOnDateSelect: true,
	}
	);
</script>