@model eActForm.Models.Budget_Activity_Model
@using eActForm.BusinessLayer
@using eActForm.Models
@using System.Configuration;
@{
    //update 21-04-2020
    ViewBag.Title = "";
    var var_lastApprove = Model.Budget_Activity_Last_Approve;
    var var_Count_Wait_Approve = Model.Budget_Count_Wait_Approve;

}

@if (var_lastApprove != null)
{
    
    @Html.ActionLink(" ", "getPDF", "ActivityViewer", new { actId = Model.Budget_Activity.act_form_id, type = AppCode.ApproveType.Activity_Form.ToString() }, new { @class = "btn ink-reaction btn-info fa fa-file-o", target = "_blank" })
    <span>กิจกรรม(pdf)</span>

    <a onclick="callApproveList('@(var_lastApprove == null ? "" : var_lastApprove.budgetApproveId)');"> <i class="btn ink-reaction btn-dark fa fa-eye"></i> การอนุมัติล่าสุด </a>

    @Html.ActionLink(" ", "getPdfBudget", "BudgetViewer", new { budgetApproveId = var_lastApprove == null ? null : var_lastApprove.budgetApproveId }, new { @class = "btn ink-reaction btn-success fa fa-search", target = "_blank", })
    <span>รายละเอียด(pdf)</span>


    <a href="javascript:" onclick="return onCancelWaitApproveByActno('@Model.Budget_Activity.act_activityNo','@Model.Budget_Activity.act_form_id');">
        <i class="btn ink-reaction btn-danger fa fa-reply"></i>ยกเลิกขออนุมัติ
    </a>

}


<button type="button" class="btn btn-sm ink-reaction pull-right btn-success" onclick="javascript:onInvoicePrintPreview('@Model.Budget_Activity.act_form_id','@Model.Budget_Activity.act_companyEN');"><i class="fa fa-file-o fa-fw"></i>&nbsp;Preview</button>

<table class="table table-striped table-hover" id="datatable">
    <thead class="thead-dark">
        <tr class="gradeX" style="background-color:#2B5D95;color:#ffffff;">
            <th class="align-content-center font12B"></th>
            <th class="align-content-center font12B" style="width:15%;">ประเภทกิจกรรม</th>
            <th class="align-content-center font12B" style="width:25%;">กลุ่มสินค้า/ชื่อสินค้า</th>
            <th class="font12B" style="text-align:right;">จำนวนเงินที่ตั้ง</th>
            <th class="font12B" style="text-align:right;">จำนวนเงินจ่าย(รวม)</th>
            <th class="font12B" style="text-align:right;">คงเหลือ</th>
            <th class="align-content-center font12B" style="width:10%;">สถานะ</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Budget_Activity_Product_list.Count > 0)
        {
            var index = 0;
            foreach (var item in Model.Budget_Activity_Product_list)
            {
                <tr class="gradeX">
                    <td>
                        <a href="javascript:" class="btn ink-reaction btn-success fa fa-list-ul" onclick="javascript:callInvoiceList('@item.act_activityId','@item.activityOfEstimateId');"></a>
                    </td>

                    <td style="font-size:12.5px;">@item.act_typeTheme</td>
                    <td style="font-size:12.5px;">@item.prd_productDetail</td>
                    <td style="font-size:12.5px;text-align:right;">
                        @if (item.totalCost != 0)
                        {
                            string result = String.Format("{0:n2}", @item.productGrandTotalaCost);
                            @result.ToString();
                        }
                    </td>
                    @*------  display when have invoice row ---------*@
                    <td style="font-size:12.5px;text-align:right;">
                        @*จำนวนเงินจ่าย*@
                        @if (item.totalCost != 0)
                        {
                            string result = String.Format("{0:n2}", @item.invoiceTotalBath);
                            @result.ToString();
                        }
                    </td>

                    <td style="font-size:12.5px;text-align:right;">
                        @*ผลต่าง-บาท*@
                        @if (item.totalCost != 0)
                        {
                            string result = String.Format("{0:n2}", @item.productBalanceBath);
                            @result.ToString();
                        }
                    </td>
                    @*--------------------------------------------------*@

                    @if (item.budgetStatusId == "1")
                    {
                        <td style="font-size:12.5px;text-align:center; color:firebrick;">@item.budgetStatusNameTH</td>
                    }
                    else if (item.budgetStatusId == "2")
                    {
                        <td style="font-size:12.5px;text-align:center; color:darkorange;">@item.budgetStatusNameTH</td>
                    }
                    else
                    {
                        <td style="font-size:12.5px;text-align:center; color:forestgreen;">@item.budgetStatusNameTH</td>
                    }
                </tr>
                index++;
            }
        }
    </tbody>
</table>





<script>
    $('document').ready(function () {

        $('tr').click(function () {

            $('tr').removeClass('info');
            $(this).addClass('info');


            var id = $(this).data('id');
            $('.links a').each(function () {
                this.href = this.href.split("cshtml")[0] + "cshtml/" + id;
            });

        });
    });




</script>

