
@model eActForm.Models.Budget_Activity_Model
@{
	Layout = null;
	//decimal? totalActCost = 0;
}

<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.datetimepicker.full.js"></script>

<input type="hidden" id="hd_activity">
@Html.HiddenFor(x => x.Budget_Activity_Product.act_activityId, new { @id = "hd_activityId" })
@Html.HiddenFor(x => x.Budget_Activity_Product.act_activityNo, new { @id = "hd_activityNo" })
@Html.HiddenFor(x => x.Budget_Activity_Product.prd_productId, new { @id = "hd_productId" })
@Html.HiddenFor(x => x.Budget_Activity_Product.activityOfEstimateId, new { @id = "hd_activityOfEstimateId" })


@if (Model.Budget_Activity_Invoice != null)
{
	@Html.HiddenFor(x => x.Budget_Activity_Invoice.invoiceId, new { @id = "hd_invoiceId" })
}

@*@if (Model.Budget_Activity_Invoice_list != null)
	{
		@Html.HiddenFor(x => x.Budget_Activity_Invoice_list.ElementAt(0).invoiceId, new { @id = "hd_invoiceId" })
	}*@

<style>
	.font14 {
		font-size: 14px;
	}
</style>

<div class="modal-dialog modal-lg" style="width:90%;">
	<div class="modal-content">
		<div class="modal-header">
			<div style=""></div>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
			<div id="Grid" style="width:97%; margin-left:20px;">
				<style>
					.cssborderbottom {
						border-bottom-width: 1px;
						border-bottom-style: solid;
						border-bottom-color: gray;
					}
				</style>

				<div>
					<div style="text-align:left;">
						<h4>
							เลขที่กิจกรรมส่งเสริมการขาย :
							@if (Model.Budget_Activity_Product.act_activityNo.ToString() != "")
							{
								@Html.DisplayFor(x => x.Budget_Activity_Product.act_activityNo)
							}
						</h4>
					</div>
					@if (Model.Budget_Activity_Invoice_list != null)
					{
						<div style="text-align:left;">
							<h4>
								เลขที่ใบแจ้งหนี้ :
								@if (Model.Budget_Activity_Invoice.invoiceNo.ToString() != "")
								{
									@Html.DisplayFor(x => x.Budget_Activity_Invoice.invoiceNo)
								}

								@*@Html.DisplayFor(item => Model.Budget_Activity_Invoice_list.ElementAt(0).invoiceNo)*@
							</h4>
						</div>
					}
				</div>

				<div>
					<table style="border-bottom-width:1px; border-bottom-style: solid; border-bottom-color: gray; width:100%;"><tr><td>&nbsp;</td></tr></table>
				</div>

				<div style="margin-top:5px; width:100%;" class="font-weight-bold">
					<h5><strong>รายละเอียดค่าใช้จ่าย (Cost)</strong></h5>
				</div>

				<div>
					<table class="tablethin" style="width:100%; text-align:center;" border="1" cellpadding="0" cellspacing="0">
						<tr>
							<td rowspan="2" width="30%" class="font14">กลุ่มสินค้า/ชื่อสินค้า/Remark</td>
							<td colspan="5" class="font14">ค่าใช้จ่ายจริง (Estimate)</td>
						</tr>
						<tr>
							<td width="10%" class="font14">จำนวนเงินที่ตั้ง</td>
							<td width="10%" class="font14">เลขที่ใบแจ้งหนี้</td>
							<td width="10%" class="font14">จำนวนเงินจ่าย</td>
							<td width="10%" class="font14">วันที่ทำกิจกรรม</td>
							<td width="10%" class="font14">สถานะ</td>
						</tr>

						<tr>
							<td width="10%" class="font14" style="text-align:left;">
								@if (Model.Budget_Activity_Product.prd_productDetail.ToString() != "")
								{
									@Html.DisplayFor(x => x.Budget_Activity_Product.prd_productDetail)
								}

								@*@if (Model.Budget_Activity_Product_list != null)
									{
										@Html.DisplayFor(item => Model.Budget_Activity_Product_list.ElementAt(0).prd_productDetail)
									}*@
							</td>

							<td width="15%" class="font14" style="text-align:right;">
								@if (Model.Budget_Activity_Invoice != null)
								{
									string result = String.Format("{0:n2}", Model.Budget_Activity_Invoice.productStandBath);
									@result.ToString();
								}
								else
								{
									string result = String.Format("{0:n2}", Model.Budget_Activity_Product.productBalanceBath);
									@result.ToString();
								}

								@*@if (Model.Budget_Activity_Invoice_list != null)
									{
										string result = String.Format("{0:n2}", Model.Budget_Activity_Invoice_list.ElementAt(0).productStandBath);
										@result.ToString();
									}
									else
									{
										string result = String.Format("{0:n2}", Model.Budget_Activity_Product_list.ElementAt(0).productBalanceBath);
										@result.ToString();
									}*@
								&nbsp;
							</td>
							@if (Model.Budget_Activity_Invoice != null)
							{
								<td width="10%"><input class="form-control textboxcss font14" style="text-align:center;" id="txt_invoice_no" value="@Html.DisplayFor(item => item.Budget_Activity_Invoice.invoiceNo)"></td>
								<td width="10%"><input class="form-control textboxcss font14" style="text-align:right;" id="txt_invoice_baht" value="@Html.DisplayFor(item => item.Budget_Activity_Invoice.invoiceTotalBath)"></td>
								<td width="10%">
									@*<input class="form-control textboxcss font14" style="text-align:center;" id="txt_date_action" value="@Html.DisplayFor(item => item.Budget_Activity_Invoice.invoiceActionDate)">*@
									@Html.TextBoxFor(x => x.Budget_Activity_Invoice.invoiceActionDate, "{0:dd-MM-yyyy}", new { @class = "form-control textboxcss", id = "txt_date_action" })

								</td>
								<td width="10%">
									@Html.DropDownListFor(item => Model.Budget_Activity_Invoice.invoiceBudgetStatusId, new SelectList(Model.Budget_Activity_Ststus_list, "id", "nameTH", Model.Budget_Activity_Invoice.invoiceBudgetStatusId), "Please Select", new { @class = "form-control textboxcss", id = "ddlStatus" })
									@*@Html.DropDownListFor(item => Model.Budget_Activity_Invoice_list.ElementAt(0).invoiceBudgetStatusId, new SelectList(Model.Budget_Activity_Ststus_list, "id", "nameTH", Model.Budget_Activity_Invoice_list.ElementAt(0).invoiceBudgetStatusId), "Please Select", new { @class = "form-control textboxcss", id = "ddlStatus" })*@
								</td>
							}
							else
							{
								<td width="10%"><input class="form-control textboxcss font14" style="text-align:center;" id="txt_invoice_no"></td>
								<td width="10%"><input class="form-control textboxcss font14" style="text-align:right;" id="txt_invoice_baht"></td>
								<td width="10%">
									@*<input class="form-control textboxcss font14" style="text-align:center;" id="txt_date_action">*@
									@Html.TextBoxFor(x => x.Budget_Activity_Invoice.invoiceActionDate, "{0:dd-MM-yyyy}", new { @class = "form-control textboxcss", id = "txt_date_action" })
								</td>
								<td width="10%">
									@Html.DropDownListFor(item => Model.Budget_Activity_Ststus_list.ElementAt(0).id, new SelectList(Model.Budget_Activity_Ststus_list, "id", "nameTH", 2), "Please Select", new { @class = "form-control textboxcss", id = "ddlStatus" })
								</td>
							}
						</tr>
					</table>
				</div>

			</div>
		</div>
		<div class="modal-footer">
			<div>
				<p class="d-flex justify-content-center">
					<button type="button" class="btn ink-reaction btn-success" onclick="submitInvoice();"><i class="fa fa fa-check fa-fw"></i>&nbsp;Submit</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa fa-reply fa-fw"></i>&nbsp;Close</button>
				</p>
			</div>

		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function () {
		ObjModel = {};
	});

	$(function () {
		debugger;
		$("#txt_date_action").datepicker({
			format: 'dd-mm-yyyy',
			autoclose: true,
		});
	
		if ($("#txt_date_action").val() == "") {
			//alert("no date selected");
			$('#txt_date_action').datepicker('setDate', new Date());
		}
	});


</script>