@model eActForm.Models.Budget_Activity_Model
@{
	ViewBag.Title = "";
}

<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.datetimepicker.full.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Scripts/dropzone/dropzone.min.js"></script>
<link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />

<style type="text/css">

	.my-bootbox-class .modal-dialog {
		width: 400px;
		font-size: 18px;
	}
</style>

<div class="alert-link" role="alert">

</div>


<div class="form-group">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="row">
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h5><strong>กิจกรรมเลขที่ : </strong>@Html.DisplayFor(item => Model.Budget_Activity_Product_list.ElementAt(0).act_activityNo)</h5>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-12 text-right">

				</div>
			</div>
		</div>

		<div class="col-md-12 col-xs-12">
			<div class="row">
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h5><strong>ประเภทกิจกรรม : </strong>@Html.DisplayFor(item => Model.Budget_Activity_Product_list.ElementAt(0).act_typeTheme)</h5>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-12 text-right">

				</div>
			</div>
		</div>

		<div class="col-md-12 col-xs-12">
			<div class="row">
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h5><strong>กลุ่มสินค้า/ชื่อสินค้า : </strong>@Html.DisplayFor(item => Model.Budget_Activity_Product_list.ElementAt(0).prd_productDetail)</h5>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-12 text-right">
					@if (Model.Budget_Activity_Product_list.Count > 0)
					{
						<a href="javascript:" class="anchorDetail btn ink-reaction btn-group-lg btn-warning fa fa-plus" onclick="javascript:onSelectInvoice('@Model.Budget_Activity_Product_list.ElementAt(0).act_activityId','@Model.Budget_Activity_Product_list.ElementAt(0).activityOfEstimateId','');"> เพิ่มรายการตัดจ่าย</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<table class="table table-bordered" id="content">
		<thead class="thead-dark">
			<tr>
				<th class="align-content-center font12B" style="width:10%;"></th>
				@*<th class="align-content-center font12B" style="width:10%;">ประเภทกิจกรรม</th>*@
				@*<th class="align-content-center font12B" style="width:30%;">กลุ่มสินค้า/ชื่อสินค้า</th>*@
				<th class="align-content-center font12B" style="text-align:right;">จำนวนเงินที่ตั้ง</th>
				<th class="align-content-center font12B" style="text-align:center;">เลขที่ใบแจ้งหนี้</th>
				@*<th class="align-content-center font12B">เลขที่ใบสำคัญจ่าย</th>
					<th class="align-content-center font12B">ยอดขายช่วงทำกิจกรรม case</th>
					<th class="align-content-center font12B">ยอดขายช่วงทำกิจกรรม bath</th>*@
				<th class="align-content-center font12B" style="text-align:right;">จำนวนเงินจ่าย</th>
				<th class="align-content-center font12B" style="text-align:right;">ผลต่าง-บาท</th>
				<th class="align-content-center font12B" style="text-align:center;">วันที่ทำรายการ</th>
				<th class="align-content-center font12B" style="text-align:center;">สถานะ</th>
			</tr>
		</thead>

		@*------------------------------------------------------------------------------------------------*@
		<tbody>
			@if (Model.Budget_Activity_Invoice_list.Count > 0)
			{
				var index = 0;
				foreach (var item in Model.Budget_Activity_Invoice_list)
				{
					<tr class="gradeX">
						<td style="text-align:center;">
							<a href="javascript:" class="anchorDetail btn ink-reaction btn-sm btn-info fa fa-edit" onclick="javascript:onSelectInvoice('@item.activityId','@item.activityOfEstimateId','@item.invoiceId');"></a>
							<a href="javascript:" target="_blank" onclick="return onDelete('@item.activityId','@item.activityOfEstimateId','@item.invoiceId','@item.invoiceNo');">
								<i class="btn ink-reaction btn-danger fa fa-trash-o"></i>&nbsp;
							</a>
						</td>
						<td style="font-size:12.5px;text-align:right;">
							@if (item.productStandBath != null)
							{
								string result = String.Format("{0:n2}", @item.productStandBath);
								@result.ToString();
							}
						</td>
						<td style="font-size:12.5px;text-align:center;">
							@if (item.invoiceNo != null)
							{
								string result = String.Format("{0:n2}", @item.invoiceNo);
								@result.ToString();
							}
						</td>

						<td style="font-size:12.5px;text-align:right;">
							@*จำนวนเงินจ่าย*@
							@if (item.invoiceTotalBath != null)
							{
								string result = String.Format("{0:n2}", @item.invoiceTotalBath);
								@result.ToString();
							}
						</td>

						<td style="font-size:12.5px;text-align:right;">
							@*ผลต่าง-บาท*@
							@if (item.productBalanceBath != null)
							{
								string result = String.Format("{0:n2}", @item.productBalanceBath);
								@result.ToString();
							}
						</td>
						<td style="font-size:12.5px;text-align:center;">@Html.DisplayFor(x => item.invoiceActionDate) </td>

						@if (item.invoiceBudgetStatusId == 1)
						{
							<td style="font-size:12.5px;text-align:center; color:firebrick;">@item.invoiceBudgetStatusNameTH</td>
						}
						else if (item.invoiceBudgetStatusId == 2)
						{
							<td style="font-size:12.5px;text-align:center; color:darkorange;">@item.invoiceBudgetStatusNameTH</td>
						}
						else
						{
							<td style="font-size:12.5px;text-align:center; color:forestgreen;">@item.invoiceBudgetStatusNameTH</td>
						}
					</tr>
					index++;
				}
			}
		</tbody>
		@*------------------------------------------------------------------------------------------------*@
	</table>

</div>
