@model eActForm.Models.TB_Bud_Image_Model.BudImageModels
@{
	//Layout = null;
	//Layout = "~/Views/Shared/_LayoutBudget.cshtml";
	var url = System.Configuration.ConfigurationManager.AppSettings["urlUploadfilesBudget"].ToString();
}

<!-- Custom Theme Scripts -->
<script src="~/Content/vendors/build/js/custom.js"></script>

<div id="WaitDialog" class="loading" style="text-align: center;display:none;">
	<img src="~/images/loading.gif" style="margin-top:100px;width:100px;height:100px;" />
	<div style="margin-top: 10px; color: white">
		<b>Please wait</b>
	</div>
</div>

<div class="container body">
	<div class="main_container">
		<!-- page content -->
		<div role="main">
			<div class="">
				<div>
					@if (Model.tbBudImageList != null)
					{

						<table class="table table-striped table-hover" id="datatable">
							<thead>
								<tr style="background-color:#2B5D95;color:#ffffff;">
									<th>ลำดับ</th>
									<th>ชื่อไฟล์</th>
									<th>เลขที่กิจกรรม</th>
									<th>ประเภท</th>
									<th>วันที่สร้าง</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.tbBudImageList)
								{
									<tr class="gradeX">
										<td><span id="iconDelFile1" class="close" onclick="javascript:onclickDelImageBudget('@item.id');">&times;</span></td>
										<td>@item._fileName</td>
										<td>@item.activityNo</td>
										<td>@item.extension</td>

										<td>@{ var date = item.createdDate.Value.ToString("dd/MM/yyyy");} @date</td>
									</tr>
								}
							</tbody>
						</table>

					}
				</div>
			</div>
		</div>
		<!-- /page content -->
	</div>
</div>




<script>

	function onclickDelImageBudget(id) {
        //console.log(id);
		alert(id);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("manageInvoiceDelete", "Budget")',
            data: {
                id: id,
            }
        }).done(function (response) {
			callManageInvoiceList($("#hdActivityId").val());
        });
    }
</script>


