@*@model eActForm.Models.Budget_Activity_Model*@

@using eActForm.Models
@model eActForm.Models.Budget_Approve_Detail_Model
@{
	Layout = null;
}

<script type="text/javascript">

	$('document').ready(function () {
		showCurrentDate();
	});

	function showCurrentDate() {
		n = new Date();
		y = n.getFullYear();
		m = n.getMonth() + 1;
		d = n.getDate();

		if (m < 10) { m = '0' + m }
		if (d < 10) { d = '0' + d }

		document.getElementById("docDate").innerHTML = d + "/" + m + "/" + y;
	}

    function onClickClose() {
        var url = '@Url.Action("activityProduct", "Budget")';
        window.location.href = url;
    }

	function onClickSubmitApprove() {
		submitApproveBudget();

		bootbox.alert("ดำเนินการเรียบร้อยแล้ว", function () {
			var url = '@Url.Action("activityProduct", "Budget")';
			window.location.href = url;
		});

	}

	function submitApproveBudget() {
            $.ajax({
            url: '@Url.Action("submitPreviewBudget", "BudgetApproveList")',
            data: {
				GridHtml: $("#GridPDF").html(),
				budgetActivityId: $("#HbudgetId").val()
            },
            dataType: "json",
            type: 'POST',
			});
	}

	function refreshApproveBudget() {
            $.ajax({
            url: '@Url.Action("previewApproveBudget", "BudgetApprove")',
            data: {
				budgetActivityId: $("#HbudgetId").val()
            },
            dataType: "json",
            type: 'POST',
            }).done(function (response) {
                $("#WaitDialog").hide();
                console.log('success');
                 });
	}
</script>

<style type="text/css">

	.my-bootbox-class .modal-dialog {
		width: 400px;
		font-size: 18px;
	}
</style>

@Html.HiddenFor(m => m.Budget_Activity_list.ElementAt(0).budget_id, new { id = "HbudgetId" })
@*@Html.HiddenFor(m => m.Budget_Approve_detail_list.ElementAt(0).budgetApproveId, new { id = "HbudgetApproveId" })*@

@if (1 == 1)
{
	var count_wait_approve = 0;



	<div class="modal-dialog modal-lg" style="width:95%;">
		<div class="modal-content">
			<div class="modal-header">
				<div style=""></div>
				<button type="button" class="close" data-dismiss="modal" onclick="onClickClose()">&times;</button>
			</div>

			<div class="modal-body">
				<div id="GridPDF" style="width:97%; margin-left:10px;">
					<style>
						.cssborderbottom {
							border-bottom-width: 1px;
							border-bottom-style: solid;
							border-bottom-color: gray;
						}
					</style>

					<div>
						<div style="text-align:center;"><h5>รายละเอียดค่าใช้จ่าย ตั้งจ่ายจริง </h5></div>
					</div>

					<div>
						<table style="border-bottom-width:1px; border-bottom-style: solid; border-bottom-color: gray; width:100%;"><tr><td>&nbsp;</td></tr></table>
					</div>

					<div>
						<table style="border-bottom-width:0px; border-bottom-style:solid; border-bottom-color:gray; width:100%;">
							<tr>
								<td style="width:50%;">&nbsp;</td>
								<td style="width:50%;">&nbsp;</td>
							</tr>


							<tr>
								<td style="text-align:left;"></td>
								<td style="text-align:right;">
									<label> Activity No : </label> @Model.Budget_Activity_list.ElementAt(0).act_activityNo
								</td>
							</tr>


							<tr>
								<td style="text-align:left">
									<label> ชื่อกิจกรรม (Activity Name) : </label> @Model.Budget_Activity_list.ElementAt(0).act_activityName
								</td>
								<td style="text-align:right;">
									<label> Document Date : </label> <span id="docDate"></span>
								</td>
							</tr>

							<tr>
								<td style="text-align:left;">
									<label> Theme : </label>  @Model.Budget_Activity_list.ElementAt(0).act_theme
								</td>
								<td style="text-align:right;">
									<label> ลูกค้า (Customer Name) : </label>  @Model.Budget_Activity_list.ElementAt(0).cus_cusShortName
								</td>
							</tr>

							<tr>
								<td style="text-align:left;">
									<label> ระยะเวลากิจกรรม (Activity Period) : </label>
									@*@Model.Budget_Activity_list.ElementAt(0).act_activityPeriodSt.Value.ToString("dd/MM/yyyy")  to  @Model.Budget_Activity_list.ElementAt(0).act_activityPeriodEnd.Value.ToString("dd/MM/yyyy")*@
									@Model.Budget_Activity_list.ElementAtOrDefault(0).act_activityPeriodSt to @Model.Budget_Activity_list.ElementAtOrDefault(0).act_activityPeriodEnd
								</td>
								<td style="text-align:right;">
									<label> ช่องทาง (Channel) : </label> @Model.Budget_Activity_list.ElementAt(0).ch_chanelGroup
								</td>
							</tr>

							<tr>
								<td style="text-align:left;">
									<label> ระยะเวลาการให้ทุนพิเศษ (Cast Period) : </label>
									@*@Model.Budget_Activity_list.ElementAt(0).act_costPeriodSt.Value.ToString("dd/MM/yyyy")  to  @Model.Budget_Activity_list.ElementAt(0).act_costPeriodEnd .Value.ToString("dd/MM/yyyy")*@
								</td>
								<td style="text-align:right;">
									<label> กลุ่มสินค้า (Product Group) : </label> @Model.Budget_Activity_list.ElementAt(0).prd_groupShort
								</td>
							</tr>

							<tr>
								<td style="text-align:left;">
									<label> วัตถุประสงค์ (Objective) : </label>  @Model.Budget_Activity_list.ElementAt(0).act_objective
								</td>
								<td style="text-align:right;"></td>
							</tr>

							<tr>
								<td style="text-align:left;"></td>
								<td style="text-align:right;"></td>
							</tr>

							<tr>
								<td style="text-align:left;"></td>
								<td style="text-align:right;"></td>
							</tr>

							<tr>
								<td style="text-align:left;"></td>
								<td style="text-align:right;"></td>
							</tr>

						</table>
					</div>

					<div>
						<div>
							<table style="border-bottom-width:0px; border-bottom-style: solid; border-bottom-color: gray; width:100%;"><tr><td>&nbsp;</td></tr></table>
							<label> รายละเอียดการใช้จ่ายจริง (Actual) : </label>
						</div>


						<table class="tablethin" style="width:100%; text-align:center; border-color:gray;" border="1" cellpadding="0" cellspacing="0">
							<tr>
								<td rowspan="2" style="width:10%; font-size:11px;">ประเภทกิจกรรม</td>
								<td rowspan="2" style="width:30%; font-size:11px;">กลุ่มสินค้า / ชื่อสินค้า</td>
								<td colspan="4" style="width:25%; font-size:11px;">จ่ายจริง (Actual)</td>

								<td rowspan="2" style="width:7%; font-size:11px;">ผลต่าง-บาท</td>
								<td rowspan="2" style="width:7%; font-size:11px;">วันที่ทำรายการ</td>
								<td rowspan="2" style="width:10%; font-size:11px;">สถานะ</td>
								<td rowspan="2" style="width:10%; font-size:11px;">สถานะอนุมัติ</td>
							</tr>
							<tr>
								<td style="font-size:11px;">จำนวนเงินที่ตั้ง</td>
								<td style="font-size:11px;">เลขที่ใบแจ้งหนี้</td>
								<td style="font-size:11px;">เลขที่ใบสำคัญจ่าย</td>
								<td style="font-size:11px;">จำนวนเงินจ่าย (฿)</td>
							</tr>

							@if (Model.Budget_Invoce_History_list.Any())
							{
								var index = 0;
								foreach (var item in Model.Budget_Invoce_History_list)
								{

									if (@item.invoiceNo == "")
									{
										<tr>
											<td style="text-align:left;font-size:12px;">&nbsp;@item.activityTypeTheme</td>
											<td style="text-align:left;font-size:12px;">&nbsp;@item.productDetail</td>
											<td style="text-align:right;font-size:12px;"> @string.Format("{0:n2}", item.productStandBath)&nbsp;</td>
											<td style="text-align:center;font-size:12px;">@item.invoiceNo</td>
											<td></td>
											<td style="text-align:right;font-size:12px;">@string.Format("{0:n2}", item.invoiceTotalBath)&nbsp;</td>
											<td style="text-align:right;font-size:12px;">@string.Format("{0:n2}", item.productBalanceBath)&nbsp;</td>
											<td style="text-align:center;font-size:12px;">@item.invoiceActionDate.Value.ToString("dd/MM/yyyy")</td>
											<td style="text-align:center;font-size:12px;">&nbsp;ตั้งจ่าย</td>
											<td></td>
										</tr>
									}
									else
									{
										<tr>
											<td style="text-align:left;font-size:12px;border-right-style:none;"></td>
											<td style="text-align:left;font-size:12px;border-left-style:none;"></td>
											<td style="text-align:right;font-size:12px;"> @string.Format("{0:n2}", item.productStandBath)&nbsp;</td>
											<td style="text-align:center;font-size:12px;">@item.invoiceNo</td>
											<td></td>
											<td style="text-align:right;font-size:12px;">@string.Format("{0:n2}", item.invoiceTotalBath)&nbsp;</td>
											<td style="text-align:right;font-size:12px;">@string.Format("{0:n2}", item.productBalanceBath)&nbsp;</td>
											<td style="text-align:center;font-size:12px;">@item.invoiceActionDate.Value.ToString("dd/MM/yyyy")</td>
											<td style="text-align:center;font-size:12px;">&nbsp;@item.invoiceBudgetStatusNameTH</td>

											@if (item.invoiceApproveStatusId == 1)
											{
												<td style="text-align:center;font-size:12px;"></td>
											}
											else
											{
												<td style="text-align:center;font-size:12px;">@item.invoiceApproveStatusName</td>
											}

											@if (item.invoiceApproveStatusId == 2 || item.invoiceApproveStatusId == 5)
											{
												count_wait_approve++;
											}
										</tr>
									}


									index++;
									if (index == Model.Budget_Invoce_History_list.Count)
									{
										<tr>
											<td style="text-align:left;font-size:12px;"></td>
											<td style="text-align:right;font-size:12px;">Total &nbsp;</td>
											<td style="text-align:right;font-size:12px;"> @string.Format("{0:n2}", item.sum_cost_product_inv)&nbsp;</td>
											<td style="text-align:center;font-size:12px;"></td>
											<td></td>
											<td style="text-align:right;font-size:12px;">@string.Format("{0:n2}", item.sum_total_invoice)&nbsp;</td>
											<td style="text-align:right;font-size:12px;">@string.Format("{0:n2}", item.sum_balance_product_inv)&nbsp;</td>
											<td style="text-align:center;font-size:12px;"></td>
											<td style="text-align:center;font-size:12px;"></td>
											<td></td>
										</tr>
									}

								}
							}
						</table>

						<div>
							<table style="border-bottom-width:0px; border-bottom-style: solid; border-bottom-color: gray; width:100%;"><tr><td>&nbsp;</td></tr></table>
						</div>

						@if (Model.Budget_Activity_list.ElementAt(0).budget_id != null)
						{
							@Html.Action("approvePositionSignatureLists", "BudgetApprove", new { actId = Model.Budget_Activity_list.ElementAt(0).budget_id })
						}

					</div>


				</div>
			</div>

			<div class="modal-footer">
				<div>
					<p class="d-flex justify-content-center">

						<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="onClickClose();"><i class="fa fa fa-reply fa-fw"></i>&nbsp;Close</button>
						@if (count_wait_approve == 0)
						{
							<button type="button" class="btn btn-success pull-right" data-dismiss="modal" onclick="onClickSubmitApprove();"><i class="fa fa fa-print fa-fw"></i>&nbsp;Submit to Approve</button>
						}
					</p>
				</div>

			</div>



		</div>
	</div>
}