@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model

<div id="divHeaderDetailsCost" runat="server" style="width: 100%;padding-left:15px;padding-right:15px;">
    รายละเอียดงบประมาณ
    <table class="table table-bordered" id="tabelHeaderDetails" runat="server">
        <tr style="background-color:#2f74b5;color:white;height:25px;">
            <th style="width: 15%;border-style: solid;border-width: 0px 1px 0px 1px; border-collapse: collapse;text-align:center;">IO</th>
            <th style="width: 10%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">ประเภท</th>
            <th style="width: 40%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">กิจกรรมหรือรายละเอียด</th>
            <th style="width: 5%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">จำนวน</th>
            <th style="width: 15%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">ราคาต่อหน่วย</th>
            <th style="width: 15%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">จำนวนเงินรวม</th>
        </tr>
        @{ var index = 0;}
        @foreach (var item in Model.costThemeDetailOfGroupByPriceTBMMKT)
        {
            <tr>

                <td style="width: 15%;border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse;text-align:center;">
                    <input type="hidden" value="@item.id" id="costThemeDetailOfGroupByPriceTBMMKT[@index].id" name="costThemeDetailOfGroupByPriceTBMMKT[@index].id" class="form-control textboxcss" />
                    <input type="text" value="@item.IO" id="costThemeDetailOfGroupByPriceTBMMKT[@index].IO" name="costThemeDetailOfGroupByPriceTBMMKT[@index].IO" class="form-control textboxcss clstxtIO" />
                </td>
                <td style="width: 10%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                    @Html.DropDownList("costThemeDetailOfGroupByPriceTBMMKT[" + index + "].activityTypeId", new SelectList(Model.activityGroupList, "activityTypeId", "activitySales", item.activityTypeId), "", new { @class = "form-control selectpicker" })
                </td>
                <td style="width: 40%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                    <input type="text" value="@item.productDetail" id="costThemeDetailOfGroupByPriceTBMMKT[@index].productDetail" name="costThemeDetailOfGroupByPriceTBMMKT[@index].productDetail" class="form-control textboxcss" />
                </td>
                <td style="width: 5%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                    <input type="text" value="@item.unit" id="costThemeDetailOfGroupByPriceTBMMKT[@index].unit" name="costThemeDetailOfGroupByPriceTBMMKT[@index].unit" class="form-control textboxcss ddlunit_@index" />
                    <script>
                        $(".ddlunit_@index").blur(function () {
                            var v_unitRow = 0.00;
                            var v_unitpriceRow = 0.00;
                            var v_totalRow = 0.00;
                            if ($(".ddlunit_@index").val() != "" && parseFloat($(".ddlunit_@index").val()) != "0") {
                                v_unitRow = parseFloat($(".ddlunit_@index").val());
                            }
                            if ($(".ddlunitPrice_@index").val() != "" && parseFloat($(".ddlunitPrice_@index").val()) != "0") {
                                v_unitpriceRow = parseFloat($(".ddlunitPrice_@index").val());
                            }
                            v_totalRow = (v_unitRow * v_unitpriceRow);
                            $(".ddltotal_@index").val(v_totalRow); 
                            calTotal();
                        });
                    </script>
                </td>
                <td style="width: 15%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                    <input type="text" value="@item.unitPrice" id="costThemeDetailOfGroupByPriceTBMMKT[@index].unitPrice" name="costThemeDetailOfGroupByPriceTBMMKT[@index].unitPrice" class="form-control textboxcss text-right ddlunitPrice_@index" />
                    <script>
                        $(".ddlunitPrice_@index").blur(function () {
                            var v_unitRow = 0.00;
                            var v_unitpriceRow = 0.00;
                            var v_totalRow = 0.00;
                            if ($(".ddlunit_@index").val() != "" && parseFloat($(".ddlunit_@index").val()) != "0") {
                                v_unitRow = parseFloat($(".ddlunit_@index").val());
                            }
                            if ($(".ddlunitPrice_@index").val() != "" && parseFloat($(".ddlunitPrice_@index").val()) != "0") {
                                v_unitpriceRow = parseFloat($(".ddlunitPrice_@index").val());
                            }
                            v_totalRow = (v_unitRow * v_unitpriceRow);
                            $(".ddltotal_@index").val(v_totalRow);                            
                        });
                    </script>
                </td>
                <td style="width: 15%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:right;">
                    <input type="text" readonly="readonly" value="@item.total" id="costThemeDetailOfGroupByPriceTBMMKT[@index].total" name="costThemeDetailOfGroupByPriceTBMMKT[@index].total" class="form-control textboxcss text-right ddltotal_@index" />
                </td>
            </tr>
            index++;
        }
        <tr>
            <td colspan="5" style="width: 85%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:right;">
                TOTAL&nbsp;
            </td>
            <td style="width: 15%;border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse;text-align:right;">
                0,000.00&nbsp;
            </td>
        </tr>
    </table>
    <script>
        function calTotal() {
            var rowCount = $('#tabelHeaderDetails >tr').lenght();
            alert(rowCount);
        }
    </script>
</div>