@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model
<div id="divHeaderDetails" runat="server" style="width: 100%;">
    <table style="width: 100%;" id="tabelHeaderDetails" runat="server">
        <tr>
            <td style="width: 15%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-left:none;border-top:none;">
                &nbsp;
                <label class="control-label" >วันที่เสนอกิจกรรม</label>
            </td>
            <td colspan="3" style="border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-right:none;border-top:none;">
                @Html.TextBoxFor(x => x.activityFormModel.documentDate, new { @class = "form-control textboxcss", @id = "txtdateDoc" })
                <div style="height:5px;"></div>
            </td>
        </tr>
        <tr>
            <td style="width: 15%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-left:none;">
                &nbsp;<label class="control-label">ชื่อผู้เสนอกิจกรรม</label>
</td>
            <td style="width: 55%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-right:none;">
                <label class="form-control textboxcss">@UtilsAppCode.Session.User.empFNameTH  @UtilsAppCode.Session.User.empLNameTH </label>
                <div style="height:5px;"></div>
            </td>
            <td style="width: 10%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-right:none;border-left:none;">
                &nbsp;<label class="control-label">เบอร์โทรศัพท์</label>
</td>
            <td style="width: 20%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-right:none;border-left:none;">
                @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.activityTel, new { @class = "form-control textboxcss", @id = "txtactivityTel" })
                <div style="height:5px;"></div>
            </td>
        </tr>
        <tr>
            <td style="width: 15%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-left:none;">
                &nbsp;<label class="control-label">สินค้า</label>
</td>
            <td style="width: 55%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-right:none;">
                @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.activityProduct, new { @class = "form-control textboxcss", @id = "txtactivityProduct" })
                <div style="height:5px;"></div>
            </td>
            <td style="width: 10%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-right:none;border-left:none;">
                &nbsp;<label class="control-label">เอกสารเลขที่</label>
</td>
            <td style="width: 20%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-right:none;border-left:none;">
                @Html.TextBoxFor(x => x.activityFormModel.activityNo, new { @class = "form-control textboxcss", @id = "txtActivityNo", @readonly = "readonly" })
                <div style="height:5px;"></div>
            </td>
        </tr>
        <tr>
            <td style="width: 15%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-left:none;">
                &nbsp;<label class="control-label">ชื่อกิจกรรม</label>
</td>
            <td style="width: 55%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-right:none;">
                    @Html.TextBoxFor(x => x.activityFormModel.activityName, new { @class = "form-control textboxcss", @id = "txtActivityName" })
                    <div style="height:5px;"></div>
                </td>
                <td style="width: 10%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-right:none;border-left:none;">
                    &nbsp;<label class="control-label">EO</label>
</td>
                <td style="width: 20%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-right:none;border-left:none;">
                    @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.EO, new { @class = "form-control textboxcss", @id = "txtEO" })
                    <div style="height:5px;"></div>
                </td>




            @*<td colspan="3">

               <div class="col-md-6 ol-xs-12">
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.activityFormModel.activityName, new { @class = "form-control textboxcss", @id = "txtActivityName" })


                </div>
                <div class="col-sm-2">EO                    </div>
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.EO, new { @class = "form-control textboxcss", @id = "txtEO" })


                </div>

</div>
               
            </td>*@

        </tr>
<tr>
    <td style="width: 15%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-left:none;border-bottom:none;">
        &nbsp;<label class="control-label">เริ่มกิจกรรม</label>
</td>
    <td colspan="3" style="border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-right:none;border-bottom:none; text-align :left ;">
        @*@Html.TextBoxFor(x => x.activityFormModel.activityPeriodSt, "{0:dd-MM-yyyy}", new { @class = "form-control textboxcss", id = "txtdateActivitySt" })
            &nbsp;ถึง&nbsp;
            @Html.TextBoxFor(x => x.activityFormModel.activityPeriodEnd, "{0:dd-MM-yyyy}", new { @class = "form-control textboxcss", id = "txtactivityPeriodEnd" })*@


        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div style="height:5px;"></div>
                @Html.TextBoxFor(x => x.activityFormModel.activityPeriodSt, "{0:dd-MM-yyyy}", new { @class = "form-control textboxcss", id = "txtdateActivitySt" })
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div style="height:5px;"></div>
                @Html.TextBoxFor(x => x.activityFormModel.activityPeriodEnd, "{0:dd-MM-yyyy}", new { @class = "form-control textboxcss", id = "txtdateActivityEnd" })
            </div>
        </div>



    </td>

</tr>
<tr>
    <td style="width: 15%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-left:none;border-bottom:none;vertical-align:top;">
        <div style="height:25px;"></div>
        &nbsp;<label class="control-label">วัตถุประสงค์</label>
</td>
    <td colspan="3" style="width: 55%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;border-right:none;border-bottom:none;">
        <div style="height:5px;"></div>
        @Html.TextAreaFor(x => x.activityFormModel.objective, new { @class = "form-control textboxcss", @id = "txtObjective" })
        <div style="height:15px;"></div>
    </td>
</tr>
    </table>

</div>