@*@model eActForm.Models.Activity_TBMMKT_Model*@
<div id="divPlaceDetails" runat="server" style="width: 100%;">
    <table  border="0" style="width: 80%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;" id="tabelPlaceDetails" runat="server">
        <tr style="height:25px;">
            <th style="width: 60%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;text-align:left;"><b>Place (Country) / สถานที่ (จังหวัด</b>)</th>
            <th style="width: 40%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;text-align:left;"><b>Date / วันที่</b></th>

        </tr>
        @{ var index = 0;}
        @for (index = 1; index <= 3; index++)
        {
            <tr>
                <td style="width: 40%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;text-align:left;">ตลาดนัดเครื่องบิน จ. นครปฐม</td>
                <td style="width: 30%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;text-align:left;">15 มี.ค. 2562</td>

            </tr>
        }
        @*@foreach (var item in Model.costThemeDetailOfGroupByPriceTBMMKT)
            {
                if (item.productDetail != "")
                {
                    <tr>
                        <td style="width: 15%;border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse;text-align:center;">
                            @item.IO
                        </td>
                        <td style="width: 50%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:left;padding-left:5px;">
                            @item.productDetail
                        </td>
                        @if (item.unit != 0)
                        {
                            <td style="width: 5%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                                @item.unit @item.QtyName
                            </td>
                        }
                        else
                        {
                            <td style="width: 5%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;"></td>
                        }

                        @if (item.unitPrice != 0)
                        {
                            <td style="width: 15%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                                @item.unitPriceDisplay
                            </td>
                        }
                        else
                        {
                            <td style="width: 15%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;"></td>
                        }

                        @if (item.total != 0)
                        {
                            <td style="width: 15%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:right;">
                                @string.Format("{0:#,0.00}", @item.total)
                            </td>
                        }
                        else
                        {
                            <td style="width: 15%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:right;"></td>
                        }
                    </tr>
                }
                index++;
            }*@


    </table>

</div>
