

@using eActForm.BusinessLayer
@using System.Configuration;
@model eActForm.Models.Activity_TBMMKT_Model
@{ 
    Layout = null;
}
<style>
    .cssborderbottom {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: gray;
    }

    .font8 {
        font-size: 8px;
    }

    .font11 {
        font-size: 11px;
    }

    .textRight {
        text-align: right;
    }

    .textLeft {
        text-align: left;
    }

    .line-breaks {
        white-space: pre-line;
    }
</style>

<div>
    <table style="width:97%; margin-top:30px; margin-left: 20px;">
        <tr style="height:20px;">
            <td width="140px;" class="fontSigV1">
                <b>วันที่เสนอ </b>
            </td>
            <td class="fontSigV1" width="260px;" style="margin-left:10px;">
                :&nbsp; @Model.activityFormTBMMKT.documentDate.Value.ToString("dd/MM/yyyy")
            </td>
            <td width="20px;"></td>
            <td class="fontSigV1">
                <b>เอกสารเลขที่ </b>
            </td>
            <td class="fontSigV1">
                :&nbsp; @Html.DisplayFor(item => item.activityFormModel.activityNo)
            </td>

        </tr>
        <tr style="height:20px;">
            <td class="fontSigV1">
                <b> ชื่อผู้เสนอ </b>
            </td>
            <td class="fontSigV1">
                :&nbsp; @Html.DisplayFor(item => item.tB_Act_ActivityForm_DetailOther.toContact)
            </td>
            <td></td>
            <td class="fontSigV1" width="150px;"><b>เบอร์โทรศัพท์ </b></td>
            <td class="fontSigV1" width="160px;"> :&nbsp;@Html.DisplayFor(item => item.tB_Act_ActivityForm_DetailOther.activityTel) </td>
        </tr>
        <tr style="height:20px;">
            <td class="fontSigV1">
                <b> สินค้า </b>
            </td>
            <td class="fontSigV1">
                :&nbsp; @Html.DisplayFor(item => item.tB_Act_ActivityForm_DetailOther.activityProduct)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="height:20px;">
            <td class="fontSigV1">
                <b>ชื่อกิจกรรม </b>
            </td>
            <td class="fontSigV1">
                :&nbsp; @Html.DisplayFor(item => item.activityFormTBMMKT.activityName)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="height:20px;">
            <td class="fontSigV1">
                <b> เลขที่ใบอนุมัติงบกิจกรรม </b>
            </td>
            <td class="fontSigV1">
                :&nbsp; @Html.DisplayFor(item => item.activityFormTBMMKT.activityDetail)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="height:20px;">
            <td class="fontSigV1">
                <b>วัตถุประสงค์ </b>
            </td>
            <td class="fontSigV1">
                :&nbsp; @Html.DisplayFor(item => item.activityFormTBMMKT.objective)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>

