

@using eActForm.BusinessLayer
@using System.Configuration;
@model eActForm.Models.Activity_TBMMKT_Model

<style>
    .cssborderbottom {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: gray;
    }

    .font8 {
        font-size: 8px;
    }

    .font11 {
        font-size: 11px;
    }

    .textRight {
        text-align: right;
    }

    .textLeft {
        text-align: left;
    }

    .line-breaks {
        white-space: pre-line;
    }
</style>

<div>
    <table style="width:97%; margin-top:30px; margin-left: 20px;">
        <tr>
            <td width="140px;" class="fontDoc12">
                <b>วันที่เสนอ :</b>
            </td>
            <td width="260px;" style="margin-left:10px;">
                @Model.activityFormTBMMKT.documentDate.Value.ToString("dd/MM/yyyy")
            </td>
            <td width="20px;"></td>
            <td class="fontDoc12">
                <b>เอกสารเลขที่ :</b>
            </td>
            <td class="fontDoc12">
                @Html.DisplayFor(item => item.activityFormModel.activityNo)
            </td>

        </tr>
        <tr>
            <td class="fontDoc12">
                <b> ชื่อผู้เสนอ :</b>
            </td>
            <td class="fontDoc12">
                @Html.DisplayFor(item => item.tB_Act_ActivityForm_DetailOther.toContact)
            </td>
            <td></td>
            <td class="fontDoc12" width="150px;"><b>เบอร์โทรศัพท์ :</b></td>
            <td class="fontDoc12" width="160px;"> @Html.DisplayFor(item => item.tB_Act_ActivityForm_DetailOther.activityTel) </td>
        </tr>
        <tr>
            <td class="fontDoc12">
                <b> สินค้า :</b>
            </td>
            <td class="fontDoc12">
                @Html.DisplayFor(item => item.tB_Act_ActivityForm_DetailOther.activityProduct)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="fontDoc12">
                <b>ชื่อกิจกรรม :</b>
            </td>
            <td class="fontDoc12">
                @Html.DisplayFor(item => item.activityFormTBMMKT.activityName)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="fontDoc12">
                <b> เลขที่ใบอนุมัติงบกิจกรรม :</b>
            </td>
            <td class="fontDoc12">
                @Html.DisplayFor(item => item.activityFormTBMMKT.activityDetail)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="fontDoc12">
                <b>วัตถุประสงค์ :</b>
            </td>
            <td class="fontDoc12">
                @Html.DisplayFor(item => item.activityFormTBMMKT.objective)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>

