@using System.Configuration;
@model eActForm.Models.ApproveModel.approveModels
@using eActForm.BusinessLayer;
@{ 
    DocumentsAppCode.setCulture(Request.Cookies[ConfigurationManager.AppSettings["nameCookieLanguageEact"]].Value.ToString());
}
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <div style=""></div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div id="Grid" style="width:97%; margin-left:20px;">
                <table id="dtApproveLists" class="table table-striped table-hover">
                    <thead>
                        <tr style="background-color:#2B5D95;color:#ffffff;">
                            <th>@Resources.Global.rank</th>
                            <th>@Resources.Global.name</th>
                            <th>@Resources.Global.status</th>
                            <th>@Resources.Global.approveDate</th>
                            <th>@Resources.Global.reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.approveDetailLists.Any())
                        {
                            foreach (var item in Model.approveDetailLists)
                            {
                                <tr class="gradeX">
                                    <td>@item.rangNo</td>
                                    <td>@item.empId</td>
                                    @if (Request.Cookies[ConfigurationManager.AppSettings["nameCookieLanguageEact"]].Value.ToString() == ConfigurationManager.AppSettings["cultureThai"])
                                    {
                                        <td>@item.empName</td>
                                    }
                                    else if (Request.Cookies[ConfigurationManager.AppSettings["nameCookieLanguageEact"]].Value.ToString() == ConfigurationManager.AppSettings["cultureEng"])
                                    {
                                        <td>@item.empName_EN</td>
                                    }
                                    <td>
                                        @{
                                            string valStatusName = "";
                                            if (Request.Cookies[ConfigurationManager.AppSettings["nameCookieLanguageEact"]].Value.ToString() == ConfigurationManager.AppSettings["cultureThai"])
                                            {
                                                valStatusName = item.statusName;
                                            }
                                            else if (Request.Cookies[ConfigurationManager.AppSettings["nameCookieLanguageEact"]].Value.ToString() == ConfigurationManager.AppSettings["cultureEng"])
                                            {
                                                valStatusName = item.statusNameEN;
                                            }                                            

                                            var status = item.statusId == "" ? Resources.Global.notApprove : valStatusName;

                                            if (item.isApprove == false)
                                            {
                                                status = Resources.Global.dearToInform;
                                            }
                                        } @status
                                    </td>
                                    <td>@{ var date = item.statusId == "3" || item.statusId == "5" ? item.updatedDate.Value.ToString("dd/MM/yyyy HH:mm") : "";} @date</td>
                                    <td>
                                        @item.remark
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <p class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa fa-reply fa-fw"></i>&nbsp;Close</button>
                </p>
            </div>

        </div>
    </div>
</div>