@using eActForm.Models
@using eActForm.BusinessLayer
@using System.Configuration;
@model eActForm.Models.Activity_Model.actForms

<script>

        function checkBeforeDelete(actId, statusId) {
            //get statusNOte
            checkComp(actId);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("getStatusNote", "Home")',
                data: {
                    actId: actId
                }
            }).done(function (response) {
                if (response.Message != "") {
                    $('#hdStatusNote').val("สาเหตุการยกเลิก : " + response.Message + "<br/>");
                } else {
                    $('#hdStatusNote').val("");
                }
                chkInvoiceBeforeDel(actId, statusId);
            });
        }

        function chkInvoiceBeforeDel(actId, statusId) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("checkActInvoice", "Home")',
                data: {
                    actId: actId
                }
            }).done(function (response) {
                if (response.Success) {
                    doMsgFail("เอกสารฉบับนี้ไม่สามารถ ยกเลิกได้ <br/> เนื่องจากเปิด Invoice ไปแล้ว");
                    console.log(response.Success);
                    return false;
                }
                else {

                    //ถ้าเป็น TBM HCM จะแสดง popup ให้ใส่เหตุผล
                    if ((statusId == "3" || statusId == "5") && ($("#hdChkComp").val() == "true")) {
                        document.getElementById("hdActId").value = actId;
                        document.getElementById("hdStatusId").value = statusId;
                        document.getElementById("txtStatusNote").value = "";

                        if (statusId == "5") {
                            document.getElementById("lblMess").textContent = "คุณต้องการยกเลิกเอกสารนี้หรือไม่ กรุณาระบุเหตุผลในการยกเลิก";
                        } else {
                            document.getElementById("lblMess").textContent = "ระบบจะดำเนินการส่งเรื่องไปยัง Admin เพื่อดำเนินการยกเลิกเอกสารนี้ กรุณาระบุเหตุผลในการยกเลิก";
                        }
                        $('#modalStatusNote').modal('show');
                    }
                    else {
                        checkDelete(actId, statusId);
                    }

                }
            });
        }

        function checkDelete(actId, statusId) {

            var msg = "";
            if (statusId == "1" ||
                (statusId == "6" && '@ActFormAppCode.isAdmin()' == "True") ||
                (statusId == "5" && ($("#hdChkComp").val() == "true" || '@ActFormAppCode.isAdmin()' == "True"))
            ) {
                // can be delete
                msg = document.getElementById("hdStatusNote").value + "คุณต้องการยกเลิกเอกสารนี้หรือไม่?"
            }
            else {
                // can't delete
                msg = "ระบบจะดำเนินการส่งเรื่องไปยัง Admin เพื่อดำเนินการยกเลิกเอกสารนี้ <br/> ท่านต้องการยกเลิกเอกสารหรือไม่?";
            }

            bootbox.confirm({
                title: "Confirm Message",

                message: msg,
                buttons: {
                    confirm: {
                        label: "Yes",
                        className: "btn-success"
                    },
                    cancel: {
                        label: "No",
                        className: "btn-danger"
                    }
                },
                callback: function (result) {
                    if (result) {
                        requestDeleteDoc(actId, statusId, "")
                    }
                }
            });
        }

        function requestDeleteDoc(actId, statusId, statusNote) {
            $("#WaitDialog").show();
            $.ajax({
                url: '@Url.Action("requestDeleteDoc", "Home")',
                data: {
                    actId: actId,
                    statusId: statusId,
                    statusNote: statusNote,
                    typeForm: '@Model.typeForm',
                },
            }).done(function (htmlResponse) {
                $("#getQuery").html(htmlResponse);
                $("#WaitDialog").hide();
                doMsgSuccess("ดำเนินการยกเลิกเอกสารเรียบร้อย")
            });
        }

    function callApproveList(actId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("approveLists", "Home")',
            data: {
                actId: actId
            }
        }).done(function (response) {
            $("#divModalApprovelist").html(response)
            $('#modalApprovelist').modal('show');
        });
    }

    function callPreviewPostEva(actId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("previewEvaByActId", "actFormRepPostEva")',
            data: {
                actId: actId
            }
        }).done(function (response) {


            var w = window.open('about:blank');
            w.document.open();
            w.document.write(response);
            w.document.close();

            //$("#divModalApprovelist").html(response)
            //$('#modalApprovelist').modal('show');
        });
    }



        function resendApprove(actId) {
            $("#WaitDialog").show();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("resendApprove", "Base")',
                data: {
                    actId: actId
                }
            }).done(function (response) {
                $("#WaitDialog").hide();
                if (response.Success) {
                    doMsgSuccess("ดำเนินการเรียบร้อย")
                } else {
                    doMsgFail(response.Message);
                }
            });
        }
        function confirmCc() {
            var actId = document.getElementById("hdActId").value;
            var statusId = document.getElementById("hdStatusId").value;
            var StatusNote = document.getElementById("txtStatusNote").value;
            if (StatusNote == "") {
                alert("กรุณาระบุเหตุผล");
            } else {
                $('#modalStatusNote').modal('hide');
                requestDeleteDoc(actId, statusId, StatusNote);
                document.getElementById("txtStatusNote").value = "";
            }
        }

        function checkComp(actId) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("checkCompany", "Home")',
                data: {
                    actId: actId
                }
            }).done(function (response) {
                $("#hdChkComp").val(response.Success);
            });
        }

</script>
<div class="row">
    <input type="hidden" id="hdActId" value="" />
    <input type="hidden" id="hdStatusId" value="" />
    <input type="hidden" id="hdStatusNote" value="" />
    <input type="hidden" id="hdChkComp" value="" />

    <div class="col-md-12 col-xs-12">

    </div>
    <div class="col-md-12 col-xs-12">
        <a class="btn ink-reaction glyphicon glyphicon-retweet" href="#"></a>คือ Regen PDF
        <a class="btn ink-reaction btn-danger fa fa-trash-o" href="#"></a>คือ Delete
        <a class="btn ink-reaction btn-info fa fa-edit" href="#"></a>คือ Edit
        <a class="btn ink-reaction btn-success fa fa-search" href="#"></a>คือ View PDF
        <a class="btn ink-reaction btn-dark fa fa-eye" href="#"></a>คือ History Approve
        <a class="btn ink-reaction btn-info fa fa-envelope-o" href="#"></a>คือ Resend Email

        <table id="datatable" class="table table-striped table-hover">
            <thead>
                <tr style="background-color:#2B5D95;color:#ffffff;">
                    <th width="150" style="text-align:center;">#</th>
                    <th>Status</th>
                    <th>Doc.Date</th>
                    <th>Act.No</th>
                    <th width="150">Act.Name</th>
                    <th>Customer</th>
                    <th>Category</th>
                    <th width="80">Cost</th>
                    <th width="80">Create Date</th>
                    <th width="80">Create By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.actLists)
                {
                    <tr class="gradeX">
                        <td width="200">
                            @if (item.statusId == "2" || item.statusId == "3")
                            {
                                <a href="javascript:" onclick="return callPreviewApprove('@item.id','@item.statusId','@Model.typeForm','@item.master_type_form_id');">
                                    <i class="btn glyphicon glyphicon-retweet"></i>&nbsp;
                                </a>
                            }
                            @if (item.statusId == "1" || item.statusId == "5" || (item.statusId == "6" && @ActFormAppCode.isAdmin()) ||
                                                                (item.statusId == "3" && item.companyId == ConfigurationManager.AppSettings["companyId_MT"])
                                                                || (item.statusId == "3" && item.companyId == ConfigurationManager.AppSettings["companyId_OMT"])
                                                                || (item.statusId == "3" && item.companyId == ConfigurationManager.AppSettings["companyId_TBM"]))
                            {
                                <a href="javascript:" onclick="return checkBeforeDelete('@item.id','@item.statusId');">
                                    <i class="btn ink-reaction btn-danger fa fa-trash-o"></i>&nbsp;
                                </a>
                            }


                            <a onclick="callApproveList('@item.id');">
                                <i class="btn ink-reaction btn-dark fa fa-eye"></i>
                            </a>

                            @if (item.statusId == "2")
                            {

                                <a onclick="resendApprove('@item.id');">
                                    <i class="btn ink-reaction btn-info fa fa-envelope-o"></i>
                                </a>
                            }

                            @if (item.companyId == ConfigurationManager.AppSettings["companyId_MT"])
                            {
                                <a href="javascript:" onclick="return callPreviewPostEva('@item.id');">
                                    <i class="btn ink-reaction btn-warning glyphicon glyphicon-stats" style="height:28px; margin-bottom:5px"></i>
                                </a>
                            }
                            @*@Html.ActionLink(" ", "previewEvaByActId", "actFormRepPostEva", new { actId = @item.id }, new { @class = "btn glyphicon glyphicon-stats", target = "_blank" })*@


                            @if (Model.typeForm == Activity_Model.activityType.MT.ToString())
                            {
                                @Html.ActionLink(" ", "ActivityForm", "Activity", new { activityId = item.id, mode = Activity_Model.modeForm.edit, typeForm = Activity_Model.activityType.MT.ToString() }, new { @class = "btn ink-reaction btn-info fa fa-edit", onclick = "waitpopup();", })
                            }
                            else if (Model.typeForm == Activity_Model.activityType.SetPrice.ToString())
                            {
                                @Html.ActionLink(" ", "Index", "MainForm", new { activityId = item.id, mode = Activity_Model.modeForm.edit, typeForm = Activity_Model.activityType.SetPrice.ToString(), master_type_form_id = item.master_type_form_id }, new { @class = "btn ink-reaction btn-info fa fa-edit", onclick = "waitpopup();", })
                            }
                            else if (Model.typeForm == Activity_Model.activityType.OMT.ToString())
                            {
                                @Html.ActionLink(" ", "ActivityForm", "Activity", new { activityId = item.id, mode = Activity_Model.modeForm.edit, typeForm = Activity_Model.activityType.OMT.ToString() }, new { @class = "btn ink-reaction btn-info fa fa-edit", onclick = "waitpopup();", })
                            }


                            else if ((@Array.AsReadOnly(AppCode.checkDocTBM).Contains(item.master_type_form_id)))
                            {
                                @Html.ActionLink(" ", "Index", "MainForm", new { activityId = item.id, mode = Activity_Model.modeForm.edit, typeForm = Activity_Model.activityType.TBM.ToString(), master_type_form_id = item.master_type_form_id }, new { @class = "btn ink-reaction btn-info fa fa-edit", onclick = "waitpopup();", })

                                if (item.master_type_form_id == ConfigurationManager.AppSettings["formAdvTbmId"] && item.statusId == "3")
                                {
                                    @Html.ActionLink(" ", "Index", "MainForm", new { activityId = item.id, mode = Activity_Model.modeForm.edit, typeForm = Activity_Model.activityType.TBM.ToString(), master_type_form_id = ConfigurationManager.AppSettings["masterEmpExpense"] }, new { @class = "btn ink-reaction btn-warning fa fa-bitcoin", onclick = "waitpopup();", })
                                }
                            }
                            else if ((@Array.AsReadOnly(AppCode.checkDocHC).Contains(item.master_type_form_id)))
                            {
                                @Html.ActionLink(" ", "Index", "MainForm", new { activityId = item.id, mode = Activity_Model.modeForm.edit, typeForm = Activity_Model.activityType.HCForm.ToString(), master_type_form_id = item.master_type_form_id }, new { @class = "btn ink-reaction btn-info fa fa-edit", onclick = "waitpopup();", })

                                if (item.master_type_form_id == ConfigurationManager.AppSettings["formAdvTbmId"] && item.statusId == "3")
                                {
                                    @Html.ActionLink(" ", "Index", "MainForm", new { activityId = item.id, mode = Activity_Model.modeForm.edit, typeForm = Activity_Model.activityType.TBM.ToString(), master_type_form_id = ConfigurationManager.AppSettings["masterEmpExpense"] }, new { @class = "btn ink-reaction btn-warning fa fa-bitcoin", onclick = "waitpopup();", })
                                }
                            }
                            else if ((@Array.AsReadOnly(AppCode.checkDocIT).Contains(item.master_type_form_id)))
                            {
                                @Html.ActionLink(" ", "Index", "MainForm", new { activityId = item.id, mode = Activity_Model.modeForm.edit, typeForm = Activity_Model.activityType.ITForm.ToString(), master_type_form_id = item.master_type_form_id }, new { @class = "btn ink-reaction btn-info fa fa-edit", onclick = "waitpopup();", })
                            }
                            else if ((@Array.AsReadOnly(AppCode.checkDocAll).Contains(item.master_type_form_id)))
                            {
                                @Html.ActionLink(" ", "Index", "MainForm", new { activityId = item.id, mode = Activity_Model.modeForm.edit, typeForm = Activity_Model.activityType.EXPENSE.ToString(), master_type_form_id = item.master_type_form_id }, new { @class = "btn ink-reaction btn-info fa fa-edit", onclick = "waitpopup();" })
                            }
                            @if (item.statusId == "2" || item.statusId == "3" || (Model.typeForm == Activity_Model.activityType.MT.ToString() || Model.typeForm == Activity_Model.activityType.OMT.ToString() && item.statusId != "1"))
                            {
                                @Html.ActionLink(" ", "getPDF", "ActivityViewer", new { actId = item.id, type = AppCode.ApproveType.Activity_Form.ToString() }, new { @class = "btn ink-reaction btn-success fa fa-search", target = "_blank" })
                            }
                        </td>
                        <td>@item.statusName</td>
                        <td>@{var date = item.documentDate == null ? "" : DocumentsAppCode.convertDateTHToShowCultureDateEN(item.documentDate, ConfigurationManager.AppSettings["formatDateUse"]);} @date </td>
                        <td>@item.activityNo</td>
                        <td>@item.activityName.Replace("<br/>", "")</td>
                        <td>@item.cusShortName</td>
                        <td>@item.productCategory</td>
                        <td>

                            @if (@item.totalCost != 0)
                            {
                                string result = String.Format("{0:n2}", @item.totalCost);
                                @result.ToString();
                            }
                        </td>
                        <td>@{ date = item.createdDate == null ? "" : DocumentsAppCode.convertDateTHToShowCultureDateEN(item.createdDate, ConfigurationManager.AppSettings["formatDateUse"]);} @date</td>
                        <td>@item.createByUserName</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="modalApprovelist" role="dialog" style="display:none">
    <div id="divModalApprovelist">
    </div>
</div>

<div class="modal fade" id="modalStatusNote" role="dialog" style="display:none">
    <div id="divModalStatusNote">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <h5>  <label class="col-md-10 col-xs-10"> Confirm Message</label></h5>
                        <div class="col-md-2 col-xs-2">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                    </div>
                </div>
                <div class="modal-body">
                    @*<div id="Grid" style="width:97%; margin-left:20px;"> </div>*@
                    <label id="lblMess"></label>
                    @*<textarea class="form-control textboxcss" cols="20" id="txtStatusNote" rows="2"></textarea>*@
                    <textarea name="txtStatusNote" id="txtStatusNote" class="form-control textboxcss" rows="3" cols="50"
                              required="" style="border:solid;border-color:#ddd;border-width:thin;"></textarea>
                </div>
                <div class="modal-footer">
                    <div>
                        <p class="d-flex justify-content-center">

                            <button type="button" class="btn btn-danger bootbox-cancel" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-success bootbox-accept" onclick="confirmCc();">Yes</button>

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="newGenReportFromMaster" style="display:none;">

</div>

<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 0 },
                { "orderable": false, "targets": 3 },
                { "orderable": false, "targets": 4 }
            ],
            "dom": 'lCfrtip',
            "order": [],
            "language": {
                "lengthMenu": '_MENU_ entries per page',
                "search": '<i class="fa fa-search"></i>',
                "paginate": {
                    "previous": '<i class="fa fa-angle-left"></i>',
                    "next": '<i class="fa fa-angle-right"></i>'
                }
            }
        });

    });
    function waitpopup() {
        $("#WaitDialog").show();
    }

    function callPreviewApprove(actId, statusId, typeForm, master_type_form_id) {
        waitpopup();

        if (master_type_form_id == "@ConfigurationManager.AppSettings["formBgTbmId"]" || master_type_form_id == "@ConfigurationManager.AppSettings["formAdvTbmId"]"
            || master_type_form_id == "@ConfigurationManager.AppSettings["formTrvTbmId"]" || master_type_form_id == "@ConfigurationManager.AppSettings["formPosTbmId"]"
            || master_type_form_id == "@ConfigurationManager.AppSettings["formTrvHcmId"]" || master_type_form_id == "@ConfigurationManager.AppSettings["formAdvHcmId"]"
            || master_type_form_id == "@ConfigurationManager.AppSettings["formPaymentVoucherTbmId"]"
            || master_type_form_id == "@ConfigurationManager.AppSettings["masterEmpExpense"]"
            || master_type_form_id == "@ConfigurationManager.AppSettings["formExpTrvNumId"]"
            || master_type_form_id == "@ConfigurationManager.AppSettings["formCR_IT_FRM_314"]"
            || master_type_form_id == "@ConfigurationManager.AppSettings["formExpMedNumId"]"
            || master_type_form_id == "@ConfigurationManager.AppSettings["formSetPriceMT"]"
            || master_type_form_id == "@ConfigurationManager.AppSettings["formReceptions"]"
        ) {
             $.ajax({
                type: 'POST',
                url: '@Url.Action("Index", "MainReport")',
                data: {
                    activityId: actId
                }
             }).done(function (htmlResponse) {
                genPdf(actId, statusId, htmlResponse);
            });
        }
        else {
             $.ajax({
                type: 'POST',
                url: '@Url.Action("previewApprove", "Approve")',
                data: {
                    actId: actId
                }
            }).done(function (htmlResponse) {
                genPdf(actId, statusId, htmlResponse);
            });
        }
    }


    function genPdf(actId, statusId, htmlResponse) {

        $("#newGenReportFromMaster").html(htmlResponse);
        $.ajax({
            url: '@Url.Action("genPdfApprove", "Documents")',
            data: {
                GridHtml: $("#divForm").html(),
                statusId: statusId,
                activityId: actId,
            },
            dataType: "json",
            type: 'POST',
        }).done(function (response) {
            $("#WaitDialog").hide();
            doMsgSuccess("ดำเนินการเรียบร้อย");
        });
    }

</script>