
@model eActForm.Models.ApproveModel.approveModels


<table class="tablethin" style="text-align:center;" border="1" cellpadding="0" cellspacing="0">
	<tr>

		@foreach (var item in Model.approveFlowDetail)
		{
			if (item.isShowInDoc)
			{
				<td style="width:150px;">
					<div style="font-size:12.5px;">
						@item.approveGroupName
					</div>
					<div style="font-size:12.5px;">
						(@item.approveGroupNameEN)
					</div>
				</td>
			}
		}
	</tr>

	<tr>
		@{ var index = 0;}
		@foreach (var item in Model.approveFlowDetail)
		{
			if (item.isShowInDoc) //กรูเจอแล้วววววววว เข้
			{
				if (Model.approveDetailLists != null && Model.approveDetailLists.Count > index && Model.approveDetailLists[index].empId == item.empId && Model.approveDetailLists[index].statusId == "3")
				{
				<td>
					<img style="text-align:center;" width="150" height="100" src="@Model.approveDetailLists[index].ImgName" />
					@*<img style="text-align:center;" width="150" height="100" src="~/signature/11025960.png" />*@
				</td>
				}
				else
				{
					<td>
						<div style="text-align:center;height:100px;"></div>
					</td>
				}
			}
			index++;
		}
	</tr>

	<tr>
		@foreach (var item in Model.approveFlowDetail)
		{
			if (item.isShowInDoc)
			{
				<td>
					<div style="text-align:center; margin-top:20px; font-size:12.5px;">@item.empFNameTH @item.empLNameTH</div>
				</td>
			}
		}
	</tr>
	<tr>
		@foreach (var item in Model.approveFlowDetail)
		{
			if (item.isShowInDoc)
			{
				<td>
					<div style="text-align:center; height:50px; font-size:12.5px;">@item.empPositionTitleTH</div>
				</td>
			}
		}
	</tr>

</table>

