
@model eActForm.Models.Activity_TBMMKT_Model
@using System.Configuration;
@using eActForm.Models;
@{
    Layout = null;
    string txtMsg = "";
    string gethotelExpense = "";
}
@*<div id="divEstimateDetails" runat="server" style="width: 100%;"></div>*@

@if (Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formTrvHome"])
{
    txtMsg = "ข้าพเจ้าขอเบิกเงินค่าใช้จ่ายค่าเดินทางกลับภูมิลำเนา ตามรายละเอียดดังนี้";
}
else
{
    txtMsg = "ข้าพเจ้าขอเบิกเงินค่าใช้จ่ายในการเดินทางไปปฏิบัติงานนอกสถานที่ทำงานปกติของบริษัทฯ ตามรายละเอียดดังนี้";
}

@if (Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["masterEmpExpense"])
{
    gethotelExpense = AppCode.Expenses.hotelExpense[1];
}
else
{
    gethotelExpense = AppCode.Expenses.hotelExpense[0];
}


<div class=" fontDocSmall " style="padding-left:5em;">

    <b>@txtMsg</b>

</div>
<div style="height:15px;"></div>
<table class="tablethin fontDocSmall " style="width:100%; text-align:center;" border="1" cellpadding="2" cellspacing="0">
    <tr style="background-color:#E5E2E2;height:25px;">
        <td colspan="4" style="text-align :center;  ">
            <b>  Total estimate of travelling expenses ( ประมาณค่าใช้จ่ายในการเดินทาง ดังนี้ )</b>
        </td>
    </tr>
    <tr style="height:20px;">
        <td style="width: 35%;text-align:center;">
            <b>รายละเอียด</b>
        </td>

        <td style="width: 5%;text-align:center;">
            <b>จำนวน/วัน</b>
        </td>
        <td style="width: 22%;text-align:center;">
            <b>ราคา/หน่วย</b>
        </td>
        <td style="width: 8%; text-align:center;">
            <b>    Total/รวม(บาท)</b>
        </td>
    </tr>

    @{ var index = 0;}
    @for (index = 0; index < Model.expensesDetailModel.costDetailLists.Count; index++)
    {

        <tr style="height:20px;">

            <td style="text-align:left; padding-left:5px;">
                @Model.expensesDetailModel.costDetailLists[@index].listChoiceName
                @if (@Model.expensesDetailModel.costDetailLists[@index].displayType == AppCode.CodeHtml.LabelHtml)
                {
                    <label> สิทธิเบิก @Model.expensesDetailModel.costDetailLists[@index].productDetail  บาท / วัน</label>
                    if (Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["masterEmpExpense"])
                    {
                        if (Model.activityFormTBMMKT.list_1_select != "" && Model.expensesDetailModel.costDetailLists[@index].listChoiceId == AppCode.Expenses.AllowanceTBM)
                        {
                            if (Model.expensesDetailModel.costDetailLists[@index].unit > 30)
                            {
                                <label>( คิดอัตราแบบเหมาจ่าย )</label>
                            }
                            else
                            {
                                <label>( คิดตามสัดส่วน )</label>
                            }
                        }
                    }
                }
                else
                {
                    @Model.expensesDetailModel.costDetailLists[@index].productDetail
                }
            </td>
            <td style="text-align:center;">

                @if (@Model.expensesDetailModel.costDetailLists[@index].subDisplayType == "showDay")
                {
                    @Model.expensesDetailModel.costDetailLists[@index].unit
                }
            </td>
            <td style="text-align:right; padding-right:5px;">


                @if (Model.expensesDetailModel.costDetailLists[@index].listChoiceId == gethotelExpense && !string.IsNullOrEmpty(Model.expensesDetailModel.costDetailLists[@index].unitPriceDisplay))
                {
                    <label>@Model.expensesDetailModel.costDetailLists[@index].unitPriceDisplay </label>
                }
                else
                {
                    if (Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["masterEmpExpense"])
                    {
                        if (Model.activityFormTBMMKT.list_1_select != "")
                        {
                            if (Model.expensesDetailModel.costDetailLists[@index].unit > 30)
                            {
                                <label>-</label>
                            }
                            else
                            {
                                <label>@Model.expensesDetailModel.costDetailLists[@index].unitPrice.Value.ToString("#,###.00") </label>
                            }
                        }
                        else
                        {
                            <label>@Model.expensesDetailModel.costDetailLists[@index].unitPrice.Value.ToString("#,###.00") </label>
                        }
                    }
                    else
                    {
                        <label>@Model.expensesDetailModel.costDetailLists[@index].unitPrice.Value.ToString("#,###.00") </label>
                    }

                }

                @if (@Model.expensesDetailModel.costDetailLists[@index].statusEdit != "")
                {
                    <span style="color:red">*</span>
                }
            </td>
            <td style="text-align:right; padding-right:5px;">
                @if (@Model.expensesDetailModel.costDetailLists[@index].total.Value.ToString("#,###.00") != ".00")
                {
                    <label>@Model.expensesDetailModel.costDetailLists[@index].total.Value.ToString("#,###.00") </label>
                }
            </td>
        </tr>
    }
    <tr>
        <td colspan="3" style="width: 85%;text-align:right;">
            <b>จำนวนเงินรวม(บาท)</b> &nbsp;
        </td>
        <td style="width: 15%;text-align:right; padding-right:5px;">
            @* <label id="totalEstimate" type="text" readonly="readonly"></label>&nbsp;*@
            @Model.totalCostThisActivity.Value.ToString("#,###.00")
        </td>
    </tr>
</table>

<div style="height:15px;"></div>
