@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model

<style>
    table.fixed {
        table-layout: fixed;
    }

        table.fixed td {
            overflow: hidden;
        }
</style>

<div class="row">
    <div class="col-12">
        <p class="lead">รายละเอียดงบประมาณ</p>
    </div>
    <div class="col-md-12 col-xs-12" style="width:100%;overflow-x:scroll;">
        <table class="table table-striped jambo_table bulk_action fixed" id="tbl_budgetControl" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
            <thead>
                <tr class="headings" style="text-align:center;">
                    <th style="width: 10%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> BudgetNumber </th>
                    <th style="width: 5%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> </th>
                    <th style="width: 20%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> รายละเอียด </th>
                    <th style="width: 15%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> งบประมาณเดิม </th>
                    <th style="width: 15%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> เหลือ </th>
                    <th style="width: 15%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> โอนงบประมาณเพิ่ม(ลด) </th>
                    <th style="width: 15%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> งบประมาณใหม่ </th>
                </tr>
            </thead>




            @foreach (var item in Model.activityOfEstimateList)
            {
                <tbody id=first>
                    <tr class="tagCountRowBudgetControl">
                        <td style="border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse; text-align:center;" class="fontDocSmall">
                            @item.EO
                            @item.IO
                        </td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">
                            @{ var txtUpDown = item.hospId == "0" ? "ลด" : "เพิ่ม"; }
                            @txtUpDown
                        </td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">
                            @item.remark
                        </td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@string.Format("{0:n2}", @item.normalCost)</td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall"> @string.Format("{0:n2}", @item.themeCost)</td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall"> @string.Format("{0:n2}", @item.growth)</td>
                        <td class="fontDocSmall" style="border-style: solid; border-width: 1px 1px 1px 0px; border-collapse: collapse;"> @string.Format("{0:n2}", @item.total)</td>

                    </tr>
                </tbody>
            }
            <tr>
                <td colspan="3">
                </td>
                <td>
                    งบเดิม
                </td>
                <td>เหลือ</td>
                <td>โอนงบประมาณเพิ่ม(ลด)</td>

                <td>งบประมาณใหม่</td>

            </tr>
        </table>
    </div>
</div>

