@model eActForm.Models.Activity_TBMMKT_Model
@{
    Layout = null;
    decimal? perTotal = 0;
    decimal? totalActCost = 0;
    decimal? costActivity = 0;
    decimal? costProduct = 0;
    decimal? growthPerTotal = 0;
    decimal? sumGrowth = 0;
    decimal? totalCase = 0;

}
<div>
    <table class="tablethin" style="width:100%; text-align:center;" border="1" cellpadding="0" cellspacing="0">
        <tr>
            <td rowspan="2" width="15%" style="font-size:12.5px;">ประเภทกิจกรรม</td>
            <td rowspan="2" width="20%" style="font-size:12.5px;">ชื่อสินค้า/ค่าใช้จ่ายอื่นๆ</td>
            <td colspan="3" style="font-size:12.5px;">ประมาณการยอดขาย (Estimate)</td>
            <td colspan="2" style="font-size:12.5px;">ประมาณการค่าใช้จ่าย (Estimate)</td>

        </tr>
        <tr>
            <td width="10%" style="font-size:12.5px;">ยอดขายปกติ (Case)</td>
            <td width="10%" style="font-size:12.5px;">ยอดขายข่วงทำกิจกรรม (Case)</td>
            <td width="6%" style="font-size:12.5px;">% Growth</td>
            <td width="10%" style="font-size:12.5px;">Spending Exp. (Case)</td>
            <td width="10%" style="font-size:12.5px;">Spending Exp. (Bath)</td>

        </tr>
        @if (Model.activityOfEstimateList.Any())
        {
            foreach (var item in Model.activityOfEstimateList)
            {
                <tr>
                    <td style="font-size:10px;" class="textLeft">@item.typeTheme</td>
                    @if (item.detailGroup != null && item.detailGroup.Count > 0)
                    {
                        <td class="font11 textLeft">@Html.DisplayFor(m => item.detailGroup[0].productName) </td>
                    }
                    else
                    {
                        <td class="font11 textLeft">@Html.DisplayFor(m => item.productName)  </td>
                    }


                    <td class="font11 textRight">@string.Format("{0:n2}", item.normalCost)</td>
                    <td class="font11 textRight"> @string.Format("{0:n2}", item.themeCost)</td>
                    <td class="font11 textRight">@string.Format("{0:n2}", item.growth)</td>
                    <td class="font11 textRight">@string.Format("{0:n2}", item.totalCase)</td>
                    <td class="font11 textRight">@string.Format("{0:n2}", item.total)</td>

                </tr>
                perTotal = item.perTotal == null ? 0 + perTotal : item.perTotal + perTotal;
                totalActCost = item.total == null ? 0 + totalActCost : item.total + totalActCost;
                totalCase = item.totalCase == null ? 0 + totalCase : item.totalCase + totalCase;
                costProduct = item.normalCost == null ? 0 + costProduct : item.normalCost + costProduct;
                costActivity = item.themeCost == null ? 0 + costActivity : item.themeCost + costActivity;
                sumGrowth = item.growth == null ? 0 + sumGrowth : item.growth + sumGrowth;
            }
        }


        <tr>
            <td style="border:none; border-bottom:none;"></td>
            <td style="text-align:right; border:none; border-bottom:none;">รวม</td>
            <td class="textRight">
                @if (costProduct != 0)
                {
                    string result = String.Format("{0:n2}", @costProduct);
                    @result.ToString();
                }
            </td>
            <td class="textRight">
                @if (costActivity != 0)
                {
                    string result = String.Format("{0:n2}", @costActivity);
                    @result.ToString();
                }
            </td>
            <td class="textRight">

                @if (costActivity != 0 && costProduct != 0)
                {
                    growthPerTotal = (costActivity - costProduct) / costProduct * 100;
                    string result = String.Format("{0:n2}%", @growthPerTotal);
                    @result.ToString();
                }

            </td>
            <td class="textRight">
                @if (totalCase != 0)
                {
                    string result = String.Format("{0:n2}", @totalCase);
                    @result.ToString();
                }
            </td>
            <td class="textRight">
                @if (totalActCost != 0)
                {
                    string result = String.Format("{0:n2}", @totalActCost);
                    @result.ToString();
                }
            </td>

        </tr>

    </table>
</div>