@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model


<div class="modal-body" style="margin-bottom:50px;">
    <div id="divForm" style="width: 97%; margin-left: 20px;">
        <div class="row">
            <div class="col-12">
                <p class="lead">รายละเอียดงบประมาณ</p>
            </div>
            <div class="col-md-12 col-xs-12" style="width:100%;">
                <table style="width: 100%;border-style: solid;border-width: 1px 0px 0px 0px; border-collapse: collapse; background-color:#ffffff;">
                    <thead>
                        <tr class="headings" style="text-align:center;">
                            <th style="width: 10%; border-style: solid;border-width: 0px 1px 0px 1px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> BudgetNumber </th>
                            <th style="width: 5%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> </th>
                            <th style="width: 45%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> รายละเอียด </th>
                            <th style="width: 10%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> งบประมาณเดิม </th>
                            <th style="width: 10%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> เหลือ </th>
                            <th style="width: 10%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> โอนงบประมาณเพิ่ม(ลด) </th>
                            <th style="width: 10%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall"> งบประมาณใหม่ </th>
                        </tr>
                    </thead>



                    @{ decimal? sumNormalCost = 0, sumThemeCost = 0, sumGrowth = 0, sumTotal = 0;}
                    @foreach (var item in Model.activityOfEstimateList)
                    {
                        <tbody id=first>
                            <tr class="tagCountRowBudgetControl">
                                <td style="border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse; text-align:center;" class="fontDocSmall">
                                    @item.EO
                                    @item.IO
                                </td>
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">
                                    @{ var txtUpDown = item.hospId == "0" ? "ลด" : "เพิ่ม"; }
                                    @txtUpDown
                                </td>
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">
                                    @item.remark

                                </td>
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@string.Format("{0:n2}", @item.normalCost)</td>
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall"> @string.Format("{0:n2}", @item.themeCost)</td>
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall"> @string.Format("{0:n2}", @item.growth)</td>
                                <td class="fontDocSmall" style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse;"> @string.Format("{0:n2}", @item.total)</td>

                            </tr>
                        </tbody>

                        sumNormalCost += @item.normalCost;
                        sumThemeCost += @item.themeCost;
                        sumGrowth += @item.growth;
                        sumTotal += @item.total;

                    }
                    <tr>
                        <td colspan="3" style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;"></td>
                        <td style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@string.Format("{0:n2}", @sumNormalCost)</td>
                        <td style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@string.Format("{0:n2}", @sumThemeCost)</td>
                        <td style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@string.Format("{0:n2}", @sumGrowth)</td>
                        <td style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@string.Format("{0:n2}", @sumTotal)</td>

                    </tr>

                </table>
                <br />
                <br />
                <br />
            </div>
        </div>

    </div>
</div>