

@using eActForm.BusinessLayer
@model eActForm.Models.Activity_TBMMKT_Model
@{
    decimal? unit = 0;
    decimal? total = 0;
    decimal? totalEntertainment = 0;
    decimal? totalAdvance = 0;
}



<style>
    .textRight {
        text-align: right;
    }

    .textLeft {
        text-align: left;
    }

    .line-breaks {
        white-space: pre-line;
    }

    .font12 {
        font-size: 12.5px;
    }

    .font14 {
        font-size: 14px;
    }
</style>



<div class="modal-body" style="margin-bottom:50px;">
    <div id="divForm" style="width: 97%; margin-left: 20px;">
        <div id="divHeadCompany" runat="server" style="width: 100%; align-content: center; text-align: center; " class="fontDocV2">
            @Model.activityFormTBMMKT.companyName<br />
            @Model.activityFormTBMMKT.formName / @Model.activityFormTBMMKT.formNameEn
        </div>


        <div>
            <div class="fontDocV1" style="text-align: center;">
                ประจำเดือน : &nbsp;&nbsp; @Model.activityFormModel.documentDate.Value.ToString("MMMM")
            </div>
            <div>
                <table>
                    <tr>
                        <td class="fontDocSmall" width="540" style="text-align:right;">เลขที่เอกสาร  :</td>
                        <td class="fontDocSmall" width="110" style="text-align:right;">@Model.activityFormModel.activityNo</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <td class="fontDocSmall" width="540" style="text-align:right"> เลขที่เอกสารใบยืมเงินทดรอง :</td>
                    <td class="fontDocSmall" width="110" style="text-align:right;">@Model.activityFormModel.reference</td>
                </tr>
            </table>
        </div>

        <div>
            <table style="width: 100%; margin-top: 30px;">
                <tr>
                    <td class="fontDocSmall" width="30px">
                        ชื่อ / Name:
                    </td>
                    <td class="fontDocSmall" width="60px">
                        @if (@Model.masterRequestEmp.Any())
                        {
                            @Model.masterRequestEmp[0].empName
                        }
                    </td>
                    <td class="fontDocSmall" width="30px">
                        ตำแหน่ง / Position:
                    </td>

                    <td class="fontDocSmall" width="60px">
                        @if (@Model.masterRequestEmp.Any())
                        {
                            @Model.masterRequestEmp[0].position
                        }
                    </td>
                </tr>
                <tr>
                    <td class="fontDocSmall" width="30px">
                        ระดับ / Level:
                    </td>
                    <td class="fontDocSmall" width="60px">
                        @if (@Model.masterRequestEmp.Any())
                        {
                            @Model.masterRequestEmp[0].level
                        }
                    </td>
                    <td class="fontDocSmall" width="30px">
                        หน่วยงาน / Dept.:
                    </td>
                    <td class="fontDocSmall" width="60px">
                        @if (@Model.masterRequestEmp.Any())
                        {
                            @Model.masterRequestEmp[0].department
                        }
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="fontDocV1">
            Part 1 : ค่าใช้จ่ายในการเลี้ยงรับรอง หรือการตรวจตลาด / Entertainment Expenses and Market Visit
        </div>
        <div class="fontDocSmall">
            <lable style="color: red"> * หมายเหตุ:</lable>
            <lable>ค่าใช้จ่ายส่วนนี้ จะต้องผ่านการอนุมัติตามอำนาจการอนุมัติได้เท่านั้น *</lable>
        </div>
        <div>

            <table style="width: 100%;border-style: solid;border-width: 1px 0px 0px 0px; border-collapse: collapse;">
                <tr style="background-color: #E5E2E2; height: 25px;">
                    <td style="width: 15%; border-style: solid;border-width: 0px 1px 0px 1px; border-collapse: collapse;text-align:center;" class="fontDocSmall">วันที่</td>
                    <td style="width: 20%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">สถานที่</td>
                    <td style="width: 25%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">จุดประสงค์</td>
                    <td style="width: 20%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">ชื่อลูกค้า</td>
                    <td style="width: 20%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">ยอดเบิก</td>
                </tr>
                @foreach (var item in Model.activityOfEstimateList)
                {
                    <tr>
                        <td style="border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse; text-align:center;" class="fontDocSmall">
                            @if (@item.date != null)
                            {@item.date.Value.ToString("dd/MM/yyyy")}
                        </td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@item.detail</td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@item.productDetail</td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@item.remark</td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:right;" class="fontDocSmall">@string.Format("{0:n2}", @item.total)</td>
                    </tr>

                    totalEntertainment = item.total == null ? 0 + totalEntertainment : totalEntertainment + item.total;
                }
            <tr>
                <td colspan="4" class="font12" style="border-style: solid;border-width: 1px 1px 1px 1px; border-collapse: collapse; text-align:right">
                    <div> รวมค่าใช้จ่ายที่ต้องการเบิกในครั้งนี้ (บาท) /  Total All Expenses &nbsp;&nbsp;</div>
                </td>
                <td style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse;text-align:right;" class="fontDocSmall">
                    @{
                        string resultEntertain = String.Format("{0:n2}", @totalEntertainment);
                        @resultEntertain.ToString();
                    }
                </td>
            </tr>

            </table>
        </div>
        <br />
        <div class="fontDocV1">
            Part 2 :   ค่าใช้จ่ายในการเดินทาง / Travel & Transportation Expenses
        </div>
        @*<div style="margin-bottom:5px;">
            <table style="width:100%; margin-bottom: 10px;">
                <tr>
                    <td width="50%" class="fontDocSmall" style="text-align:left">
                        - ประเทศหรืองานที่เดินทางไป / Country or For: @Model.activityFormTBMMKT.activityDetail
                    </td>
                    <td width="50%" class="fontDocSmall" style="text-align:right">
                        วันที่/Date :  @if (@Model.activityFormTBMMKT.costPeriodSt != null)
                        {@Model.activityFormTBMMKT.costPeriodSt.Value.ToString("dd/MMM/yyyy")} -
                        @if (@Model.activityFormTBMMKT.costPeriodEnd != null)
                        {@Model.activityFormTBMMKT.costPeriodEnd.Value.ToString("dd/MMM/yyyy")}
                    </td>
                </tr>
            </table>
        </div>*@
        <div>
            <table style="width: 100%;border-style: solid;border-width: 1px 0px 0px 0px; border-collapse: collapse;">
                <tr style="background-color: #E5E2E2; height: 25px;">
                    <td style="width: 15%; border-style: solid;border-width: 0px 1px 0px 1px; border-collapse: collapse;text-align:center;" class="fontDocSmall">วันที่</td>
                    <td style="width: 40%; text-align: center; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">รายการ</td>
                    <td style="width: 15%; text-align: center; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">จำนวนเงิน</td>
                    <td style="width: 20%; text-align: center; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">หมายเหตุ</td>
                </tr>
                @foreach (var item in Model.activityOfEstimateList2)
                {
                    <tr>
                        <td style="border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse; text-align:center;" class="fontDocSmall">
                            @if (@item.date != null)
                            {@item.date.Value.ToString("dd/MM/yyyy")}
                        </td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@item.productDetail</td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:right;" class="fontDocSmall">@string.Format("{0:n2}", @item.total)</td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@item.remark</td>
                    </tr>

                    total = item.total == null ? 0 + total : item.total + total;
                }
                <tr>
                    <td colspan="2" class="font12" style="border-style: solid;border-width: 1px 1px 1px 1px; border-collapse: collapse; text-align:right">
                        <div> รวมค่าใช้จ่ายที่ต้องการเบิกในครั้งนี้ (บาท) /  Total All Expenses  &nbsp;&nbsp;</div>
                    </td>
                    <td class="fontDocSmall" style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse; text-align:right">
                        @{
                            string result = String.Format("{0:n2}", @total);
                            @result.ToString();
                        }
                    </td>
                    <td class="fontDocSmall" style="border-style: solid; border-width: 1px 1px 1px 0px; border-collapse: collapse;"></td>
                </tr>
            </table>
        </div>
        <br />

        <br />
        <br />
        <br />
        <br />
    </div>
</div>
