@model eActForm.Models.ImportBudgetControlModel
@using System.Configuration;
@using System.Globalization;
@{
    CultureInfo DateEnglish = new CultureInfo("en-US");

}


<style>
    table.fixed {
        table-layout: fixed;
        width: 100%;
    }

        table.fixed td {
            overflow: hidden;
        }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            .tab button:hover {
                background-color: #ddd;
            }


            .tab button.active {
                background-color: #ccc;
            }


    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>


<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'divSuccess')">Success</button>
    <button class="tablinks" onclick="openCity(event, 'divUnsuccess')">UnSuccess</button>
</div>



<div id="divSuccess" class="tabcontent">
    <div class="col-md-12 col-xs-12">
        <div class="pull-right">
            @using (Html.BeginForm("ExportExcel", "ImportBudgetControl", FormMethod.Post))
            {
                <input type="hidden" name="gridHtml" />
                <input type="hidden" name="type" />
                <button type="submit" class="btn ink-reaction btn-success" id="btnExportExcel" value="ExportExcel">
                    <i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel
                </button>
            }
        </div>
    </div>
    <div id="getHtml" class="col-md-12 col-xs-12" style="width:100%;overflow-x:scroll; margin-bottom:80px;">
        <table id="tbSuccess" class="table table-striped jambo_table bulk_action fixed" id="tbl_report" height="200" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
            <thead>
                <tr class="headings" style="text-align:center;">
                    <th width="170px" class="center">FiscalYear</th>
                    <th width="170px" class="center">EO</th>
                    <th width="170px" class="center">IO</th>
                    <th width="170px" class="center">Detail</th>
                    @if (Model.typeImport == System.Configuration.ConfigurationManager.AppSettings["typeImportYearly"])
                    {
                        <th width="170px" class="center">Amount for Eact</th>
                        <th width="170px" class="center">Amount for SAP</th>
                    }
                    else
                    {
                        <th class="center">budget</th>
                        <th class="center">return</th>
                        <th class="center">actual</th>
                        <th class="center">accrued</th>
                        <th class="center">commit</th>
                        <th class="center">nonCommit</th>
                    }

                </tr>
            </thead>
            <tbody>
                @{string replaceEO = "";
                    int count = 0;
                    bool checkRow = true;}
                @foreach (var item in Model.budgetReportList)
                {
                    <tr>

                        <td> @item.fiscalYear</td>
                        <td>@string.Format("{0:n2}", @item.EO)</td>
                        <td>@string.Format("{0:n2}", @item.orderNo)</td>
                        <td>@string.Format("{0:n2}", @item.transaction)</td>


                        @if (Model.typeImport == ConfigurationManager.AppSettings["typeImportYearly"])
                        {
                            if (@item.approve_Amount != @item.budget_Amount2)
                            {
                                <td style="background-color:lightcoral">@string.Format("{0:n2}", @item.approve_Amount)</td>
                                <td style="background-color:lightcoral">@string.Format("{0:n2}", @item.budget_Amount2)</td>
                                checkRow = false;
                            }
                            else
                            {
                                <td>@string.Format("{0:n2}", @item.approve_Amount)</td>
                                <td>@string.Format("{0:n2}", @item.budget_Amount2)</td>
                            }
                        }
                        else
                        {
                            <td>@string.Format("{0:n2}", @item.budgetAmount)</td>
                            <td>@string.Format("{0:n2}", @item.returnAmount)</td>
                            <td>@string.Format("{0:n2}", @item.actual)</td>
                            <td>@string.Format("{0:n2}", @item.accrued)</td>
                            <td>@string.Format("{0:n2}", @item.commitment)</td>
                            <td>@string.Format("{0:n2}", @item.nonCommitment)</td>
                        }

                    </tr>

                    replaceEO = item.EO;
                    count = count + 1;
                }
                <tr>
                    <td>จำนวนแถว : @count</td>
                </tr>
            </tbody>
        </table>
    </div>
    @if (checkRow == true)
    {
        <div id="divBtn" class="row form-group">
            <div align="center" class="form-group col-md-3 col-sm-3 col-xs-3 col-md-offset-4" onclick="submmitBtn();">
                <label class="btn ink-reaction btn-success" style="margin-top:20px; font-size:15px; width:100%">Confirm</label>
            </div>
        </div>
    }
</div>


<div id="divUnsuccess" class="tabcontent">
    <div class="col-md-12 col-xs-12">
        <div class="pull-right">
            @using (Html.BeginForm("ExportExcel", "ImportBudgetControl", FormMethod.Post, "NonEO"))
            {
                <input type="hidden" name="gridHtml" />
                <input type="hidden" name="type" />
                <button type="submit" class="btn ink-reaction btn-success" id="btnExportExcelNotEO" value="ExportExcel">
                    <i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel
                </button>
            }
        </div>
    </div>
    <div id="getHtmlNotEO">
        <table class="table" id="tbl_reportNotEO" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
            <thead>
                <tr class="headings" style="text-align:center; background-color:#e67e7e; color:#ffffff;">
                    <th width="170px" class="center">EO</th>
                    <th width="170px" class="center">IO</th>
                    <th width="170px" class="center">Description</th>

                </tr>
            </thead>
            <tbody>

                @{ count = 0;}
                @if (Model.budgetReportList2.Count > 0)
                {
                    foreach (var item in Model.budgetReportList2)
                    {
                        <tr>
                            <td>@item.EO</td>
                            <td>@item.orderNo</td>
                            <td>@item.description</td>
                        </tr>

                        replaceEO = item.replaceEO;
                        count = count + 1;
                    }
                }
                <tr>
                    <td>จำนวนแถว : @count</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>






<script>



    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }



    $(function () {
        $("#btnExportExcelNotEO").click(function () {
            $("input[name='gridHtml']").val($("#getHtmlNotEO").html());
            $("input[name='type']").val('NonEO');
        });

        $("#btnExportExcel").click(function () {
            $("input[name='gridHtml']").val($("#getHtml").html());
            $("input[name='type']").val('');
        });

    });





    function submmitBtn() {
        $("#WaitDialog").show();
        $.ajax({
            type: 'POST',
            url:  '@Url.Action("confirmImportBudgetReport", "ImportBudgetControl")',
            data: {
            }
        }).done(function (response) {
            $("#WaitDialog").hide();
            document.getElementById("divBtn").style.display = "none";
            doMsgSuccess('บันทึกเรียบร้อย');

        });
    }


</script>