@model eActForm.Models.ImportBudgetControlModel
@using System.Configuration;
@using System.Globalization;
@{
    CultureInfo DateEnglish = new CultureInfo("en-US");
}
<style>
    table.fixed {
        table-layout: fixed;
        width: 100%;
    }

        table.fixed td {
            overflow: hidden;
        }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    /*.tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }*/

    /* Change background color of buttons on hover */
    /*.tab button:hover {
                background-color: #ddd;
            }*/

    /* Create an active/current tablink class */
    /*.tab button.active {
                background-color: #ccc;
            }*/

    /* Style the tab content */
    /*.tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }*/
</style>


@*<div class="tab">
        <button class="tablinks" onclick="openCity(event, 'divChanel')">Chanel</button>
        <button class="tablinks" onclick="openCity(event, 'divBrand')">Brand</button>
    </div>*@

<div id="" class="col-md-12 col-xs-12 tabcontent" style="width:100%;overflow-x:scroll;">
    <table class="table table-striped jambo_table bulk_action fixed" id="tbl_reportChanel" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
        <thead>
            <tr class="headings" style="text-align:center;">
                <th width="170px" class="center">Date</th>
                <th width="170px" class="center">Bud_Num</th>
                <th width="170px" class="center">B_Code</th>
                <th width="170px" class="center">Bnam_Eng</th>
                <th width="170px" class="center">Type</th>
                <th width="170px" class="center">BG_Activity</th>
                <th width="170px" class="center">Transaction</th>
                <th width="170px" class="center">EO</th>
                <th width="170px" class="center">Original Budget</th>
                <th width="170px" class="center">LE Amount</th>
                <th width="170px" class="center">Approve Amount</th>
                <th width="170px" class="center">Balance (LE1-Approve)</th>
                <th width="170px" class="center">โยก BG</th>
                <th width="170px" class="center">Actual Spending</th>
                <th width="170px" class="center">PR</th>
                <th width="170px" class="center">Total Actual Spending</th>
                <th width="170px" class="center">Available Amount</th>
                <th width="170px" class="center">Return</th>
                <th width="170px" class="center">Balance Amount</th>

            </tr>
        </thead>
        <tbody>
            @{string eo = ""; }
            @foreach (var item in Model.budgetReportList)
            {
                <tr>
                    <td>@item.date.Value.ToString("dd/MM/yyyy", DateEnglish)</td>
                    <td>@item.budNum</td>
                    <td>@item.b_Code</td>
                    <td>@item.brandName</td>
                    <td>@item.type</td>
                    <td>@item.budget_Activity</td>
                    <td>@item.transaction</td>
                    @if (item.EO != eo)
                    {
                        eo = @item.EO;
                    }
                    else
                    {
                        eo = "";
                    }

                    <td>@eo</td>
                    <td>@string.Format("{0:n2}", @item.originalBudget)</td>
                    <td>@string.Format("{0:n2}", @item.LE_Amount)</td>
                    <td>@string.Format("{0:n2}", @item.approve_Amount)</td>
                    <td>@string.Format("{0:n2}", @item.balanceLEApprove)</td>
                    <td>@string.Format("{0:n2}", @item.trf_BG)</td>
                    <td>@string.Format("{0:n2}", @item.actual)</td>
                    <td>@string.Format("{0:n2}", @item.PR_PO)</td>
                    <td>@string.Format("{0:n2}", @item.actualTotal)</td>
                    <td>@string.Format("{0:n2}", @item.available)</td>
                    <td>@string.Format("{0:n2}", @item.returnAmount)</td>
                    <td>@string.Format("{0:n2}", @item.balance)</td>
                </tr>
            }
        </tbody>
    </table>
</div>





<div id="divBtn" class="row form-group">
    <div align="center" class="form-group col-md-3 col-sm-3 col-xs-3 col-md-offset-4" onclick="submmitBtn();">
        <label class="btn ink-reaction btn-success" style="margin-top:20px; font-size:15px; width:100%">Confirm</label>
    </div>
</div>


<script>
    //function openCity(evt, cityName) {
    //    var i, tabcontent, tablinks;
    //    tabcontent = document.getElementsByClassName("tabcontent");
    //    for (i = 0; i < tabcontent.length; i++) {
    //        tabcontent[i].style.display = "none";
    //    }

    //    tablinks = document.getElementsByClassName("tablinks");
    //    for (i = 0; i < tablinks.length; i++) {
    //        tablinks[i].className = tablinks[i].className.replace(" active", "");
    //    }
    //    document.getElementById(cityName).style.display = "block";
    //    evt.currentTarget.className += " active";
    //}

    function submmitBtn() {
        $.ajax({
            type: 'POST',
            url:  '@Url.Action("confirmImportBudgetReport", "ImportBudgetControl")',
            data: {
            }
        }).done(function (response) {
            document.getElementById("divBtn").style.display = "none";
            doMsgSuccess('บันทึกเรียบร้อย');

        });
    }


</script>