@model eActForm.Models.ImportBudgetControlModel
@using System.Configuration;
@using System.Globalization;
@{
    CultureInfo DateEnglish = new CultureInfo("en-US");
    int count = 0;
}
@using (Html.BeginForm("ExportExcel", "ImportBudgetControl", FormMethod.Post))
{
    <input type="hidden" name="gridHtml" />
    <input type="hidden" name="type" />
    <input type="hidden" name="fileName" />
    <button type="submit" class="btn ink-reaction btn-success" id="btnExportExcel" value="ExportExcel">
        <i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel
    </button>
}
<div id="getHtml" class="col-md-12 col-xs-12" style="width:100%;overflow-x:scroll; margin-bottom:80px;">
    <table id="tbl_Budget" class="table table-striped jambo_table bulk_action fixed" height="200" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
        <thead>
            <tr class="headings" style="text-align:center;">
                <th width="170px" class="center">StartDate</th>
                <th width="170px" class="center">EndDate</th>
                <th width="170px" class="center">EO</th>
                <th width="170px" class="center">LE</th>
                <th width="170px" class="center">Type</th>
                <th width="170px" class="center">BrandName</th>
                <th width="170px" class="center">ChanelName</th>
                <th width="170px" class="center">ActivityType</th>
                <th width="170px" class="center">Amount</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.budgetReportList)
            {
                <tr>
                    <td>@item.startDate.Value.ToString("dd/MM/yyyy", DateEnglish)</td>
                    <td>@item.endDate.Value.ToString("dd/MM/yyyy", DateEnglish)</td>
                    <td>@item.EO</td>
                    <td>@item.LE</td>
                    <td>@item.budgetGroupType</td>
                    <td>@item.brandName</td>
                    <td>@item.chanelName</td>
                    <td>@item.budget_Activity</td>
                    <td>@string.Format("{0:n2}", item.amount)</td>

                </tr>
                count = count + 1;
            }
            <tr>
                <td>จำนวนแถว : @count</td>
            </tr>

        </tbody>
    </table>
</div>
<div id="divBtn" class="row form-group">
    <div align="center" class="form-group col-md-3 col-sm-3 col-xs-3 col-md-offset-4" onclick="submmitBtn();">
        <label class="btn ink-reaction btn-success" style="margin-top:20px; font-size:15px; width:100%">Confirm</label>
    </div>
</div>

<script>

    $(function () {


        $("#btnExportExcel").click(function () {

            $("input[name='fileName']").val('ImportBudget');
            $("input[name='gridHtml']").val($("#getHtml").html());
            $("input[name='type']").val('');
        });

    });


    function submmitBtn() {
        $("#WaitDialog").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("confirmImportBudget", "ImportBudgetControl")',
            data: {
                companyId: $("#ddlCompany").val(),
            }
        }).done(function (response) {
            $("#WaitDialog").hide();
            document.getElementById("divBtn").style.display = "none";
            doMsgSuccess('บันทึกเรียบร้อย');

        });
    }


</script>