@using eActForm.BusinessLayer
@using System.Configuration;
@using eActForm.Models;
@model eActForm.Models.Activity_TBMMKT_Model

<div class="col-md-12" id="divEmpInfo">
    @*<div style="display:inline-block;"><label>ข้าพเจ้า</label> &nbsp;@Model.TB_Reg_RequestEmp.empName&nbsp;&nbsp;</div>
        <div style="display:inline-block;"><label>ตำแหน่ง </label>&nbsp;@Model.TB_Reg_RequestEmp.position&nbsp;&nbsp;</div>*@
    <fieldset>
        @*<legend>พนักงาน</legend> <br />*@

        <div class="form-group">
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lblEmpId">
                        รหัสพนักงาน :
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.TextBoxFor(x => x.empInfoModel.empId, new { @class = "form-control textboxcss textRight", Style = "text-align:left;", id = "txtEmpId", onchange = "getEmpDetail();" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lblEmpName">
                        ชื่อ :
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <lable id="lblEmpName" class="form-control textboxcss" readonly></lable>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ddlStatus">
                        ตำแหน่ง :
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <lable id="lblEmpPosition" class="form-control textboxcss" readonly></lable>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lblLvl">
                        ระดับ :
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <lable id="lblLvl" class="form-control textboxcss" readonly></lable>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lblDept">
                        หน่วยงาน :
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <lable id="lblDept" class="form-control textboxcss" readonly></lable>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lblComp">
                        สังกัดบริษัท :
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="hidden" id="hdCompId" name="activityFormTBMMKT.formCompanyId" class="form-control textboxcss" />
                        <lable id="lblComp" class="form-control textboxcss" readonly></lable>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        ภาค :
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="hidden" id="hdRegionalId" class="form-control textboxcss" />
                        @Html.DropDownListFor(x => x.tB_Act_ActivityForm_DetailOther.regionalId
                       , new SelectList(Model.regionalModel,
                        "id", Model.activityFormTBMMKT.chkUseEng ? "nameEN" : "nameTH"
                        ), new
                             {
                            @class = "form-control",
                            @id = "ddlRegional",
                            @name = "Model.tB_Act_ActivityForm_DetailOther.regionalId",

                        })

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-xs-12">
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEmpTel">
                        โทรศัพท์ติดต่อ :
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.TextBoxFor(x => x.empInfoModel.empTel, new { @class = "form-control textboxcss textRight", Style = "text-align:left;", id = "txtEmpTel" })
                    </div>
                </div>
            </div>

            @if (Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formExpTrvNumId"])
            {
                <div class="col-md-6 col-xs-12">
                    <div class="row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtOrerOf">
                            ตามคำสั่ง :
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.orderOf, new { @class = "form-control textboxcss textRight", Style = "text-align:left;", id = "txtOrerOf" })

                        </div>
                    </div>
                </div>
            }
            else if (Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formExpMedNumId"])
            {
                <div class="col-md-6 col-xs-12">
                    <div class="row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtOrerOf">
                            วันที่บรรจุ :
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="hidden" id="hdYears" class="form-control textboxcss" />
                            <lable id="lblHireDate" class="form-control textboxcss" readonly></lable>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6 col-xs-12">
                    <div class="row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtOrerOf">
                            :
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                        </div>
                    </div>
                </div>
            }



        </div>
        @Html.HiddenFor(x => x.tB_Act_ActivityForm_DetailOther.SubjectId, new { @id = "hdSubjectId" })
    </fieldset>
    <br />
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });
        $("#hdRegionalId").val($("#ddlRegional").val());
        getEmpDetail();
        // alert($("#hdSubjectId").val());
        if ('@Model.activityFormTBMMKT.activityNo'.replace('---', '') != '') {
            $("#txtEmpId").prop("readonly", true);
        }
        @*alert('@Model.activityFormTBMMKT.activityNo'.replace('---', ''));*@
    });

    function getEmpDetail() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("getEmpDetailById", "eAct")',
            data: {
                empId: $("#txtEmpId").val(),
                typeFormId: "@Model.activityFormTBMMKT.master_type_form_id",
            }
        }).done(function (response) {
            console.log(response);
            if (response.Data != null) {
                $("#lblEmpName").val(response.Data.empName);
                $("#lblLvl").val(response.Data.level);
                $("#lblHireDate").val(response.Data.hireDate);
                $("#hdCompId").val(response.Data.compId);


                $("#lblEmpName").text(response.Data.empName);
                $("#lblEmpPosition").text(response.Data.position);
                $("#lblLvl").text(response.Data.level);
                $("#lblDept").text(response.Data.department);
                $("#lblComp").text(response.Data.companyName);
                $("#lblHireDate").text(response.Data.hireDate);

                if (response.Data.hireDate == '') { alert("ไม่มีข้อมูลเริ่มทำงานกรุณาติดต่อเจ้าหน้าที่"); }

                getRegional();
                // $("#hdSubjectId").val('C67164E4-A891-43D6-B4F7-090F62C6290E');
                //   getFlow();
                // alert($("#hdSubjectId").val());
            }
            else {
                if ($("#txtEmpId").val() != '') { alert('ไม่พบ Flow อนุมัติของรหัสพนักงาน ' + $("#txtEmpId").val()); }
                $("#txtEmpId").val('');
                $("#lblEmpName").val('');
                $("#lblLvl").val('');
                $("#lblHireDate").val('');
                $("#hdCompId").val('');
                $("#ddlRegional").empty();

                $("#lblEmpName").text("");
                $("#lblEmpPosition").text("");
                $("#lblLvl").text("");
                $("#lblDept").text("");
                $("#lblComp").text("");
                $("#lblHireDate").text("");
            }



            if ('@Model.activityFormTBMMKT.master_type_form_id' == '@ConfigurationManager.AppSettings["formExpTrvNumId"]') {
                getCashEmp();
            } else if ('@Model.activityFormTBMMKT.master_type_form_id' == '@ConfigurationManager.AppSettings["formExpMedNumId"]') {
                getCashDetail();
            }
        });
    }

    function getCashEmp() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getCashLimitByEmpId", "eAct")',
            data: {
                empId: $("#txtEmpId").val(),
            }
        }).done(function (response) {
            console.log(response);
            if (response.Data != null) {

                document.getElementById('ProductDetail_0').innerHTML = response.Data.ProductDetail_0;
                document.getElementById('ProductDetail_1').innerHTML = response.Data.ProductDetail_1;
                $("#ProductDetail_0").val(response.Data.ProductDetail_0);
                $("#ProductDetail_1").val(response.Data.ProductDetail_1);
                document.getElementById('lblBath_0').innerHTML = "บาท/วัน";
                document.getElementById('lblBath_1').innerHTML = "บาท/วัน";


                //ต้องทำในกรณีที่ไม่ใช่ดึงมาครั้งแรก
                if ($("#txtUnitPrice_0").val()=="" || '@Model.activityFormTBMMKT.id'=="") {
                    $("#txtUnitPrice_0").val(response.Data.ProductDetail_0);
                    $("#txtUnitPrice_1").val(response.Data.ProductDetail_1);
                }

            }
            else {
                if ($("#txtEmpId").val() != "") {
                    document.getElementById('ProductDetail_0').innerHTML = "ไม่พบข้อมูลกรุณาติดต่อ...";
                    document.getElementById('ProductDetail_1').innerHTML = "ไม่พบข้อมูลกรุณาติดต่อ...";
                    document.getElementById('lblBath_0').innerHTML = "";
                    document.getElementById('lblBath_1').innerHTML = "";
                    $("#ProductDetail_0").val(0);
                    $("#ProductDetail_1").val(0);

                    $("#txtUnitPrice_0").val("");
                    $("#txtUnitPrice_1").val("");

                }
            }
        });
    }

    function getCashLimit() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getCashLimitByTypeId", "eAct")',
            data: {
                typeId:'@AppCode.Expenses.Medical',
                hireDate: $("#lblHireDate").val(),
                jobLevel: $("#lblLvl").val(),
            }
        }).done(function (response) {
            console.log(response);
            if (response.Data != null) {
                document.getElementById('lblLimit').innerHTML = response.Data.cashPerDay.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                $("#lblLimit").val(response.Data.cashPerDay);
                getBalance();
            }
            else {
                if ($("#txtEmpId").val() != "") {
                    document.getElementById('lblLimit').innerHTML = "ไม่พบข้อมูลกรุณาติดต่อ...";
                    $("#lblLimit").val(0);
                }
            }
           // alert($("#lblLimit").val());
        });

    }

    function getCumulative() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getCumulativeByEmpId", "eAct")',
            data: {
                empId: $("#txtEmpId").val(),
                docDate: $("#txtdateDoc").val(),

            }
        }).done(function (response) {
            console.log(response);
            if (response.Data != null) {
                document.getElementById('lblCumulative').innerHTML = response.Data.cashPerDay.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                $("#lblCumulative").val(response.Data.cashPerDay);
                getBalance();
            }
            else {
                if ($("#txtEmpId").val() != "") {
                    document.getElementById('lblCumulative').innerHTML = "ไม่พบข้อมูลกรุณาติดต่อ...";
                    $("#lblCumulative").val(0);
                }
            }
          //  alert($("#lblCumulative").val());
        });

    }

    function getBalance() {
       // alert($("#lblLimit").val() + "/" + $("#lblCumulative").val());
        var balance = 0.00;
        balance = parseFloat($("#lblLimit").val().replace(",", "")) - parseFloat($("#lblCumulative").val().replace(",", ""));
alert(balance);
        if (balance == NaN) { balance = 0.00; }

        $("#lblBalance").text(balance.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        $("#lblBalance").val(balance);
    }

    function getRegional() {
        var ddlRegional = $("#ddlRegional");
        $.ajax({
            url: '@Url.Action("getRegionalByCompany", "eAct")',
            data: {
                companyId: $("#hdCompId").val(),
            },
            dataType: "json",
            type: 'POST',
            success: function (response) {

                if (response.Data.regional.length > 0) {
                    $("#ddlRegional").empty();
                    if (response.Data.regional.length > 1) {
                        ddlRegional.append($("<option></option>").val('').html(''));
                    }
                    $("#ddlRegional option[value !='']").remove();
                    $.each(response.Data.regional, function () {
                        ddlRegional.append($("<option></option>").val(this['id']).html(this['nameTH']));
                    });

                    if ($("#hdRegionalId").val() != '') {
                        $("#ddlRegional").val($("#hdRegionalId").val());
                    }
                    document.getElementById("ddlRegional").disabled = false;
                }
                else {
                    document.getElementById("ddlRegional").disabled = true;
                }

                if ('@DocumentsAppCode.checkModeEdit(Model.activityFormTBMMKT.statusId, Model.activityFormTBMMKT.master_type_form_id)' == "False"
                    || '@Model.activityFormTBMMKT.activityNo'.replace('---', '') != ''
                ) {
                    document.getElementById("ddlRegional").disabled = true;
                }
            }
        });
    }

    function getFlow() {
        var ddlRegional = $("#ddlRegional");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getFlowBytypeFormId", "eAct")',
            data: {
                typeFormId: "@Model.activityFormTBMMKT.master_type_form_id",
                empId: $("#txtEmpId").val(),
            }
        }).done(function (response) {
            if (response.Data.flow.length > 0) {
                //เจอ flow ไปหาภาคต่อ ใช้ภาคของ flow ไม่ใช้ของ DBAuthen เพราะไม่อัพเดท
                if (response.Data.regional.length > 0) {
                    $("#ddlRegional").empty();
                    if (response.Data.regional.length > 1) {

                        ddlRegional.append($("<option></option>").val('').html(''));
                    }
                    $("#ddlRegional option[value !='']").remove();
                    $.each(response.Data.regional, function () {
                        ddlRegional.append($("<option></option>").val(this['id']).html(this['nameTH']));
                    });

                    if ($("#hdRegionalId").val() != '') {
                        $("#ddlRegional").val($("#hdRegionalId").val());
                    }
                    document.getElementById("ddlRegional").disabled = false;
                }
                else {

                    document.getElementById("ddlRegional").disabled = true;
                }
            }
            else {

                alert('ไม่พบ Flow อนุมัติของรหัสพนักงาน ' + $("#txtEmpId").val());

                $('#txtEmpId').val('');
                $('#divEmpInfo select').empty();
                document.getElementById('lblEmpName').innerHTML = '';
                document.getElementById('lblEmpPosition').innerHTML = '';
                document.getElementById('lblLvl').innerHTML = '';
                document.getElementById('lblDept').innerHTML = '';
                document.getElementById('lblComp').innerHTML = '';
                document.getElementById('lblHireDate').innerHTML = '';
            }
        });
    }

    function getCashDetail() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("getCashDetailByEmpId", "eAct")',
            data: {
                empId: $("#txtEmpId").val(),
                docDate: $("#txtdateDoc").val(),
                typeId: '@AppCode.Expenses.Medical',
                hireDate: $("#lblHireDate").val(),
                jobLevel: $("#lblLvl").val(),
            }
        }).done(function (response) {
            console.log(response);
            if (response.Data != null) {
                //0 2 3 6 ต้องดึงตามที่เคยสร้าง 1 ,5 ดึงข้อมูลปัจจุบัน
                if (
                    '@Model.activityFormTBMMKT.statusId' == "1" ||
                    '@Model.activityFormTBMMKT.statusId' == "5"  )
                {
                    $("#lblLimit").text(response.Data.limit.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    $("#lblLimit").val(response.Data.limit);

                    $("#lblCumulative").text(response.Data.cumulative.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    $("#lblCumulative").val(response.Data.cumulative);

                    $("#lblBalance").text(response.Data.balance.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    $("#lblBalance").val(response.Data.balance);

                    $("#hdLimit").val(response.Data.limit);
                    $("#hdCumulative").val(response.Data.cumulative);
                    $("#hdBalance").val(response.Data.balance);
                }
            }
            else {
                if ($("#txtEmpId").val() != "") {
                  // alert( "ไม่พบข้อมูลกรุณาติดต่อ...");

                }
                $("#lblLimit").text("0.00");
                $("#lblCumulative").text("0.00");
                $("#lblBalance").text("0.00");

                $("#lblLimit").val(0.00);
                $("#lblCumulative").val(0.00);
                $("#lblBalance").val(0.00);
            }
            calReceived();
          //  alert($("#lblCumulative").val());
        });

    }

</script>
