@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model
<tr style="border-bottom:none;">
    <td>
        <div id="divHeaderDetailsCost" runat="server" style="width: 100%;padding-left:15px;padding-right:15px;">
            <table class="table table-bordered" id="tabelHeaderDetails" runat="server">
                <tr style="background-color:#2f74b5;color:white;height:25px;">
                    <th style="width: 15%;border-style: solid;border-width: 0px 1px 0px 1px; border-collapse: collapse;text-align:center;">IO</th>
                    <th style="width: 10%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">ประเภท</th>
                    <th style="width: 30%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">กิจกรรมหรือรายละเอียด</th>
                    <th style="width: 8%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">หน่วยเรียก</th>
                    <th style="width: 7%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">จำนวน</th>
                    <th style="width: 15%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">ราคาต่อหน่วย(บาท)</th>
                    <th style="width: 15%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">จำนวนเงิน(บาท)</th>
                </tr>
                @{ var index = 0;}
                @foreach (var item in Model.costThemeDetailOfGroupByPriceTBMMKT)
                {
                    <tr class="tagCountRowinTable">
                        <td style="width: 15%;border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse;text-align:center;">
                            @if (Model.activityFormModel.mode == "edit" && Model.activityFormTBMMKT.statusId == 2 && UtilsAppCode.Session.User.isAdminTBM)
                            {
                                <input type="text" value="@item.IO" id="costThemeDetailOfGroupByPriceTBMMKT[@index].IO" name="costThemeDetailOfGroupByPriceTBMMKT[@index].IO" class="form-control textboxcss clstxtIO" />
                            }
                            else
                            {
                                <input type="text" value="@item.IO" id="costThemeDetailOfGroupByPriceTBMMKT[@index].IO" name="costThemeDetailOfGroupByPriceTBMMKT[@index].IO" class="form-control textboxcss clstxtIO" readonly="readonly" />
                            }

                        </td>
                        <td style="width: 10%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                            @Html.DropDownList("costThemeDetailOfGroupByPriceTBMMKT[" + index + "].activityTypeId", new SelectList(Model.activityGroupList, "activityTypeId", "activitySales", item.activityTypeId), "", new { @class = "form-control selectpicker" })
                        </td>
                        <td style="width: 30%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                            <input type="text" value="@item.productDetail" id="costThemeDetailOfGroupByPriceTBMMKT[@index].productDetail" name="costThemeDetailOfGroupByPriceTBMMKT[@index].productDetail" class="form-control textboxcss" />
                        </td>
                        <td style="width: 8%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                            <input type="text" value="@item.QtyName" id="costThemeDetailOfGroupByPriceTBMMKT[@index].QtyName" name="costThemeDetailOfGroupByPriceTBMMKT[@index].QtyName" class="form-control textboxcss" />
                        </td>
                        <td style="width: 7%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                            <input type="text" value="@item.unit" id="costThemeDetailOfGroupByPriceTBMMKT[@index].unit" name="costThemeDetailOfGroupByPriceTBMMKT[@index].unit" class="form-control textboxcss txtUnit_@index" />
                            <script>
                        $(".txtUnit_@index").blur(function () {
                            $(".txtUnit_@index").val($(".txtUnit_@index").val().replace(",", ""));
                        });
                            </script>
                        </td>
                        <td style="width: 15%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                            @Html.TextBoxFor(x => item.unitPriceDisplay, new { @id = "costThemeDetailOfGroupByPriceTBMMKT[" + index + "].unitPriceDisplay", Name = "costThemeDetailOfGroupByPriceTBMMKT[" + index + "].unitPriceDisplay", @class = "form-control textboxcss text-right txtunitPriceDisplay__" + index })
                        </td>
                        <td style="width: 15%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:right;">
                            <input type="hidden" value="@item.total" id="costThemeDetailOfGroupByPriceTBMMKT[@index].total" name="costThemeDetailOfGroupByPriceTBMMKT[@index].total" class="form-control textboxcss text-right hidtotal_@index" />
                            @Html.TextBoxFor(x => item.total, "{0:n2}", new { @id = "costThemeDetailOfGroupByPriceTBMMKT[" + index + "].total", Name = "costThemeDetailOfGroupByPriceTBMMKT[" + index + "].total", @class = "form-control textboxcss text-right txttotal_" + index, @readonly = "readonly" })
                            <script>
                         $(".txtUnit_@index").blur(function () {
                            var v_unitRow = 0.00;
                            var v_unitpriceRow = 0.00;
                            var v_totalRow = 0.00;
                             if ($(".txtUnit_@index").val() != "" && $(".txtUnit_@index").val() != "0.00" && $(".txtUnit_@index").val() != "0") {
                                v_unitRow = parseFloat($(".txtUnit_@index").val().replace(",",""));
                            }
                             if ($(".txtunitPriceDisplay__@index").val() != "" && $(".txtunitPriceDisplay__@index").val() != "0.00" && $(".txtunitPriceDisplay__@index").val() != "0") {
                                 v_unitpriceRow = parseFloat($(".txtunitPriceDisplay__@index").val().replace(",", ""));
                            }
                             v_totalRow = (v_unitRow * v_unitpriceRow);

                            $(".hidtotal_@index").val(v_totalRow.toFixed(2));
                             $(".txttotal_@index").val(v_totalRow.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));

                             sumall();
                        });

                        $(".txtunitPriceDisplay__@index").blur(function () {
                            var v_unitRow = 0.00;
                            var v_unitpriceRow = 0.00;
                            var v_totalRow = 0.00;
                            if ($(".txtUnit_@index").val() != "" && $(".txtUnit_@index").val() != "0.00" && $(".txtUnit_@index").val() != "0") {
                                v_unitRow = parseFloat($(".txtUnit_@index").val().replace(",", ""));
                            }
                            if ($(".txtunitPriceDisplay__@index").val() != "" && $(".txtunitPriceDisplay__@index").val() != "0.00" && $(".txtunitPriceDisplay__@index").val() != "0") {
                                v_unitpriceRow = parseFloat($(".txtunitPriceDisplay__@index").val().replace(",", ""));
                            }
                            v_totalRow = (v_unitRow * v_unitpriceRow);

                            $(".hidtotal_@index").val(v_totalRow.toFixed(2));
                            $(".txttotal_@index").val(v_totalRow.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                            sumall();
                        });


                            </script>
                        </td>
                    </tr>
                    index++;
                }
                <tr>
                    <td colspan="6" style="width: 85%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:right;">
                        จำนวนเงินรวม(บาท)&nbsp;
                    </td>
                    <td style="width: 15%;border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse;text-align:right;">
                        <label id="totalEstimate" type="text" readonly="readonly">@Model.totalCostThisActivity.Value.ToString("#,###.00")</label>&nbsp;
                    </td>
                </tr>
            </table>
            <script>
                function sumall() {
                    var totalAll = 0.00;
                    var rowCount = parseInt($('#tabelHeaderDetails tr.tagCountRowinTable').length);

                    for (i = 0; i < rowCount; i++) {

                        var rowtotal = parseFloat($(".hidtotal_" + i.toString()).val().replace(",", ""));
                        totalAll = totalAll + rowtotal;
                    }

                    $("#totalEstimate").text(totalAll.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                }
            </script>
        </div>
    </td>
</tr>
<tr>
    <td style="border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;">
        <div style="height:10px;"></div>
        <div class="form-group">

            <label class="control-label col-md-2 col-xs-12">
                หมายเหตุ :
            </label>

            <div class="col-md-10 col-xs-12">
                <div class="row">
                    @Html.TextAreaFor(x => x.activityFormModel.remark, new { @class = "form-control textboxcss", @id = "txtremark" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label class="control-label col-md-2 col-xs-12">
                    เอกสารแนบ :
                </label>

                <div class="col-md-10 col-xs-12">
                    <div class="row">
                        @Html.TextAreaFor(x => x.tB_Act_ActivityForm_DetailOther.descAttach, new { @class = "form-control textboxcss", @id = "txtdescAttach" })
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>