@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model


<table style="border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;">
    <tr style="border-bottom:none;">
        <td style="width: 100%;text-align:right;">
            <div id="getQuery" class="col-lg-12">
            </div>
           
            <div id="divShowBudget" class="bg-success col-md-6 col-xs-12" style="text-align:left; color:black;">
        </div>
            <div id="divHeaderDetailsCost">
                <table class="table table-bordered" id="tableDetailsBG">
                    <tr style="background-color:#2f74b5;color:white;height:25px;">
                        <th style="width: 15%;border-style: solid;border-width: 0px 1px 0px 1px; border-collapse: collapse;text-align:center;">ประเภท<br />ปีงบประมาณ</th>
                        @*<th style="width: 14%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">EO</th>
                        <th style="width: 14%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">IO</th>
                    <th style="width: 8%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">ประเภท</th>*@
                        <th style="width: 40%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">กิจกรรมหรือรายละเอียด<br />EO , IO</th>
                        <th style="width: 8%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">หน่วย<br />เรียก</th>
                        <th style="width: 7%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">จำนวน</th>
                        <th style="width: 15%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">ราคาต่อหน่วย(บาท)</th>
                        <th style="width: 15%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">จำนวนเงิน(บาท)</th>
                    </tr>
                    @{ var index = 0;}
                    @foreach (var item in Model.activityOfEstimateList)
                    {
                        <tr class="tagCountRowinTable">
                            <td style="border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse;text-align:center;">
                                @Html.DropDownList("activityOfEstimateList[" + index + "].activityTypeId", new SelectList(Model.activityGroupList, "activityTypeId", "activitySales", item.activityTypeId), "", new { @class = "form-control", @title = "เลือกประเภท" })
                                @Html.DropDownList("activityOfEstimateList[" + index + "].UseYearSelect", new SelectList(Model.listFiscalYearModel, "id", "UseYear", item.UseYearSelect), "", new { @class = "form-control", @title = "เลือกปีงบประมาณ" })
                            </td>
                            @*<td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                            <input type="text" value="@item.EO" id="activityOfEstimateList[@index].EO" name="activityOfEstimateList[@index].EO" class="form-control textboxcss clstxtEO" />
                        </td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                            @if ((Model.activityFormModel.mode == "edit" && Model.activityFormTBMMKT.statusId == 2 && UtilsAppCode.Session.User.isAdminTBM) || (UtilsAppCode.Session.User.isAdminTBM))
                            {
                                <input type="text" value="@item.IO" id="activityOfEstimateList[@index].IO" name="activityOfEstimateList[@index].IO" class="form-control textboxcss clstxtIO" />
                            }
                            else
                            {
                                <input type="text" value="@item.IO" id="activityOfEstimateList[@index].IO" name="activityOfEstimateList[@index].IO" class="form-control textboxcss clstxtIO" readonly="readonly" />
                            }
                        </td>
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                            @Html.DropDownList("activityOfEstimateList[" + index + "].activityTypeId", new SelectList(Model.activityGroupList, "activityTypeId", "activitySales", item.activityTypeId), "", new { @class = "form-control" })
                        </td>*@
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                                <div style="display:inline-block;">
                                    <input type="text" value="@item.EO" id="activityOfEstimateList[@index].EO" name="activityOfEstimateList[@index].EO" class="form-control textboxcss clstxtEO_@index" placeholder="EO" maxlength="18" />
                                    <script>
                                        $(".clstxtEO_@index").blur(function () {
                                            $(".clstxtEO_@index").val($(".clstxtEO_@index").val().replaceAll(" ", ""));
                                            getBudgetTotal();
                                        });

                                    </script>
                                </div>

                                <div style="display:inline-block;">
                                    @if ((Model.activityFormModel.mode == "edit" && Model.activityFormTBMMKT.statusId == 2 && UtilsAppCode.Session.User.isAdminTBM) || (UtilsAppCode.Session.User.isAdminTBM))
                                    {
                                        <input type="text" value="@item.IO" id="activityOfEstimateList[@index].IO" name="activityOfEstimateList[@index].IO" class="form-control textboxcss clstxtIO_@index" placeholder="IO" maxlength="12" />
                                    }
                                    else
                                    {
                                        <input type="text" value="@item.IO" id="activityOfEstimateList[@index].IO" name="activityOfEstimateList[@index].IO" class="form-control textboxcss clstxtIO_@index" placeholder="IO" maxlength="12" readonly="readonly" />
                                    }
                                    <script>
                                        $(".clstxtIO_@index").blur(function () {
                                            $(".clstxtIO_@index").val($(".clstxtIO_@index").val().replaceAll(" ", ""));
                                        });
                                    </script>
                                </div>
                                <div>
                                    <input type="text" value="@item.productDetail" id="activityOfEstimateList[@index].productDetail" name="activityOfEstimateList[@index].productDetail" class="form-control textboxcss clstxtproductDetail_@index" placeholder="กิจกรรมหรือรายละเอียด" />
                                </div>

                            </td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                                <input type="text" value="@item.QtyName" id="activityOfEstimateList[@index].QtyName" name="activityOfEstimateList[@index].QtyName" class="form-control textboxcss" />
                            </td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                                <input type="text" value="@item.unit" id="activityOfEstimateList[@index].unit" name="activityOfEstimateList[@index].unit" class="form-control textboxcss txtUnit_@index" />
                                <script>
                                    $(".txtUnit_@index").blur(function () {
                                        $(".txtUnit_@index").val($(".txtUnit_@index").val().replace(",", ""));

                                    });
                                </script>
                            </td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                                @Html.TextBoxFor(x => item.unitPriceDisplay, new { @id = "activityOfEstimateList[" + index + "].unitPriceDisplay", Name = "activityOfEstimateList[" + index + "].unitPriceDisplay", @class = "form-control textboxcss text-right txtunitPriceDisplay__" + index })
                            </td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:right;">
                                <input type="hidden" value="@item.total" id="activityOfEstimateList[@index].total" name="activityOfEstimateList[@index].total" class="form-control textboxcss text-right hidtotal_@index" />
                                @Html.TextBoxFor(x => item.total, "{0:n2}", new { @id = "activityOfEstimateList[" + index + "].total", Name = "activityOfEstimateList[" + index + "].total", @class = "form-control textboxcss text-right txttotal_" + index, @readonly = "readonly" })
                                <script>
                         $(".txtUnit_@index").blur(function () {
                            var v_unitRow = 0.00;
                            var v_unitpriceRow = 0.00;
                            var v_totalRow = 0.00;
                             if ($(".txtUnit_@index").val() != "" && $(".txtUnit_@index").val() != "0.00" && $(".txtUnit_@index").val() != "0") {
                                 v_unitRow = parseFloat($(".txtUnit_@index").val().replaceAll(",",""));
                            }
                             if ($(".txtunitPriceDisplay__@index").val() != "" && $(".txtunitPriceDisplay__@index").val() != "0.00" && $(".txtunitPriceDisplay__@index").val() != "0") {
                                 v_unitpriceRow = parseFloat($(".txtunitPriceDisplay__@index").val().replaceAll(",", ""));
                            }
                             v_totalRow = (v_unitRow * v_unitpriceRow);

                            $(".hidtotal_@index").val(v_totalRow.toFixed(2));
                             $(".txttotal_@index").val(v_totalRow.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                             getBudgetTotal();
                             sumall();
                        });

                        $(".txtunitPriceDisplay__@index").blur(function () {
                            var v_unitRow = 0.00;
                            var v_unitpriceRow = 0.00;
                            var v_totalRow = 0.00;
                            if ($(".txtUnit_@index").val() != "" && $(".txtUnit_@index").val() != "0.00" && $(".txtUnit_@index").val() != "0") {
                                v_unitRow = parseFloat($(".txtUnit_@index").val().replace(",", ""));
                            }
                            if ($(".txtunitPriceDisplay__@index").val() != "" && $(".txtunitPriceDisplay__@index").val() != "0.00" && $(".txtunitPriceDisplay__@index").val() != "0") {
                                v_unitpriceRow = parseFloat($(".txtunitPriceDisplay__@index").val().replaceAll(",", ""));
                            }
                            v_totalRow = (v_unitRow * v_unitpriceRow);

                            $(".hidtotal_@index").val(v_totalRow.toFixed(2));
                            $(".txttotal_@index").val(v_totalRow.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                            getBudgetTotal();
                            sumall();
                        });


                                </script>
                            </td>
                        </tr>
                        index++;
                    }
                    <tr>
                        <td colspan="5" style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:right;">
                            จำนวนเงินรวม(บาท)&nbsp;
                        </td>
                        <td style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse;text-align:right;">
                            <label id="totalEstimate" type="text" readonly="readonly">@Model.totalCostThisActivity.Value.ToString("#,###.00")</label>&nbsp;
                        </td>
                    </tr>
                </table>
                <script>
                    function sumall() {
                        var totalAll = 0.00;
                        var rowCount = parseInt($('#tableDetailsBG tr.tagCountRowinTable').length);

                        for (i = 0; i < rowCount; i++) {

                            var rowtotal = parseFloat($(".hidtotal_" + i.toString()).val().replaceAll(",", ""));
                            totalAll = totalAll + rowtotal;
                        }

                        $("#totalEstimate").text(totalAll.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    }
                </script>
            </div>
        </td>
    </tr>
    <tr>
        <td style="border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;">
            <div style="height:10px;"></div>
            <div class="form-group">

                <label class="control-label col-md-2 col-xs-12">
                    หมายเหตุ :
                </label>

                <div class="col-md-10 col-xs-12">
                    <div class="row">
                        @Html.TextAreaFor(x => x.activityFormModel.remark, new { @class = "form-control textboxcss", @id = "txtremark" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label col-md-2 col-xs-12">
                        เอกสารแนบ :
                    </label>

                    <div class="col-md-10 col-xs-12">
                        <div class="row">
                            @Html.TextAreaFor(x => x.tB_Act_ActivityForm_DetailOther.descAttach, new { @class = "form-control textboxcss", @id = "txtdescAttach" })
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    @Html.HiddenFor(x => x.tB_Act_ActivityForm_DetailOther.other1, new { id = "txtTotalBudget" })
</table>


<script type="text/javascript">

    $(document).ready(function () {
    
        getBudgetTotal();
    });


    function getBudgetTotal(row) {


        var getEOBudget = [];
        $('#tableDetailsBG tr').each(function (row, tr) {
            getEOBudget.push({
                EO: $(this).find("td:eq(1) input").val(),
                total: $(this).find("td:eq(5) input").val(),
            });
        });

        $.ajax({
            url: '@Url.Action("getBudgetByEO", "SharedMasterFormDetail_Input")',
            data: {

                listEO: JSON.stringify(getEOBudget),
                companyId: "@Model.activityFormTBMMKT.formCompanyId",
                subjectId: document.getElementById("ddlSubject").value,
                channelId: document.getElementById("ddlChannel").value,
                brandId: document.getElementById("ddlBrand").value,
                activityId: "@Model.activityFormTBMMKT.id",

            },
            dataType: "json",
            type: 'POST'
        }).done(function (response) {

            if (response.Success == true) {
                document.getElementById("divShowBudget").innerHTML = "";
                if (response.Data.budgetTotalsList.length > 0) {
                    //$.each(response.Data.budgetTotalsList, function () {
                    //    var amount = $(this).attr('amount').toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    //    var useAmount = $(this).attr('useAmount').toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    //    var amountBalance = $(this).attr('amountBalance').toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    //    var totalBudget = $(this).attr('totalBudget').toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    //    var EO = $(this).attr('EO');
                    //    var txt = 'EO ' + EO + ' <br/>วงเงิน ' + amount + ' สะสม ' + useAmount + ' คงเหลือ ' + amountBalance;
                    //    if ($('#ddlChannelOrBrand').val() == 'Brand') {
                    //        txt += '<br/>Total BG : ' + totalBudget;
                    //    }

                    //    //+ ' ยอดใช้ไป ' + $(this).attr('useAmount').toString().toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + ' งบคงเหลือ ' + $(this).attr('amountBalance').toString().toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                    //    $("#divShowBudget").append("<p>- " + txt + "</p>");
                    //    console.log(txt);

                    //});

                    callPartialBudgetControl("@Model.activityFormTBMMKT.id");
                    //console.log($("#divShowBudget").text());
                    //$("#txtTotalBudget").val($("#divShowBudget").text());
                }
            }
        });
    }

    function callPartialBudgetControl(actId) {

        $.ajax({
            type: 'POST',
            url:  '@Url.Action("showDetailBudgetControl", "SharedMasterFormDetail_Input")',
            data: {
                activityId: actId,
            }
        }).done(function (htmlResponse) {
            $("#getQuery").html(htmlResponse)
        });
    }

</script>
