@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer
@using eActForm.Models


<div class="col-lg-12 col-xs-12">
    <fieldset>
        <legend> ค่าใช้จ่ายในการเดินทาง / Travel & Transportation Expenses</legend>
    </fieldset>
</div>

<div class="col-md-12">
    <table class="table table-bordered" id="tbl_CashDetail" cellpadding="0" cellspacing="0">
        <thead class="thead-dark">
            <tr>
                <th class="align-content-center font10" rowspan="2" style="width:5%;"></th>
                <th class="align-content-center font10" rowspan="2" style="width:10%;">วันเดือนปี</th>
                <th class="align-content-center font10" rowspan="2" style="width:30%;">รายการ</th>
                <th class="align-content-center font10" rowspan="2" style="width:15%;">ลิตร</th>
                <th class="align-content-center font10" rowspan="2" style="width:15%;">จำนวนเงิน</th>
                <th class="align-content-center font10" rowspan="2" style="width:30%;">หมายเหตุ</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.activityOfEstimateList.Count; i++)
        {
            <tbody id=first>
                <tr class="tagCountRowTravel">
                    @if (UtilsAppCode.Session.User.isCreator && Model.activityFormModel.mode == AppCode.Mode.addNew.ToString())
                    {
                        <td><button type="button" class="btn ink-reaction btn-danger fa fa-trash-o" onclick="cashDelete(this);"></button></td>
                    }
                    else
                    {
                        @*<td> <input type="checkbox" checked id="chkBox" class="icheckbox_flat-green" name="Activity_TBMMKT_Model.activityOfEstimateList[@index].chkBox"></td>*@
                        <td style="text-align:right"> @Html.CheckBoxFor(x => x.activityOfEstimateList[i].chkBox, new { @class = "icheckbox_flat-green", @checked = true })</td>
                    }
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList[i].dateInput, new { @class = "form-control textboxcss font10 textRight datepicker" })</td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList[i].productDetail, new { @class = "form-control textboxcss font10 textRight" })</td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList[i].unit, new { @class = "form-control textboxcss font10 textRight", onkeyup = "getLite()" })</td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList[i].total, new { @class = "form-control textboxcss font10 textRight", onkeyup = "getValues()" })</td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList[i].remark, new { @class = "form-control textboxcss font10 textRight" })</td>
                </tr>
            </tbody>
            <tr>
                <td></td>
                <td colspan="2" class="textRight">
                    รวมค่าใช้จ่ายในการเดินทาง/ต่าใช้จ่ายประจำเดือน (ไม่รวมค่าเลี้ยงรับรองหรือการตรวจตลาด)
                    Total Travel & Transporation Expenses (Excluding Entertainment Expenses and Market Visit)
                </td>
                <td class="textRight">
                    <label id="lblLite"></label>
                </td>
                <td class="textRight">
                    <label id="lblShowtotal"></label>
                </td>
                <td></td>
            </tr>

        }

    </table>
    @if (UtilsAppCode.Session.User.isCreator && Model.activityFormModel.mode == AppCode.Mode.addNew.ToString())
    {
        <div class="row pull-right" style="width:150px" onclick="addRow();">
            <label class="btn ink-reaction btn-success fa fa-plus" style="width:120px; height:30px;">Add</label>
        </div>

        <div id="divCashBill" class="row">

            @foreach (var item in Model.exPerryCashList)
            {
                <div class="col-lg-8">
                </div>
                <div class="col-lg-4">
                    <label style="color:red">
                        <label style="color:red"> @item.cashName @item.cash บาท/เดือน</label>
                    </label>
                </div>
            }

        </div>
    }
    else
    {
        <div id="divCashBill" class="row"></div>
    }
</div>


<script type="text/javascript">


    $(document).ready(function () {
        document.getElementById("divCashBill").style.display = "none";
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy'
        });

    });

    function addRow() {
        var RowCount = $('#tbl_CashDetail tbody tr').length - 1;
        var newRow = $("#tbl_CashDetail tbody tr").first().clone().find("input").val("").end();
        $("#tbl_CashDetail > tbody:first").append(newRow);
        newRow.find("input").each(function () {
            $(this).attr("id", $(this).attr("name").replace("[0]", "[" + RowCount + "]"));
            $(this).attr("name", $(this).attr("name").replace("[0]", "[" + RowCount + "]"));
        }
        );

        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy'
        });

    }

    function cashDelete(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
        getValues();
    }


    function getValues() {
        var totalAll = 0.00;
        var rowCount = parseInt($('#tbl_CashDetail tr.tagCountRowTravel').length);

        for (i = 0; i < rowCount; i++) {
            var x = document.getElementsByName("activityOfEstimateList[" + i + "].total");
            var rowtotal = parseFloat($(x).val());
            if (isNaN(rowtotal)) rowtotal = 0;
            totalAll = totalAll + rowtotal;
        }
        //convertBaht2Text(totalAll);
        document.getElementById('lblShowtotal').innerHTML = totalAll.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
        totalExpenExMaket();
        totalAllExpenses();
    }

    function totalExpenExMaket() { 
        var total = parseFloat(document.getElementById('lblShowtotal').innerHTML.split(",").join(""));
        var ExMaket = parseFloat(document.getElementById('lbltotalExMaket').innerHTML.split(",").join(""));
        ExMaket = isNaN(ExMaket) ? 0 : parseFloat(ExMaket);
        var result = total +  ExMaket
         //Id for exPerryListEntertainment View
        document.getElementById('lbltotalExpenses').innerHTML = isNaN(result) ? 0 : result.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');

    }

    function totalAllExpenses() { 
        var ex = parseFloat(document.getElementById('lbltotalExpenses').innerHTML.split(",").join(""));
        var adv = parseFloat(0); // set 0 wait value
        var result = ex - adv;
         //Id for exPerryListEntertainment View
        document.getElementById('lbltotalAll').innerHTML =  result.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
    }


    function getLite() {
        var totalAll = 0.00;
        var rowCount = parseInt($('#tbl_CashDetail tr.tagCountRowTravel').length);

        for (i = 0; i < rowCount; i++) {
            var x = document.getElementsByName("activityOfEstimateList[" + i + "].unit");
            var rowtotal = parseFloat($(x).val());
            if (isNaN(rowtotal)) rowtotal = 0;
            totalAll = totalAll + rowtotal;
        }
        document.getElementById('lblLite').innerHTML = totalAll.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
    }


    function convertBaht2Text(baht) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("textThaiBaht", "eAct")',
            data: {
                txtBaht: baht,
            }
        }).done(function (result) {
            document.getElementById('lbltxtTotal').innerHTML = result;
        });
    }

</script>
