@using eActForm.BusinessLayer
@using System.Configuration;
@model eActForm.Models.Activity_TBMMKT_Model


<hr />


<div class="col-md-12 col-xs-12">

    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-12">
        </div>
        <div class="col-md-3 col-xs-12">
            <label class="control-label pull-right">
                Doc No. :
            </label>
        </div>
        <div class="col-md-3 col-xs-12">
            @Html.TextBoxFor(m => m.activityFormModel.activityNo, new { @class = "form-control textboxcss", Style = "width:5; text-align:center;", @id = "txtActivityNo", @readonly = true })
        </div>
    </div>
    @if (Model.activityFormTBMMKT.master_type_form_id != ConfigurationManager.AppSettings["formReceptions"])
    {
        <div class="col-md-12 col-xs-12 form-group">
            <div class="col-md-6 col-xs-12">
            </div>
            <div class="col-md-3 col-xs-12">
                <label class="control-label pull-right">
                    เลขที่เอกสารใบยืมเงินทดลอง :
                </label>
            </div>
            <div class="col-md-3 col-xs-12">
                @Html.TextBoxFor(m => m.activityFormTBMMKT.reference, new { @class = "form-control textboxcss", Style = "width:5; text-align:center;", @id = "txtReference", @readonly = true })
            </div>
        </div>
    }
    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-12">
        </div>
        <div class="col-md-3 col-xs-12">
            <label class="control-label pull-right">
                ประจำเดือน :
            </label>
        </div>
        <div class="col-md-3 col-xs-12">
            @if (Model.activityFormModel.documentDate.ToString() != "")
            {
                @Html.TextBox("activityFormModel.documentDateStr", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityFormModel.documentDate, "yyyy-MM")
                     , new { type = "month", @class = "form-control textboxcss", @id = "txtExMonth", Style = "text-align:center;", autocomplete = "off" })
            }
            else
            {
                @Html.TextBox("activityFormModel.documentDateStr", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityFormModel.documentDate, "yyyy-MM")
                    , new { type = "month", @class = "form-control textboxcss", @id = "txtExMonth", Style = "text-align:center;", @Value = DocumentsAppCode.convertDateTHToShowCultureDateEN(@DateTime.Now, "yyyy-MM"), autocomplete = "off" })
            }
        </div>
    </div>

</div>



<script type="text/javascript">


    //$(function () {
    //    $("#txtExMonth").datepicker({
    //        format: 'dd/mm/yyyy'
    //    });
    //});



</script>
