@model eActForm.Models.Activity_TBMMKT_Model

<div class="row">
    <div class="col-12">
        <table class="table table-bordered" id="tbl_CashDetail" cellpadding="0" cellspacing="0">
            <thead class="thead-dark">
                <tr>
                    <th class="align-content-center font10" rowspan="2" style="width:5%;"></th>
                    <th class="align-content-center font10" rowspan="2" style="width:10%;">วันเดือนปี</th>
                    <th class="align-content-center font10" rowspan="2" style="width:30%;">รายการ</th>
                    <th class="align-content-center font10" rowspan="2" style="width:20%;">สถานที่</th>
                    <th class="align-content-center font10" rowspan="2" style="width:10%;">จำนวนเงิน</th>
                    <th class="align-content-center font10" rowspan="2" style="width:30%;">หมายเหตุ</th>
                </tr>
            </thead>
            @{var index = 0; }
            @foreach (var item in Model.expensesDetailModel.costDetailLists)
            {

                <tr class="tagCountRowinTable">

                    <td><button type="button" class="btn ink-reaction btn-danger fa fa-trash-o" onclick="cashDelete(this);"></button></td>
                    <td style="text-align:right"><input type="text" id="date[@index]" data-date-format="DD MMMM YYYY" name="expensesDetailModel.costDetailLists[@index].date" class="form-control textboxcss font10 textRight datepicker" /></td>
                    <td style="text-align:right"><input type="text" id="productCashDetail[@index]" name="expensesDetailModel.costDetailLists[@index].productDetail" class="form-control textboxcss font10 textRight" /></td>
                    <td style="text-align:right"><input type="text" id="detail[@index]" name="expensesDetailModel.costDetailLists[@index].detail" class="form-control textboxcss font10 textRight" /></td>
                    <td style="text-align:right"><input type="number" id="total[@index]" name="expensesDetailModel.costDetailLists[@index].total" class="form-control textboxcss font10 textRight txttotal_@index" onkeyup="getValues()" /></td>
                    <td style="text-align:right"><input type="text" id="remark[@index]" name="expensesDetailModel.costDetailLists[@index].remark" class="form-control textboxcss font10 textRight" /></td>

                </tr>
                index++;
            }

        </table>
        <div class="form-group col-lg-12 col-xs-12" onclick="addRow();">
            <label class="btn ink-reaction btn-danger fa fa-plus"></label>
        </div>
        <div class="row">
            <div class="col-lg-7">
            </div>
            <div class="col-lg-2 col-xs-2">
                <label id="lbltxtTotal"></label>
            </div>
            <div class="col-lg-2 col-xs-2">
                <label style="text-align:left">รวม</label>
            </div>
            <div class="col-lg-1 col-xs-1">
                <label id="lblShowtotal"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
            </div>
            <div class="col-lg-2 col-xs-2">
                <label id="lbltxtTotal"></label>
            </div>
            <div class="col-lg-2 col-xs-2">
                <label class="pull-left">เบิกตามสิทธิ (ต่อเดือน)</label>
            </div>
            <div class="col-lg-1 col-xs-1">
                <label>
                    @Model.exPerryCashModel.rulesCash
                </label>
            </div>
        </div>
        <br />
        <div id="divCertification" class="row">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4">
                <label style="color:red">***จ่ายตามหลักเกณฑ์  @Model.exPerryCashModel.rulesCash บาท ต่อเดือน</label>
            </div>
        </div>

        <div id="divCashBill" class="row">

            @foreach (var item in Model.exPerryCashList)
            {
                <div class="col-lg-8">
                </div>
                <div class="col-lg-4">
                    <label style="color:red">
                        <label style="color:red"> @item.cashName @item.cash บาท/เดือน</label>
                    </label>
                </div>
            }

        </div>

    </div>
    



<script type="text/javascript">
     document.getElementById("divCashBill").style.display = "none";
    $('.datepicker').datepicker({
        format: 'dd-mm-yyyy'
    });


    function addRow() {
        var table = document.getElementById("tbl_CashDetail");
        var RowCount = table.rows.length;
        $("#tbl_CashDetail").append(
            "<tr>" + '<td><button type="button" class="btn ink-reaction btn-danger fa fa-trash-o" onclick="cashDelete(this);"></button></td>' +
            '<td style="text-align:right"><input type="text" id="date" name="expensesDetailModel.costDetailLists[' + RowCount + '].date" class="form-control textboxcss font10 textRight" /></td>' +
            '<td style="text-align:right"><input type="text" id="productCashDetail" name="expensesDetailModel.costDetailLists[' + RowCount + '].productDetail" class="form-control textboxcss font10 textRight" /></td>' +
            '<td style="text-align:right"><input type="text" id="detail" name="expensesDetailModel.costDetailLists[' + RowCount + '].detail" class="form-control textboxcss font10 textRight" /></td>' +
            '<td style="text-align:right"><input type="text" id="total" name="expensesDetailModel.costDetailLists[' + RowCount + '].total" class="form-control textboxcss font10 textRight" onkeyup="getValues()" /></td>' +
            '<td style="text-align:right"><input type="text" id="remark" name="expensesDetailModel.costDetailLists[' + RowCount + '].remark" class="form-control textboxcss font10 textRight" /></td>' + "</tr>"
        );
    }

    function cashDelete(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }


    function getValues() {
        var totalAll = 0.00;
        var rowCount = parseInt($('#tbl_CashDetail tr.tagCountRowinTable').length);

        for (i = 0; i < rowCount; i++) {
            var rowtotal = parseFloat($(".txttotal_" + i.toString()).val().replace(",", ""));
            if (isNaN(rowtotal)) rowtotal = 0;
            totalAll = totalAll + rowtotal;
        }
        convertBaht2Text(totalAll);
        document.getElementById('lblShowtotal').innerHTML = totalAll.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
    }


    function convertBaht2Text(baht) {
         $.ajax({
            type: 'POST',
            url:  '@Url.Action("textThaiBaht", "eAct")',
            data: {
                txtBaht: baht,
            }
         }).done(function (result) {
             document.getElementById('lbltxtTotal').innerHTML = result;
        });
    }

    </script>
