
@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer
@using eActForm.Models


<div class="col-lg-12 col-xs-12">
    <fieldset>
        <legend>  ค่าใช้จ่ายในการเลี้ยงรับรอง หรือการตรวจตลาด /  Entertainment Expenses and Market Visit</legend>
    </fieldset>
    <div>
        <lable style="color:red"> * หมายเหตุ:</lable>
        <lable>ค่าใช้จ่ายส่วนนี้ จะต้องผ่านการอนุมัติตามอำนาจการอนุมัติได้เท่านั้น *</lable>
    </div>
</div>
<div class="col-md-12">
    <table class="table table-bordered" id="tbl_Entertainment" cellpadding="0" cellspacing="0">
        <thead class="thead-dark">
            <tr>
                <th class="align-content-center font10" rowspan="2" style="width:5%;"></th>
                <th class="align-content-center font10" rowspan="2" style="width:10%;">วันที่</th>
                <th class="align-content-center font10" rowspan="2" style="width:30%;">สถานที่</th>
                <th class="align-content-center font10" rowspan="2" style="width:15%;">จุดประสงค์</th>
                <th class="align-content-center font10" rowspan="2" style="width:15%;">ชื่อลูกค้า</th>
                <th class="align-content-center font10" rowspan="2" style="width:30%;">รวมเป็นจำนวนเงิน</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.productcostdetaillist1.Count; i++)
        {
            <tbody id="first1">
                <tr class="tagCountRowExpenses">
                    @if (UtilsAppCode.Session.User.isCreator && Model.activityFormModel.mode == AppCode.Mode.addNew.ToString())
                    {
                        <td><button type="button" class="btn ink-reaction btn-danger fa fa-trash-o" onclick="cashDelete(this);"></button></td>
                    }
                    else
                    {
                        <td style="text-align:right"> @Html.CheckBoxFor(x => x.productcostdetaillist1[i].chkBox, new { @class = "icheckbox_flat-green", @checked = true })</td>
                    }
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.productcostdetaillist1[i].DateInput, new { @class = "form-control textboxcss font10 textRight datepicker" })</td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.productcostdetaillist1[i].productName, new { @class = "form-control textboxcss font10 textRight" })</td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.productcostdetaillist1[i].productDetail, new { @class = "form-control textboxcss font10 textRight", onkeyup = "getLite()" })</td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.productcostdetaillist1[i].total, new { @class = "form-control textboxcss font10 textRight", onkeyup = "getTotal()" })</td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.productcostdetaillist1[i].total, new { @class = "form-control textboxcss font10 textRight" })</td>
                </tr>
            </tbody>
            <tr>
                <td></td>
                <td colspan="4" class="textRight">
                    รวมค่าใช้จ่ายในการเลี้ยงรับรองและ/หรือการตรวจตลาด
                    Total Entertainment Expenses and Market Visit
                </td>
                <td class="textRight">
                    <label id="lbltotalExMaket"></label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4" class="textRight">
                    กรณีมีการเบิกเงินค่าใช้จ่ายล่วงหน้า จำนวนที่ขอเบิกไป  (บาท) /  Cash Advance (Baht)  =
                </td>
                <td class="textRight">
                    <label id="lbltotalAdvance"></label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4" class="textRight">
                    รวมค่าใช้จ่ายที่ต้องการเบิกในครั้งนี้ (บาท) /  Total All Expenses  =
                </td>
                <td class="textRight">
                    <label id="lbltotalAll"></label>
                </td>
            </tr>

        }

    </table>
    @if (UtilsAppCode.Session.User.isCreator && Model.activityFormModel.mode == AppCode.Mode.addNew.ToString())
    {
        <div class="row pull-right" style="width:150px" onclick="addRowEntertainment();">
            <label class="btn ink-reaction btn-success fa fa-plus" style="width:120px; height:30px;">Add</label>
        </div>
        <div id="divCertification" class="row">
            <div class="col-lg-12">
                <div class="col-lg-8">
                </div>
                <div class="col-lg-4">
                    <label style="color:red">***จ่ายตามหลักเกณฑ์  @Model.exPerryCashModel.rulesCash บาท ต่อเดือน</label>
                </div>
            </div>
        </div>

        <div id="divCashBill" class="row">

            @foreach (var item in Model.exPerryCashList)
            {
                <div class="col-lg-8">
                </div>
                <div class="col-lg-4">
                    <label style="color:red">
                        <label style="color:red"> @item.cashName @item.cash บาท/เดือน</label>
                    </label>
                </div>
            }

        </div>
    }
    else
    {
        <div id="divCashBill" class="row"></div>
    }
</div>


<script type="text/javascript">


    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy'
        });

    });

    function addRowEntertainment() {
        var RowCount = $('#tbl_Entertainment tbody tr').length - 3;
        var newRow = $("#tbl_Entertainment tbody tr").first().clone().find("input").val("").end();
        $("#tbl_Entertainment > tbody:first").append(newRow);
        newRow.find("input").each(function () {
            $(this).attr("id", $(this).attr("name").replace("[0]", "[" + RowCount + "]"));
            $(this).attr("name", $(this).attr("name").replace("[0]", "[" + RowCount + "]"));
        }
        );

        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy'
        });

        //document.getElementById("total[" + RowCount + "]").onkeyup = function () { return getValues(); }
    }

    function cashDelete(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
        getValues();
    }


    function getTotal() {
        var totalAll = 0.00;
        var rowCount = parseInt($('#tbl_Entertainment tr.tagCountRowExpenses').length);

        for (i = 0; i < rowCount; i++) {
            var x = document.getElementsByName("activityOfEstimateList[" + i + "].total");
            var rowtotal = parseFloat($(x).val());
            if (isNaN(rowtotal)) rowtotal = 0;
            totalAll = totalAll + rowtotal;
        }
        convertBaht2Text(totalAll);
        document.getElementById('lbltotalExMaket').innerHTML = totalAll.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
    }





</script>
