@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model

@if (Model.budgetTotalList.Count > 0)
{
    <div class="col-md-5 col-sm-5">
    </div>
    <div class="col-md-7 col-sm-7 col-xs-12 widget_tally_box">
        <div class="x_panel">
            <div class="col-xs-12 bg-white progress_summary">
                <div id="divProgress" class="row">
                    @{ int row = 0; }
                    @foreach (var item in Model.budgetTotalList)
                    {

                        string result = String.Format("{0:n2}", item.amountBalancePercen);
                        int intBalance = Convert.ToInt32(item.amountBalancePercen);
                        <div class="pro gress_title">

                            @if (row == 0)
                            {
                                if (!string.IsNullOrEmpty(item.brandId))
                                {
                                    <span>
                                        งบประมาณทั้งปี  @item.totalBudget.Value.ToString("#,##0.00") ใช้ไปสะสม @Model.budgetTotalModel.useAmountTotal.Value.ToString("#,##0.00") return @Model.budgetTotalModel.returnAmount.Value.ToString("#,##0.00") คงเหลือ @Model.budgetTotalModel.amountBalanceTotal.Value.ToString("#,##0.00")
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        งบประมาณทั้งปี  @item.channelName ทั้งปี  @Model.budgetTotalModel.totalBudgetChannel.Value.ToString("#,##0.00") ใช้ไปสะสม  @Model.budgetTotalModel.useAmountTotal.Value.ToString("#,##0.00") return @Model.budgetTotalModel.returnAmount.Value.ToString("#,##0.00") คงเหลือ @Model.budgetTotalModel.amountBalanceTotal.Value.ToString("#,##0.00")
                                    </span>
                                }
                            }
                            <br />
                            @if (!string.IsNullOrEmpty(item.brandId))
                            {
                                <span>งบ @item.activityType ทั้งปี  @item.amount.Value.ToString("#,##0.00")  ใช้ไปสะสม  @item.useAmount.Value.ToString("#,##0.00") return @item.returnAmount.Value.ToString("#,##0.00") คงเหลือ  @item.amountBalance.Value.ToString("#,##0.00")</span>
                            }
                            else
                            {
                                <span>งบ @item.brandName ทั้งปี  @item.amount.Value.ToString("#,##0.00")  ใช้ไปสะสม  @item.useAmount.Value.ToString("#,##0.00") return @item.returnAmountBrand.Value.ToString("#,##0.00") คงเหลือ  @item.amountBalance.Value.ToString("#,##0.00")</span>

                            }

                            @*<span class="left">สะสม</span>
                                <span class="right">คงเหลือ</span>*@
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-xs-4">
                            <span>@item.EO</span>
                        </div>
                        <div class="col-xs-6">
                            <div class="progress progress_sm">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="@intBalance"></div>
                            </div>
                        </div>
                        <div class="col-xs-2 more_info">
                            <span>@result%</span>
                        </div>

                        row++;
                    }


                </div>
            </div>
        </div>
    </div>
}

<script src="~/Content/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="~/Content/vendors/build/js/custom.js"></script>