@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer;
@using System.Globalization;
@using System.Configuration;
@{
    CultureInfo DateThai = new CultureInfo("th-TH");
    CultureInfo DateEnglish = new CultureInfo("en-US");
    var formName = "";


    if (Model.activityFormTBMMKT.chkUseEng)
    {
        formName = @Model.activityFormTBMMKT.formNameEn;
    }
    else
    {
        formName = @Model.activityFormTBMMKT.formName;
    }

}
<div id="divHeadCompany" runat="server" style="width: 100%; align-content: center; text-align: center;">
    <table style="border-color:none; width: 100%;">

        <tr>
            <td style="text-align: center;vertical-align:middle;" class="fontDocV2">
                <label>
                    @Html.Raw(@formName.Replace(Environment.NewLine, "<br/>"))
                </label>
            </td> 
            @*<td style="width:80px;">&nbsp;</td>
            <td style="width:555px;text-align: center;vertical-align:middle;" class="fontDocV2">@formName</td>
            <td style="width:80px;"></td>*@

        </tr>
        <tr>
            <td>

                <table style="border-color:none; width: 100%;">
                    <tr>
                        <td style="width:100%;text-align: right;vertical-align:middle;" class="fontDocSmall">
                            @Resources.Global.documentNo : @Model.activityFormModel.activityNo
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;vertical-align:middle;" class="fontDocSmall">
                            @Resources.Global.documentDate&nbsp;&nbsp;: @Model.activityFormModel.documentDate.Value.ToString("dd/MM/yyyy", DateEnglish)
                        </td>
                    </tr>
                </table>
            </td>


        </tr>
    </table>
</div>

