@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer;
@using System.Globalization;
@using System.Configuration;
@{
    CultureInfo DateThai = new CultureInfo("th-TH");
    CultureInfo DateEnglish = new CultureInfo("en-US");
    var formName = "";


    if (Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formTrvTbmId"]
|| Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formTrvHcmId"])
    {
        if (Model.activityFormTBMMKT.chkUseEng)
        {
            formName = @Model.activityFormTBMMKT.formNameEn + "(" + @Model.activityFormTBMMKT.list_0_select_value + ")";
        }
        else
        {
            formName = @Model.activityFormTBMMKT.formName + "(" + @Model.activityFormTBMMKT.list_0_select_value + ")";
        }
    }
    else if (Model.activityFormTBMMKT.chkUseEng)
    {
        formName = @Model.activityFormTBMMKT.formNameEn;
    }
    else
    {
        formName = @Model.activityFormTBMMKT.formName;
    }

    var compName = "";
    var docNo = "";
    var date = "";

    if (Model.activityFormTBMMKT.chkUseEng)
    {
        compName = @Model.activityFormTBMMKT.companyNameEN;
        date = "Document Date";
        docNo = "Document No";
    }
    else
    {

        compName = @Model.activityFormTBMMKT.companyName;
        date = "วันที่";
        docNo = "เลขที่";
    }
}
<div id="divHeadCompany" runat="server" style="width: 100%; align-content: center; text-align: center;">
    <table style="border-color:none;">
        <tr>
            <td style="width:135px;">&nbsp;</td>
            <td style="width:405px;text-align: center;vertical-align:middle;" class="fontDocV2">@compName</td>
            <td style="width:160px;text-align: left;vertical-align:middle;" class="fontDocSmall">@docNo : @Model.activityFormModel.activityNo</td>
        </tr>
        <tr>
            <td style="width:135px;">&nbsp;</td>
            <td style="width:405px;text-align: center;vertical-align:middle;" class="fontDocV2">@formName</td>
            <td style="width:160px;text-align: left;vertical-align:middle;" class="fontDocSmall">
                @date&nbsp;&nbsp;: @Model.activityFormModel.documentDate.Value.ToString("dd/MM/yyyy", DateEnglish)
            </td>
        </tr>
    </table>
</div>

