@using eActForm.Models
@using eActForm.BusinessLayer
@model eActForm.Models.DocumentsModel.actRepDetailModels

<div class="row">

    <div class="col-md-12 col-xs-12">

    </div>
    <div class="col-md-12 col-xs-12">

        <a class="btn ink-reaction btn-danger fa fa-trash-o" href="#"></a>คือ Delete
        <a class="btn ink-reaction btn-success fa fa-search" href="#"></a>คือ View PDF
        <a class="btn ink-reaction btn-dark fa fa-eye" href="#"></a>คือ History Approve
        <a class="btn ink-reaction btn-info fa fa-envelope-o" href="#"></a>คือ Resend Email

        <table id="datatable" class="table table-striped table-hover">
            <thead>
                <tr style="background-color:#2B5D95;color:#ffffff;">
                    <th width="150" style="text-align:center;">#</th>
                    <th>Status</th>
                    <th>Detail No.</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Customer</th>
                    <th>Product Type</th>
                    <th>Create Date</th>
                    <th>Create By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.actRepDetailLists)
                {
                    <tr class="gradeX">
                        <td width="200">

                            @if (UtilsAppCode.Session.User.isAdmin || UtilsAppCode.Session.User.isSuperAdmin)
                            {
                                <a href="javascript:" onclick="return callPreviewApprove('@item.id');">
                                    <i class="btn glyphicon glyphicon-retweet"></i>&nbsp;
                                </a>
                            }
                            <a href="javascript:" target="_blank" onclick="return checkDelete('@item.id','@item.statusId');">
                                <i class="btn ink-reaction btn-danger fa fa-trash-o"></i>&nbsp;
                            </a>

                            @Html.ActionLink(" ", "getPDF", "ActivityViewer", new { actId = item.id, type = AppCode.ApproveType.Report_Detail.ToString() }, new { @class = "btn ink-reaction btn-success fa fa-search", target = "_blank" })


                            <a onclick="callApproveList('@item.id');">
                                <i class="btn ink-reaction btn-dark fa fa-eye"></i>
                            </a>

                            @if (item.statusId == "2")
                            {

                                <a onclick="resendApprove('@item.id');">
                                    <i class="btn ink-reaction btn-info fa fa-envelope-o"></i>
                                </a>
                            }

                        </td>
                        <td>@item.statusName</td>
                        <td>
                            <a href="javascript:" onclick="callPreviewAct('@item.id');" style="cursor: pointer;"> @item.activityNo </a>
                        </td>
                        <td>@{var date = item.startDate == null ? "" : item.startDate.Value.ToString("dd/MM/yyyy");} @date </td>
                        <td>@{date = item.endDate == null ? "" : item.endDate.Value.ToString("dd/MM/yyyy");} @date </td>
                        <td>@item.customerName</td>
                        <td>@item.ProductTypeName</td>
                        <td>@item.createdDate</td>
                        <td>@item.createdByUserId</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div class="modal fade" id="modalApprovelist" role="dialog" style="display:none">
    <div id="divModalApprovelist">
    </div>
</div>

<div class="modal fade" id="divPreviewActModel" role="dialog" style="display:none">
    <div id="divPreviewAct">
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 0 },
                { "orderable": false, "targets": 3 },
                { "orderable": false, "targets": 4 }
            ],
            "dom": 'lCfrtip',
            "order": [],
            "language": {
                "lengthMenu": '_MENU_ entries per page',
                "search": '<i class="fa fa-search"></i>',
                "paginate": {
                    "previous": '<i class="fa fa-angle-left"></i>',
                    "next": '<i class="fa fa-angle-right"></i>'
                }
            }
        });

    });
    function waitpopup() {
        $("#WaitDialog").show();
        }

    function callApproveList(actId) {
        $.ajax({
            type: 'POST',
            url:  '@Url.Action("approveLists", "Home")',
            data: {
                actId: actId
            }
        }).done(function (response) {
            $("#divModalApprovelist").html(response)
            $('#modalApprovelist').modal('show');
        });
    }


    function callPreviewAct(p_activityNo) {
        $.ajax({
            type: 'POST',
            url:  '@Url.Action("actDetail", "Documents")',
            data: {
                repId: p_activityNo
            }
        }).done(function (htmlResponse) {
            $("#WaitDialog").hide();
            $("#divPreviewAct").html(htmlResponse)
            $('#divPreviewActModel').modal('show');
        });
    }

    function callPreviewApprove(actId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("repPreviewListView", "actFormRepDetail")',
            data: {
                actId: actId,
                typeForm: '@Model.typeForm',
            }
        }).done(function (htmlResponse) {
            genPdf(actId, htmlResponse);
        });
    }
    function genPdf(actId, htmlResponse) {
        $.ajax({
            url: '@Url.Action("reGenReportDetail", "actFormRepDetail")',
            data: {
                GridHtml: htmlResponse,
                actRepDetailId: actId,
            },
            dataType: "json",
            type: 'POST',
        }).done(function (response) {
            doMsgSuccess("ดำเนินการเรียบร้อยครับ");
        });
    }

</script>