@model eActForm.Models.ApproveModel.approveModels

<style>
    .line1px {
        border-bottom: groove;
        border-width: 1px;
        border-color: gray;
    }

    .borderbottom {
        border-bottom: dashed;
        border-width: 1px;
        border-color: gray;
    }
</style>


<div class="text-center">
    @if (TempData["approvePositionSignatureError"] != null)
    {
        <div><p class="warning"><h3>@TempData["approvePositionSignatureError"]</h3> </p></div>
    }
    else
    {
        if (Model.approveFlowDetail == null)
        {
            <div><p class="warning"><h4>ตรวจสอบไม่พบ flow อนุมัติ <br /> กรุณาติดต่อ ส่วนงานพัฒนาระบบงานสนับสนุน<br /> เบอร์โทรศัพท์ติดต่อ : 02-785-5555 ext. 5744,4607,4580</h4> </p></div>
        }
        else
        {<table class="tablethin" style="text-align:center;" border="1" cellpadding="0" cellspacing="0">
                <tr>

                    @foreach (var item in Model.approveFlowDetail)
                    {
                        if (item.isShowInDoc)
                        {
                            <td style="width:150px;">
                                <div style="font-size:12.5px;">
                                    @item.approveGroupName
                                </div>
                                <div style="font-size:12.5px;">
                                    (@item.approveGroupNameEN)
                                </div>
                            </td>
                        }
                    }
                </tr>

                <tr>
                    @{ var index = 0;}
                    @foreach (var item in Model.approveFlowDetail)
                    {
                        if (item.isShowInDoc)
                        {
                            if (Model.approveDetailLists != null && Model.approveDetailLists.Count > index && Model.approveDetailLists[index].empId == item.empId && Model.approveDetailLists[index].statusId == "3")
                            {
                                <td>
                                    <img style="text-align:center;" width="150" height="90" src="@Model.approveDetailLists[index].ImgName" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div style="text-align:center;height:90px;"></div>
                                </td>
                            }
                        }
                        index++;
                    }
                </tr>

                <tr>
                    @foreach (var item in Model.approveFlowDetail)
                    {
                        if (item.isShowInDoc)
                        {
                            <td>
                                <div style="text-align:center; margin-top:5px; font-size:12.5px;">@item.empFNameTH @item.empLNameTH</div>
                            </td>
                        }
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.approveFlowDetail)
                    {
                        if (item.isShowInDoc)
                        {
                            <td>
                                <div style="text-align:center; height:50px; font-size:12.5px;">@Html.Raw(item.empPositionTitleTH)</div>
                            </td>
                        }
                    }
                </tr>
            </table>
        }
    }
</div>
