@model eActForm.Models.ApproveModel.approveModels

<style>
    .line1px {
        border-bottom: groove;
        border-width: 1px;
        border-color: gray;
    }

    .borderbottom {
        border-bottom: dashed;
        border-width: 1px;
        border-color: gray;
    }
</style>

<div class="row">
    <div class="text-center">
        <table class="tablethin" style="text-align:center;" border="1" cellpadding="0" cellspacing="0">
            <tr>

                @foreach (var item in Model.approveFlowDetail)
                {
                    <td style="width:150px;">
                        <div style="font-size:12.5px;">
                            @item.approveGroupName
                        </div>
                        <div style="font-size:12.5px;">
                            (@item.approveGroupNameEN)
                        </div>
                    </td>
                }
            </tr>

            <tr>
                @{ var index = 0;}
                @foreach (var item in Model.approveFlowDetail)
                {
                    if (Model.approveDetailLists != null && Model.approveDetailLists.Count > index && Model.approveDetailLists[index].empId == item.empId && Model.approveDetailLists[index].statusId == "3")
                    {
                        //var base64 = Convert.ToBase64String(Model.approveDetailLists[index].signature);
                        //var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                        <td>
                            <img style="text-align:center;" width="150" height="100" src="@Model.approveDetailLists[index].ImgName"/>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div style="text-align:center;height:100px;"></div>
                        </td>
                    }
                    index++;
                }
            </tr>

            <tr>
                @foreach (var item in Model.approveFlowDetail)
                {

                    <td>
                        <div style="text-align:center; margin-top:20px; font-size:12.5px;">@item.empFNameTH @item.empLNameTH</div>
                    </td>
                }
            </tr>
            <tr>
                @foreach (var item in Model.approveFlowDetail)
                {
                    <td>
                        <div style="text-align:center; height:50px; font-size:12.5px;">@item.empPositionTitleTH</div>
                    </td>
                }
            </tr>

        </table>
    </div>
</div>
