@model eActForm.Models.ApproveModel.approveModels
@using eActForm.Models;
@using System.Configuration;
@using eActForm.BusinessLayer;
@{
    Layout = null;

}
<style>
    .line1px {
        border-bottom: groove;
        border-width: 1px;
        border-color: gray;
    }

    .borderbottom {
        border-bottom: dashed;
        border-width: 1px;
        border-color: gray;
    }
</style>
@if (Model.activity_TBMMKT_Model == null)
{
    Activity_TBMMKT_Model activity_TBMMKT_Model = new Activity_TBMMKT_Model();
    Model.activity_TBMMKT_Model = activity_TBMMKT_Model;
    ActivityFormTBMMKT activityFormTBMMKT = new ActivityFormTBMMKT();
    activityFormTBMMKT.master_type_form_id = "";
    Model.activity_TBMMKT_Model.activityFormTBMMKT = activityFormTBMMKT;
}

@if (Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formPosTbmId"]
    || Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formReturnPosTbm"])
{
    ApproveFlowModel.flowApproveDetail flowApproveDetail = new ApproveFlowModel.flowApproveDetail("");
    flowApproveDetail.approveGroupName = "ผู้รับของ";
    flowApproveDetail.approveGroupNameEN = "Received By";
    flowApproveDetail.empFNameTH = "                                    ";
    flowApproveDetail.empLNameTH = "";
    flowApproveDetail.empPositionTitleTH = "";
    flowApproveDetail.isShowInDoc = true;
    Model.approveFlowDetail.Add(flowApproveDetail);


    if (Model.approveDetailLists.Count > 0)
    {
        ApproveModel.approveDetailModel approveDetail = new ApproveModel.approveDetailModel("");
        approveDetail.approveGroupNameTH = "ผู้รับของ";
        approveDetail.approveGroupnameEN = "Received By";
        approveDetail.empName = "                                    ";
        approveDetail.empName_EN = "                                    ";
        approveDetail.empPositionTitleTH = "";
        approveDetail.isShowInDoc = true;
        Model.approveDetailLists.Add(approveDetail);
    }
}

@if (Model.activity_TBMMKT_Model.activityFormTBMMKT.statusNote != "FromPaper" || Model.activity_TBMMKT_Model.activityFormTBMMKT.isTemp == false)
{
    <div class="text-center">
        @if (TempData["approvePositionSignatureError"] != null)
        {
            <div><p class="warning"><h3>@TempData["approvePositionSignatureError"]</h3> </p></div>

        }
        else
        {
            if (Model.approveDetailLists.Count > 0 && !Model.isApproveDetailListsShowDocHaveNull)
            {
                var countLine = Model.approveDetailLists.FindAll(x => x.isShowInDoc == true).Count;
                if (countLine > 0)
                {
                    @genSignatureFromApproveDetail(1);
                }
                if (countLine > 5)
                {
                    @genSignatureFromApproveDetail(2);
                }
            }
            else if (Model.approveFlowDetail.Count > 0)
            {
                var countLine = Model.approveFlowDetail.FindAll(x => x.isShowInDoc == true).Count;
   
                if (countLine > 0)
                {
                    @Grid(1);
                }
                if (countLine > 5)
                {
                    @Grid(2);
                }

            }
            else
            {
                <div><p class="warning"><h4>ตรวจสอบไม่พบ flow อนุมัติ <br /> กรุณาติดต่อ ส่วนงานพัฒนาระบบงานสนับสนุน<br /> เบอร์โทรศัพท์ติดต่อ : 02-785-5555 ext. 5744,4607,4580</h4> </p></div>
            }

        }

    </div>


    @helper Grid(int line)
    {
        <!-- ===================================================
            ====================================================
            first default get flow approve from approveDetail then approveDetail not fount will get flow from flowApprove
            =====================================================
            ====================================================
        -->
        string yu = "";
        int startIndex = line == 1 ? 0 : 5;
        int widthSig = startIndex == 5 ? 115 : 135;
        var listShowInDoc = Model.approveFlowDetail.FindAll(x => x.isShowInDoc == true);
        <table class="tablethin" style="text-align:center;" border="1" cellpadding="0" cellspacing="0">
            <tr>
                @for (int index = 0 + startIndex; index < listShowInDoc.Count && index < 5 + startIndex; index++)
                {
                    var item = listShowInDoc[index];
                    <td style="width:140px;">
                        @{


                            if (Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formAdvTbmId"] || Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formPosTbmId"])
                            {
                                <div class="fontSigV1">
                                    @item.approveGroupName
                                </div>
                                <div class="fontSigV1">
                                    (@item.approveGroupNameEN)
                                </div>
                            }
                            else if (AppCode.hcForm.Contains(Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id) && item.approveGroupId == "6074ADC7-F1E4-4544-8A65-AE9113E29999")
                            {
                                <div style="font-size:12.5px;">
                                    ผู้ลงนาม
                                </div>
                                <div style="font-size:12.5px;">
                                    (Endorser)
                                </div>
                            }
                            else
                            {
                                <div style="font-size:12.5px;">
                                    @item.approveGroupName
                                </div>
                                <div style="font-size:12.5px;">
                                    (@item.approveGroupNameEN)
                                </div>
                            }



                            <table class="tablethin" style="text-align:center; width:100%" cellpadding="0" cellspacing="0">
                                <tr style="height: 80px;">
                                    <td style="width: 100%; border-style: solid;border-width: 1px 0px 1px 0px; border-collapse: collapse;text-align:center;">
                                        @*@if (@Array.AsReadOnly(AppCode.formApproveAuto).Contains(Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id))
                                            {*@
                                        @if (Model.activity_TBMMKT_Model.activityFormModel.createdByUserId == item.empId &&
                                           item.rangNo == 1)
                                        {
                                            <img width="135" height="80" src="@string.Format(ConfigurationManager.AppSettings["urlGetImg"], @item.empId)" />
                                        }
                                        @*}*@
                                        else
                                        {
                                            var status = "0";
                                            if (Model.approveDetailLists != null && Model.approveDetailLists.Count > 0)
                                            {
                                                try
                                                {
                                                    status = Model.approveDetailLists.Find(x => x.empId == item.empId).statusId;
                                                }
                                                catch (Exception ex)
                                                {
                                                    status = "";
                                                }
                                            }

                                            if (status == "3")
                                            {
                                                <img width="135" height="80" src="@string.Format(ConfigurationManager.AppSettings["urlGetImg"], @item.empId)" />
                                            }
                                            else
                                            {
                                                <img width="135" height="80" src="https://eact.thaibev.com/images/blank.png" />
                                            }
                                        }
                                    </td>
                                </tr>
                            </table>


                            var name = "";
                            if (Model.activity_TBMMKT_Model.activityFormTBMMKT.chkUseEng)
                            {
                                name = item.empFNameEN;
                            }
                            else
                            {
                                name = yu + item.empFNameTH;
                            }

                            if (Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formAdvTbmId"] || Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formPosTbmId"])
                            {
                                <div style="text-align:center; margin-top:5px;" class="fontSigV1">@name</div>
                            }
                            else
                            {
                                <div style="text-align:center; margin-top:5px; font-size:12.5px;">@name</div>
                            }


                            var position = "";

                            if (Model.activity_TBMMKT_Model.activityFormTBMMKT.chkUseEng)
                            {
                                if (!string.IsNullOrEmpty(item.empId))
                                {
                                    position = Model.approveFlowDetail.Find(x => x.empId.Equals(item.empId)).empPositionTitleEN;
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(item.empId))
                                {
                                    position = Model.approveFlowDetail.Find(x => x.empId.Equals(item.empId)).empPositionTitleTH;
                                }
                            }

                            if (Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formAdvTbmId"] || Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formPosTbmId"])
                            {
                                <div style="text-align:center;height:50px;" class="fontSigV1">@Html.Raw(position)</div>
                            }
                            else
                            {
                                <div style="text-align:center; height:50px; font-size:12.5px;">@Html.Raw(position)</div>
                            }




                        }
                    </td>
                }
            </tr>

        </table>


    }



    @helper genSignatureFromApproveDetail(int line)
    {
        <!-- ===================================================
            ====================================================
            first default get flow approve from approveDetail then approveDetail not fount will get flow from flowApprove
            =====================================================
            ====================================================
        -->
        string yu = "";
        int startIndex = line == 1 ? 0 : 5;
        var listShowInDoc = Model.approveDetailLists.FindAll(x => x.isShowInDoc == true);
        <table class="tablethin" style="text-align:center;" border="1" cellpadding="0" cellspacing="0">
            <tr>
                @for (int index = 0 + startIndex; index < listShowInDoc.Count && index < 5 + startIndex; index++)
                {
                    var item = listShowInDoc[index];
                    <td style="width:140px;">
                        @{


                            if (Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formAdvTbmId"] || Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formPosTbmId"])
                            {
                                <div class="fontSigV1">
                                    @item.approveGroupNameTH
                                </div>
                                <div class="fontSigV1">
                                    (@item.approveGroupnameEN)
                                </div>
                            }
                            else if (AppCode.hcForm.Contains(Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id) && item.approveGroupId == "6074ADC7-F1E4-4544-8A65-AE9113E29999")
                            {
                                <div style="font-size:12.5px;">
                                    ผู้ลงนาม
                                </div>
                                <div style="font-size:12.5px;">
                                    (Endorser)
                                </div>
                            }
                            else
                            {
                                <div style="font-size:12.5px;">
                                    @item.approveGroupNameTH
                                </div>
                                <div style="font-size:12.5px;">
                                    (@item.approveGroupnameEN)
                                </div>
                            }


                            <table class="tablethin" style="text-align:center; width:100%" cellpadding="0" cellspacing="0">
                                <tr style="height: 80px;">
                                    <td style="width: 100%; border-style: solid;border-width: 1px 0px 1px 0px; border-collapse: collapse;text-align:center;">
                                        @if (Model.activity_TBMMKT_Model.activityFormModel.createdByUserId == item.empId && item.rangNo == 1)
                                        {
                                            <img width="135" height="80" src="@string.Format(ConfigurationManager.AppSettings["urlGetImg"], @item.empId)" />
                                        }
                                        else
                                        {
                                            var status = "0";
                                            if (Model.approveDetailLists != null && Model.approveDetailLists.Count > 0)
                                            {
                                                try
                                                {
                                                    status = Model.approveDetailLists.Find(x => x.empId == item.empId).statusId;
                                                }
                                                catch (Exception ex)
                                                {
                                                    status = "";
                                                }
                                            }
                                            if (item.statusId == "3")
                                            {
                                                <img width="135" height="80" src="@string.Format(ConfigurationManager.AppSettings["urlGetImg"], @item.empId)" />
                                            }
                                            else
                                            {
                                                <img width="135" height="80" src="https://eact.thaibev.com/images/blank.png" />
                                            }
                                        }
                                    </td>
                                </tr>

                            </table>


                            var name = "";
                            if (Model.activity_TBMMKT_Model.activityFormTBMMKT.chkUseEng)
                            {
                                name = item.empName_EN;
                            }
                            else
                            {
                                name = yu + item.empName;
                            }

                            if (Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formAdvTbmId"] || Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formPosTbmId"])
                            {
                                <div style="text-align:center; margin-top:5px;" class="fontSigV1">@name</div>
                            }
                            else
                            {
                                <div style="text-align:center; margin-top:5px; font-size:12.5px;">@name</div>
                            }


                            var position = "";

                            if (Model.activity_TBMMKT_Model.activityFormTBMMKT.chkUseEng)
                            {
                                if (!string.IsNullOrEmpty(item.empId))
                                {
                                    position = Model.approveDetailLists.Find(x => x.empId.Equals(item.empId)).empPositionTitleEN;
                                }
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(item.empId))
                                {
                                    position = Model.approveDetailLists.Find(x => x.empId.Equals(item.empId)).empPositionTitleTH;
                                }

                            }

                            if (Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formAdvTbmId"] || Model.activity_TBMMKT_Model.activityFormTBMMKT.master_type_form_id == ConfigurationManager.AppSettings["formPosTbmId"])
                            {
                                <div style="text-align:center;height:50px;" class="fontSigV1">@Html.Raw(position)</div>
                            }
                            else
                            {
                                <div style="text-align:center; height:50px; font-size:12.5px;">@Html.Raw(position)</div>
                            }




                        }
                    </td>
                }
            </tr>

        </table>


    }
}
