@using System.Configuration;
@using eActForm.BusinessLayer
@model eActForm.Models.ApproveModel.approveModels
<table id="dtApproveLists" class="table table-striped table-hover">
    <thead>
        <tr style="background-color:#2B5D95;color:#ffffff;">
            <th>@Resources.Global.rank</th>
            <th>@Resources.Global.name</th>
            <th>@Resources.Global.status</th>
            <th>@Resources.Global.approveDate</th>
            <th>@Resources.Global.reason</th>
        </tr>
    </thead>
    <tbody>
        @{ int rangNo = 1; }
        @foreach (var item in Model.approveDetailLists)
        {
            <tr class="gradeX">
                <td>@rangNo</td>
                @if (Resources.Global.cultureLocal == ConfigurationManager.AppSettings["cultureThai"])
                {
                    <td>@item.empName</td>
                }
                else if (Resources.Global.cultureLocal == ConfigurationManager.AppSettings["cultureEng"])
                {
                    <td>@item.empName_EN</td>
                }

                <td>
                    @{
                        string valStatusName = "";
                        if (Resources.Global.cultureLocal == ConfigurationManager.AppSettings["cultureThai"])
                        {
                            valStatusName = item.statusName;
                        }
                        else if (Resources.Global.cultureLocal == ConfigurationManager.AppSettings["cultureEng"])
                        {
                            valStatusName = item.statusNameEN;
                        }

                        var status = item.statusId == "" ? Resources.Global.notApprove : valStatusName;

                        if (item.isApprove == false && item.approveGroupId == ConfigurationManager.AppSettings["approveGroupForProcess"])
                        {
                            status = Resources.Global.dearForProcess;
                        }
                        else if (item.isApprove == false)
                        {
                            status = Resources.Global.dearToInform;
                        }
                    } @status
                </td>
                <td>@{ var date = item.statusId == "3" || item.statusId == "5" ? DocumentsAppCode.convertDateTHToShowCultureDateEN(item.updatedDate, ConfigurationManager.AppSettings["formatDatetimeUse"]) : "";} @date</td>
                <td>
                    @if (item.remark != "")
                    {
                        <div id="divRemark_@rangNo" style="display:none">
                            @Html.Raw(@item.remark)
                        </div>


                        <a class="btn ink-reaction btn-danger fa fa-search" onclick="onShowRemark('@rangNo');" ></a>
                    }
                </td>
            </tr>
            rangNo++;
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                    <h4 class="modal-title" id="myModalLabel">เหตุผล(เพิ่มเติม)</h4>

                </div>
                <div class="modal-body">
                
                    <div id="lblRemark" name="lblRemark" class="text-primary"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function onShowRemark(remark_No) {
        var getText = document.getElementById('divRemark_' + remark_No).innerText;
        document.getElementById('lblRemark').innerHTML = getText.replace(/\r/g, '').replace(/\n/g, '<br>');
        $("#myModal").modal('show');
    }
</script>
