@model eActForm.Models.ApproveFlowModel.approveFlowModel


<style>
    .line1px {
        border-bottom: groove;
        border-width: 1px;
        border-color: gray;
    }

    .borderbottom {
        border-bottom: dashed;
        border-width: 1px;
        border-color: gray;
    }
</style>

<div class="row">
    <div class="text-center">
        <table class="tablethin" style="text-align:center;" border="1" cellpadding="0" cellspacing="0">
            <tr>
                @foreach (var item in Model.flowDetail)
                {

                    <td style="width:150px;">
                        <div style="font-size:12.5px;">
                            @item.approveGroupName
                        </div>
                        <div style="font-size:12.5px;">
                            (@item.approveGroupNameEN)
                        </div>
                    </td>
                }
            </tr>

            <tr>
                @foreach (var item in Model.flowDetail)
                {

                    <td>
                        <div style="text-align:center;height:100px;"></div>
                    </td>
                }
            </tr>

            <tr>
                @foreach (var item in Model.flowDetail)
                {

                    <td>
                        <div style="text-align:center; margin-top:20px">@item.empFNameTH @item.empLNameTH</div>
                    </td>
                }
            </tr>
            <tr>
                @foreach (var item in Model.flowDetail)
                {

                    <td>
                        <div style="text-align:center;">@item.empPositionTitleTH</div>
                    </td>
                }
            </tr>

        </table>
    </div>
</div>
