@using eActForm.BusinessLayer;
@using eActForm.Models;
@using System.Configuration;
@model eActForm.Models.ApproveModel.approveModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var actId = Request.QueryString["actId"];
    var type = Request.QueryString["type"];
}
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

<script src="~/Scripts/Approve/RepDetailApproves.js"></script>

<h2>@Resources.Global.approval</h2>
<hr />

@if (ViewBag.messCannotFindSignature != null)
{
    <div class="loading" style="text-align: center;">
        <img src="~/images/warning_error.png" style="margin-top:100px;width:100px;height:100px;" />
        <div style="margin-top: 10px; color: white">
            <p class="text-danger"><h2>@Resources.Global.dontFoundYourSignatureInSystem !!! <br />@Resources.Global.pleaseInsertYourSignatureBeforeApprovalDocument</h2></p>
            @Html.ActionLink(Resources.Global.insertYourSignature + " Click", "index", "Signature")
        </div>

    </div>
}
else
{
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <h3>@Resources.Global.approvalHistory</h3>
            <hr />
            @Html.Action("approveLists", "Approve", Model)
        </div>
        <div class="col-md-8 col-xs-12">
            <h3>@Resources.Global.approvalDocument</h3>
            <hr />



            @using (Ajax.BeginForm("insertApprove", "Approve"
, new AjaxOptions { HttpMethod = "post", OnBegin = "return beginQuery()", OnSuccess = "successQuery", OnFailure = "failureQuery" }
, new { id = "formApprove", @class = "form-horizontal form-label-left" }))
            {
                var item = Model.approveDetailLists.Where(r => r.empId == UtilsAppCode.Session.User.empId).ToList();

                @Html.Action("activityPDFView", "ActivityViewer", new { actId = actId })


                <div class="col-md-12">
                    <div id="divgetimage" class="col-md-12">
                        @Html.Action("ImageList", "Activity", new { activityId = actId != null ? actId : "" })
                    </div>
                </div>
                <h3>@Resources.Global.approve</h3>
                <hr />
                <div class="form-group">
                    <div class="col-md-12 col-xs-12">
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ddlStatus">
                                @Resources.Global.reason
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <textarea name="txtRemark" id="txtRemark" class="form-control textboxcss" rows="5" cols="50" required style="border:solid;border-color:#ddd;border-width:thin;">
                                    @if (item != null && item.Count > 0)
                                    {
                                        @item.FirstOrDefault().remark.Trim();
                                    }
                            </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="lblActFormId" name="lblActFormId" value="@actId" />
                if (Model.approveModel != null)
                {
                    <input type="hidden" id="lblApproveId" name="lblApproveId" value="@Model.approveModel.id" />
                    <input type="hidden" id="lblApproveType" name="lblApproveType" value="@type" />
                }
                <div class="form-group" style="display:none;">
                    <div class="col-md-12 col-xs-12">
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ddlStatus">
                                สถานะ
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.DropDownListFor(m => m.approveModel.statusId, new SelectList(Model.approveStatusLists, "id", "nameTH"), "-Selected-", new { @class = "form-control", required = "required", id = "ddlStatus", Name = "ddlStatus" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-xs-12">
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentSignature">
                                @Resources.Global.yourSignature
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.Action("currentSignature", "Signature", new { empId = UtilsAppCode.Session.User.empId })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-sm-3 col-xs-12"></div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="text-center">
                            @if (Model.approveModel.statusId != "2")
                            {
                                <h4 class="text-danger text-center">
                                    เอกสารฉบับนี้ได้ถูกอนุมัติเรียบร้อยแล้ว
                                </h4>
                            }
                            else if (Model.approveModel.isPermisionApprove)
                            {

                                <button type="button" onclick="return confirmQuery(3);" class="btn btn-success"><i class="fa fa fa-check fa-fw"></i>&nbsp;@Resources.Global.btnApprove</button>
                                <button type="button" onclick="return confirmQuery(5);" class="btn btn-danger"><i class="fa fa-times fa-fw"></i>&nbsp;@Resources.Global.btnReject</button>
                                <a href="@Url.Action("index", "ApproveLists")" class="btn btn-warning"><i class="fa fa fa-reply fa-fw"></i>&nbsp;@Resources.Global.btnBack</a>
                            }
                            else
                            {
                                <h4 class="text-danger text-center">
                                    คุณไม่สามารถอนุมัติเอกสารฉบับนี้ได้<br />
                                    เนื่องจากไม่มีรายชื่ออยู่ในการอนุมัติ<br />
                                    @Html.ActionLink(" สอบถามข้อมูลเพิ่มเติม Click ", "contact", "home")
                                </h4>
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
}

<div class="modal fade" id="ModalPreviewPDF" style="display:none">
    <div id="divPreviewApprove">
    </div>
</div>

<div id="newGenReportFromMaster" style="display:none;">

</div>

<script>

    $(document).ready(function () {
        $(".fv").each(function () {
            var v = $(this).val();
            if (v == '') {
                $(this).focus();
            }
        });
        $("#txtRemark").val('');

        var arrayOfElements = document.getElementsByClassName('divDelImg');
        var lengthOfArray = arrayOfElements.length;
        for (var i = 0; i < lengthOfArray; i++) {
            arrayOfElements[i].style.display = 'none';
        }

    });

    function confirmQuery(statusId) {

        //var statusId = $("#ddlStatus").val();
        var mess = $("#txtRemark").val();
        $("#lblstatusId").val(statusId);
        $("#ddlStatus").val(statusId);
        if (statusId == "5" && mess == "") {
            doMsgFail("กรุณาระบุ เหตุผล(เพิ่มเติม)")
            $("#txtRemark").focus();
            return false;
        }
        else if (statusId == "") {
            doMsgFail("กรุณาระบุ(สถานะ)")
            $("#ddlStatus").focus();
            return false;
        }


        mess = $("#ddlStatus option:selected").text();
        bootbox.confirm({
            message: "คุณต้องดำเนินการ " + mess + " ใช่หรือไม่?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                }, cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    $("#formApprove").submit();
                }
            }

        });

    }

    function beginQuery() {

    }

    function successQuery(response) {
        if (response.Success) {
            if ('@type' == '@AppCode.ApproveType.Activity_Form.ToString()') {
                $("#WaitDialog").show();
                callPreviewApprove('@actId');
            }
            else if ('@type' == '@AppCode.ApproveType.Report_Detail.ToString()') {
                 $("#WaitDialog").show();
                callPreviewRepDetailApprove('@actId')
            }
            else if ('@type' == '@AppCode.ApproveType.Report_Summary.ToString()') {
                $("#WaitDialog").show();
                console.log('@actId');
                callPreviewSummaryDetailApprove('@actId')
            }
        }else {
            $("#WaitDialog").hide();
            bootbox.alert("ไม่สามารถส่งเรื่องอนุมัติได้กรุณาติดต่อ Admin <br/>" + response.Message);
        }

    }

    function failureQuery(data) {
        bootbox.alert("ไม่สามารถส่งเรื่องอนุมัติได้กรุณาติดต่อ Admin <br/>" + data.responseText);
    }



    function callPreviewSummaryDetailApprove(obj) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("summaryApproveListView", "SummaryReport")',
            data: {
                summaryId: obj
            }
        }).done(function (htmlResponse) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("summaryDetailGenPDF", "SummaryReport")',
                data: {
                    gridHtml: htmlResponse
                    , summaryId: '@actId'
                }
            }).done(function (htmlResponse) {
                var url = '@Url.Action("Index", "ApproveSummaryDetail")';
                doMsgSuccessAction("เรียบร้อย",url);
            });
        });
    }

    function callPreviewApprove(obj) {

        if ('@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formBgTbmId"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formAdvTbmId"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formTrvTbmId"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formPosTbmId"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formTrvHcmId"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formAdvHcmId"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["masterEmpExpense"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formPaymentVoucherTbmId"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formExpTrvNumId"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formCR_IT_FRM_314"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formExpMedNumId"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formSetPriceMT"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formReceptions"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formTransferbudget"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formSetPriceOMT"]'
            || '@Model.masterTypeFormId' == '@ConfigurationManager.AppSettings["formEactBeer"]'

        ) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("index", "MainReport")',
                data: {
                    activityId: obj,
                }
            }).done(function (htmlResponse) {
                genFileActForm(htmlResponse);
            });

        }
        else {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("previewApprove", "Approve")',
                data: {
                    actId: obj,
                }
            }).done(function (htmlResponse) {
                genFileActForm(htmlResponse);
            });

        }

    }

     function callPreviewRepDetailApprove(obj) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("repPreviewListView", "actFormRepDetail")',
            data: {
                actId: obj
            }
        }).done(function (htmlResponse) {
            $.ajax({
                type: 'POST',
                dataType: "html",
                url: '@Url.Action("repDetailGenPDF", "actFormRepDetail")',
                data: {
                    gridHtml: htmlResponse
                    , actId: '@actId'
                }
            }).done(function (htmlResponse) {
                $("#WaitDialog").hide();
                var url = '@Url.Action("Index", "ApproveListsRepDetail")';
                doMsgSuccessAction('อนุมัติเรียบร้อย',url);
            })
        });
    }

    function genFileActForm(htmlResponse) {
        $("#newGenReportFromMaster").html(htmlResponse);
        $.ajax({
            url: '@Url.Action("doApprove", "ApiApprove")',
            data: {
                gridHtml: $("#divForm").html(),
                statusId: $("#ddlStatus").val(),
                activityId: '@actId' //$("#HdId").val()
            },
            async: true,
            dataType: "json",
            type: 'POST',
        }).done(function (reponse) {

            bootbox.confirm({
                message: "ดำเนินการเรียบร้อย",
                buttons: {
                    confirm: {
                        label: 'OK',
                        className: 'btn-success'
                    }
                },
                callback: function (result) {

                    var url = '@Url.Action("Index", "ApproveLists")';
                    window.location.replace(url);// = url;

                }
            });

        });
    }


</script>
