@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer
@using eActForm.Models
@using System.Configuration;


<div class="col-lg-12 col-xs-12">
    <fieldset>
        <legend>  ค่าใช้จ่ายในการเลี้ยงรับรอง หรือการตรวจตลาด /  Entertainment Expenses and Market Visit</legend>
    </fieldset>
    <div>
        <lable style="color:red"> * หมายเหตุ:</lable>
        <lable>ค่าใช้จ่ายส่วนนี้ จะต้องผ่านการอนุมัติตามอำนาจการอนุมัติได้เท่านั้น *</lable>
    </div>
</div>

<div class="col-md-12">
    <table class="table table-bordered" id="tbl_Entertainment" cellpadding="0" cellspacing="0">
        <thead class="thead-dark">
            <tr>
                <th class="align-content-center font10" rowspan="2" style="width:5%;"></th>
                <th class="align-content-center font10" rowspan="2" style="width:10%;">วันที่</th>
                <th class="align-content-center font10" rowspan="2" style="width:15%;">สถานที่</th>
                <th class="align-content-center font10" rowspan="2" style="width:20%;">จุดประสงค์</th>
                <th class="align-content-center font10" rowspan="2" style="width:20%;">ชื่อลูกค้า</th>
                <th class="align-content-center font10" rowspan="2" style="width:10%;">ยอดเบิก</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.activityOfEstimateList.Count; i++)
        {
            <tbody id="first1">
                <tr class="tagCountRowExpenses">
                    <td>
                        <button type="button" class="btn ink-reaction btn-danger fa fa-trash-o" onclick="cashDelete(this);"></button>
                        @Html.HiddenFor(x => x.activityOfEstimateList[i].activityTypeId, new { Value = "1", @class = "hindenTypeId" })
                    </td>
                    <td style="text-align:right">
                        @Html.TextBox("activityOfEstimateList[" + i + "].dateInput", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityOfEstimateList[i].date, ConfigurationManager.AppSettings["formatDateUse"]),
                 new { @class = "form-control textboxcss font10 textRight datepicker", autocomplete = "off" })
                    </td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList[i].detail, new { @class = "form-control textboxcss font10 textRight" })</td>
                    <td style="text-align:right"> @Html.DropDownListFor(x => x.activityOfEstimateList[i].productId, new SelectList(Model.objExpenseCashList, "id", "displayVal", 0), "Please Select", new { @class = "form-control textboxcss font10 textRight", onchange = "$exEntertain.validateData(this)" })</td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList[i].remark, new { @class = "form-control textboxcss font10 textRight" })</td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList[i].total, "{0:0.00}", new { @class = "form-control textboxcss font10 textRight", onkeyup = "getTotal1()" })</td>



                </tr>
            </tbody>
        }


        <tr>
            <td></td>
            <td colspan="4" class="textRight">
                ค่ารับรอง
            </td>  
            <td class="textRight">
                <label id="lblUseEntertain">
                    0.00
                </label>
            </td>
        </tr>
       
    </table>


    <div id="addEnt" class="row pull-right" style="width:150px" onclick="addRowEntertainment();">
        <label class="btn ink-reaction btn-success fa fa-plus" style="width:120px; height:30px;">Add</label>
    </div>

</div>


<div class="col-md-12 col-xs-12">
    <fieldset>
        <legend> ค่าใช้จ่ายในการเดินทาง / Travel & Transportation Expenses</legend>
    </fieldset>
</div>

<div class="col-md-12">
    <table class="table table-bordered" id="tbl_CashDetail" cellpadding="0" cellspacing="0">
        <thead class="thead-dark">
            <tr>
                <th class="align-content-center font10" rowspan="2" style="width:5%;"></th>
                <th class="align-content-center font10" rowspan="2" style="width:10%;">วันที่</th>
                <th class="align-content-center font10" rowspan="2" style="width:30%;">รายการ</th>
                <th class="align-content-center font10" rowspan="2" style="width:15%;">จำนวนเงิน</th>
                <th class="align-content-center font10" rowspan="2" style="width:30%;">หมายเหตุ</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.activityOfEstimateList2.Count; i++)
        {
            <tbody id=first>
                <tr class="tagCountRowTravel">
                    <td>
                        <button type="button" class="btn ink-reaction btn-danger fa fa-trash-o" onclick="cashDelete(this);"></button>
                        @Html.HiddenFor(x => x.activityOfEstimateList2[i].activityTypeId, new { Value = "2", @class = "hindenTypeId2" })
                    </td>
                    <td style="text-align:right">
                        @Html.TextBox("activityOfEstimateList2[" + i + "].dateInput", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityOfEstimateList[i].date, ConfigurationManager.AppSettings["formatDateUse"]),
                      new { @class = "form-control textboxcss font10 textRight datepicker", autocomplete = "off" })
                    </td>
                    <td style="text-align:right"> @Html.DropDownListFor(x => x.activityOfEstimateList2[i].productId, new SelectList(Model.objExpenseCashList, "id", "displayVal", 0), "Please Select", new { @class = "form-control textboxcss font10 textRight", onchange = "$exEntertain.validateData(this)" })</td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList2[i].total, "{0:0.00}", new { @class = "form-control textboxcss font10 textRight", onkeyup = "getTotal2()" })</td>
                    <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList2[i].remark, new { @class = "form-control textboxcss font10 textRight" })</td>

                </tr>
            </tbody>
        }
        <tr>
            <td></td>
            <td colspan="2" class="textRight">
                ค่าทางด่วน
            </td>
            <td class="textRight">
                <label id="lblUseBypass">
                    0.00
                </label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" class="textRight">
                ค่าล้างรถ
            </td>
            <td class="textRight">
                <label id="lblUseWash">
                    0.00
                </label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" class="textRight">
                ค่าโทรศัพท์
            </td>
            <td class="textRight">
                <label id="lblUsePhone">
                    0.00
                </label>
            </td>
            <td></td>
        </tr>

    </table>
    <div id="addEx" class="row pull-right" style="width:150px" onclick="addRow();">
        <label class="btn ink-reaction btn-success fa fa-plus" style="width:120px; height:30px;">Add</label>
    </div>

</div>
<script type="text/javascript">

    var valEntertain = "87757B5B-C946-4001-A74B-AB6C9003AD25";
    var valBypass = "E57354A6-940A-4BDF-8916-E77E24D9310F";
    var valWash = "D05DA2C9-82AB-43F7-8479-D63F24F9D20D";
    var valPhone = "048487B9-330A-4A65-8788-3E04004418F0";

    function addRow() {
        var RowCount = $('#tbl_CashDetail tbody tr').length - 3;
        console.log(RowCount);
        var newRow = $("#tbl_CashDetail tbody tr").first().clone().find("input").val("").end();
        $("#tbl_CashDetail > tbody:first").append(newRow);
        newRow.find("input").each(function () {
            $(this).attr("id", $(this).attr("name").replace("[0].", "_" + RowCount + "__"));
            $(this).attr("name", $(this).attr("name").replace("[0]", "[" + RowCount + "]"));
            $(newRow).find("select").attr("name", $("select", newRow).attr("name").replace("[0].", "_" + RowCount + "__"));
            $(newRow).find("select").attr("id", $("select", newRow).attr("name").replace("[0].", "_" + RowCount + "__"));

            var elms = document.getElementsByClassName('hindenTypeId')
            for (var i = 0; i < elms.length; i++) {
                elms[i].setAttribute("value", "1");
            }
        }
        );

        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });

    }

    function addRowEntertainment() {
        var RowCount = $('#tbl_Entertainment tbody tr').length - 1;
        console.log(RowCount);
        var newRow = $("#tbl_Entertainment tbody tr").first().clone().find("input").val("").end();
        $("#tbl_Entertainment > tbody:first").append(newRow);
        newRow.find("input").each(function () {
            $(this).attr("id", $(this).attr("name").replace("[0].", "_" + RowCount + "__"));
            $(this).attr("name", $(this).attr("name").replace(/\d+/, RowCount));
            $(newRow).find("select").attr("name", $("select", newRow).attr("name").replace("[0].", "_" + RowCount + "__"));
            $(newRow).find("select").attr("id", $("select", newRow).attr("name").replace("[0].", "_" + RowCount + "__"));

            var elms = document.getElementsByClassName('hindenTypeId2')
            for (var i = 0; i < elms.length; i++) {
                elms[i].setAttribute("value", "2");
            }
        });
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });
    }


    function cashDelete(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
        getTotal2();
    }


    function getLimitExpense() {
       
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getLimitEmpByEmpId", "ExpenseEstimateInput")',
            data: {
                empId: $("#txtEmpId").val(),

            }
        }).done(function (response) {
            if (response.Data != null) {
                console.log(response.Data.txtLimtEntertain);
                for (var i = 0; i < response.Data.getEntertain.length;) {
                   
                    if (response.Data.getEntertain[i].id == valEntertain) {
                        document.getElementById('lblCumulativeEntertainLimit').innerHTML = response.Data.getEntertain[i].cash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    }
                    else if (response.Data.getEntertain[i].id == valBypass) {
                        document.getElementById('lblCumulativeBypassLimit').innerHTML = response.Data.getEntertain[i].cash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    }
                    else if (response.Data.getEntertain[i].id == valWash) {
                        document.getElementById('lblCumulativeCarWashLimit').innerHTML = response.Data.getEntertain[i].cash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    }
                    else if (response.Data.getEntertain[i].id == valPhone) {
                        document.getElementById('lblCumulativePhoneLimit').innerHTML = response.Data.getEntertain[i].cash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                    }
                }
                
            }
        });
    }

    function getTotal1() {
        var totalEntertain = 0.00;
        document.getElementById('lblUseEntertain').innerHTML = totalEntertain;
        //count row ทั้งหมด
        var rowCount = parseInt($('#tbl_Entertainment tr.tagCountRowExpenses').length);
        console.log(rowCount);
        for (i = 0; i < rowCount; i++) {

            var x = document.getElementsByName("activityOfEstimateList[" + i + "].total");
            var rowtotal = parseFloat($(x).val());
            var product = $("#activityOfEstimateList_" + i + "__productId").val()
            if (isNaN(rowtotal)) rowtotal = 0;

            if (product == valEntertain) {
                totalEntertain = totalEntertain + rowtotal;
                document.getElementById('lblUseEntertain').innerHTML = totalEntertain.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            }

        }
    }

    function getTotal2() {
        var totalBypass = 0.00;
        var totalWash = 0.00;
        var totalPhone = 0.00;
        document.getElementById('lblUseBypass').innerHTML = totalBypass;
        document.getElementById('lblUseWash').innerHTML = totalWash;
        document.getElementById('lblUsePhone').innerHTML = totalPhone;
        //count row ทั้งหมด
        var rowCount = parseInt($('#tbl_CashDetail tr.tagCountRowTravel').length);
        for (i = 0; i < rowCount; i++) {

            var x = document.getElementsByName("activityOfEstimateList2[" + i + "].total");
            var rowtotal = parseFloat($(x).val());
            var product = $("#activityOfEstimateList2_" + i + "__productId").val()

            console.log(rowtotal);
            console.log(product);
            if (isNaN(rowtotal)) rowtotal = 0;

            if (product == valBypass) {
                totalBypass = totalBypass + rowtotal;
                document.getElementById('lblUseBypass').innerHTML = totalBypass.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            }
            else if (product == valWash) {
                totalWash = totalWash + rowtotal;
                document.getElementById('lblUseWash').innerHTML = totalWash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            }
            else if (product == valPhone) {
                totalPhone = totalPhone + rowtotal;
                document.getElementById('lblUsePhone').innerHTML = totalPhone.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            }
        }
    }

    function getCumulativeByEmpId() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("getCumulativeByEmpId", "ExpenseEstimateInput")',
            data: {
                empId: $("#txtEmpId").val(),
                docDate: $("#txtExMonth").val(),
            }
        }).done(function (response) {
            if (response.Data != null) {
                if (productId == valEntertain) {
                    document.getElementById('lblCumulativeEntertain').innerHTML = response.Data.cash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                }
                else if (product == valBypass) {
                    totalBypass = totalBypass + rowtotal;
                    document.getElementById('lblCumulativeBypass').innerHTML = totalBypass.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                }
                else if (product == valWash) {
                    totalWash = totalWash + rowtotal;
                    document.getElementById('lblCumulativeWash').innerHTML = totalWash.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                }
                else if (product == valPhone) {
                    totalPhone = totalPhone + rowtotal;
                    document.getElementById('lblCumulativePhone').innerHTML = totalPhone.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                }

            }
        });
    }

   

</script>