@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model

<style>
    table.fixed {
        table-layout: fixed;
    }

        table.fixed td {
            overflow: hidden;
        }
</style>

<div class="row">
    <div class="col-12">
        <p class="lead">รายละเอียดงบประมาณ</p>
    </div>
    <div class="col-md-12 col-xs-12" style="width:100%;overflow-x:scroll;">
        <table class="table table-striped jambo_table bulk_action fixed" id="tbl_budgetControl" cellpadding="0" cellspacing="0" style="background-color:#ffffff;">
            <thead>
                <tr class="headings" style="text-align:center;">
                    <th width="50px" class="font10" style="text-align:center"> </th>
                    <th width="15%" class="font10" style="text-align:center"> BudgetNumber </th>
                    <th width="10%" class="font10" style="text-align:center"> ขอลด/ขอเพิ่ม </th>
                    <th width="25%" class="font10" style="text-align:center"> รายละเอียด </th>
                    <th width="15%" class="font10" style="text-align:center"> งบประมาณเดิม(บาท) </th>
                    <th width="15%" class="font10" style="text-align:center"> คงเหลือ(บาท)</th>
                    <th width="15%" class="font10" style="text-align:center"> จำนวนที่ต้องการโอน(บาท) </th>
                    <th width="15%" class="font10" style="text-align:center"> งบประมาณใหม่(บาท) </th>
                </tr>
            </thead>
            @for (int i = 0; i < Model.activityOfEstimateList.Count; i++)
            {
                <tbody id=first>
                    <tr class="tagCountRowBudgetControl tRow_@i">
                        <td>
                            @if (Model.activityFormTBMMKT.statusId == 1 || Model.activityFormTBMMKT.statusId == 5)
                            {
                                <button type="button" class="btn ink-reaction btn-danger fa fa-trash-o" onclick="cashDelete(this);"></button>
                                <button type="button" class="btn ink-reaction btn-info fa fa-edit" id="btn[@i].row" onclick="cashEdit(@i);"></button>
                            }
                            else
                            {
                                <button type="button" class="btn ink-reaction btn-danger fa fa-trash-o" onclick="cashDelete(this);" disabled></button>
                                <button type="button" class="btn ink-reaction btn-info fa fa-edit" id="btn[@i].row" onclick="cashEdit(@i);" disabled></button>
                            }

                        </td>


                        <td style="text-align:right">
                            @Html.TextBoxFor(x => x.activityOfEstimateList[i].EO, new { @class = "form-control textboxcss font10 textRight", placeholder = "EO", autocomplete = "off", @readonly = true })
                            @Html.TextBoxFor(x => x.activityOfEstimateList[i].IO, new { @class = "form-control textboxcss font10 textRight", placeholder = "IO", autocomplete = "off", @readonly = true })
                        </td>
                        <td style="text-align:right">


                            @Html.TextBox("txtUpDown", "", new { @class = "form-control textboxcss font10 textRight txtUpdown_" + i, @readonly = true })
                            @Html.HiddenFor(x => x.activityOfEstimateList[i].hospId)
                            <script>
                             $(function () {
                                 if ($("#activityOfEstimateList_" + @i + "__hospId").val() == '1') {
                                     $(".txtUpdown_" +@i).val('เพิ่ม');
                                 }
                                 else {
                                     $(".txtUpdown_" +@i).val('ลด');
                                 }
                             });
                            </script>

                        </td>
                        <td style="text-align:right">
                            @Html.TextBoxFor(x => x.activityOfEstimateList[i].remark, new { @class = "form-control textboxcss font10 textRight", autocomplete = "off", @readonly = true })
                            @Html.TextBoxFor(x => x.activityOfEstimateList[i].productName, new { @class = "form-control textboxcss font10 textRight", autocomplete = "off", @readonly = true })
                        </td>
                        <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList[i].normalCost, "{0:0.00}", new { @class = "form-control textboxcss font10 textRight", autocomplete = "off", @readonly = true })</td>
                        <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList[i].themeCost, "{0:0.00}", new { @class = "form-control textboxcss font10 textRight", autocomplete = "off", @readonly = true })</td>
                        <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList[i].growth, "{0:0.00}", new { @class = "form-control textboxcss font10 textRight", autocomplete = "off", @readonly = true })</td>
                        <td style="text-align:right"> @Html.TextBoxFor(x => x.activityOfEstimateList[i].total, "{0:0.00}", new { @class = "form-control textboxcss font10 textRight", autocomplete = "off", @readonly = true })</td>
                        @Html.HiddenFor(x => x.activityOfEstimateList[i].productId)
                        @Html.HiddenFor(x => x.activityOfEstimateList[i].typeTheme)
                        @Html.HiddenFor(x => x.activityOfEstimateList[i].QtyName)
                        @Html.HiddenFor(x => x.activityOfEstimateList[i].activityTypeId)
                        @Html.HiddenFor(x => x.activityOfEstimateList[i].UseYearSelect)

                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    function cashDelete(btn) {
        var i = btn.parentNode.parentNode.rowIndex;

        console.log(i);
        if (i == 1) {

            var row = parseInt(i) - 1;
            $("#activityOfEstimateList_" + row + "__EO").val('');
            $("#activityOfEstimateList_" + row + "__IO").val('');
            $("#activityOfEstimateList_" + row + "__hospId").val('');
            $("#activityOfEstimateList_" + row + "__hospId").val('');
            $("#activityOfEstimateList_" + row + "__remark").val('');
            $("#activityOfEstimateList_" + row + "__normalCost").val('');
            $("#activityOfEstimateList_" + row + "__themeCost").val('');
            $("#activityOfEstimateList_" + row + "__growth").val('');
            $("#activityOfEstimateList_" + row + "__total").val('');
            $("#activityOfEstimateList_" + row + "__productId").val('');
            $("#activityOfEstimateList_" + row + "__typeTheme").val('');
            $("#activityOfEstimateList_" + row + "__productName").val('');
            $("#activityOfEstimateList_" + row + "__activityTypeId").val('');
            $("#activityOfEstimateList_" + row + "__UseYearSelect").val('');
            $("#activityOfEstimateList_" + row + "__QtyName").val('');
            $(".txtUpdown_" + row).val('');
        }
        else {
            document.getElementById("tbl_budgetControl").deleteRow(i);
        }
    }
</script>
