
@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer
@using System.Configuration;
@using eActForm.Models;
@{
    /**/

    /**/

    Layout = null;
    decimal? total = 0;
    decimal? totalCase = 0;
    decimal? normalTotal = 0;
    decimal? activityTotal = 0;
    decimal? growthTotal = 0;
    decimal? sumGrowth = 0;
    decimal? LE = 0;

}

<div class="row">
    <div class="col-12">
        <p class="lead">รายละเอียดค่าใช้จ่าย (Cost)</p>
    </div>
    <div class="col-12">
        <table class="table table-bordered" id="tbl_activityDetail">
            <thead class="thead-dark">
                <tr>
                    <th class="align-content-center font10" rowspan="2" width="10px" onclick="onDelActDetail();"> <button class="btn ink-reaction btn-danger fa fa-trash-o"></button></th>
                    <th class="align-content-center font10" rowspan="2" style="width:10%;">IO</th>
                    <th class="align-content-center font10" rowspan="2" style="width:10%;">ประเภทกิจกรรม</th>
                    <th class="align-content-center font10" rowspan="2" style="width:14%;">ชื่อสินค้า/ค่าใช้จ่ายอื่นๆ</th>
                    <th class="align-content-center font10" rowspan="2" style="width:10%;">Unit</th>
                    <th class="align-content-center font10" rowspan="2" style="width:10%;">Price Per Unit</th>
                    <th class="align-content-center font10" colspan="3" style="width:30%;">ประมาณการยอดขาย (Estimate)</th>
                    <th class="align-content-center font10" colspan="1" style="width:15%;">ประมาณการค่าใช้จ่าย (Estimate)</th>
                </tr>
                <tr>
                    <th class="align-content-center font10">ยอดขายปกติ (Case)</th>
                    <th class="align-content-center font10">ยอดขายข่วงทำกิจกรรม (Case)</th>
                    <th class="align-content-center font10">% Growth</th>
                    <th class="align-content-center font10">Spending Exp. (Bath)</th>

                </tr>
            </thead>

            @if (Model.activityOfEstimateList != null)
            {
                var index = 0;
                total = 0;

                foreach (var item in Model.activityOfEstimateList)
                {
                    @Html.HiddenFor(x => Model.activityOfEstimateList[index].productGroupId)
                    <tr class="tagTR">
                        <td onclick="onDelActDetail('@item.productGroupId')">
                            <button class="btn ink-reaction btn-danger fa fa-trash-o"></button>

                        </td>
                        <td style="text-align:right"><input type="text" class="form-control textboxcss font10 textRight" onchange="calActivityDetailCost('@item.productGroupId','@index')" id="lblIO_@index" name="activityOfEstimateList[@index].IO" value="@item.IO" /> </td>
                        <td style="text-align:right"><input readonly type="text" class="form-control textboxcss font10 textRight" onchange="calActivityDetailCost('@item.productGroupId','@index')" id="lblTypeTheme_@index" name="activityOfEstimateList[@index].typeTheme" value="@item.typeTheme" /> </td>
                        <td style="text-align:right"><input type="text" class="form-control textboxcss font10 textRight" onchange="calActivityDetailCost('@item.productGroupId','@index')" id="lblProductName_@index" name="activityOfEstimateList[@index].productDetail" value="@item.productDetail" /> </td>
                        <td style="text-align:right"><input type="number" min="0" class="form-control textboxcss font10 textRight" onchange="calActivityDetailCost('@item.productGroupId','@index')" id="lblUnit_@index" name="activityOfEstimateList[@index].unit" value="@item.unit" onfocus="setZero(lblUnit_@index)" /> </td>
                        <td style="text-align:right"><input type="number" class="form-control textboxcss font10 textRight" onchange="calActivityDetailCost('@item.productGroupId','@index')" id="lblCompensate_@index" onfocus="setZero(lblCompensate_@index)" name="activityOfEstimateList[@index].compensate" value="@item.compensate" /> </td>
                        <td style="text-align:right"><input type="number" class="form-control textboxcss font10 textRight" onchange="calActivityDetailCost('@item.productGroupId','@index')" id="lblNormalCost_@index" onfocus="setZero(lblNormalCost_@index)" name="activityOfEstimateList[@index].normalCost" value="@item.normalCost" /></td>
                        <td style="text-align:right"><input type="number" class="form-control textboxcss font10 textRight" onchange="calActivityDetailCost('@item.productGroupId','@index')" id="lblThemeCost_@index" onfocus="setZero(lblThemeCost_@index)" name="activityOfEstimateList[@index].themeCost" value="@item.themeCost" /></td>
                        <td style="text-align:right"><input type="number" class="form-control textboxcss font10 textRight" onchange="calActivityDetailCost('@item.productGroupId','@index')" id="lblGrowth_@index" onfocus="setZero(lblGrowth_@index)" name="activityOfEstimateList[@index].growth" value="@item.growth" /></td>
                        <td style="text-align:right"><input type="number" class="form-control textboxcss font10 textRight" onchange="calGrowthTotal('@item.productGroupId','@index')" id="lblTotal_@index" onfocus="setZero(lblTotal_@index)" name="activityOfEstimateList[@index].total" value="@item.total" /></td>




                    </tr>
                    LE = item.LE == null ? 0 + LE : item.LE + LE;
                    total = item.total == null ? 0 + total : item.total + total;
                    totalCase = item.totalCase == null ? 0 + totalCase : item.totalCase + totalCase;
                    normalTotal = item.normalCost == null ? 0 + normalTotal : item.normalCost + normalTotal;
                    activityTotal = item.themeCost == null ? 0 + activityTotal : item.themeCost + activityTotal;
                    sumGrowth = item.growth == null ? 0 + sumGrowth : item.growth + sumGrowth;
                    index++;
                }
            }

            <tr>

                <td colspan="6" class="auto-style3" style="text-align:right;">&nbsp;รวม</td>

                <td>
                    <p class="text-success textRight">
                        @if (normalTotal != 0)
                        {
                            string result = String.Format("{0:n2}", @normalTotal);
                            @result.ToString();
                        }
                    </p>
                </td>
                <td>
                    <p class="text-success textRight">
                        @if (activityTotal != 0)
                        {
                            string result = String.Format("{0:n2}", @activityTotal);
                            @result.ToString();
                        }
                    </p>
                </td>
                <td>
                    <p class="text-success textRight">

                        @if (sumGrowth != 0 )
                        {
     
                            string result = String.Format("{0:n2}%", @sumGrowth);
                            @result.ToString();
                        }


                    </p>
                </td>
            
                <td>
                    <p class="text-success textRight">
                        @if (total != 0)
                        {
                            string result = String.Format("{0:n2}", @total);
                            @result.ToString();
                        }
                    </p>
                </td>


            </tr>
        </table>
    </div>
</div>

<script>
    function setZero(txtId) {
        if ($(txtId).val() == "0.00") {
            $(txtId).val("");
        }
    }

    function AddThemeCost() {
        var validate = true;
        var required = "กรุณา ระบุ :<br>";
        var ddlTheme = document.getElementById("ddlThemeDetail");
        var txtddlTheme = ddlTheme.options[ddlTheme.selectedIndex].text;
        if (txtddlTheme == 'Please Select') { bootbox.alert("กรุณา ระบุ ประเภทกิจกรรม"); validate = false; }
        if ($("#ddlProductBrand").val() == '') { required += "กรุณา Brand*<br>"; validate = false; }

        if (validate != true) {
            bootbox.alert(required);
            return false;
        }
        console.log($("#hdActivityId").val() + 'act');

        $("#WaitDialog").show();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("addCostDetailTheme", "ExpenseEstimateInput")',
            data: {
                themeId: $("#ddlThemeDetail").val(),
                txttheme: txtddlTheme,
                actId: $("#hdActivityId").val(),
                brandId: $("#ddlProductBrand").val(),
            }
        }).done(function (response) {
            callThemedetailcost('@Model.activityFormModel.id');
            $("#WaitDialog").hide();
        });
    }

    function callThemedetailcost(actId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("partialCostList", "ExpenseEstimateInput")',
            data: {
                actId: actId,
            }
        }).done(function (htmlResponse) {
            $("#divgetdetailcost").html(htmlResponse)
        });
    }

            // case %Spending of sale Change
    function calGrowthPerTotal(id, rowIndex, checktotal) {
        var perTotal = 0;
        if (checktotal == true) {
            perTotal = $('#lblPerTotal_' + rowIndex).val();
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("calSpendingOfSaleChange", "ActivityCostDetail")',
            data: {
                productGroupId: id,
                perTotal: perTotal,
                actId: $("#hdActivityId").val(),

            }
        }).done(function (response) {
            callThemedetailcost('@Model.activityFormModel.id');
        });
    }

            // case spending input change
    function calGrowthTotal(id, rowIndex, checktotal) {

        var themeCost = $('#lblThemeCost_' + rowIndex).val();
        themeCost = themeCost == "" ? 0 : themeCost;
        var productId = $("#hdProductId_" + rowIndex).val();
        var total = 0;
        if (checktotal == true) {
            total = $("#lblTotal_" + rowIndex).val();
            total = total == "" ? 0 : total;
            perTotal = $('#lblPerTotal_' + rowIndex).val();
            perTotal = perTotal == "" ? 0 : perTotal;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("calPercentSpendingOfSale", "ActivityCostDetail")',
            data: {
                productGroupId: id,
                productId: productId,
                total: total,
                themeCost: themeCost,
                actId: $("#hdActivityId").val(),

            }
        }).done(function (response) {
            callThemedetailcost('@Model.activityFormModel.id');
        });
    }

            // case all input change
    function calActivityDetailCost(id, rowIndex, checktotal) {

        console.log(rowIndex);

        var name = $('#lblProductName_' + rowIndex).val();
        var mechanics = $('#lblMechanics_' + rowIndex).val();
        var normalCost = $('#lblNormalCost_' + rowIndex).val();
        normalCost = normalCost == "" ? 0 : normalCost;
        var themeCost = $('#lblThemeCost_' + rowIndex).val();
        themeCost = themeCost == "" ? 0 : themeCost;
        var unit = $("#lblUnit_" + rowIndex).val();
        unit = unit == "" ? 0 : unit;
        var compensate = $("#lblCompensate_" + rowIndex).val();
        compensate = compensate == "" ? 0 : compensate;
        var LE = $("#lblLE_" + rowIndex).val();
        LE = LE == "" ? 0 : LE;
        var productId = $("#hdProductId_" + rowIndex).val();
        var totalCase = $("#lblTotalCase_" + rowIndex).val();
        totalCase = totalCase == "" ? 0 : totalCase;
        var growth = $("#lblGrowth_" + rowIndex).val();
        growth = growth == "" ? 0 : growth;


        $.ajax({
            type: 'POST',
            url: '@Url.Action("calActivityDetailCost", "ExpenseEstimateInput")',
            data: {
                IO: $("#lblIO_" + rowIndex).val(),
                name: name,
                mechanics: mechanics,
                productGroupId: id,
                productId: productId,
                normalCase: normalCost,
                promotionCase: themeCost,
                unit: unit,
                compensate: compensate,
                LE: LE,
                totalCase: totalCase,
                typeForm: '@Model.activityFormModel.typeForm',
                actId: $("#hdActivityId").val(),
                growth: growth

            }
        }).done(function (response) {
            callThemedetailcost('@Model.activityFormModel.id');
        });

    }

    function onDelActDetail(id) {

        $.ajax({
            url: '@Url.Action("delActCostDetail", "ExpenseEstimateInput")',
            data: {
                rowid: id,
                actId: $("#hdActivityId").val(),
            },
            dataType: "json",
            type: 'POST',
            success: function (response) {
                callThemedetailcost('@Model.activityFormModel.id');
                CallChangefunc('@Model.activityFormModel.id');
            }
        });
    }

</script>
