@model eActForm.Models.ManagementFlow_Model


<div class="row form-group">

    <div class="col-md-3">
        <div class="col-md-12 col-xs-12">
            <label>Subject</label>
        </div>
        <div class="col-md-12 col-xs-12">
            @Html.DropDownListFor(model => model.subjectList, new SelectList(Model.subjectList, "id", "nameTH"), "Please Select", new { @class = "form-control textboxcss", id = "ddlSubject" })
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 col-xs-12">
            <label>Customer</label>
        </div>
        <div class="col-md-12 col-xs-12">
            @Html.DropDownListFor(model => model.customerList, new SelectList(Model.customerList, "id", "cusNameTH"), "Please Select", new { @class = "form-control textboxcss", id = "ddlCustomer" })
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 col-xs-12">
            <label>Limit</label>
        </div>
        <div class="col-md-12 col-xs-12">
            @Html.DropDownListFor(model => model.getLimitList, new SelectList(Model.getLimitList, "id", "displayVal"), "Please Select", new { @class = "form-control textboxcss", id = "ddlLimit" })
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-12 col-xs-12">
            <label>Cate</label>
        </div>
        <div class="col-md-12 col-xs-12">
            @Html.DropDownListFor(model => model.cateList, new SelectList(Model.cateList, "id", "cateName"), "Please Select", new { @class = "form-control textboxcss", id = "ddlCate" })
        </div>
    </div>
</div>

<div id="divTBM" class="row form-group">
    <div class="col-md-3">
        <div class="col-md-12 col-xs-12">
            <label>Brand</label>
        </div>
        <div class="col-md-12 col-xs-12">
            @Html.DropDownListFor(model => model.productBrandList, new SelectList(Model.productBrandList, "id", "brandName"), "Please Select", new { @class = "form-control textboxcss", id = "ddlBrand" })
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-12 col-xs-12">
            <label>Chanel</label>
        </div>
        <div class="col-md-12 col-xs-12">
            @Html.DropDownListFor(model => model.chanelList, new SelectList(Model.chanelList, "id", "chanelGroup"), "Please Select", new { @class = "form-control textboxcss", id = "ddlChanelGroup" })
        </div>
    </div>
</div>

<div class="row form-group" style="text-align:center;">
    <p class="d-flex justify-content-center">
        <button type="button" class="btn ink-reaction btn-success" onclick="submitPreview();"><i class="fa fa fa-check fa-fw"></i>&nbsp;Submit</button>
    </p>
</div>

<div class="box-body">
    <div id="Grid"></div>
</div>



<script type="text/javascript">
    $(function () {

        var dataManager = ej.DataManager({
            url: '@Url.Action("getDataList", "ManagementFlow")',
            adaptor: new ej.WebApiAdaptor(),
            offline: true
        });

        dataManager.ready.done(function (e) {
            $("#Grid").ejGrid({
                dataSource: ej.DataManager({
                    json: e.result,
                    adaptor: new ej.remoteSaveAdaptor(),
                    insertUrl: "/api/Warehouse/Insert",
                    updateUrl: "/api/Warehouse/Update",
                    removeUrl: "/api/Warehouse/Remove",
                }),
                toolbarSettings: {
                    showToolbar: true,
                    toolbarItems: ["add", "edit", "delete", "update", "cancel", "search", "printGrid"]
                },
                editSettings: {
                    allowEditing: true,
                    allowAdding: true,
                    allowDeleting: true,
                    showDeleteConfirmDialog: true,
                    editMode: "dialog"
                },
                isResponsive: true,
                enableResponsiveRow: true,
                allowSorting: true,
                allowSearching: true,
                allowFiltering: true,
                filterSettings: {
                    filterType: "excel",
                    maxFilterChoices: 100,
                    enableCaseSensitivity: false
                },
                allowPaging: true,
                pageSettings: { pageSize: 10, printMode: ej.Grid.PrintMode.CurrentPage },
                columns: [
                    { field: "WarehouseId", headerText: 'Warehouse Id', isPrimaryKey: true, isIdentity: true, visible: false },
                    { field: "WarehouseName", headerText: 'Warehouse Name', validationRules: { required: true } },

                ],
                actionComplete: "complete",
            });
        });

</script>
