
@using eActForm.Models
@model eForms.Models.MasterData.ManagentFlowModel



@using (Ajax.BeginForm("insertFlowAddOn", "ManagementFlow"
    , new AjaxOptions { HttpMethod = "post", OnBegin = "return beginQuery_swap()", OnSuccess = "successQuery_swap", OnFailure = "failureQuery_swap" }
    , new { id = "subInsertSwap", @class = "form-horizontal form-label-left" }))
{

    <div class="row">

        <div id="divFlowApproveList" class="col-md-12 col-xs-12">

            <div class="col-md-12 col-xs-12 form-group" style="margin-left:-15px">
                <div id="divNewEmp" class="col-md-3">
                    <div class="col-md-12 col-xs-12">
                        <label>พนักงานคนใหม่</label>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        @Html.TextBox("newEmpId", "", new { @class = "form-control textboxcss textRight txtBoxRed", Style = "text-align:center; margin-left:-10px;", id = "txtNewEmpId" })
                    </div>
                </div>
            </div>


            <table id="datatable" class="table table-striped table-hover">
                <thead>
                    <tr style="background-color:#2B5D95;color:#ffffff;">
                        <th width="50" style="text-align:center;">@Html.CheckBox("checkAll", false)</th>
                        <th>ลำดับ</th>
                        <th>บริษัท</th>
                        <th>เรื่อง</th>
                        <th>รหัส</th>
                        <th>Customer</th>
                        <th>ช่องทาง</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.flowSubjectsList)
                    {
                        <tr class="gradeX">
                            <td style="text-align:center;">
                                @Html.CheckBox("selectRow", item.selectRow)
                                @Html.Hidden("ApproveIdList", item.flowApproveId)
                            </td>
                            <td>@item.rangNo</td>
                            <td>@item.companyName</td>
                            <td>@item.subjectName</td>
                            <td>@item.empId</td>
                            <td>@item.cusNameTH</td>
                            <td>@item.chanelGroup  @item.brandName  @item.cateName</td>
                            <td>
                                <a href="javascript:" onclick="return checkBeforeDelete('@item.flowApproveId');">
                                    <i class="btn ink-reaction btn-danger fa fa-trash-o"></i>&nbsp;
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row form-group  hero-container">
                <div class="col-md-6 col-xs-6">
                    <button type="button" onclick="return validateSwap();" class="btn btn-info">Update</button>
                </div>
            </div>
        </div>

    </div>


}
<script type="text/javascript">
    $("#checkAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });

    function validateSwap() {
        if ($("#txtNewEmpId").val().length > 3) {
            $("#subInsertSwap").submit();
        }
        else {
            bootbox.alert("กรุณา ระบุรหัสพนักงาน");
        }
    }

    function successQuery_swap(response) {
        if (response.Success) {
             var url = '@Url.Action("Index", "ManagementFlow", new { typeFlow = @Activity_Model.typeFlow.swap.ToString() })';
              doMsgSuccessAction('บันทึกเรียบร้อย', url);
        }
        else {
            $("#WaitDialog").hide();
            bootbox.alert("ไม่สามารถ บันทึกได้กรุณาติดต่อ Admin ครับ< br /> " + response.Message);
        }
    }
    function failureQuery_swap(data) {
        bootbox.alert("ไม่สามารถ บันทึกได้กรุณาติดต่อ Admin ครับ< br /> " + data.responseText);
    }

    function beginQuery_swap() {

    }


</script>