
@using eActForm.BusinessLayer
@model eActForm.Models.Activity_TBMMKT_Model
@{
    Layout = null;
    decimal? unit = 0;
    decimal? total = 0;
    decimal? totalEntertainment = 0;
    decimal? totalAdvance = 0;
}



<style>
    .textRight {
        text-align: right;
    }

    .textLeft {
        text-align: left;
    }

    .line-breaks {
        white-space: pre-line;
    }

    .font12 {
        font-size: 12.5px;
    }

    .font14 {
        font-size: 14px;
    }
</style>



<div class="modal-body" style="margin-bottom:50px;">
    <div id="divForm" style="width: 97%; margin-left: 20px;">
        <div id="divHeadCompany" runat="server" style="width: 100%; align-content: center; text-align: center; " class="fontDocV2">
            @Model.activityFormTBMMKT.companyName<br />
            @Model.activityFormTBMMKT.formName / @Model.activityFormTBMMKT.formNameEn
        </div>


        <div>
            <div class="fontDocV1" style="text-align: center;">
                ประจำเดือน : &nbsp;&nbsp; @Model.activityFormModel.documentDate.Value.ToString("MMMM")
            </div>
            <div>
                <table>
                    <tr>
                        <td class="fontDocSmall" width="540" style="text-align:right;">เลขที่เอกสาร  :</td>
                        <td class="fontDocSmall" width="110" style="text-align:right;">@Model.activityFormModel.activityNo</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <td class="fontDocSmall" width="540" style="text-align:right"> เลขที่เอกสารใบเคลียร์เงินทดรอง :</td>
                    <td class="fontDocSmall" width="110" style="text-align:right;">@Model.activityFormModel.reference</td>
                </tr>
                <tr>
                    <td class="fontDocSmall" width="540" style="text-align:right">Cost Center :</td>
                    <td class="fontDocSmall" width="110" style="text-align:right;">@Model.tB_Act_ActivityForm_DetailOther.costCenter</td>
                </tr>
            </table>
        </div>

        <div>
            <table style="width: 100%; margin-top: 30px;">
                <tr>
                    <td class="fontDocSmall" width="30px">
                        ชื่อ / Name:
                    </td>
                    <td class="fontDocSmall" width="60px">
                        @if (@Model.masterRequestEmp.Any())
                        {
                            @Model.masterRequestEmp[0].empName
                        }
                    </td>
                    <td class="fontDocSmall" width="30px">
                        ตำแหน่ง / Position:
                    </td>

                    <td class="fontDocSmall" width="60px">
                        @if (@Model.masterRequestEmp.Any())
                        {
                            @Model.masterRequestEmp[0].position
                        }
                    </td>
                </tr>
                <tr>
                    <td class="fontDocSmall" width="30px">
                        ระดับ / Level:
                    </td>
                    <td class="fontDocSmall" width="60px">
                        @if (@Model.masterRequestEmp.Any())
                        {
                            @Model.masterRequestEmp[0].level
                        }
                    </td>
                    <td class="fontDocSmall" width="30px">
                        หน่วยงาน / Dept.:
                    </td>
                    <td class="fontDocSmall" width="60px">
                        @if (@Model.masterRequestEmp.Any())
                        {
                            @Model.masterRequestEmp[0].department
                        }
                    </td>
                </tr>

                <tr style="height:10px;">
                    <td></td>
                </tr>

                @if (@Model.activityFormTBMMKT.costPeriodSt != null)
                {
                    <tr>
                        <td class="fontDocSmall">
                            <b>ข้อมูลเดินทาง</b>
                        </td>
                    </tr>
                    <tr class="fontDocSmall">
                        <td>
                            ประเภทการเดินทาง :
                        </td>
                        <td>
                            @Model.activityFormTBMMKT.list_0_select
                        </td>

                        <td>
                            วันที่เดินทาง :
                        </td>

                        <td class="fontDocSmall">
                            @if (@Model.activityFormTBMMKT.costPeriodSt != null)
                            {@Model.activityFormTBMMKT.costPeriodSt.Value.ToString("dd/MMM/yyyy HH:mm")} -
                            @if (@Model.activityFormTBMMKT.costPeriodEnd != null)
                            {@Model.activityFormTBMMKT.costPeriodEnd.Value.ToString("dd/MMM/yyyy HH:mm")}

                        </td>
                    </tr>
                    <tr class="fontDocSmall">
                        <td>
                            ประเทศ :
                        </td>
                        <td>
                            @Model.activityFormTBMMKT.list_1_select
                        </td>
                        <td>
                            อัตราแลกเปลี่ยน :
                        </td>
                        <td>
                            @{
                                string amountReceived = @Model.tB_Act_ActivityForm_DetailOther.amountReceived > 0 ? String.Format("{0:n2}", @Model.tB_Act_ActivityForm_DetailOther.amountReceived) : "-";
                                <label>  @amountReceived</label>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
        <br />

        @if (Model.activityOfEstimateList.Any())
        {
            if (!string.IsNullOrEmpty(Model.activityOfEstimateList[0].productDetail))
            {
                <div class="fontDocV1">
                    ค่าใช้จ่ายทั่วไป / General Expenses
                </div>

                <div>
                    <table style="width: 100%;border-style: solid;border-width: 1px 0px 0px 0px; border-collapse: collapse;">
                        <tr style="background-color: #E5E2E2; height: 25px;">
                            <td style="width: 15%; border-style: solid;border-width: 0px 1px 0px 1px; border-collapse: collapse;text-align:center;" class="fontDocSmall">วันที่ตามใบเสร็จ</td>
                            <td style="width: 40%; text-align: center; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">รายการ</td>
                            <td style="width: 10%; text-align: center; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">ลิตร</td>
                            <td style="width: 15%; text-align: center; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">จำนวนเงิน</td>
                            <td style="width: 20%; text-align: center; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">หมายเหตุ</td>
                        </tr>
                        @foreach (var item in Model.activityOfEstimateList)
                        {
                            <tr>
                                <td style="border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse; text-align:center;" class="fontDocSmall">
                                    @if (@item.date != null)
                                    {@item.date.Value.ToString("dd/MM/yyyy")}
                                </td>
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@item.productDetail</td>

                                @{
                                    var getUnit = @item.compensate == 0 ? "-" : string.Format("{0:n2}", @item.compensate);
                                }
                                <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align: right; padding-right: 5px; " class="fontDocSmall"> @getUnit </td>
                                @{
                                    var gettotal = @item.total == 0 ? "-" : string.Format("{0:n2}", @item.total);
                                }
                                <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align: right; padding-right: 5px; " class="fontDocSmall">@gettotal</td>
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@item.remark</td>
                            </tr>
                            unit = item.compensate + unit;
                            total = item.total == null ? 0 + total : item.total + total;
                        }
                        <tr>
                            <td colspan="2" class="font12" style="border-style: solid;border-width: 1px 1px 1px 1px; border-collapse: collapse; text-align:right">
                                <div>รวมค่าใช้จ่ายทั่วไป (ไม่รวมค่าเลี้ยงรับรองหรือการตรวจตลาด) &nbsp;&nbsp;</div>
                                <div>Total General expenses (Excluding Entertainment Expenses and Market Visits)&nbsp;&nbsp;</div>
                            </td>
                            <td class="fontDocSmall" style="border-style: solid; border-width: 1px 1px 1px 0px; border-collapse: collapse; text-align: right; padding-right: 5px;">
                                @if (unit != 0)
                                {
                                    string result = String.Format("{0:n2}", @unit);
                                    @result.ToString();
                                }
                                else
                                {
                                    <label>-</label>
                                }
                            </td>
                            <td class="fontDocSmall" style="border-style: solid; border-width: 1px 1px 1px 0px; border-collapse: collapse; text-align: right; padding-right: 5px;">
                                @if (total != 0)
                                {
                                    string result = String.Format("{0:n2}", @total);
                                    @result.ToString();
                                }
                            </td>
                            <td class="fontDocSmall" style="border-style: solid; border-width: 1px 1px 1px 0px; border-collapse: collapse;"></td>

                        </tr>
                    </table>
                </div>
                <br />
            }
        }


        @if (Model.expensesDetailModel.costDetailLists.Any())
        {
            <div class="fontDocV1">
                ค่าใช้จ่ายในการเดินทาง / Travel expenses
            </div>

            @Html.Action("expensesTrvDetailRpt", "ExpenseEstimateReport", new { activity_TBMMKT_Model = Model })
        }


        @if (Model.activityOfEstimateList2.Any())
        {
            if (Model.activityOfEstimateList2[0].date != null)
            {
                <div class="fontDocV1">
                    ค่าใช้จ่ายในการเลี้ยงรับรอง หรือการตรวจตลาด / Entertainment Expenses and Market Visits
                </div>
                <div class="fontDocSmall">
                    <lable style="color: red"> * หมายเหตุ:</lable>
                    <lable>ค่าใช้จ่ายส่วนนี้ จะต้องผ่านการอนุมัติตามอำนาจการอนุมัติได้เท่านั้น *</lable>
                </div>
                <div>

                    <table style="width: 100%;border-style: solid;border-width: 1px 0px 0px 0px; border-collapse: collapse;">
                        <tr style="background-color: #E5E2E2; height: 25px;">
                            <td style="width: 15%; border-style: solid;border-width: 0px 1px 0px 1px; border-collapse: collapse;text-align:center;" class="fontDocSmall">วันที่ตามใบเสร็จ</td>
                            <td style="width: 20%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">สถานที่</td>
                            <td style="width: 30%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">จุดประสงค์</td>
                            <td style="width: 20%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">ชื่อลูกค้า</td>
                            <td style="width: 15%; border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;" class="fontDocSmall">รวมเป็นจำนวนเงิน</td>
                        </tr>
                        @foreach (var item in Model.activityOfEstimateList2)
                        {
                            <tr>
                                <td style="border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse; text-align:center;" class="fontDocSmall">
                                    @if (@item.date != null)
                                    {@item.date.Value.ToString("dd/MM/yyyy")}
                                </td>
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@item.productDetail</td>
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@item.detail</td>
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:left;" class="fontDocSmall">@item.remark</td>
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align:right; padding-right:5px;" class="fontDocSmall">
                                    @{
                                        string totalRow = @item.total > 0 ? String.Format("{0:n2}", @item.total) : "-";
                                        <label>@totalRow</label>
                                    }
                                </td>
                            </tr>

                            totalEntertainment = item.total == null ? 0 + totalEntertainment : item.total + totalEntertainment;
                            totalAdvance = item.total == null ? 0 + totalAdvance : item.total + total;
                        }
                        <tr>
                            <td colspan="4" style="border-style: solid;border-width: 1px 1px 1px 1px; border-collapse: collapse; text-align:right;" class="fontDocSmall">
                                รวมค่าใช้จ่ายในการเลี้ยงรับรองและ/หรือการตรวจตลาด
                                Total Entertainment Expenses and Market Visit&nbsp;&nbsp;
                            </td>
                            <td style="border-style: solid; border-width: 1px 1px 1px 0px; border-collapse: collapse; text-align: right; padding-right: 5px; " class="fontDocSmall">
                                @{
                                    string resultMak = @totalEntertainment > 0 ? String.Format("{0:n2}", @totalEntertainment) : "-";
                                    <label>@resultMak</label>
                                }
                            </td>
                        </tr>
                    </table>

                </div>
            }
        }
        <br />
        <table style="width: 100%;border-style: solid;border-width: 1px 0px 0px 0px; border-collapse: collapse;">
            <tr style="background-color: #E5E2E2; height: 25px;">
                <td style="width: 86%; border-style: solid; border-width: 0px 1px 0px 1px; border-collapse: collapse; text-align: center;" class="fontDocSmall">
                    สรุปค่าใช้จ่ายทั้งหมด&nbsp;&nbsp;
                </td>
                <td style="width: 14%; border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse; text-align: center; padding-right: 5px; " class="fontDocSmall">
                    จำนวนเงิน/บาท
                </td>
            </tr>
            <tr>
                <td style="border-style: solid; border-width: 1px 1px 0px 1px; border-collapse: collapse; text-align: right;" class="fontDocSmall">
                    รวมค่าใช้จ่ายประจำเดือนทั้งหมด เป็นจำนวนเงิน / Total Monthly Expenses&nbsp;&nbsp;
                </td>
                <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align: right; padding-right: 5px; " class="fontDocSmall">
                    @{
                        //var totalEx = totalEntertainment + total - Model.totalCostThisActivity;
                        string resultEx = Model.totalCostThisActivity > 0 ? String.Format("{0:n2}", Model.totalCostThisActivity) : "-";
                        <label>@resultEx</label>
                    }
                </td>
            </tr>
            <tr>
                <td style="border-style: solid; border-width: 1px 1px 0px 1px; border-collapse: collapse; text-align: right;" class="fontDocSmall">
                    กรณีมีการเบิกเงินค่าใช้จ่ายล่วงหน้า จำนวนที่ขอเบิกไป / Cash Advance  &nbsp;&nbsp;
                </td>
                <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse; text-align: right; padding-right: 5px;" class="fontDocSmall">

                    @if (!string.IsNullOrEmpty(@Model.activityFormTBMMKT.benefit))
                    {
                        string resultAdv = String.Format("{0:n2}", decimal.Parse(@Model.activityFormTBMMKT.benefit));
                        @resultAdv.ToString();
                    }
                    else
                    {
                        <label>-</label>
                    }

                </td>
            </tr>
            <tr>
                <td style="border-style: solid;border-width: 1px 1px 1px 1px; border-collapse: collapse; text-align: right;" class="fontDocSmall">
                    รวมค่าใช้จ่ายที่ต้องการเบิก (คืน) ในครั้งนี้ /  Total All Expenses  &nbsp;&nbsp;
                </td>
                <td style="border-style: solid; border-width: 1px 1px 1px 0px; border-collapse: collapse; text-align: right; padding-right: 5px;" class="fontDocSmall">
                    @{
                        decimal adv = 0;

                        if (!string.IsNullOrEmpty(@Model.activityFormTBMMKT.benefit)) { adv = decimal.Parse(@Model.activityFormTBMMKT.benefit); }
                        var sumTotal = -(adv - Model.totalCostThisActivity);


                        string resultTotal = sumTotal != 0 ? String.Format("{0:n2}", sumTotal) : "-";
                        <label>@resultTotal</label>
                    }
                </td>
            </tr>
        </table>







        @if (!string.IsNullOrEmpty(Model.tB_Act_ActivityForm_DetailOther.detailContact) || !string.IsNullOrEmpty(Model.activityFormTBMMKT.remark))
        {
            <div id="divBenefit" runat="server" style="width: 100%;">

                <table style="width: 100%;" id="tabelBenefit" runat="server" border="0" cellpadding="2" cellspacing="0" class=" fontDocSmall">
                    <tr style="height:10px;">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 18%;   text-align:right;">
                            <b>
                                Expected benefit      /<br />ประโยชน์ที่คาดว่าจะได้รับ
                            </b>
                        </td>
                        <td style="width: 2%;text-align:center;"><b>:</b></td>
                        <td style="width: 80%;">
                            @Html.Raw(Model.tB_Act_ActivityForm_DetailOther.detailContact.Replace("\n", "<br/>").Replace("\r\n", "<br/>"))
                        </td>

                    </tr>
                    <tr style="height:10px;">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width: 18%; text-align: right; vertical-align: top;">
                            <b>
                                Remarks : หมายเหตุ
                            </b>
                        </td>
                        <td style="width: 2%; text-align: center; vertical-align: top;"><b>:</b></td>
                        <td style="width: 80%;">
                            @Html.Raw(Model.activityFormTBMMKT.remark.Replace("\n", "<br/>").Replace("\r\n", "<br/>"))
                        </td>

                    </tr>

                </table>

            </div>
        }
    </div>
</div>



@if (Model.activityOfEstimateList2.Count >= 2 && Model.activityOfEstimateList.Count >= 2 && Model.expensesDetailModel.costDetailLists.Any())
{
    <div style='page-break-before: always;'></div>
}