
@model eActForm.Models.Activity_TBMMKT_Model

<div class="row">
    <div class="col-12">
        <table class="table table-bordered" id="tbl_CashDetail" cellpadding="0" cellspacing="0">
            <thead class="thead-dark">
                <tr>
                    <th class="align-content-center font10" rowspan="2" style="width:10%;">วันเดือนปี</th>
                    <th class="align-content-center font10" rowspan="2" style="width:30%;">รายการ</th>
                    <th class="align-content-center font10" rowspan="2" style="width:20%;">สถานที่</th>
                    <th class="align-content-center font10" rowspan="2" style="width:10%;">จำนวนเงิน</th>
                    <th class="align-content-center font10" rowspan="2" style="width:30%;">หมายเหตุ</th>
                </tr>
            </thead>
            @foreach (var item in Model.expensesDetailModel.costDetailLists)
            {
                <tr>
                    <td style="text-align:right">@item.date</td>
                    <td style="text-align:right">@item.productDetail</td>
                    <td style="text-align:right">@item.detail</td>
                    <td style="text-align:right">@item.total</td>
                    <td style="text-align:right">@item.remark</td>

                </tr>
            }

        </table>
        
        <div class="row">
            <div class="col-lg-7">
            </div>
            <div class="col-lg-2 col-xs-2">
                <label id="lbltxtTotal"></label>
            </div>
            <div class="col-lg-2 col-xs-2">
                <label style="text-align:left">รวม</label>
            </div>
            <div class="col-lg-1 col-xs-1">
                <label id="lblShowtotal"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
            </div>
            <div class="col-lg-3 col-xs-3">
                <label id="lbltxtTotal"></label>
            </div>
            <div class="col-lg-2 col-xs-2">
                <label class="pull-left">เบิกตามสิทธิ (ต่อเดือน)</label>
            </div>
            <div class="col-lg-1 col-xs-1">
                <label>
                    @Model.exPerryCashModel.rulesCash
                </label>
            </div>
        </div>
        <br />
        <div id="divCertification" class="row">
            <div class="col-lg-7">
            </div>
            <div class="col-lg-5">
                <label style="color:red">***จ่ายตามหลักเกณฑ์  @Model.exPerryCashModel.rulesCash บาท ต่อเดือน</label>
            </div>
        </div>

        <div id="divCashBill" class="row">

            @foreach (var item in Model.exPerryCashList)
            {
                <div class="col-lg-8">
                </div>
                <div class="col-lg-4">
                    <label style="color:red">
                        <label style="color:red"> @item.cashName @item.cash บาท/เดือน</label>
                    </label>
                </div>
            }

        </div>

    </div>



