@*@model eActForm.Models.Activity_TBMMKT_Model*@
<div id="divPlaceDetails" runat="server" style="width: 100%;" >
    <table class="tablethin  fontDocSmall" style="width:100%; text-align:center;" border="1" cellpadding="2" cellspacing="0">

        <tr style="background-color:#E5E2E2;height:25px;  ">
            <td colspan="5" style="text-align :center;">
                <b>Description of activity : รายละเอียดของกิจกรรม ดังนี้</b>
            </td>
        </tr>
        <tr style="height:25px;">
            <td style="width: 30%;text-align:center;"><b>Place (Country) / สถานที่ (จังหวัด)	</b></td>
            <td style="width: 34%;text-align:center;"><b>For Project / เพื่อโครงการ</b></td>
            <td style="width: 9%;text-align:center;"><b>Period /<br />จำนวนวัน</b> </td>
            <td style="width: 14%;text-align:center;"><b>Departure Date /<br />วันออกเดินทาง</b></td>
            <td style="width: 13%;text-align:center;"><b>Arrival Date /<br />วันที่กลับ</b></td>
        </tr>
        @{ var index = 0;}

        @for (index = 0; index < Model.placeDetailModel.Count; index++)

        {
            if (@Model.placeDetailModel[@index].place != "")
            {
                <tr style="height:20px;">
                    <td style="text-align:left; padding-left:5px;">
                        @Model.placeDetailModel[@index].place
                    </td>
                    <td style="text-align:left; padding-left:5px;">
                        @Model.placeDetailModel[@index].forProject
                    </td>
                    <td style="text-align:center; padding-left:5px;">
                        @Model.placeDetailModel[@index].period
                    </td>
                    <td style="text-align:center; padding-left:5px;">
                        @Model.placeDetailModel[@index].departureDateStr.Replace("-","/")
                    </td>
                    <td style="text-align:center; padding-left:5px;">
                        @Model.placeDetailModel[@index].arrivalDateStr.Replace("-", "/")
                    </td>
                </tr>

            }
        }


    </table>

    <br />

</div>
