@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model

<style>
    .cssborderbottom {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: gray;
    }
</style>

<div id="divProgress" class="row">
    <br />
    <table class="tablethin pull-right">

        @{ int row = 0; }
        @foreach (var item in Model.budgetTotalList)
        {
            string result = String.Format("{0:n2}", item.amountBalancePercen);
            int intBalance = Convert.ToInt32(item.amountBalancePercen);

            if (row == 0)
            {

                if (!string.IsNullOrEmpty(item.brandId))
                {
                    <tr>
                        <td>งบประมาณ @item.brandName </td>
                        <td>&nbsp;ทั้งปี&nbsp;&nbsp;</td>
                        <td>@item.totalBudget.Value.ToString("#,##0.00")</td>
                        <td>&nbsp;ใช้ไปสะสม&nbsp;&nbsp;</td>
                        <td>@Model.budgetTotalModel.useAmountTotal.Value.ToString("#,##0.00")</td>
                        <td>&nbsp;คงเหลือ&nbsp;&nbsp; </td>
                        <td>@Model.budgetTotalModel.amountBalanceTotal.Value.ToString("#,##0.00")</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            งบประมาณช่องทาง @item.channelName
                        </td>
                        <td>&nbsp;ทั้งปี&nbsp;&nbsp;</td>
                        <td>
                            @Model.budgetTotalModel.totalBudgetChannel.Value.ToString("#,##0.00")
                        </td>
                        <td>
                            &nbsp;ใช้ไปสะสม&nbsp;&nbsp;
                        </td>
                        <td>
                            @Model.budgetTotalModel.useAmountTotal.Value.ToString("#,##0.00")
                        </td>
                        <td>&nbsp;คงเหลือ&nbsp;&nbsp;</td>
                        <td>
                            @Model.budgetTotalModel.amountBalanceTotal.Value.ToString("#,##0.00")
                        </td>
                    </tr>
                }

            }

            if (!string.IsNullOrEmpty(item.brandId))
            {
                <tr>
                    <td>งบ @item.activityType </td>
                    <td>&nbsp;ทั้งปี&nbsp;&nbsp;</td>
                    <td>@item.amount.Value.ToString("#,##0.00")</td>
                    <td>&nbsp;ใช้ไปสะสม&nbsp;&nbsp;</td>
                    <td>@item.useAmount.Value.ToString("#,##0.00")</td>
                    <td>&nbsp;คงเหลือ&nbsp;&nbsp;</td>
                    <td>@item.amountBalance.Value.ToString("#,##0.00")</td>

                </tr>
            }
            else
            {
                <tr>
                    <td>งบ @item.brandName </td>
                    <td>&nbsp;ทั้งปี&nbsp;&nbsp;</td>
                    <td>@item.amount.Value.ToString("#,##0.00")</td>
                    <td>&nbsp;ใช้ไปสะสม&nbsp;&nbsp;</td>
                    <td>@item.useAmount.Value.ToString("#,##0.00")</td>
                    <td>&nbsp;คงเหลือ&nbsp;&nbsp;</td>
                    <td>@item.amountBalance.Value.ToString("#,##0.00")</td>

                </tr>
            }

            row++;
        }
    </table>
</div>
