@using eActForm.BusinessLayer;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-ActForm T&D Sale Support</title>


    <!-- Bootstrap -->
    <link href="~/content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!---->
    <link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-datepicker/datepicker3.css?1424887858" />

    <link href="~/content/vendors/build/css/custom.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
</head>
<body class="nav-md">
    <div id="WaitDialog" class="loading" style="text-align: center;display:none;">
        <img src="~/images/loading.gif" style="margin-top:100px;width:100px;height:100px;" />
        <div style="margin-top: 10px; color: white">
            <b>Please wait</b>
        </div>
    </div>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="" class="site_title">
                            <img src="~/images/LogoTD_Department.png" class="profile_img" width="30px" />
                            <span>T&D Sale Support</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            @{
                                var src = "http://webapp8.apps.thaibev.com/files/eCheck/Photos/" + @UtilsAppCode.Session.User.empId + ".jpg";
                            }
                            <img src=@src alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@UtilsAppCode.Session.User.empFNameTH  @UtilsAppCode.Session.User.empLNameTH</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    @RenderPage("_sidebar.cshtml")
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("logOut","home")">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            @RenderPage("_topnav.cshtml")
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Power by T&D Dev. Team
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- Datatables -->
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- datepicker -->
    <script src="~/Content/vendors/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <!-- iCheck -->
    <script src="~/Content/vendors/iCheck/icheck.min.js"></script>
    <!--bootbox-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/bootbox.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Content/vendors/build/js/custom.js"></script>

    <style type="text/css">

        .textRight {
            text-align: right;
        }

        .inputFull{
            width:100%;
        }

        .my-bootbox-class .modal-dialog {
            width: 400px;
            font-size: 18px;
            text-align: center;
        }

        .my-bootbox-class .modal-dialog-large {
            width: 600px;
            font-size: 18px;
            text-align: center;
        }

        .loading {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: show;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
            width: 100%;
            height: 100%;
        }
    </style>

    <script>

        function doMsgSuccess(msg) {
            bootbox.alert("<div class='row'><div class='text-center'><img width='150px' src='images/checkmark.gif' class='text-center'/><br/>" + msg + "</div></div>");
        }
        function doMsgFail(msg) {
            bootbox.alert("<div class='row'><div class='text-center'><br/>" + msg + "</div></div>");
        }

        function doLoading(msg) {
            bootbox.dialog({ message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i>' + msg + '</div>' })
        }

        function doAlert(msg) {
            bootbox.dialog({
                message: "<div class='row'><div class='text-center'><img width='80px' src='../images/warning_error.png' class='text - center'/><br/>" + msg + "</div></div>"});
                closeButton: false
        }

        function doMsgSuccessAction(msg,action) {
            bootbox.alert({
                message: "<div class='row'><div class='text-center'><img width='150px' src='~/images/checkmark.gif' class='text-center'/><br/>" + msg + "</div></div>",
                callback: function () {
                    var url = action;
                    window.location.href = url;
                }
            });
        }



    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138769477-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-138769477-1');
    </script>
</body>
</html>
