@using eActForm.BusinessLayer;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-ActForm OAC Team</title>


    @Styles.Render("~/Content/themes/css")

    @Scripts.RenderFormat(@"<script src="" {0}"" ></script>", "~/bundles/modernizr")

    @Scripts.RenderFormat(@"<script src="" {0}"" ></script>", "~/bundles/jquery")

   

</head>
<body class="nav-md">
    <div id="WaitDialog" class="loading" style="text-align: center;display:none;">
        <img src="~/images/loading.gif" style="margin-top:100px;width:100px;height:100px;" />
        <div style="margin-top: 10px; color: white">
            <b>Please wait</b>
        </div>
    </div>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="" class="site_title">
                            <img src="~/images/ThaiBevLogo.png" class="profile_img" width="60px" />
                            <span style="font-size:20px;">E-Activity</span>
                            <span style="font-size:10px;">by OAC</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            @{
                                var src = "~/images/numan-logo.png";
                            }
                            <img src="~/images/numan-logo.png" width="50" height="50" class="img-circle profile_img" />
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@UtilsAppCode.Session.User.empFNameTH  @UtilsAppCode.Session.User.empLNameTH</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    @RenderPage("_sidebar.cshtml")
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("logOut","home")">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            @RenderPage("_topnav.cshtml")
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    @DateTime.Now.Year - Power by OAC Dev. Team
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @Scripts.RenderFormat(@"<script src="" {0}"" ></script>", "~/bundles/jqueryui")

    @Scripts.RenderFormat(@"<script src="" {0}"" ></script>", "~/bundles/bootstrap")

    <script src="~/Content/vendors/build/js/custom.js" type="text/javascript"></script>

    @RenderSection("scripts", required: false)

    <style type="text/css" async>

        .cssborderbottom {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: gray;
        }

        .textRight {
            text-align: right;
        }

        .inputFull {
            width: 100%;
        }

        .my-bootbox-class .modal-dialog {
            width: 400px;
            font-size: 18px;
            text-align: center;
        }

        .my-bootbox-class .modal-dialog-large {
            width: 600px;
            font-size: 18px;
            text-align: center;
        }

        .loading {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: show;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
            width: 100%;
            height: 100%;
        }

        .sizeFont15 {
            font-size: 15px;
        }
    </style>

    <script>


        $(document).ready(function () {

            if ('@UtilsAppCode.Session.User.isApprove' == 'True' && '@UtilsAppCode.Session.User.countApproveReject' != '0') {

                (new PNotify({
                    title: 'แจ้งเตือน',
                    text: '<a href="@Url.Action("getRejectApproveByEmpId", "ApproveLists")">เอกสารที่คุณ"อนุมัติ"ไม่ได้รับการอนุมัติ <br/>จำนวน ' + '@UtilsAppCode.Session.User.countApproveReject' +' รายการ',
                    hide: false,
                    styling: 'bootstrap3',
                    addclass: "sizeFont15",
                }));
            }

            if ('@UtilsAppCode.Session.User.isCreator' == 'True' && '@UtilsAppCode.Session.User.countRejectAct' != '0') {
                (new PNotify({
                    title: 'แจ้งเตือน' ,
                    text: '<a href="@Url.Action("searchForIconReject", "Home")">คุณมีเอกสารไม่รับการอนุมัติ <br/>จำนวน '+'@UtilsAppCode.Session.User.countRejectAct' +' รายการ</a>' ,
                    hide: false,
                    styling: 'bootstrap3',
                    addclass: "sizeFont15",
                }));
            }
        });



        function doMsgSuccess(msg) {
            bootbox.alert("<div class='row'><div class='text-center'><img width='150px' src='https://eact.thaibev.com/images/checkmark.gif' class='text-center'/><br/>" + msg + "</div></div>");
        }
        function doMsgFail(msg) {
            bootbox.alert("<div class='row'><div class='text-center'><br/>" + msg + "</div></div>");
        }

        function doLoading(msg) {
            bootbox.dialog({ message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i>' + msg + '</div>' })
        }

        function doAlert(msg) {
            bootbox.dialog({
                message: "<div class='row'><div class='text-center'><img width='80px' src='https://eact.thaibev.com/images/warning_error.png' class='text - center'/><br/>" + msg + "</div></div>"
            });
            closeButton: false
        }

        function doMsgSuccessAction(msg, action) {
            bootbox.alert({
                message: "<div class='row'><div class='text-center'><img width='150px' src='https://eact.thaibev.com/images/checkmark.gif' class='text-center'/><br/>" + msg + "</div></div>",
                callback: function () {
                    var url = action;
                    window.location.href = url;
                }
            });
        }



    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FEHH1RM1R8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-FEHH1RM1R8');
    </script>

</body>
</html>
