@model eActForm.Models.Activity_Model
@using eActForm.BusinessLayer
@using System.Configuration;
@using eActForm.Models;
@using System.Globalization;
@{
    Layout = null;
    decimal? perTotal = 0;
    decimal? totalActCost = 0;
    decimal? costActivity = 0;
    decimal? costProduct = 0;
    decimal? growthPerTotal = 0;
    decimal? sumGrowth = 0;
    decimal? totalCase = 0;
    CultureInfo DateThai = new CultureInfo("th-TH");
    CultureInfo DateEnglish = new CultureInfo("en-US");
}

<div class="modal-body" style="color:black;">
    <div id="divForm" style="width: 97%; margin-left: 20px; font-family: 'TH SarabunPSK';">
        <style>
            .cssborderbottom {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: gray;
            }

            .font15 {
                font-size: 15px;
            }

            .font13 {
                font-size: 13px;
            }

            .textRight {
                text-align: right;
            }

            .textLeft {
                text-align: left;
            }

            .line-breaks {
                white-space: pre-line;
            }
        </style>

        <div>
            @if (Model.activityFormModel.master_type_form_id == ConfigurationManager.AppSettings["formAddOn_MT_OMT"])
            {
                <div style="text-align:center; font-size:20px;"><b>แบบฟอร์มกิจกรรมส่งเสริมการขาย (Budget AddOn)</b></div>
            }
            else
            {
                <div style="text-align: center; font-size: 20px;"><b>แบบฟอร์มกิจกรรมส่งเสริมการขาย (Activity Form)</b></div>
            }

        </div>
        <div>
            <table class="font13" style="width:100%; margin-top:25px;">
                <tr>
                    <td width="140px"></td>
                    <td width="260px" style="margin-left:10px;"></td>
                    <td width="20px"></td>
                    <td width="150px" style="text-align:right;">Activity No.</td>
                    <td width="5px"></td>
                    <td width="160px" class="cssborderbottom"> @Html.DisplayFor(item => item.activityFormModel.activityNo) </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right;">Document Date</td>
                    <td></td>
                    <td class="cssborderbottom">@Model.activityFormModel.documentDate.Value.ToString("dd/MM/yyyy", DateEnglish) </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                    {
                        <td style="text-align:right;">Customer Format</td>
                    }
                    else
                    {
                        <td style="text-align:right;">Reference</td>
                    }
                    <td></td>
                    <td class="cssborderbottom"> @Html.DisplayFor(item => item.activityFormModel.reference) </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right;">Referene ActNo.</td>
                    <td></td>
                    <td class="cssborderbottom"> @Html.DisplayFor(item => item.activityFormModel.referenceActNo) </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    @{
                        var subAct = "";
                        if (!string.IsNullOrEmpty(Model.activityFormModel.subActivity))
                        {
                            subAct = "(" + Model.activityFormModel.txtSubActivity + ")";
                        }
                    }
                    <td>ชื่อกิจกรรม</td>
                    <td class="cssborderbottom">@Model.activityFormModel.activityName  </td>
                    <td></td>
                    <td style="text-align:right;">ลูกค้า(Customer Name)</td>
                    <td></td>
                    <td class="cssborderbottom">@Html.DisplayFor(item => item.activityFormModel.customerName) </td>
                </tr>
                <tr>
                    <td>ประเภทกิจกรรม(Theme)</td>
                    <td class="cssborderbottom"> @Html.DisplayFor(item => item.activityFormModel.txttheme) &nbsp;&nbsp; @subAct </td>
                    <td></td>
                    <td style="text-align:right;">ช่องทาง(Channel)</td>
                    <td></td>
                    @if (string.IsNullOrEmpty(Model.activityFormModel.chanel))
                    {
                        <td class="cssborderbottom"> @Html.DisplayFor(item => item.activityFormModel.regionName) </td>

                    }
                    else
                    {
                        <td class="cssborderbottom"> @Html.DisplayFor(item => item.activityFormModel.chanel) </td>
                    }

                </tr>
                <tr>
                    <td>วัตถุประสงค์</td>
                    <td class="cssborderbottom">@Html.DisplayFor(item => item.activityFormModel.objective)</td>
                    <td></td>
                    <td style="text-align:right;">กลุ่มสินค้า(Product Group)</td>
                    <td></td>
                    <td class="cssborderbottom"> @Html.DisplayFor(item => item.activityFormModel.brandName) </td>

                </tr>
                <tr>
                    <td style="height:10px;"></td>
                </tr>
                <tr>
                    @if (Model.activityFormModel != null)
                    {
                        if (Model.activityFormModel.trade == "term")
                        {
                            <td style="text-align:right"><img width="10" height="10" src="https://eact.thaibev.com/images/checkRpt.png" /> &nbsp; </td>
                        }
                        else
                        {
                            <td style="text-align:right"></td>
                        }
                    }
                    <td>รายการส่งเสริมการขาย (Trade Term)</td>
                    <td></td>
                    <td style="text-align:right;">ระยะเวลากิจกรรม</td>
                    <td></td>
                    <td>
                        @if (Model.activityFormModel.activityPeriodSt != null)
                        {
                            @Model.activityFormModel.activityPeriodSt.Value.ToString("dd/MM/yyyy")
                        }
                        To
                        @if (Model.activityFormModel.activityPeriodEnd != null)
                        {
                            @Model.activityFormModel.activityPeriodEnd.Value.ToString("dd/MM/yyyy")
                        }
                    </td>
                </tr>
                <tr>
                    @if (Model.activityFormModel != null)
                    {
                        if (Model.activityFormModel.trade == "outterm")
                        {
                            <td style="text-align:right"><img width="10" height="10" src="https://eact.thaibev.com/images/checkRpt.png" /> &nbsp; </td>
                        }
                        else
                        {
                            <td style="text-align:right"></td>
                        }
                    }
                    <td>รายการส่งเสริมการขาย (นอกTrade Term)</td>
                    <td></td>
                    <td style="text-align:right;">(Activity Period)</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    @{
                        string showIO = "";
                    }

                    @if (!string.IsNullOrEmpty(@Model.activityFormModel.actIO))
                    {
                        showIO = "IO:" + @Model.activityFormModel.actIO + " / Claim :" + @Model.activityFormModel.actClaim + "%";
                    }
                    <td>@showIO</td>
                    <td></td>
                    <td style="text-align:right;">ระยะเวลาการให้ทุนพิเศษ</td>
                    <td></td>
                    <td>
                        @if (Model.activityFormModel.costPeriodSt != null)
                        {
                            @Model.activityFormModel.costPeriodSt.Value.ToString("dd/MM/yyyy")
                        }
                        To
                        @if (Model.activityFormModel.costPeriodEnd != null)
                        {
                            @Model.activityFormModel.costPeriodEnd.Value.ToString("dd/MM/yyyy")
                        }
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right;">(Cost Period)</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div>
            <table style="border-bottom-width:1px; border-bottom-style: solid; border-bottom-color: gray; width:100%;"><tr><td>&nbsp;</td></tr></table>
        </div>

        <div style="width:100%;">
            <b class="font15" style="margin-top:5px;">
                รายละเอียดของการทำกิจกรรม(Activity Detail)
            </b>
            @if (string.IsNullOrEmpty(Model.activityFormModel.chanel) && Model.activityFormModel.txttheme == "FOC")
            {
                <div>
                    <p class="font13">
                        @System.Configuration.ConfigurationManager.AppSettings["mssFOCWording"]
                    </p>
                </div>
            }
            <div style="margin-top:15px;">
                <table style="width:100%">
                    <tr>
                        <td width="50%">
                            <p class="font13">
                                @Html.Raw(Model.activityFormModel.activityDetail.Replace("\n", "<br/>").Replace("\r\n", "<br/>"))
                            </p>
                        </td>

                        @if (Model.productImageList.Any())
                        {
                            int index = 1;
                            string url = System.Configuration.ConfigurationManager.AppSettings["urlUploadfiles"].ToString();
                            foreach (var item in Model.productImageList)
                            {
                                if (item.extension == ".jpg" || item.extension == ".png" || item.extension == ".jpeg")
                                {
                                    if (Model.productImageList.Count == 1)
                                    {
                                        <td width="50%" style="text-align:right">
                                            <img width="220" height="120" src="@string.Format(url, item._fileName)" />
                                        </td>
                                    }
                                    else
                                    {
                                        if (index <= 2)
                                        {
                                            <td width="40%" style="text-align:right;">
                                                <img style="margin-left:10px;" width="130" height="120" src="@string.Format(url, item._fileName)" />
                                            </td>
                                        }
                                    }
                                    index++;
                                }
                            }
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                </table>
            </div>
        </div>


        <div>
            <table style="border-bottom-width:1px; border-bottom-style: solid; border-bottom-color: gray; width:100%;"><tr><td>&nbsp;</td></tr></table>
        </div>

        <b class="font15" style="margin-top:5px; width:100%;">
            โครงสร้างราคา-ไม่รวม Vat(Product Cost - Bath Per Case)
        </b>

        <div>
            <table class="font13" style="width:100%; text-align:center; border-style: solid;border-width: 1px 0px 0px 0px; border-collapse: collapse;">
                <tr style="background-color: #E5E2E2;">
                    <td style="border-style: solid; border-width: 0px 1px 0px 1px; border-collapse: collapse; width: 20%; " rowspan="2">ชื่อสินค้า (product Name)</td>
                    <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse; width:10%;" rowspan="2">Std. Wholesales Price</td>
                    <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse; width: 20%;" colspan="3">Normal Discount (Baht)</td>
                    <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse; width: 10%;">Normal</td>
                    <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse; width: 10%;">Normal</td>
                    <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse; width: 10%;">Promotion</td>
                    @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                    {
                        <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse; width: 10%;">Special</td>
                        <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse; width: 10%;">Promotion</td>
                    }
                </tr>
                <tr style="background-color: #E5E2E2;">
                    <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse;">(1)</td>
                    <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse;">(2)</td>
                    <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse;">(3)</td>
                    <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse;">Cost</td>
                    <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse;">GP%</td>
                    <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse;">GP%</td>

                    @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                    {
                        if (Model.productcostdetaillist1.Any())
                        {
                            if (Model.productcostdetaillist1[0].specialDiscBaht != 0)
                            {
                                <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse;">Discount Baht</td>
                            }
                            else
                            {
                                <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse;">Discount %</td>
                            }
                        }
                        else
                        {
                            <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse;">Discount %</td>
                        }
                        <td style="border-style: solid; border-width: 1px 1px 0px 0px; border-collapse: collapse;">Cost (BHT)</td>
                    }

                </tr>

                @if (Model.productcostdetaillist1.Any())
                {
                    foreach (var item in Model.productcostdetaillist1)
                    {

                        <tr>
                            @if (item.isShowGroup == true)
                            {
                                <td style="border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse;" class="font13 textLeft">@Html.DisplayFor(m => item.brandName)@Html.DisplayFor(m => item.size) ALL(@Html.DisplayFor(m => item.detailGroup.Count)) @Html.DisplayFor(m => item.pack) </td>
                            }
                            else
                            {
                                if (item.detailGroup.Count >= 1)
                                {
                                    <td style="border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse;" class="font13 textLeft">@Html.DisplayFor(m => item.detailGroup[0].productName) (@Html.DisplayFor(m => item.pack))</td>
                                }


                            }

                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@Html.DisplayFor(m => item.wholeSalesPrice)&nbsp;</td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@Html.DisplayFor(m => item.disCount1)&nbsp;</td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@Html.DisplayFor(m => item.disCount2)&nbsp;</td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@Html.DisplayFor(m => item.disCount3)&nbsp;</td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@Html.DisplayFor(m => item.normalCost)&nbsp;</td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@Html.DisplayFor(m => item.normalGp)&nbsp;</td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@Html.DisplayFor(m => item.promotionGp)&nbsp;</td>

                            @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                            {
                                if (item.specialDiscBaht != 0)
                                {
                                    <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@Html.DisplayFor(m => item.specialDiscBaht)&nbsp;</td>
                                }
                                else
                                {
                                    <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@Html.DisplayFor(m => item.specialDisc)&nbsp;</td>
                                }
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@Html.DisplayFor(m => item.promotionCost)&nbsp;</td>
                            }
                        </tr>

                    }

                }
                <tr>
                    <td colspan="10" style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;"></td>
                </tr>
            </table>
        </div>

        <div style="height:30px;"></div>
        <b class="font15">
            รายละเอียดค่าใช้จ่าย (Cost)
        </b>

        <div>
            <table class="font13" style="width:100%; text-align:center; border-style: solid;border-width: 1px 0px 0px 0px; border-collapse: collapse;">
                <tr style="background-color: #E5E2E2;">
                    <td style="border-style: solid; border-width: 0px 1px 0px 1px; border-collapse: collapse;" rowspan="2" width="15%">ประเภทกิจกรรม</td>
                    <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse;" rowspan="2" width="22%">ชื่อสินค้า/ค่าใช้จ่ายอื่นๆ</td>
                    @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                    {
                        <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse;" rowspan="2" width="10%">Mechanics</td>
                    }

                    @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                    {
                        <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse;" colspan="3">ประมาณการยอดขาย (Estimate)</td>
                        <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse;" colspan="3">ประมาณการค่าใช้จ่าย (Estimate)</td>
                    }
                    else
                    {
                        <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse;" colspan="3">ประมาณการยอดขาย (Estimate)</td>
                        <td style="border-style: solid; border-width: 0px 1px 0px 0px; border-collapse: collapse;" colspan="2">ประมาณการค่าใช้จ่าย (Estimate)</td>
                    }
                </tr>
                <tr style="background-color: #E5E2E2;">
                    <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" width="10%">ยอดขายปกติ (Case)</td>
                    <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" width="10%">ยอดขายข่วงทำกิจกรรม (Case)</td>
                    <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" width="6%">% Growth</td>
                    <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" width="10%">Spending Exp. (Case)</td>
                    <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" width="10%">Spending Exp. (Bath)</td>
                    @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                    {
                        <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" width="7%">% ยอดขาย</td>
                    }
                </tr>
                @if (Model.activitydetaillist.Any())
                {
                    foreach (var item in Model.activitydetaillist)
                    {
                        <tr>
                            <td style="border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse;" class="textLeft">@item.typeTheme</td>
                            @if (item.detailGroup != null && item.detailGroup.Count > 0)
                            {
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textLeft">@Html.DisplayFor(m => item.detailGroup[0].productName) </td>
                            }
                            else
                            {
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textLeft">@Html.DisplayFor(m => item.productName)  </td>
                            }
                            @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                            {
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textLeft">@Html.DisplayFor(m => item.mechanics)</td>
                            }

                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@string.Format("{0:n2}", item.normalCost)&nbsp;</td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight"> @string.Format("{0:n2}", item.themeCost)&nbsp;</td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@string.Format("{0:n2}", item.growth)&nbsp;</td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@string.Format("{0:n2}", item.totalCase)&nbsp;</td>
                            <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@string.Format("{0:n2}", item.total)&nbsp;</td>
                            @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                            {
                                <td style="border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;" class="font13 textRight">@string.Format("{0:n2}", item.perTotal)&nbsp;</td>
                            }
                        </tr>
                        perTotal = item.perTotal == null ? 0 + perTotal : item.perTotal + perTotal;
                        totalActCost = item.total == null ? 0 + totalActCost : item.total + totalActCost;
                        totalCase = item.totalCase == null ? 0 + totalCase : item.totalCase + totalCase;
                        costProduct = item.normalCost == null ? 0 + costProduct : item.normalCost + costProduct;
                        costActivity = item.themeCost == null ? 0 + costActivity : item.themeCost + costActivity;
                        sumGrowth = item.growth == null ? 0 + sumGrowth : item.growth + sumGrowth;
                    }
                }


                <tr>
                    @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                    {
                        <td colspan="3" style="border-style: solid; border-width: 1px 1px 1px 1px; border-collapse: collapse; text-align: right;">รวม&nbsp;</td>
                    }
                    else
                    {
                        <td colspan="2" style="border-style: solid; border-width: 1px 1px 1px 1px; border-collapse: collapse; text-align: right;">รวม</td>
                    }

                    <td style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse;" class="textRight">
                        @if (costProduct != 0)
                        {
                            string result = String.Format("{0:n2}", @costProduct);
                            @result.ToString();
                        }
                        &nbsp;
                    </td>
                    <td style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse;" class="textRight">
                        @if (costActivity != 0)
                        {
                            string result = String.Format("{0:n2}", @costActivity);
                            @result.ToString();
                        }
                        &nbsp;
                    </td>
                    <td style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse;" class="textRight">
                        @if (Model.activityFormModel.typeForm == Activity_Model.activityType.OMT.ToString())
                        {
                            growthPerTotal = sumGrowth;
                            string result = String.Format("{0:n2}%", @growthPerTotal);
                            @result.ToString();
                        }
                        else
                        {
                            if (costActivity != 0 && costProduct != 0)
                            {
                                growthPerTotal = (costActivity - costProduct) / costProduct * 100;
                                string result = String.Format("{0:n2}%", @growthPerTotal);
                                @result.ToString();
                            }
                        }
                        &nbsp;
                    </td>
                    <td style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse;" class="textRight">
                        @if (totalCase != 0)
                        {
                            string result = String.Format("{0:n2}", @totalCase);
                            @result.ToString();
                        }
                        &nbsp;
                    </td>
                    <td style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse;" class="textRight">
                        @if (totalActCost != 0)
                        {
                            string result = String.Format("{0:n2}", @totalActCost);
                            @result.ToString();
                        }
                        &nbsp;
                    </td>
                    @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                    {
                        <td style="border-style: solid;border-width: 1px 1px 1px 0px; border-collapse: collapse;" class="textRight"></td>
                    }

                </tr>

            </table>
        </div>

        @if (Model.activityFormModel.master_type_form_id == ConfigurationManager.AppSettings["formAddOn_MT_OMT"])
        {

            <div style="margin-top:10px;">
                หมายเหตุ
            </div>
            <div>
                @Html.Raw(Model.detailOtherModel.detailContact.Replace("\n", "<br/>").Replace("\r\n", "<br/>"))
            </div>

        }

        <div style="height:30px;"></div>
        <b class="font15" style="margin-top:10px;">
            อนุมัติค่าใช้จ่าย(Approve)
        </b>


        @if (Model.activityFormModel.callFrom != null)
        {
            <div style="margin-bottom:10px;">
                @if (Model.activityFormModel != null)
                {
                    @Html.Action("approvePositionSignatureLists", "Approve", new { actId = Model.activityFormModel.id, subId = ConfigurationManager.AppSettings["subjectActivityFormId"] })
                }
            </div>

            <div>
                @if (Model.activityFormModel != null)
                {
                    @Html.Action("getApproveComment", "Approve", new { actId = Model.activityFormModel.id, actTypeName = Model.activityFormModel.txttheme })
                }
            </div>
        }

    </div>
</div>