@using eActForm.BusinessLayer;
@model eActForm.Models.Activity_TBMMKT_Model
@{
    Layout = null;
}

@if (Model.budgetTotalList.Any())
{
    <div id="divProgress" class="row">
        <style>
            .cssborderbottom {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: gray;
            }
        </style>
        <br />
        <table class="tablethin" align="right">

            @{ int row = 0; }

            @foreach (var mainItem in Model.budgetMainTotalList)
            {
                if (!string.IsNullOrEmpty(mainItem.brandId))
                {

                    <tr style="background-color: #C2EAF4; color: black; ">
                        <th style="border-style: solid; border-width: 1px 0px 1px 1px; border-collapse: collapse;">ปีงบ @mainItem.yearBG &nbsp;งบประมาณ @mainItem.brandName </th>
                        <th style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">&nbsp;ทั้งปี&nbsp;&nbsp;</th>
                        <th style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">@mainItem.totalBudget.Value.ToString("#,##0.00")</th>
                        <th style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">&nbsp;ใช้ไปสะสม&nbsp;&nbsp;</th>
                        <th style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">@mainItem.useAmountTotal.Value.ToString("#,##0.00")</th>
                        <th style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">&nbsp;return&nbsp;&nbsp;</th>
                        <th style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">@mainItem.returnAmount.Value.ToString("#,##0.00")</th>
                        <th style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">&nbsp;คงเหลือ&nbsp;&nbsp; </th>
                        <th style="border-style: solid; border-width: 1px 1px 1px 0px; border-collapse: collapse;">@mainItem.amountBalanceTotal.Value.ToString("#,##0.00")&nbsp;&nbsp;</th>
                    </tr>
                }
                else
                {
                    <tr style="background-color:#C2EAF4; color: black;">
                        <td style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">
                            ปีงบ @mainItem.yearBG &nbsp; งบประมาณช่องทาง @mainItem.channelName
                        </td>
                        <td style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">&nbsp;ทั้งปี&nbsp;&nbsp;</td>
                        <td style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">
                            @mainItem.totalBudget.Value.ToString("#,##0.00")
                        </td>
                        <td style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">
                            &nbsp;ใช้ไปสะสม&nbsp;&nbsp;
                        </td>
                        <td style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">
                            @mainItem.useAmountTotal.Value.ToString("#,##0.00")
                        </td>
                        <td style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">
                            return&nbsp;&nbsp;
                        </td>
                        <td style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">
                            @mainItem.returnAmount.Value.ToString("#,##0.00")
                        </td>
                        <td style="border-style: solid; border-width: 1px 0px 1px 0px; border-collapse: collapse;">
                            &nbsp;คงเหลือ&nbsp;&nbsp;
                        </td>
                        <td style="border-style: solid; border-width: 1px 1px 1px 0px; border-collapse: collapse;">
                            @mainItem.amountBalanceTotal.Value.ToString("#,##0.00")&nbsp;&nbsp;
                        </td>
                    </tr>
                }

                foreach (var item in Model.budgetTotalList)
                {
                    if (item.yearBG == mainItem.yearBG)
                    {
                        string result = String.Format("{0:n2}", item.amountBalancePercen);
                        int intBalance = Convert.ToInt32(item.amountBalancePercen);

                        if (Model.budgetTotalList.Count != row + 1)
                        {

                            if (!string.IsNullOrEmpty(item.brandId))
                            {
                                <tr>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 1px; border-collapse: collapse; text-align: right;">&nbsp;ปีงบ @item.yearBG &nbsp;งบ @item.activityType </td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;ทั้งปี&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">@item.amount.Value.ToString("#,##0.00")</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;ใช้ไปสะสม&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">@item.useAmount.Value.ToString("#,##0.00")</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;return&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">@item.returnAmount.Value.ToString("#,##0.00")</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;คงเหลือ&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 1px 1px 0px; border-collapse: collapse;">@item.amountBalance.Value.ToString("#,##0.00")&nbsp;&nbsp;</td>

                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 1px; border-collapse: collapse; text-align: right;">&nbsp;ปีงบ @item.yearBG &nbsp;งบ @item.brandName </td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;ทั้งปี&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">@item.amount.Value.ToString("#,##0.00")</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;ใช้ไปสะสม&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">@item.useAmount.Value.ToString("#,##0.00")</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;return&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">@item.returnAmount.Value.ToString("#,##0.00")</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;คงเหลือ&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 1px 1px 0px; border-collapse: collapse;">@item.amountBalance.Value.ToString("#,##0.00")&nbsp;&nbsp;</td>
                                </tr>
                            }
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(item.brandId))
                            {
                                <tr>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 1px; border-collapse: collapse; text-align: right;">&nbsp;ปีงบ @item.yearBG &nbsp;งบ @item.activityType </td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;ทั้งปี&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">@item.amount.Value.ToString("#,##0.00")</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;ใช้ไปสะสม&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">@item.useAmount.Value.ToString("#,##0.00")</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;return&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">@item.returnAmount.Value.ToString("#,##0.00")</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;คงเหลือ&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 1px 1px 0px; border-collapse: collapse;">@item.amountBalance.Value.ToString("#,##0.00")&nbsp;&nbsp;</td>

                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 1px; border-collapse: collapse; text-align: right;">&nbsp;ปีงบ @item.yearBG &nbsp; งบ @item.brandName </td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;ทั้งปี&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">@item.amount.Value.ToString("#,##0.00")</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;ใช้ไปสะสม&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">@item.useAmount.Value.ToString("#,##0.00")</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;return&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">@item.returnAmount.Value.ToString("#,##0.00")</td>
                                    <td style="border-style: solid; border-width: 0px 0px 1px 0px; border-collapse: collapse;">&nbsp;คงเหลือ&nbsp;&nbsp;</td>
                                    <td style="border-style: solid; border-width: 0px 1px 1px 0px; border-collapse: collapse;">@item.amountBalance.Value.ToString("#,##0.00")&nbsp;&nbsp;</td>
                                </tr>
                            }
                        }


                        row++;
                    }


                }


            }


        </table>
    </div>
}




