@{
    Layout = null;
}

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink(" DashBoard ", "Index", "DashBoard")</li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink(" Activity Form", "ActivityForm", "Activity")</li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-inbox"></i> Document <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink(" myDoc", "Index", "Home")</li>
                    <li>@Html.ActionLink(" Sale", "sale", "SaleActual")</li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-bar-chart-o"></i> Data Report <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="chartjs.html">Chart JS</a></li>
                    <li><a href="chartjs2.html">Chart JS2</a></li>
                    <li><a href="morisjs.html">Moris JS</a></li>
                    <li><a href="echarts.html">ECharts</a></li>
                    <li><a href="other_charts.html">Other Charts</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>Setting</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-paint-brush"></i> Signature <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink(" Create Signature ", "Index", "Signature")</li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="page_403.html">403 Error</a></li>
                    <li><a href="page_404.html">404 Error</a></li>
                    <li><a href="page_500.html">500 Error</a></li>
                    <li><a href="plain_page.html">Plain Page</a></li>
                    <li><a href="login.html">Login Page</a></li>
                    <li><a href="pricing_tables.html">Pricing Tables</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-sitemap"></i> Help <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#level1_1">Level One</a>
                    <li>
                        <a>Level One<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu">
                                <a href="level2.html">Level Two</a>
                            </li>
                            <li>
                                <a href="#level2_1">Level Two</a>
                            </li>
                            <li>
                                <a href="#level2_2">Level Two</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#level1_2">Level One</a>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
        </ul>
    </div>

</div>
<!-- /sidebar menu -->