@using eActForm.BusinessLayer
@using System.Configuration;
@using eActForm.Models;
@{
    Layout = null;
}


<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            @RenderPage("~/Views/MenuList/dashboard.cshtml")
            @RenderPage("~/Views/MenuList/activityForm.cshtml")
            @RenderPage("~/Views/MenuList/hcForm.cshtml")
            @RenderPage("~/Views/MenuList/budget.cshtml")
            @RenderPage("~/Views/MenuList/budgetAccount.cshtml")
            @RenderPage("~/Views/MenuList/document.cshtml")
            @RenderPage("~/Views/MenuList/approve.cshtml")
            @RenderPage("~/Views/MenuList/report.cshtml")
            @RenderPage("~/Views/MenuList/importData.cshtml")
        </ul>
    </div>

    <div class="menu_section">
        <h3>Setting</h3>
        <ul class="nav side-menu">
            @RenderPage("~/Views/MenuList/signature.cshtml")
            @RenderPage("~/Views/MenuList/admin.cshtml")
            @RenderPage("~/Views/MenuList/contact.cshtml")

            <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> <span class="label label-success pull-right">Coming Soon</span></a></li>
        </ul>
    </div>

</div>
<!-- /sidebar menu -->