@using eActForm.BusinessLayer;
@using System.Configuration;
@{
    Layout = null;
}

<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
           

            <ul class="nav navbar-nav navbar-right">
                <li style="margin-top:14px;">
                    <div class="user-profile dropdown-toggle" style="display:inline-block;">
                        <style>
                            .btnFlag {
                                height: 29px;
                                width: 29px;
                                cursor: pointer;
                            }
                        </style>
                        <img id="flagEN" src="~/images/flagEN.png" style="" class="btnFlag" onclick="changeLanguage('@ConfigurationManager.AppSettings["cultureEng"]')" title="Change to english language." alt="Change to english language."/>
                        <img id="flagTH" src="~/images/flagTH.png" style="" class="btnFlag" onclick="changeLanguage('@ConfigurationManager.AppSettings["cultureThai"]')" title="Change to thai language." alt="Change to thai language."/>
                        <script>
                            if (getCookie("@ConfigurationManager.AppSettings["nameCookieLanguageEact"]") == "@ConfigurationManager.AppSettings["cultureEng"]") {
                                $("#flagEN").attr("style", "opacity:1;")
                                $("#flagTH").attr("style", "opacity:0.2;")
                            } else {
                                $("#flagEN").attr("style", "opacity:0.2;")
                                $("#flagTH").attr("style", "opacity:1;")
                            }

                            function changeLanguage(varLang) {
                                setCookie("@ConfigurationManager.AppSettings["nameCookieLanguageEact"]", varLang,365);
                                window.location.reload();
                            }
                            function getCookie(cname) {
                                var name = cname + "=";
                                var decodedCookie = decodeURIComponent(document.cookie);
                                var ca = decodedCookie.split(';');
                                for (var i = 0; i < ca.length; i++) {
                                    var c = ca[i];
                                    while (c.charAt(0) == ' ') {
                                        c = c.substring(1);
                                    }
                                    if (c.indexOf(name) == 0) {
                                        return c.substring(name.length, c.length);
                                    }
                                }
                                return "";
                            }
                            function setCookie(cname, cvalue, exdays) {
                                var d = new Date();
                                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                                var expires = "expires=" + d.toUTCString();
                                document.cookie = cname + "=" + cvalue + "; " + expires;
                            }
                        </script>
                    </div>
                </li>
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/numan-logo.png" />@UtilsAppCode.Session.User.empFNameTH @UtilsAppCode.Session.User.empLNameTH
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="javascript:;"> Profile</a></li>
                        <li>
                            <a href="javascript:;">
                                <span class="badge bg-red pull-right">50%</span>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li><a class="glyphicon glyphicon-envelope" href="@Url.Action("contact","home")">Help</a></li>
                        <li><a href="@Url.Action("logOut","home")"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    @*<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-green">6</span>
                        </a>*@
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li>
                            <a>

                                <span class="image">
                                    <img src="~/images/numan-logo.png" />
                                </span>
                                <span>
                                    <span>@UtilsAppCode.Session.User.empFNameTH @UtilsAppCode.Session.User.empLNameTH</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                </span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                                <a>
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>