@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer;
@using System.Globalization;
@{
    var dearGroup = "";
    var signBook = "";
    var signBookPos = "";
    foreach (var item in Model.approveFlowDetail)
    {
        if (item.approveGroupId == "7C308168-B155-4684-A2CD-906EC94AA49C")
        {
            dearGroup = ("คุณ" + item.empFNameTH + " " + item.empLNameTH);
        }
        if (item.approveGroupId == "CA8C71D3-F975-401E-A095-86E2E11C8014")
        {
            signBook = ("คุณ" + item.empFNameTH + " " + item.empLNameTH);
            signBookPos = item.empPositionTitleTH;
        }
    }
    CultureInfo DateThai = new CultureInfo("th-TH");
    CultureInfo DateEnglish = new CultureInfo("en-US");
}
<tr style="">
    <td>
        <div id="divHeaderDetails" runat="server" style="width: 100%;">
            <table style="width: 100%;" id="tabelHeaderDetails" runat="server">
                <tr>
                    <td>
                        &nbsp;เรียน&nbsp;<u>@dearGroup</u>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;ชื่องาน&nbsp;<u>@Html.DisplayFor(x => x.activityFormModel.activityName, new { @class = "", @id = "lblActivityName" })</u> &nbsp;EO&nbsp;<u>@Html.DisplayFor(x => x.tB_Act_ActivityForm_DetailOther.EO, new { @class = "", @id = "lblEO" })</u>&nbsp;IO&nbsp;<u>@Html.DisplayFor(x => x.tB_Act_ActivityForm_DetailOther.IO, new { @class = "", @id = "lblIO" })</u>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;เพื่อ&nbsp;<u>@Html.Raw(Model.activityFormModel.objective.Replace("\n", "<br/>").Replace("\r\n", "<br/>"))</u>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;ชื่อผู้ขอยืม&nbsp;<u>@signBook</u>&nbsp;ตำแหน่ง&nbsp;<u>@signBookPos</u>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;จำนวนเงิน&nbsp;<u>@Model.totalCostThisActivity.Value.ToString("#,##0.00")</u>&nbsp;(<u>@DocumentsAppCode.ThaiBahtText(Model.totalCostThisActivity.Value.ToString())</u>)
</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;ต้องการเช็ควันที่&nbsp;<u>@Model.activityFormModel.activityPeriodSt.Value.ToString("dd/MM/yyyy", DateEnglish)</u>&nbsp;(ล่วงหน้า 5 วัน)
                    </td>
                </tr>
                <tr>
                    <td style="">
                        &nbsp;เคลียร์เงินทดรองในวันที่&nbsp;<u>@Model.activityFormModel.activityPeriodEnd.Value.ToString("dd/MM/yyyy", DateEnglish)</u>&nbsp;(ไม่เกิน 12 วันหลังจบงาน)
                    </td>
                </tr>
            </table>

        </div>
    </td>
</tr>