@using eActForm.Models
@model eActForm.Models.RepDetailModel.actFormRepDetails

<div class="row">
    <div class="col-md-4 col-xs-12"></div>
    <div class="col-md-4 col-xs-12" style="padding: 0 30px 10px 30px;">
        <div class="text-center">
            <input type="hidden" name="GridHtml" />
            <button type="submit" class="btn ink-reaction btn-success" id="btnSubmit" value="Export" style="width:100%;">
                <i class="fa check-square-o"></i>&nbsp;Send to Approve

            </button>
        </div>
    </div>
    <div class="col-md-4 col-xs-12"></div>

</div>

<div id="Grid" class="row" style="background-color:white;">
    @if (Model.actFormRepDetailLists != null && Model.actFormRepDetailLists.Count > 0)
    {
        <div class="col-md-12 col-xs-12">
            <table>
                <tr>
                    <td>
                        บริษัท โมเดิร์นเทรดแมนเนจเม้นท์ จำกัด
                    </td>
                </tr>
                <tr>
                    <td>
                        รายละเอียดขออนุมัติงบประมาณจัดกิจกรรมด้านส่งเสริมการขาย  @Model.actFormRepDetailLists[0].cusNameTH
                    </td>
                </tr>
                <tr>
                    <td>
                        ประจำเดือน @ViewBag.MouthText
                    </td>
                </tr>
            </table>

            <table id="datatable" border="0" style="text-align:center;font-family:Angsana New;font-size:10pt;" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                    <tr style="background-color:#2B5D95;color:#ffffff;text-align:center;">
                        <th rowspan="3">ลำดับที่</th>
                        <th rowspan="3" width="80px" style="text-align:center;">เลขที่ Activity</th>
                        <th rowspan="3" width="100px" style="text-align:center;">ชื่อลูกค้า</th>
                        <th colspan="2" rowspan="2">ระยะเวลากิจกรรม</th>
                        <th colspan="2" rowspan="2">ระยะเวลาให้ทุน</th>
                        <th rowspan="3" width="120px" style="text-align:center;">ชื่อสินค้า</th>
                        <th rowspan="3">ขนาด</th>
                        <th rowspan="3" width="100px" style="text-align:center;">รายละเอียดกิจกรรม</th>
                        <th rowspan="2">กลุ่มกิจกรรม</th>
                        <th rowspan="3">Special Discount (Pro Deal)</th>
                        <th rowspan="3">Compensate (CN)</th>
                        <th rowspan="3">ประมาณการค่าใช้จ่าย</th>
                        <th colspan="2">ประมาณการยอดขาย</th>
                        <th rowspan="3">หมายเหตุ</th>
                    </tr>

                    <tr style="background-color:#2B5D95;color:#ffffff;text-align:center;">
                        <th>ยอดขายก่อนจัดกิจกรรม</th>
                        <th>ยอดขายช่วงจัดกิจกรรม</th>
                    </tr>
                    <tr style="background-color:#2B5D95;color:#ffffff;text-align:center;">
                        <th width="50px">วันเริ่มต้น</th>
                        <th width="50px">วันสิ้นสุด</th>
                        <th width="50px">วันเริ่มต้น</th>
                        <th width="50px">วันสิ้นสุด</th>
                        <th>14 กลุ่ม</th>
                        <th>กล่อง</th>
                        <th>กล่อง</th>

                    </tr>
                </thead>
                <tbody>
                    @{ var index = 1; string strActNo = ""; decimal? sumTotal = 0, sumNormalSale = 0, sumNormalPromotion = 0;}
                    @foreach (var item in Model.actFormRepDetailLists)
                    {
                        <tr class="gradeX">

                            @if (item.activityNo == strActNo)
                            {
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            }
                            else
                            {
                                <td>@index</td>
                                <td>@item.activityNo</td>
                                <td>@item.cusNameTH</td>
                                if (item.activityPeriodSt != null)
                                {
                                    <td>@item.activityPeriodSt.Value.ToString("dd/MM/yyyy")</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                if (item.activityPeriodEnd != null)
                                {
                                    <td>@item.activityPeriodEnd.Value.ToString("dd/MM/yyyy")</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                if (item.costPeriodSt != null)
                                {
                                    <td>@item.costPeriodSt.Value.ToString("dd/MM/yyyy")</td>
                                }
                                else
                                {
                                    <td></td>}
                                if (item.costPeriodEnd != null)
                                {
                                    <td>@item.costPeriodEnd.Value.ToString("dd/MM/yyyy")</td>
                                }
                                else
                                {
                                    <td></td>}
                                index++;
                            }

                            <td>@item.productName</td>
                            <td>@item.size</td>
                            @if (item.activityNo == strActNo)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@item.activityDetail</td>
                            }

                            <td>@item.typeTheme</td>
                            <td>@{ var discount = (item.specialDiscBaht == 0) ? item.specialDisc : item.specialDiscBaht; } @string.Format("{0:n2}", discount)</td>
                            <td>@string.Format("{0:n2}", item.compensate)</td>
                            <td>@string.Format("{0:n2}", item.total)</td>
                            <td>@string.Format("{0:n2}", item.normalSale)</td>
                            <td>@string.Format("{0:n2}", item.promotionSale)</td>

                            <td></td>
                        </tr>
                        strActNo = item.activityNo;
                        sumTotal = sumTotal + item.total;
                        sumNormalSale = item.normalSale == "" ? sumNormalSale : sumNormalSale + decimal.Parse(item.normalSale);
                        sumNormalPromotion = item.promotionSale == "" ? sumNormalPromotion : sumNormalPromotion + decimal.Parse(item.promotionSale);

                    }

                    <tr>
                        <td colspan="13" style="text-align:right;background-color:#a3d5cf"><h4>รวม : </h4></td>
                        <td><h5> @string.Format("{0:n2}", sumTotal)</h5></td>
                        <td><h5>@string.Format("{0:n2}", sumNormalSale)</h5></td>
                        <td><h5>@string.Format("{0:n2}", sumNormalPromotion)</h5></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>

    }

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="pull-right" style="margin-right:10px;">
                @if (Model.actFormRepDetailLists != null && Model.actFormRepDetailLists.Count > 0)
                {
                    @Html.Action("approvePositionSignature", "actFormRepDetail", new { flowModel = Model.flowList })
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
            $(function () {
                $("#btnSubmit").click(function () {
                    $("#WaitDialog").show();
                    $.ajax({
                        url: '@Url.Action("repReportDetailApprove", "actFormRepDetail")',
                        data: {
                            gridHtml: $("#Grid").html(),
                            customerId: $("#ddlCustomer").val(),
                            productTypeId: $("#ddlProductType").val(),
                            startDate: $("#startDate").val(),
                            endDate: $("#endDate").val()
                        },
                        dataType: "json",
                        type: 'POST'
                    }).done(function (response) {
                        $("#WaitDialog").hide();
                        if (response.Success) {
                            doMsgSuccess("ดำเนินการเรียบร้อยครับ");
                            }
                            else {
                            doMsgFail("ไม่สามารถดำเนินการได้สำเร็จ กรุณาติดต่อ Admin ครับ");
                            }
                    });


                });
            });
</script>