
@using eActForm.BusinessLayer;
@using System.Configuration;
@model eActForm.Models.Budget_Approve_Detail_Model.budgetForms
<style type="text/css">


    .my-bootbox-class .modal-dialog {
        width: 200px;
        font-size: 18px;
    }
</style>

<div class="row">

    <div class="col-md-12 col-xs-12">

    </div>
    <div class="col-md-12 col-xs-12">



        @*<a class="btn ink-reaction btn-danger fa fa-trash-o" href="#"></a>คือ Delete
            <a class="btn ink-reaction btn-info fa fa-edit" href="#"></a>คือ Edit*@
        <a class="btn ink-reaction glyphicon glyphicon-retweet" href="#"></a>คือ Regen PDF
        <a class="btn ink-reaction btn-success fa fa-search" href="#"></a>คือ View PDF
        <a class="btn ink-reaction btn-dark fa fa-eye" href="#"></a>คือ History Approve
        <a class="btn ink-reaction btn-info fa fa-envelope-o" href="#"></a>คือ Resend Email

        <table id="datatable" class="table table-striped table-hover">
            <thead>
                <tr style="background-color:#2B5D95;color:#ffffff;">
                    <th></th>
                    <th>สถานะ</th>
                    <th>วันที่เสนออนุมัติ</th>
                    <th>เลขกิจกรรม</th>
                    <th>ชื่อกิจกรรม</th>
                    <th>ลูกค้า</th>
                    <th>ประเภท</th>
                    <th>จำนวนเงิน</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.budgetFormLists.Count > 0)
                {
                    foreach (var item in Model.budgetFormLists)
                    {
                        <tr class="gradeX">
                            <td>

                                @if (UtilsAppCode.Session.User.isAdmin || UtilsAppCode.Session.User.isSuperAdmin)
                                {
                                    <a href="javascript:" onclick="onClickSubmitRegenPdf('@item.activityId');">
                                        <i class="btn glyphicon glyphicon-retweet"></i>&nbsp;
                                    </a>
                                }

                                @Html.ActionLink(" ", "getPdfBudget", "BudgetViewer", new { budgetApproveId = item.budgetApproveId }, new { @class = "btn ink-reaction btn-success fa fa-search", target = "_blank" })
                                <a onclick="callApproveList('@item.budgetApproveId');">
                                    <i class="btn ink-reaction btn-dark fa fa-eye"></i>
                                </a>

                                @if (item.statusId == "2")
                                {
                                    <a onclick="resendApprove('@item.budgetApproveId');">
                                        <i class="btn ink-reaction btn-info fa fa-envelope-o"></i>
                                    </a>
                                }

                            </td>
                            <td>@item.statusName</td>
                            <td style="font-size:12.5px;">@{var date = item.documentDate == null ? "" : DocumentsAppCode.convertDateTHToShowCultureDateEN(item.documentDate, ConfigurationManager.AppSettings["formatDateUse"]);} @date </td>
                            <td>@item.activityNo</td>
                            <td>@item.activityName</td>
                            <td>@item.cusShortName</td>
                            <td>@item.productCategory</td>
                            <td align="right">@string.Format("{0:n2}", item.totalInvoiceApproveBath)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>

@*<div id='myModalInvoiceContent'></div>*@

@*<div id='myModalInvoicePreview' class="modal fade" role="dialog">
    <div id='myModalInvoicePreviewContent'></div>
</div>*@


@*<div id='myModalRegenPreview' class="modal fade" role="dialog">
    <div id='myModalRegenContent'></div>
</div>*@

<div id='myModalInvoicePreview' class="modal fade" role="dialog">
    <div id='myModalInvoicePreviewContent'></div>
</div>

<div id='myModalBudgetApproveList' class="modal fade" role="dialog">
    <div id='myModalBudgetApproveListContent'></div>
</div>

<script>
	$(document).ready(function () {
		$('#datatable').DataTable({
			"columnDefs": [
				{ "orderable": false, "targets": 0 }
			],
			"dom": 'lCfrtip',
			"order": [],
			"language": {
				"lengthMenu": '_MENU_ entries per page',
				"search": '<i class="fa fa-search"></i>',
				"paginate": {
					"previous": '<i class="fa fa-angle-left"></i>',
					"next": '<i class="fa fa-angle-right"></i>'
				}
			}
		});

    });


    function onClickSubmitRegenPdf(actId) {
		//var $buttonClicked = $(this);
		//var var_company = companyEN;
		var var_activityId = actId;
		var options = { "backdrop": "static", keyboard: true };

		$.ajax({
			type: "GET",
			url:  '@Url.Action("myDocBudgetPreviewRegen", "BudgetMyDoc")',
			contentType: "application/json; charset=utf-8",
			data: {
				"activityId": var_activityId
			},
			datatype: "json",
			success: function (data) {
				debugger;
				$('#myModalInvoicePreviewContent').html(data);
				$('#myModalInvoicePreview').modal(options);
				$('#myModalInvoicePreview').modal('show');

			},
			error: function () {
				alert("ไม่พบสายการอนุมัติ กรุณาตรวจสอบ");
			}
		});
    }



    function callApproveList(actId) {

        var options = { "backdrop": "static", keyboard: true };

        $.ajax({
            type: 'GET',
            url:  '@Url.Action("myDocBudgetEmpApproveList", "BudgetMyDoc")',
            data: {
                actId: actId
            }
        }).done(function (response) {
            $("#myModalBudgetApproveListContent").html(response)
            $('#myModalBudgetApproveList').modal(options);
            $('#myModalBudgetApproveList').modal('show');
        });

    }

    function resendApprove(actId) {
        $("#WaitDialog").show();
        $.ajax({
            type: 'POST',
            url:  '@Url.Action("resendApproveBudget", "Base")',
            data: {
                actId: actId
            }
        }).done(function (response) {
            $("#WaitDialog").hide();
            if (response.Success) {
                doMsgSuccess("ดำเนินการเรียบร้อยครับ")
            } else {
                doMsgFail(response.Message);
            }
        });
    }

    function waitpopup() {
		$("#WaitDialog").show();
	}



</script>
