
@using eActForm.Models
@model eActForm.Models.exPerryCashModels

<div class="row">

    <div class="col-md-12 col-xs-12">

    </div>
    <div class="col-md-12 col-xs-12">
        <a class="btn ink-reaction btn-info fa fa-search" href="#"></a>คือ View
        <a class="btn ink-reaction btn-success fa fa-thumbs-o-up" href="#"></a>คือ Approve

        <table id="datatable" class="table table-striped table-hover">
            <thead>
                <tr style="background-color:#2B5D95;color:#ffffff;">
                    <th></th>
                    <th>Status</th>
                    <th>Month</th>
                    <th>Doc. No</th>
                    <th align="center">Detail</th>
                    <th align="center">CreateBy</th>
                    <th align="center">CreateDate</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.exPrettyModelList)
                {
                <tr class="gradeX">
                    <td>
                        @Html.ActionLink(" ", "getPDF", "ActivityViewer", new { actId = item.id, type = AppCode.ApproveType.Report_Summary.ToString() }, new { @class = "btn ink-reaction btn-info fa fa-search", target = "_blank" })

                        @Html.ActionLink(" ", "index", "approve", new { actId = item.id, type = AppCode.ApproveType.Report_Summary }, new { @class = "btn ink-reaction btn-success fa fa-thumbs-o-up" })
                    </td>
                    <td>@item.status</td>
                    <td>@{var date = item.monthCash == null ? "" : item.monthCash.Value.ToString("MMM yyyy");} @date </td>
                    <td>@item.actNo</td>
                    <td>@item.detail</td>
                    <td>@item.createby</td>
                    <td>@item.createDate</td>
                </tr>
                }
            </tbody>
        </table>

    </div>

</div>



