
@model eActForm.Models.Budget_Report_Product_Price_Model.Report_Budget_Product_Price

@if (Model.Report_Budget_Product_Price_List != null)
{

    <div class="row">
        <p class="d-flex justify-content-center">
            @using (Html.BeginForm("viewExportExcel", "BudgetReport", FormMethod.Post))
            {
                <input type="hidden" name="gridHtml" />
                <button type="submit" class="btn-sm ink-reaction btn-success pull-right" id="btnExportExcel" value="ExportExcel">
                    <i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel
                </button>
            }
        </p>
    </div>

    <div class="row">
        <div id="GridView">
            <table class="table table-hover border-dark" id="datatable" style="width:100%;">
                <thead>
                    <tr style="background-color:#2B5D95;color:#ffffff;">
                        <td> no.</td>

                        <td style="text-align:left;"> Customer </td>
                        <td style="text-align:left;"> Category</td>
                        @*<td style="text-align:left;"> Group </td>*@
                        <td style="text-align:left;"> Brand </td>
                        <td style="text-align:center;"> Poroduct Code </td>
                        @*<td style="text-align:left;"> Product Name </td>*@
                        @*<td style="text-align:center;"> IO </td>*@

                        <td style="text-align:right;"> Pack </td>
                        <td style="text-align:right;"> Size </td>
                        <td style="text-align:right;"> Unit </td>

                        <td style="text-align:right;"> Normal Cost </td>
                        <td style="text-align:right;"> Whole Sales Price </td>
                        @*<td style="text-align:right;"> Discount 1</td>*@
                        @*<td style="text-align:right;"> Discount 2</td>*@
                        @*<td style="text-align:right;"> Discount 3</td>*@
                        <td style="text-align:right;"> Sale Normal</td>

                    </tr>
                </thead>
                @{ var index_view = 1; }
                @foreach (var item in Model.Report_Budget_Product_Price_List)
                {
                    <tr class="gradeX">
                        <td>@index_view</td>
                        <td>@item.cus_cusShortName </td>
                        <td>@item.prd_cateName </td>
                        @*<td>@item.prd_groupName </td>*@
                        <td>@item.brand_brandName </td>
                        <td>@item.prd_productCode </td>
                        @*<td>@item.prd_productName </td>*@
                        @*<td>@item.prd_digitIO </td>*@

                        <td style="text-align:right;">@item.prd_pack </td>
                        <td style="text-align:right;">@item.prd_size </td>
                        <td style="text-align:right;">@item.prd_unit </td>

                        <td style="text-align:right;">@item.price_normalCost </td>
                        <td style="text-align:right;">@item.price_wholeSalesPrice </td>

                        @*<td>@item.price_discount1 </td>*@
                        @*<td>@item.price_discount2 </td>*@
                        @*<td>@item.price_discount3 </td>*@
                        <td style="text-align:right;">@item.price_saleNormal </td>
                    </tr>
                    index_view++;
                }
            </table>
        </div>
    </div>


    <div class="row hide">
        <div id="GridPDF">
            <table class="table table-hover border-dark" id="datatable_export">
                <thead>
                    <tr style="background-color:#2B5D95;color:#ffffff;">
                        <td> no.</td>
                        <td style="text-align:left;"> Channel </td>
                        <td style="text-align:left;"> Customer </td>
                        <td style="text-align:left;"> Category. </td>
                        <td style="text-align:left;"> Group </td>
                        <td style="text-align:left;"> Brand </td>
                        <td style="text-align:center;"> Poroduct Code </td>
                        <td style="text-align:left;"> Product Name </td>
                        <td style="text-align:center;"> IO </td>

                        <td style="text-align:right;"> Pack </td>
                        <td style="text-align:right;"> Size </td>
                        <td style="text-align:right;"> Unit </td>

                        <td style="text-align:right;"> Normal Cost </td>
                        <td style="text-align:right;"> Whole Sales Price </td>
                        <td style="text-align:right;"> Discount 1</td>
                        <td style="text-align:right;"> Discount 2</td>
                        <td style="text-align:right;"> Discount 3</td>
                        <td style="text-align:right;"> Sale Normal</td>
                    </tr>
                </thead>
                @{ var index = 1;}
                @foreach (var item in Model.Report_Budget_Product_Price_List)
                {
                    <tr class="gradeX">
                        <td>@index_view</td>
                        <td>@item.cus_chanelGroup </td>
                        <td>@item.cus_cusShortName </td>
                        <td>@item.prd_cateName </td>
                        <td>@item.prd_groupName </td>
                        <td>@item.brand_brandName </td>
                        <td>@item.prd_productCode </td>
                        <td>@item.prd_productName </td>
                        <td>@item.prd_digitIO </td>

                        <td>@item.prd_pack </td>
                        <td>@item.prd_size </td>
                        <td>@item.prd_unit </td>

                        <td>@item.price_normalCost </td>
                        <td>@item.price_wholeSalesPrice </td>

                        <td>@item.price_discount1 </td>
                        <td>@item.price_discount2 </td>
                        <td>@item.price_discount3 </td>
                        <td>@item.price_saleNormal </td>
                    </tr>
                    index++;
                }
            </table>
        </div>
    </div>




    //------------------------------------------------------------------------------------------------

    <table style="border-bottom-width:1px; border-bottom-style: solid; border-bottom-color: gray; width:100%;"><tr><td>&nbsp;</td></tr></table>

}

<script type="text/javascript">
	$(document).ready(function () {
		$('#datatable').DataTable({
			"columnDefs": [
				{ "orderable": true, "targets": 0 }
				, { "orderable": true, "targets": 1 }
			],
			"dom": 'lCfrtip',
			"order": [],
			"language": {
				"lengthMenu": '_MENU_ entries per page',
				"search": '<i class="fa fa-search"></i>',
				"paginate": {
					"previous": '<i class="fa fa-angle-left"></i>',
					"next": '<i class="fa fa-angle-right"></i>'
				}
			}
		});

	})

	$(function () {
		$("#btnExportExcel").click(function () {
			$("input[name='gridHtml']").val($("#GridPDF").html());
		});

		$("#btnExportPDF").click(function () {
			$("input[name='gridHtml']").val($("#GridPDF").html());
		});
	});


</script>