

@using eActForm.Models
@model eActForm.Models.ReportSummaryModels

<div class="row">
    @if (Model.summaryDetailLists != null && Model.summaryDetailLists.Count > 0)
    {
        <table id="datatable" border="0" class="table table-striped jambo_table bulk_action">
            <thead>
                <tr class="headings" style="text-align:center;">
                    <th width="70px">#</th>
                    <th width="80px" style="text-align:center;">เลขที่ RepDetail</th>
                    <th width="80px" style="text-align:center;">Status</th>
                    <th width="80px" style="text-align:center;">ProductType</th>
                    <th style="text-align:center;">Create Date</th>

                </tr>
            </thead>
            <tbody>
                @{ var index = 1; 
                }
                @foreach (var item in Model.summaryDetailLists)
                {
                        <tr class="even pointer">
                            <td class="a-center ">
                               
                            </td>
                            <td class=" ">@index</td>
                            <td class=" ">@item.activityNo</td>
                            <td class=" ">@item.statusName</td>
                            <td class=" ">@item.productTypeName</td>
                            @if (item.createdDate != null)
                            {
                                <td width="100px">@item.createdDate.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td></td>
                            }

                        </tr>
                    
                }

            </tbody>
        </table>

    }
</div>