
@model eActForm.Models.ReportSummaryModels

<div class="modal-dialog modal-large">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <div style=""></div>
            <div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
        <div class="modal-body">
            <div id="Grid" style="width:97%; margin-left:20px;">
                <div class="row">
                    <div style="text-align: center;">
                        บริษัท โมเดิร์นเทรดแมนเนจเม้นท์ จำกัด
                    </div>
                    <div style="text-align: center;">
                        รายละเอียดขออนุมัติงบประมาณจัดกิจกรรมด้านส่งเสริมการขาย
                    </div>
                    <div style="text-align: center;">
                        ประจำเดือน @ViewBag.MouthText
                    </div>
                </div>
                <div class="row">

                    <table id="datatable1" border="0" style="width:100%; text-align:center;font-family:Angsana New;font-size:10pt;" class="table table-striped table-bordered dt-responsive nowrap">
                        <thead>
                            <tr style="background-color:#2B5D95;color:#ffffff;text-align:center;">
                                <th rowspan="2">ลำดับที่</th>
                                <th colspan="1" style="text-align:center;">กลุ่มกิจกรรม</th>
                                <th colspan="9" style="text-align:center;">ประมาณการค่าใช้จ่าย</th>
                                <th rowspan="2">หมายเหตุ</th>
                            </tr>
                            <tr style="background-color:#2B5D95;color:#ffffff;text-align:center;">
                                <th>14 กลุ่ม</th>
                                <th>Est</th>
                                <th>Crystal</th>
                                <th>Wranger</th>
                                <th>100 Plus</th>
                                <th>Jubjai</th>
                                <th>Oishi</th>
                                <th>Soda</th>
                                <th>Water</th>
                                <th>รวม</th>
                            </tr>
                        <thead>
                        <tbody>
                            @{ int countRowAct = 1;
                                string activitySales = "";
                                decimal? sumEst = 0;
                                decimal? sumCrystal = 0;
                                decimal? sumWranger = 0;
                                decimal? sumPlus100 = 0;
                                decimal? sumJubjai = 0;
                                decimal? sumOishi = 0;
                                decimal? sumSoda = 0;
                                decimal? sumWater = 0;
                                decimal? totalAllAct = 0;}
                            @for (int i = 0; i < Model.activitySummaryGroupActivityList.Count; i++)
                            {
                                <tr class="gradeX">
                                    <td>
                                        @countRowAct
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].activitySales)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].est)
                                        @{
                                            sumEst = Model.activitySummaryGroupActivityList[i].est + sumEst;
                                        }

                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].crystal)
                                        @{
                                            sumCrystal = Model.activitySummaryGroupActivityList[i].crystal + sumCrystal;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].wranger)
                                        @{
                                            sumWranger = Model.activitySummaryGroupActivityList[i].wranger + sumWranger;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].plus100)
                                        @{
                                            sumPlus100 = Model.activitySummaryGroupActivityList[i].plus100 + sumPlus100;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].jubjai)
                                        @{
                                            sumJubjai = Model.activitySummaryGroupActivityList[i].jubjai + sumJubjai;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].oishi)
                                        @{
                                            sumOishi = Model.activitySummaryGroupActivityList[i].oishi + sumOishi;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].soda)
                                        @{
                                            sumSoda = Model.activitySummaryGroupActivityList[i].soda + sumSoda;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].water)
                                        @{
                                            sumWater = Model.activitySummaryGroupActivityList[i].water + sumWater;
                                        }
                                    </td>
                                    <td>
                                        @{
                                            decimal? totalAct = 0;
                                            totalAct = Model.activitySummaryGroupActivityList[i].est +
                                                    Model.activitySummaryGroupActivityList[i].crystal +
                                                    Model.activitySummaryGroupActivityList[i].wranger +
                                                    Model.activitySummaryGroupActivityList[i].plus100 +
                                                    Model.activitySummaryGroupActivityList[i].jubjai +
                                                    Model.activitySummaryGroupActivityList[i].oishi +
                                                    Model.activitySummaryGroupActivityList[i].soda +
                                                    Model.activitySummaryGroupActivityList[i].water;

                                            string sumActTotal = String.Format("{0:n2}", @totalAct);
                                            @sumActTotal.ToString();
                                            totalAllAct = totalAct + totalAllAct;

                                        }
                                    </td>
                                    <td>
                                        @Model.activitySummaryGroupActivityList[i].remark
                                    </td>

                                </tr>

                                if (activitySales != Model.activitySummaryGroupList[i].activitySales)
                                {
                                    countRowAct++;

                                }
                            }

                            <tr class="gradeX">
                                <td></td>
                                <td>
                                    Total
                                </td>
                                <td>
                                    @{
                                        string totalEst = String.Format("{0:n2}", @sumEst);
                                        @totalEst.ToString();
                                    }

                                </td>
                                <td>
                                    @{
                                        string totalCrystal = String.Format("{0:n2}", @sumCrystal);
                                        @totalCrystal.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string totalWranger = String.Format("{0:n2}", @sumWranger);
                                        @totalWranger.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string totalPlus100 = String.Format("{0:n2}", @sumPlus100);
                                        @totalPlus100.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string totalJubjai = String.Format("{0:n2}", @sumJubjai);
                                        @totalJubjai.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string totalOishi = String.Format("{0:n2}", @sumOishi);
                                        @totalOishi.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string totalSoda = String.Format("{0:n2}", @sumSoda);
                                        @totalSoda.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string totalWater = String.Format("{0:n2}", @sumWater);
                                        @totalWater.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string totalAllAct_Str = String.Format("{0:n2}", @totalAllAct);
                                        @totalAllAct_Str;
                                    }
                                </td>
                                <td></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="pull-right" style="margin-right:10px;">
                            @if (Model.activitySummaryGroupList != null && Model.activitySummaryGroupList.Count > 0)
                            {
                                @Html.Action("approvePositionSignature", "actFormRepDetail", new { flowModel = Model.flowList })
                            }
                        </div>
                    </div>
                </div>

                <hr />
                <div style="page-break-before:always">&nbsp;</div>

                <div class="row">
                    <div style="text-align: center;">
                        บริษัท โมเดิร์นเทรดแมนเนจเม้นท์ จำกัด
                    </div>
                    <div style="text-align: center;">
                        รายละเอียดขออนุมัติงบประมาณจัดกิจกรรมด้านส่งเสริมการขาย
                    </div>
                    <div style="text-align: center;">
                        ประจำเดือน @ViewBag.MouthText
                    </div>
                </div>

                <div class="row">
                    <table id="datatable2" border="0" style="width:100%; text-align:center;font-family:Angsana New;font-size:10pt;" class="table table-striped table-bordered dt-responsive nowrap">
                        <thead>
                            <tr style="background-color:#2B5D95;color:#ffffff;text-align:center;">
                                <th rowspan="2">ลำดับที่</th>
                                <th rowspan="2" width="80px" style="text-align:center;">ชื่อลูกค้า</th>
                                <th colspan="1" style="text-align:center;">กลุ่มกิจกรรม</th>
                                <th colspan="9" style="text-align:center;">ประมาณการค่าใช้จ่าย</th>
                                <th rowspan="2">หมายเหตุ</th>
                            </tr>
                            <tr style="background-color:#2B5D95;color:#ffffff;text-align:center;">
                                <th>14 กลุ่ม</th>
                                <th>Est</th>
                                <th>Crystal</th>
                                <th>Wranger</th>
                                <th>100 Plus</th>
                                <th>Jubjai</th>
                                <th>Oishi</th>
                                <th>Soda</th>
                                <th>Water</th>
                                <th>รวม</th>
                            </tr>
                        <thead>
                        <tbody>
                            @{ int countRow = 1;
                                string customer = "";}
                            @for (int i = 0; i < Model.activitySummaryGroupList.Count; i++)
                            {
                                <tr class="gradeX">
                                    <td>
                                        @if (customer != Model.activitySummaryGroupList[i].customerName)
                                        {
                                            @countRow
                                            countRow++;
                                        }
                                    </td>
                                    <td>
                                        @if (customer != Model.activitySummaryGroupList[i].customerName)
                                        {
                                            @Html.DisplayFor(x => x.activitySummaryGroupList[i].customerName)
                                            customer = Model.activitySummaryGroupList[i].customerName;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupList[i].activitySales)
                                    </td>

                                    <td>

                                        @Html.DisplayFor(x => x.activitySummaryGroupList[i].est)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupList[i].crystal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupList[i].wranger)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupList[i].plus100)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupList[i].jubjai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupList[i].oishi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupList[i].soda)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupList[i].water)
                                    </td>
                                    <td>
                                        @{
                                            decimal? total = 0;
                                            total = Model.activitySummaryGroupList[i].est +
                                                    Model.activitySummaryGroupList[i].crystal +
                                                    Model.activitySummaryGroupList[i].wranger +
                                                    Model.activitySummaryGroupList[i].plus100 +
                                                    Model.activitySummaryGroupList[i].jubjai +
                                                    Model.activitySummaryGroupList[i].oishi +
                                                    Model.activitySummaryGroupList[i].soda +
                                                    Model.activitySummaryGroupList[i].water;

                                            string result = String.Format("{0:n2}", @total);
                                            @result.ToString();

                                        }
                                    </td>
                                    <td>
                                        @Model.activitySummaryGroupList[i].remark
                                    </td>

                                </tr>

                                //if (customer != Model.activitySummaryGroupList[i].customerName)
                                //{
                                //    countRow++;
                                //    customer = Model.activitySummaryGroupList[i].customerName;
                                //}
                            }
                        </tbody>

                    </table>
                </div>


                <div class="row">
                    <div class="col-md-4 col-xs-12"></div>
                    <div class="col-md-4 col-xs-12" style="padding: 0 30px 10px 30px;">
                        <div class="text-center">
                            <input type="hidden" name="GridHtml" />
                            <button type="submit" class="btn ink-reaction btn-success" id="btnSubmitReport" value="Export" style="width:100%;">
                                <i class="fa check-square-o"></i>&nbsp;Send to Approve

                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
            $(function () {
                $("#btnSubmitReport").click(function () {
                    $("#previewModal").modal('hide');
                    $("#WaitDialog").show();
                    $.ajax({
                        url: '@Url.Action("repReportSummaryApprove", "SummaryReport")',
                        data: {
                            gridHtml: $("#Grid").html(),
                            customerId: $("#ddlCustomer").val(),
                            productTypeId: $("#ddlProductType").val(),
                            startDate: $("#startDate").val(),
                            endDate: $("#endDate").val()
                        },
                        dataType: "json",
                        type: 'POST'
                    }).done(function (response) {
                        $("#WaitDialog").hide();
                        if (response.Success) {
                            $('#previewSummaryModal').modal('toggle');
                            $("#chooseSummaryView").html("");
                            doMsgSuccess("ดำเนินการเรียบร้อยครับ");

                            }
                            else {
                            doMsgFail("ไม่สามารถดำเนินการได้สำเร็จ กรุณาติดต่อ Admin ครับ");
                        }
                    });


                });
            });
</script>