
@model eActForm.Models.ReportSummaryModels

<div class="modal-dialog modal-large">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <div style=""></div>
            <div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
        <div class="modal-body">
            <div id="Grid" style="width:97%; margin-left:20px;">
                <div class="row">
                    <div style="text-align: center;">
                        บริษัท โมเดิร์นเทรดแมนเนจเม้นท์ จำกัด
                    </div>
                    <div style="text-align: center;">
                        รายละเอียดขออนุมัติงบประมาณจัดกิจกรรมด้านส่งเสริมการขาย
                    </div>
                    <div style="text-align: center;">
                        ประจำเดือน @ViewBag.MouthText
                    </div>
                </div>
                <div class="row">

                    <table id="datatable1" border="0" style="width:100%; text-align:center;font-family:Angsana New;font-size:10pt;" class="table table-striped table-bordered dt-responsive nowrap">
                        <tr style="background-color:#2B5D95;color:#ffffff;text-align:center;">
                            <th rowspan="2">ลำดับที่</th>
                            <th colspan="1" style="text-align:center;">กลุ่มกิจกรรม</th>
                            <th colspan="9" style="text-align:center;">ประมาณการค่าใช้จ่าย</th>
                            <th rowspan="2">หมายเหตุ</th>
                        </tr>
                        <tr style="background-color:#2B5D95;color:#ffffff;text-align:center;">
                            <th>14 กลุ่ม</th>
                            <th>Est</th>
                            <th>Crystal</th>
                            <th>Wranger</th>
                            <th>100 Plus</th>
                            <th>Jubjai</th>
                            <th>Oishi</th>
                            <th>Soda</th>
                            <th>Water</th>
                            <th>รวม</th>
                        </tr>
                        <tbody>
                            @{ int countRowAct = 1;
                                string activitySales = "";
                                decimal? sumEst = 0;
                                decimal? sumCrystal = 0;
                                decimal? sumWranger = 0;
                                decimal? sumPlus100 = 0;
                                decimal? sumJubjai = 0;
                                decimal? sumOishi = 0;
                                decimal? sumSoda = 0;
                                decimal? sumWater = 0;
                                decimal? totalAct = 0;
                                decimal? sumfTotal = 0;}

                            @for (int i = 0; i < Model.activitySummaryGroupActivityList.Count; i++)
                            {
                                <tr class="gradeX">
                                    <td>
                                        @countRowAct
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].activitySales)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].est)
                                        @{
                                            sumEst = Model.activitySummaryGroupActivityList[i].est + sumEst;
                                        }

                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].crystal)
                                        @{
                                            sumCrystal = Model.activitySummaryGroupActivityList[i].crystal + sumCrystal;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].wranger)
                                        @{
                                            sumWranger = Model.activitySummaryGroupActivityList[i].wranger + sumWranger;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].plus100)
                                        @{
                                            sumPlus100 = Model.activitySummaryGroupActivityList[i].plus100 + sumPlus100;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].jubjai)
                                        @{
                                            sumJubjai = Model.activitySummaryGroupActivityList[i].jubjai + sumJubjai;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].oishi)
                                        @{
                                            sumOishi = Model.activitySummaryGroupActivityList[i].oishi + sumOishi;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].soda)
                                        @{
                                            sumSoda = Model.activitySummaryGroupActivityList[i].soda + sumSoda;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => x.activitySummaryGroupActivityList[i].water)
                                        @{
                                            sumWater = Model.activitySummaryGroupActivityList[i].water + sumWater;
                                        }
                                    </td>
                                    <td>
                                        @{

                                            totalAct = Model.activitySummaryGroupActivityList[i].est +
                                                    Model.activitySummaryGroupActivityList[i].crystal +
                                                    Model.activitySummaryGroupActivityList[i].wranger +
                                                    Model.activitySummaryGroupActivityList[i].plus100 +
                                                    Model.activitySummaryGroupActivityList[i].jubjai +
                                                    Model.activitySummaryGroupActivityList[i].oishi +
                                                    Model.activitySummaryGroupActivityList[i].soda +
                                                    Model.activitySummaryGroupActivityList[i].water;

                                            string sumActTotal = String.Format("{0:n2}", @totalAct);
                                            @sumActTotal.ToString();

                                        }
                                    </td>
                                    <td>
                                        @Model.activitySummaryGroupActivityList[i].remark
                                    </td>

                                </tr>

                                if (activitySales != Model.activitySummaryGroupActivityList[i].activitySales)
                                {
                                    countRowAct++;
                                }
                            }


                            <tr class="gradeX">
                                <td></td>
                                <td>
                                    Total
                                </td>
                                <td>
                                    @{
                                        string ttEst = String.Format("{0:n2}", @sumEst);
                                        @ttEst.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string ttCrystal = String.Format("{0:n2}", @sumCrystal);
                                        @ttCrystal.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string ttWranger = String.Format("{0:n2}", @sumWranger);
                                        @ttWranger.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string tt100plus = String.Format("{0:n2}", @sumPlus100);
                                        @tt100plus.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string ttJubjai = String.Format("{0:n2}", @sumJubjai);
                                        @ttJubjai.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string ttOishi = String.Format("{0:n2}", @sumOishi);
                                        @ttOishi.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string ttSoda = String.Format("{0:n2}", @sumSoda);
                                        @ttSoda.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string ttWater = String.Format("{0:n2}", @sumWater);
                                        @ttWater.ToString();
                                    }
                                </td>
                                <td>
                                    @{
                                        string ttTotal = String.Format("{0:n2}", @totalAct);
                                        @ttTotal.ToString();
                                    }
                                </td>
                                <td></td>

                            </tr>



                            @if (Model.activitySummaryForecastList.Any())
                            {
                                <tr class="gradeX">
                                    <td></td>
                                    <td>
                                        Sales Forecast
                                    </td>
                                    <td>
                                        @{
                                            string fEst = String.Format("{0:n2}", Model.activitySummaryForecastList[0].est);
                                            @fEst.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string fCrystal = String.Format("{0:n2}", Model.activitySummaryForecastList[0].crystal);
                                            @fCrystal.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string fWranger = String.Format("{0:n2}", Model.activitySummaryForecastList[0].wranger);
                                            @fWranger.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string f100plus = String.Format("{0:n2}", Model.activitySummaryForecastList[0].plus100);
                                            @f100plus.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string fJubjai = String.Format("{0:n2}", Model.activitySummaryForecastList[0].jubjai);
                                            @fJubjai.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string fOishi = String.Format("{0:n2}", Model.activitySummaryForecastList[0].oishi);
                                            @fOishi.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string fSoda = String.Format("{0:n2}", Model.activitySummaryForecastList[0].soda);
                                            @fSoda.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string fWater = String.Format("{0:n2}", Model.activitySummaryForecastList[0].water);
                                            @fWater.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                             sumfTotal = (@Model.activitySummaryForecastList[0].est +
                                                 Model.activitySummaryForecastList[0].crystal +
                                                 Model.activitySummaryForecastList[0].wranger +
                                                 Model.activitySummaryForecastList[0].plus100 +
                                                 Model.activitySummaryForecastList[0].jubjai +
                                                 Model.activitySummaryForecastList[0].oishi +
                                                 Model.activitySummaryForecastList[0].soda +
                                                 Model.activitySummaryForecastList[0].water);

                                            string fTotal = String.Format("{0:n2}", @sumfTotal);
                                            @fTotal.ToString();
                                        }
                                    </td>
                                    <td></td>

                                </tr>
                            }

                                <tr class="gradeX">
                                    <td></td>
                                    <td>
                                        % To Sales
                                    </td>
                                    <td>
                                        @{

                                            string perEst = String.Format("{0:n2}", sumEst / Model.activitySummaryForecastList[0].est * 100);
                                            @perEst.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string perCrystal = String.Format("{0:n2}", sumCrystal / Model.activitySummaryForecastList[0].crystal * 100);
                                            @perCrystal.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string perWranger = String.Format("{0:n2}", sumWranger / Model.activitySummaryForecastList[0].wranger * 100);
                                            @perWranger.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string perPlus100 = String.Format("{0:n2}", sumPlus100 / Model.activitySummaryForecastList[0].plus100 * 100);
                                            @perPlus100.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string perJubjai = String.Format("{0:n2}", sumJubjai / Model.activitySummaryForecastList[0].jubjai * 100);
                                            @perJubjai.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string perOishi = String.Format("{0:n2}", sumOishi / Model.activitySummaryForecastList[0].oishi * 100);
                                            @perOishi.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string perSoda = String.Format("{0:n2}", sumSoda / Model.activitySummaryForecastList[0].soda * 100);
                                            @perSoda.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string perWater = String.Format("{0:n2}", sumWater / Model.activitySummaryForecastList[0].water * 100);
                                            @perWater.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string perTotal = String.Format("{0:n2}", totalAct / sumfTotal * 100);
                                            @perTotal.ToString();
                                        }
                                    </td>
                                    <td></td>

                                </tr>

                        </tbody>

                    </table>
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="pull-right" style="margin-right:10px;">
                            @if (Model.activitySummaryGroupList != null && Model.activitySummaryGroupList.Count > 0)
                            {
                                @Html.Action("approvePositionSignature", "actFormRepDetail", new { flowModel = Model.flowList })
                            }
                        </div>
                    </div>
                </div>

                <div style="page-break-before:always">&nbsp;</div>

                <div class="row">
                    <div style="text-align: center;">
                        บริษัท โมเดิร์นเทรดแมนเนจเม้นท์ จำกัด
                    </div>
                    <div style="text-align: center;">
                        รายละเอียดขออนุมัติงบประมาณจัดกิจกรรมด้านส่งเสริมการขาย
                    </div>
                    <div style="text-align: center;">
                        ประจำเดือน @ViewBag.MouthText
                    </div>
                </div>

                <div class="row">
                    <table id="datatable2" border="0" style="width:100%; text-align:center;font-family:Angsana New;font-size:10pt;" class="table table-striped table-bordered dt-responsive nowrap">
                        <tr style="background-color:#2B5D95;color:#ffffff;text-align:center;">
                            <th rowspan="2">ลำดับที่</th>
                            <th rowspan="2" width="80px" style="text-align:center;">ชื่อลูกค้า</th>
                            <th colspan="1" style="text-align:center;">กลุ่มกิจกรรม</th>
                            <th colspan="9" style="text-align:center;">ประมาณการค่าใช้จ่าย</th>
                            <th rowspan="2">หมายเหตุ</th>
                        </tr>
                        <tr style="background-color:#2B5D95;color:#ffffff;text-align:center;">
                            <th>14 กลุ่ม</th>
                            <th>Est</th>
                            <th>Crystal</th>
                            <th>Wranger</th>
                            <th>100 Plus</th>
                            <th>Jubjai</th>
                            <th>Oishi</th>
                            <th>Soda</th>
                            <th>Water</th>
                            <th>รวม</th>
                        </tr>
                        <tbody>
                            @{ int countRow = 1;
                                string customer = "";
                            }

                            @foreach (var item in Model.activitySummaryGroupList)
                            {

                                <tr class="gradeX">
                                    <td>
                                        @if (customer != item.customerName)
                                        {
                                            @countRow
                                            countRow++;
                                        }
                                    </td>
                                    <td>
                                        @if (customer != item.customerName)
                                        {
                                            @item.customerName
                                            customer = item.customerName;
                                        }
                                    </td>
                                    <td>
                                        @item.activitySales
                                    </td>
                                    <td>
                                        @{
                                            string sumAGEst = String.Format("{0:n2}", @item.est);
                                            @sumAGEst.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string sumAGcrystal = String.Format("{0:n2}", @item.crystal);
                                            @sumAGcrystal.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string sumAGwranger = String.Format("{0:n2}", @item.wranger);
                                            @sumAGwranger.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string sumAGplus100 = String.Format("{0:n2}", @item.plus100);
                                            @sumAGplus100.ToString();
                                        }

                                    </td>
                                    <td>
                                        @{
                                            string sumAGjubjai = String.Format("{0:n2}", @item.jubjai);
                                            @sumAGjubjai.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string sumAGoishi = String.Format("{0:n2}", @item.oishi);
                                            @sumAGoishi.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string sumAGsoda = String.Format("{0:n2}", @item.soda);
                                            @sumAGsoda.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string sumAGwater = String.Format("{0:n2}", @item.water);
                                            @sumAGwater.ToString();
                                        }
                                    </td>
                                    <td>
                                        @{
                                            decimal? total = 0;
                                            total = item.est +
                                                    item.crystal +
                                                    item.wranger +
                                                    item.plus100 +
                                                    item.jubjai +
                                                    item.oishi +
                                                    item.soda +
                                                    item.water;

                                            string result = String.Format("{0:n2}", @total);
                                            @result.ToString();

                                        }
                                    </td>
                                    <td>
                                        @item.remark
                                    </td>

                                </tr>

                                //if (customer != Model.activitySummaryGroupList[i].customerName)
                                //{
                                //    countRow++;
                                //    customer = Model.activitySummaryGroupList[i].customerName;
                                //}

                            }
                        </tbody>

                    </table>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 col-xs-12"></div>
                <div class="col-md-4 col-xs-12" style="padding: 0 30px 10px 30px;">
                    <div class="text-center">
                        <input type="hidden" name="GridHtml" />
                        <button type="submit" class="btn ink-reaction btn-success" id="btnSubmitReport" value="Export" style="width:100%;">
                            <i class="fa check-square-o"></i>&nbsp;Send to Approve

                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="pull-left">
                        @using (Html.BeginForm("repListViewExportExcel", "actFormRepDetail", FormMethod.Post))
                        {
                            <input type="hidden" name="gridHtml" />
                            <button type="submit" class="btn ink-reaction btn-success" id="btnExportExcel" value="ExportExcel">
                                <i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel
                            </button>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $(function () {
            $("#btnExportExcel").click(function () {
                $("input[name='gridHtml']").val($("#Grid").html());
            });
        });


                $("#btnSubmitReport").click(function () {
                    $("#previewModal").modal('hide');
                    $("#WaitDialog").show();
                    bootbox.dialog({ message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading...</div>' })
                    $.ajax({
                        url: '@Url.Action("repReportSummaryApprove", "SummaryReport")',
                        data: {
                            gridHtml: $("#Grid").html(),
                            customerId: $("#ddlCustomer").val(),
                            productTypeId: $("#ddlProductType").val(),
                            startDate: $("#startDate").val(),
                            endDate: $("#endDate").val()
                        },
                        dataType: "json",
                        type: 'POST'
                    }).done(function (response) {
                        $("#WaitDialog").hide();
                        bootbox.hideAll();
                        if (response.Success) {
                            $('#previewSummaryModal').modal('toggle');
                            $("#chooseSummaryView").html("");
                            doMsgSuccess("ดำเนินการเรียบร้อยครับ");

                            }
                            else {
                            doMsgFail("ไม่สามารถดำเนินการได้สำเร็จ กรุณาติดต่อ Admin ครับ");
                        }
                    });


                });
            });
</script>