@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer
<tr>
    <td>
        <div class="form-group" style="margin-top:-20px;">
            <div class="col-md-2 col-xs-12">
            </div>
            <div class="col-md-10 col-xs-12">
                <div style="display:inline-block;">
                    <label class="control-label" for="ddlRegion">
                        &nbsp;Condition Flow<span class="required">:&nbsp;</span>
                    </label>
                    @Html.DropDownListFor(x => x.activityFormTBMMKT.selectedBrandOrChannel, new SelectList(Model.tB_Act_ActivityForm_SelectBrandOrChannel, "val", "txt", ""), "", new
                    {
                        @class = "form-control selectpicker",
                        id = "ddlChannelOrBrand"
                    })

                    <script>
                                    function processDropdownConditionFlow() {
                                        if ($("#ddlChannelOrBrand").val() == "Channel") {
                                            $('#divChannel').css('display', 'inline-block');
                                            $("#divSubject").css('display', 'inline-block');
                                            $("#divBrand").hide();
                                        }
                                        else if ($("#ddlChannelOrBrand").val() == "Brand") {
                                            $('#divBrand').css('display', 'inline-block');
                                            $("#divSubject").css('display', 'inline-block');
                                            $("#divChannel").hide();
                                        }
                                        else {
                                            $("#divBrand").hide();
                                            $("#divChannel").hide();
                                            $("#divSubject").hide();
                                        }
                                    }

                                    $(function () {
                                        //ทำหลังLoadหน้่าเว็บเสร็จ
                                        var p_subjectId = "@Model.tB_Act_ActivityForm_DetailOther.SubjectId";
                                        var p_productBrandId = "@Model.tB_Act_ActivityForm_DetailOther.productBrandId";
                                        var p_channelId = "@Model.tB_Act_ActivityForm_DetailOther.channelId";
                                        if (p_subjectId != "")
                                         {
                                            $("#divSubject").css('display', 'inline-block');
                                            $("#ddlSubject").val(p_subjectId);
                                        }
                                        if (p_productBrandId != "") {
                                            $("#divBrand").css('display', 'inline-block');
                                            $("#ddlBrand").val(p_productBrandId);
                                        }
                                        if (p_channelId != "") {
                                            $("#divChannel").css('display', 'inline-block');
                                            $("#ddlChannel").val(p_channelId);
                                        }
                                        processDropdownConditionFlow();
                                     });

                                    $("#ddlChannelOrBrand").change(function () {
                                        processDropdownConditionFlow();
                        });

                    </script>

                </div>
                <div id="divChannel" style="display:block;">
                    <label class="control-label" for="ddlChannel">
                        &nbsp;เลือก Channel<span class="required">:&nbsp;</span>
                    </label>
                    @Html.DropDownListFor(x => x.activityFormTBMMKT.channelId, new SelectList(Model.tB_Act_Chanel_Model, "id", "chanelGroup", 0), "", new
                    {
                        @class = "form-control selectpicker",
                        id = "ddlChannel"
                    })
                </div>
                <div id="divBrand" style="display:none;">
                    <label class="control-label" for="ddlBrand">
                        &nbsp;เลือก Brand<span class="required"></span>
                    </label>
                    @Html.DropDownListFor(x => x.activityFormTBMMKT.BrandlId, new SelectList(Model.tB_Act_ProductBrand_Model, "id", "brandName", 0), "", new
                    {
                        @class = "form-control selectpicker",
                        id = "ddlBrand"
                    })
                </div>
                <div id="divSubject" style="display:block;">
                    <label class="control-label" for="ddlBrand">
                        &nbsp;เรื่อง <span class="required"></span>
                    </label>
                    @Html.DropDownListFor(x => x.activityFormTBMMKT.SubjectId, new SelectList(Model.tB_Reg_Subject, "id", "nameTH", 0), "", new
                    {
                        @class = "form-control selectpicker",
                        id = "ddlSubject"
                    })
                </div>
                <script>
                    $('#ddlChannel').change(function () {
                        bindDropdownSubject()
                    });
                    $('#ddlBrand').change(function () {
                        bindDropdownSubject()
                    });
                    function bindDropdownSubject() {
                        var valDropdown = '';
                        if ($('#ddlChannel').show()) {
                            valDropdown = $('#ddlChannel').val();
                        } else {
                            valDropdown = $('#ddlBrand').val();
                        }
                        var dataToBeSend = {
                            idBrandOrChannel: valDropdown
                            , master_type_form_id: "@Model.activityFormTBMMKT.master_type_form_id"
                            , companyId: "@UtilsAppCode.Session.User.empCompanyId"
                        };

                        var ddlSubject = $("#ddlSubject");
                        $.ajax('@Url.Action("GetDataSubjectByChanelOrBrand", "GetDataMainForm")',
                            {
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify(dataToBeSend),
                                dataType: 'json',
                                type: "POST",
                                success: function (response) {
                                    if (response.Data.tB_Reg_Subject.length > 0) {
                                        $("#ddlSubject option[value !='']").remove();
                                        $.each(response.Data.tB_Reg_Subject, function () {
                                            ddlSubject.append($("<option></option>").val(this['id']).html(this['nameTH']));
                                        });
                                    }
                                    else {

                                    }
                                },
                                error: function (data) {
                                    alert("Error Get Subject.");
                                }
                            });
                    }
                </script>
            </div>
            <label class="control-label col-md-1 col-xs-12"></label>
        </div>
    </td>
</tr>