@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer
@using System.Configuration;
<table style="width: 100%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;">
    <tr>
        <td>
            <div class="form-group" style="margin-top:-20px;">
                <div class="col-md-1 col-xs-12">
                </div>
                <div class="col-md-2 col-xs-12">
                    <div style="display:inline-block; width:100%">
                        <label class="control-label" for="ddlChannelOrBrand">
                            &nbsp;Condition Flow<span class="required">&nbsp;:&nbsp;</span>
                        </label>
                        @Html.DropDownListFor(x => x.activityFormTBMMKT.selectedBrandOrChannel, new SelectList(Model.tB_Act_ActivityForm_SelectBrandOrChannel, "txt", "txt", ""), "", new
                        {
                            @class = "form-control ",
                            id = "ddlChannelOrBrand"
                        })
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">

                    <div id="divChannel" style="display:none; width:100%">
                        <label class="control-label" for="ddlChannel">
                            &nbsp;Sub Condition Flow<span class="required">&nbsp;:&nbsp;</span>
                        </label>
                        @Html.DropDownListFor(x => x.activityFormTBMMKT.channelId, new SelectList(Model.channelMasterTypeList, "subTypeId", "subName", 0), "", new
                        {
                            @class = "form-control ",
                            id = "ddlChannel"
                        })

                    </div>
                    <div id="divBrand" style="display:none; width:100%">
                        <label class="control-label" for="ddlBrand">
                            &nbsp;Sub Condition Flow<span class="required">&nbsp;:&nbsp;</span>
                        </label>
                        @Html.DropDownListFor(x => x.activityFormTBMMKT.BrandlId, new SelectList(Model.tB_Act_ProductBrand_Model, "id", "brandName", 0), "", new
                        {
                            @class = "form-control ",
                            id = "ddlBrand"
                        })
                    </div>
                    <div id="divChannelNull" style="display:block; width:100%">
                        <label class="control-label" for="ddlChannel">
                            &nbsp;Sub Condition Flow<span class="required">&nbsp;:&nbsp;</span>
                        </label>
                        <select class="form-control " id="ddlChannelNull" name="">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div id="divSubject" style="display:none; width:100%">
                        <label class="control-label" for="ddlBrand">
                            &nbsp;Subject : <span class="required"></span>
                        </label>
                        @Html.DropDownListFor(x => x.activityFormTBMMKT.SubjectId, new SelectList(Model.tB_Reg_Subject, "id", "nameTH", 0), "", new
                        {
                            @class = "form-control ",
                            id = "ddlSubject"
                        })
                    </div>
                    <div id="divSubjectNull" style="display:block; width:100%">
                        <label class="control-label" for="ddlBrand">
                            &nbsp;Subject : <span class="required"></span>
                        </label>
                        <select class="form-control " id="ddlSubjectNull" name="">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="col-md-1 col-xs-12">
                </div>

                <script>
                function getDataDropwdownBrandChannel() {
                     var ddlChannel = document.getElementById("ddlChannelOrBrand");

                        $.ajax({
                            url: '@Url.Action("getChannelByGroup", "MainForm")',
                            data: {
                                formId: '@Model.activityFormTBMMKT.master_type_form_id',
                                groupName: ddlChannel.options[ddlChannel.selectedIndex].text,
                            },
                            dataType: "json",
                            type: 'POST',
                            success: function (response) {

                                if (response.Data.channelList.length > 0) {
                                    $("#ddlChannel option[value !='']").remove();
                                    $.each(response.Data.channelList, function () {
                                       $("#ddlChannel").append($("<option></option>").val(this['subTypeId']).html(this['subName']));
                                    });
                                    document.getElementById("ddlChannel").disabled = false;
                                }
                                else {
                                    document.getElementById("ddlChannel").disabled = true;
                                }


                            }
                        });
                }
                function processDropdownConditionFlow() {

                    if ($("#ddlChannelOrBrand").val() == "") {

                        $("#divBrand").hide();
                        $("#divChannel").hide();
                        $("#divSubject").hide();
                        $('#divChannelNull').css('display', 'inline-block');
                        $('#divSubjectNull').css('display', 'inline-block');
                     }
                    else if ($("#ddlChannelOrBrand").val() == "Brand") {
                        $("#divChannelNull").hide();
                        $("#divSubjectNull").hide();
                        $('#divBrand').css('display', 'inline-block');
                        $("#divSubject").css('display', 'inline-block');
                        $("#divChannel").hide();
                        $("#ddlChannel").val('');
                    }
                    else {
                        $("#divChannelNull").hide();
                        $("#divSubjectNull").hide();
                        $('#divChannel').css('display', 'inline-block');
                        $("#divSubject").css('display', 'inline-block');
                        $("#divBrand").hide();
                        $("#divBrand").val('');

                    }
                }

                $(function () {
                    //ทำหลังLoadหน้่าเว็บเสร็จ
                    var p_subjectId = "@Model.tB_Act_ActivityForm_DetailOther.SubjectId";
                    var p_productBrandId = "@Model.tB_Act_ActivityForm_DetailOther.productBrandId";
                    var p_channelId = "@Model.tB_Act_ActivityForm_DetailOther.channelId";
                    if (p_subjectId != "") {
                        $("#divSubject").css('display', 'inline-block');
                        $("#ddlSubject").val(p_subjectId);
                    }
                    if (p_productBrandId != "") {
                        $("#divBrand").css('display', 'inline-block');
                        $("#ddlBrand").val(p_productBrandId);
                    }
                    if (p_channelId != "") {
                        $("#divChannel").css('display', 'inline-block');
                        $("#ddlChannel").val(p_channelId);
                    }
                    processDropdownConditionFlow();
                });

                $("#ddlChannelOrBrand").change(function () {
                    processDropdownConditionFlow();
                    getDataDropwdownBrandChannel();
                    if ('@Model.activityFormTBMMKT.master_type_form_id' == '@ConfigurationManager.AppSettings["formPosTbmId"]') //ใบเบิกผลิตภัณฑ์,POS/PREMIUM
                    {
                        $("#ddlbrand_select").val("");
                        $("#txtCostCenter").val("");

                        if ($("#ddlChannelOrBrand").val() != "")
                        {
                            var typeGL = "";
                            if ($('#ddlChannelOrBrand').val() == "Brand") {
                                typeGL = "tbmmkt_gl_brand";
                            } else {
                                typeGL = "tbmmkt_gl_channel";
                            }

                            var dataToBeSend =
                                {
                                    id: ""
                                    , master_type_form_id: "@Model.activityFormTBMMKT.master_type_form_id"
                                    , type: typeGL
                                };

                                $.ajax('@Url.Action("GetDataListChoiceByType", "GetDataMainForm")',
                                {
                                    contentType: "application/json; charset=utf-8",
                                    data: JSON.stringify(dataToBeSend),
                                    dataType: 'json',
                                    type: "POST",
                                    success: function (response) {
                                        if (response.Data.tB_Act_Master_List_ChoiceModels.length > 0) {
                                            $.each(response.Data.tB_Act_Master_List_ChoiceModels, function () {
                                                $("#txtglNo").val(this['name']);
                                                $("#txtglName").val(this['sub_name']);
                                            });
                                        }
                                        else {
                                            $("#txtglNo").val("");
                                            $("#txtglName").val("");
                                        }
                                   },
                                    error: function (data)
                                    {
                                        alert("Error GetDataListChoiceById.");
                                    }
                                 });
                        }
                        else {
                            $("#txtglNo").val("");
                            $("#txtglName").val("");
                        }
                    }

                         if ('@Model.activityFormTBMMKT.master_type_form_id' == '@ConfigurationManager.AppSettings["formPaymentVoucherTbmId"]')
                        {
                             $("#ddl_EO_PV").multiselect('dataprovider', null);
                             $('#ddlBrand').val("");
                             $('#ddlChannel').val("");
                        }
                });

                </script>


                <script>
                    $('#ddlChannel').change(function () {
                        $('#ddlBrand').val('');
                        bindDropdownSubject();
                       if ('@Model.activityFormTBMMKT.master_type_form_id' == '@ConfigurationManager.AppSettings["formPaymentVoucherTbmId"]')
                        {
                           if ($('#ddlChannel').val() == "") {
                               $("#ddl_EO_PV").multiselect('dataprovider', null);
                           } else {
                               bindDropdownEO();
                           }
                        }
                        if ('@Model.activityFormTBMMKT.master_type_form_id' == '@ConfigurationManager.AppSettings["formBgTbmId"]') {
                            getBudgetTotal();
                        }

                    });
                    $('#ddlBrand').change(function () {
                        $('#ddlChannel').val('');
                        bindDropdownSubject();
                        if ('@Model.activityFormTBMMKT.master_type_form_id' == '@ConfigurationManager.AppSettings["formPaymentVoucherTbmId"]')
                        {
                            if ($('#ddlBrand').val() == "") {
                                $("#ddl_EO_PV").multiselect('dataprovider', null);
                            } else {
                                bindDropdownEO();
                            }
                        }

                    });

                    $('#ddlSubject').change(function () {
                       if ('@Model.activityFormTBMMKT.master_type_form_id' == '@ConfigurationManager.AppSettings["formBgTbmId"]') {
                            getBudgetTotal();
                        }

                    });

                    function bindDropdownSubject() {
                        var valDropdown = '';
                        if ($('#ddlChannelOrBrand').val() =="Brand") {
                            valDropdown = $('#ddlBrand').val();
                        } else {
                            valDropdown = $('#ddlChannel').val();
                        }
                        var dataToBeSend = {
                            idBrandOrChannel: valDropdown
                            , master_type_form_id: "@Model.activityFormTBMMKT.master_type_form_id"
                            , companyId: "@UtilsAppCode.Session.User.empCompanyId"
                        };

                        var ddlSubject = $("#ddlSubject");
                        $.ajax('@Url.Action("GetDataSubjectByChanelOrBrand", "GetDataMainForm")',
                            {
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify(dataToBeSend),
                                dataType: 'json',
                                type: "POST",
                                success: function (response) {
                                    if (response.Data.tB_Reg_Subject.length > 0) {
                                        $("#ddlSubject option[value !='']").remove();
                                        $.each(response.Data.tB_Reg_Subject, function () {
                                            ddlSubject.append($("<option></option>").val(this['id']).html(this['nameTH']));
                                        });
                                    }
                                    else {

                                    }
                                },
                                error: function (data) {
                                    alert("Error Get Subject.");
                                }
                            });
                }

                </script>
            </div>
        </td>
    </tr>
</table>