@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer;
@using System.Globalization;
@{
    CultureInfo DateThai = new CultureInfo("th-TH");
    CultureInfo DateEnglish = new CultureInfo("en-US");
}
<tr>
    <td style="padding-left:8px;">
        <div id="divHeaderDetails" runat="server" style="width: 100%;">
            <table style="width: 100%;border-collapse:collapse;" id="tabelHeaderDetails" runat="server" class="fontDocV1">
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-12">
                                สต๊อก :
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    @Html.DropDownListFor(x => x.activityFormTBMMKT.list_0_select, new SelectList(Model.list_0, "id", "name", ""), "", new
                                    {
                                        @class = "form-control selectpicker",
                                        id = "ddlin_or_out_stock"
                                    })
                                    <script>                                        
                                        $("#ddlin_or_out_stock").change(function () {                                            
                                            if ($("#ddlin_or_out_stock").val() != "") {
                                                $('#ddlproduct_pos_premium').multiselect('enable');
                                            }
                                            else {
                                                $('#ddlproduct_pos_premium').multiselect('disable');
                                                $('#ddlproduct_pos_premium option').each(function () {
                                                    $(this).prop('selected', false);
                                                });
                                            }            
                                            $('#ddlproduct_pos_premium').multiselect('refresh');
                                        });
                                    </script>
                                </div>
                            </div>
                            <label class="control-label col-md-6 col-xs-12">
                                &nbsp;
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-12">
                                ขอเบิก :
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    <style>
                                        td div span {
                                            line-height: 0px;
                                        }

                                        .multiselect {
                                            min-width: 308px;
                                            text-align: left;
                                        }

                                        .btn .caret {
                                            float: right;
                                            margin-top: 7px;
                                            margin-right: -6px;
                                        }

                                        .checkbox, .radio {
                                            position: relative;
                                            display: block;
                                            min-width: 308px;
                                        }
                                    </style>
                                    @Html.DropDownList("activityFormTBMMKT.list_1_multi_select", new MultiSelectList(Model.list_1,
                                                                                     "id", "name"),
                                                                                     new
                                                                                     {
                                                                                         @class = "form-control selectpicker",
                                                                                         id = "ddlproduct_pos_premium",
                                                                                         multiple = "multiple"
                                                                                     })
                                    <script>
                                        $(document).ready(function () {                                            
                                            $('#ddlproduct_pos_premium').multiselect({
                                                nonSelectedText: '                                                                     ',
                                                onChange: function (option, checked) {
                                                    if ($("#ddlin_or_out_stock").val() != "") {
                                                        var valueInStock = "4C059B00-6350-4E46-82E0-98E28807C697";
                                                        var valueProduct = "AD1A2D99-04A5-43B6-988A-109B03614358";
                                                        var valuePOS = "4F1909E0-A047-4DA3-8C68-4C2780120E71";
                                                        var valuePREMIUM = "F890856A-13EE-4C1D-8453-6D824481BCDD";

                                                        if ($('#ddlin_or_out_stock').val() == valueInStock) {
                                                            if (option.val() == valuePREMIUM && checked === true) {
                                                                var values = [];
                                                                values.push(valueProduct);
                                                                values.push(valuePOS);
                                                                $('#ddlproduct_pos_premium').multiselect('deselect', values, true);
                                                            } else if ((option.val() == valueProduct && checked === true) || (option.val() == valuePOS && checked === true)) {
                                                                $('#ddlproduct_pos_premium').multiselect('deselect', valuePREMIUM, true);
                                                            }
                                                            $('#ddlproduct_pos_premium option').each(function () {
                                                                //ไว้เล่นวนลูปค่า
                                                                //if ($(this).val() == option.val()) {
                                                                //    alert($(this).val());
                                                                //}
                                                            });
                                                        }
                                                    }
                                                },
                                            });
                                            $('#ddlproduct_pos_premium').multiselect('disable');
                                        });
                                    </script>
                                </div>
                            </div>
                            <label class="control-label col-md-2 col-xs-12">
                                เพื่อ :
                            </label>
                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    @Html.DropDownListFor(x => x.activityFormTBMMKT.list_2_select, new SelectList(Model.list_2, "id", "name", ""), "", new
                                    {
                                        @class = "form-control selectpicker",
                                        id = "ddlfor"
                                    })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-12">
                                Brand/ผลิตภัณฑ์ :
                            </label>

                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    @Html.DropDownListFor(x => x.activityFormTBMMKT.list_2_select, new SelectList(Model.list_2, "id", "name", ""), "", new
                                    {
                                        @class = "form-control selectpicker",
                                        id = "ddlfor"
                                    })
                                </div>
                            </div>

                            <label class="control-label col-md-2 col-xs-12">
                                Cost Center :
                            </label>

                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    @Html.DropDownListFor(x => x.activityFormTBMMKT.brand_select, new SelectList(Model.tB_Act_ProductBrand_Model_2, "id", "brandName", ""), "", new
                                    {
                                        @class = "form-control selectpicker",
                                        id = "ddlbrand_select"
                                    })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-12">
                                Channel+Region :
                            </label>

                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    @Html.DropDownListFor(x => x.activityFormTBMMKT.list_3_select, new SelectList(Model.list_3, "id", "name", ""), "", new
                                    {
                                        @class = "form-control selectpicker",
                                        id = "ddlchannel_place"
                                    })
                                </div>
                            </div>

                            <label class="control-label col-md-2 col-xs-12">
                                Channel+Region Name:
                            </label>

                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    @Html.DropDownListFor(x => x.activityFormTBMMKT.list_2_select, new SelectList(Model.list_2, "id", "name", ""), "", new
                                    {
                                        @class = "form-control selectpicker",
                                        id = "ddlfor"
                                    })
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>




                <tr>
                    <td>
                        <table style="border-color:none;border-collapse:collapse;" class="fontDocV1">
                            <tr class="hDetailtr bgColorFocusDataAcc">
                                <td style="width:150px;vertical-align:top;">&nbsp;Channel+Region</td>
                                <td style="width:160px;vertical-align:top;text-align:left;">: NT</td>
                                <td style="width:130px;vertical-align:top;">&nbsp;Channel+Region Name</td>
                                <td style="width:260px;vertical-align:top;">: Not Allocaded</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-color:none;border-collapse:collapse;" class="fontDocV1">
                            <tr class="hDetailtr bgColorFocusDataAcc">
                                <td style="width:150px;vertical-align:top;">&nbsp;GL No.</td>
                                <td style="width:160px;vertical-align:top;text-align:left;">: 650007500</td>
                                <td style="width:130px;vertical-align:top;">&nbsp;GL Name</td>
                                <td style="width:260px;vertical-align:top;">: วัสดุส่งเสริมการขาย-เผยแพร่ POS/POP/Premium</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-color:none;border-collapse:collapse;" class="fontDocV1">
                            <tr class="hDetailtr">
                                <td style="width:150px;vertical-align:top;">&nbsp;ให้แก่ (ชื่อผู้รับ)</td>
                                <td style="width:160px;vertical-align:top;text-align:left;">: R1-R8</td>
                                <td style="width:130px;vertical-align:top;">&nbsp;โทรศัพท์/โทรสาร</td>
                                <td style="width:260px;vertical-align:top;">: 02-785-5555</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-color:none;border-collapse:collapse;" class="fontDocV1">
                            <tr class="hDetailtr">
                                <td style="width:150px;vertical-align:top;">&nbsp;หมายเหตุ&nbsp;&nbsp;วันที่ส่งมอบ</td>
                                <td style="width:160px;vertical-align:top;text-align:left;">: 10/06/62</td>
                                <td style="width:130px;vertical-align:top;">&nbsp;รายละเอียดผู้ติดต่อ</td>
                                <td style="width:260px;vertical-align:top;">: คุณใจดี ศรีเมืองไทย</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-color:none;border-collapse:collapse;" class="fontDocV1">
                            <tr class="hDetailtr">
                                <td style="width:150px;vertical-align:top;">&nbsp;ที่อยู่</td>
                                <td colspan="3" style="width:550px;vertical-align:top;text-align:left;">: 14 อาคารแสงโสม ถนนวิภาวดีรังสิต แขวงจอมพล เขตจตุจักร กรุงเทพมหานคร 10900</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="border-color:none;border-collapse:collapse;" class="fontDocV1">
                            <tr class="hDetailtr">
                                <td style="width:150px;vertical-align:top;">&nbsp;วัตถุประสงค์ที่ขอเบิก</td>
                                <td colspan="3" style="width:550px;vertical-align:top;text-align:left;">: เพื่อเป็นสื่อประชาสัมพันธ์สินค้า และส่งเสริมยอดการขายสินค้า</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </td>
</tr>