@using eActForm.BusinessLayer;
@using System.Configuration;
@model eActForm.Models.Activity_TBMMKT_Model
<table style="width: 100%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;">
    <tr>
        <td>
            <div class="form-group">

                <label class="control-label col-md-2 col-xs-12">
                    วันที่เสนอกิจกรรม :
                </label>

                <div class="col-md-4 col-xs-12">
                    <div class="row">
                        @Html.TextBox("activityFormModel.documentDateStr", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityFormModel.documentDate, ConfigurationManager.AppSettings["formatDateUse"]), new { @class = "form-control textboxcss", id = "txtdateDoc", autocomplete = "off" })
                    </div>
                </div>

                @if (UtilsAppCode.Session.User.isAdminTBM || UtilsAppCode.Session.User.isSuperAdmin)
                {

                    <div class="row col-md-6">
                        <label class="control-label col-md-4" id="lblFromPaper">
                            From Paper :
                        </label>
                        <div class="col-md-2">
                            <div class="row" style="padding-top:8px;">
                                <input id="cbFromPaper" type="checkbox" name="activityFormTBMMKT.statusNote" value="FromPaper" onchange="chkBox_Onchange(this);">
                                <script>
                                $(function () {
                                    var var_cbFromPaper = '@Model.activityFormTBMMKT.statusNote';
                                    if (var_cbFromPaper == "FromPaper") {
                                        document.getElementById("cbFromPaper").checked = true;
                                    }
                                });
                                </script>
                            </div>
                        </div>
                        <label class="control-label col-md-3">
                            กิจกรรมอื่น :
                        </label>
                        <div class="col-md-2">
                            <div class="row" style="padding-top:8px;">
                                @Html.CheckBoxFor(m => m.activityFormTBMMKT.isTemp , new { @onchange = "chkBox_Onchange(this)" })

                            </div>
                        </div>
                    </div>


                }

            </div>


            <div class="form-group">

                <label class="control-label col-md-2 col-xs-12">
                    ชื่อผู้เสนอกิจกรรม :
                </label>
                @if (Model.activityFormModel.mode == "new")
                                        {
                    <div class="col-md-4 col-xs-12">
                        <div class="row">
                            <label class="form-control textboxcss" style="width:320px;">@UtilsAppCode.Session.User.empFNameTH  @UtilsAppCode.Session.User.empLNameTH </label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-4 col-xs-12">
                        <div class="row">
                            @Html.TextBoxFor(x => x.activityFormTBMMKT.createdByName, new { @class = "form-control textboxcss", @id = "lblcreatedByName" })
                        </div>
                    </div>
                }
                <label class="control-label col-md-2 col-xs-12">
                    เบอร์โทรศัพท์ :
                </label>

                <div class="col-md-4 col-xs-12">
                    <div class="row">
                        @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.activityTel, new { @class = "form-control textboxcss", @id = "txtactivityTel" })
                    </div>
                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-md-2 col-xs-12">
                    สินค้า :
                </label>

                <div class="col-md-4 col-xs-12">
                    <div class="row">
                        @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.activityProduct, new { @class = "form-control textboxcss", @id = "txtactivityProduct" })
                    </div>
                </div>

                <label class="control-label col-md-2 col-xs-12">
                    เอกสารเลขที่ :
                </label>

                <div class="col-md-4 col-xs-12">
                    <div class="row">
                        @Html.TextBoxFor(x => x.activityFormModel.activityNo, new { @class = "form-control textboxcss", @id = "txtActivityNo", @readonly = "readonly" })
                    </div>
                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-md-2 col-xs-12">
                    ชื่อกิจกรรม :
                </label>

                <div class="col-md-4 col-xs-12">
                    <div class="row">
                        @Html.TextBoxFor(x => x.activityFormTBMMKT.activityName, new { @class = "form-control textboxcss", @id = "txtActivityName" })
                    </div>
                </div>
                @*===============ต้องเก็บไว้เพราะเอกสารก่อนทำMulti EOใส่ในตารางEstimateมีใช้งาน=========================*@
                @{
                    string displayEOOld = "";
                    if (Model.tB_Act_ActivityForm_DetailOther.EO == "" || Model.tB_Act_ActivityForm_DetailOther.EO == null)
                    {
                        displayEOOld = "display:none;";
                    }
                }
                <label class="control-label col-md-2 col-xs-12" style="@displayEOOld">
                    EO :
                </label>
                <div class="col-md-4 col-xs-12" style="@displayEOOld">
                    <div class="row">
                        @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.EO, new { @class = "form-control textboxcss", @id = "txtEO" })
                    </div>
                </div>
                @*===END============ต้องเก็บไว้เพราะเอกสารก่อนทำMulti EOใส่ในตารางEstimateมีใช้งาน=========================*@
            </div>


            <div class="form-group">

                <label class="control-label col-md-2 col-xs-12">
                    เริ่มกิจกรรม :
                </label>

                <div class="col-md-4 col-xs-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-5 col-xs-12">
                                <div class="row">
                                    @*@Html.TextBoxFor(x => x.activityFormModel.activityPeriodSt, "{0:MM-dd-yyyy}", new { @class = "form-control textboxcss", id = "txtdateActivitySt", style = "width:140px;", autocomplete = "off" })*@
                                    @Html.TextBox("activityFormModel.activityPeriodStStr", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityFormModel.activityPeriodSt, ConfigurationManager.AppSettings["formatDateUse"]), new { @class = "form-control textboxcss", id = "txtdateActivitySt", autocomplete = "off" })
                                </div>
                            </div>
                            <label class="control-label col-md-1 col-xs-12">
                                ถึง
                            </label>
                            <div class="col-md-6 col-xs-12">
                                <div class="row">
                                    @*@Html.TextBoxFor(x => x.activityFormModel.activityPeriodEnd, "{0:MM-dd-yyyy}", new { @class = "form-control textboxcss", id = "txtactivityPeriodEnd", style = "width:140px;", autocomplete = "off" })*@
                                    @Html.TextBox("activityFormModel.activityPeriodEndStr", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityFormModel.activityPeriodEnd, ConfigurationManager.AppSettings["formatDateUse"]), new { @class = "form-control textboxcss", id = "txtactivityPeriodEnd", autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <label class="control-label col-md-2 col-xs-12">
                    Budget Number :
                </label>

                <div class="col-md-4 col-xs-12">
                    <div class="row">

                        @if ((Model.activityFormModel.mode == "edit" && Model.activityFormTBMMKT.statusId == 2 && UtilsAppCode.Session.User.isAdminTBM) || (UtilsAppCode.Session.User.isAdminTBM))
                        {
                            @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.BudgetNumber, new { @class = "form-control textboxcss", @id = "txtBudgetNumber" })
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.BudgetNumber, new { @class = "form-control textboxcss", @id = "txtBudgetNumber", @readonly = "readonly" })
                        }


                    </div>
                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-md-2 col-xs-12">
                    วัตถุประสงค์ :
                </label>

                <div class="col-md-10 col-xs-12">
                    <div class="row">
                        @Html.TextAreaFor(x => x.activityFormTBMMKT.objective, new { @class = "form-control textboxcss", @id = "txtObjective" })
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    function chkBox_Onchange(element) {

        if (element.id === 'activityFormTBMMKT_isTemp') {
            if (element.checked) {
                document.getElementById("cbFromPaper").checked = false;

                document.getElementById("divShowBudget").innerHTML = "";
                $("#getQuery").html("");
            }
            else {
                getBudgetTotal();
            }
        }
        else {
            if (element.checked) {
                getBudgetTotal();
                document.getElementById("activityFormTBMMKT_isTemp").checked = false;
            }

        }
    }

</script>
