@model eActForm.Models.Activity_TBMMKT_Model
@using System.Globalization;
@using System.Configuration;
@{
    CultureInfo DateThai = new CultureInfo("th-TH");
    CultureInfo DateEnglish = new CultureInfo("en-US");
    var picCheckBoxTrue = "./images/check_b.png";
    var picCheckBoxFalse = "./images/check.png";
}


<div id="divHeadCompany" runat="server" style="width: 100%;">
    <table style="width: 100%;border-collapse: collapse;" class="fontDocSmallV2">
        <tr style="height:10px;">
            <td colspan="2" style="width:100%;border-style: solid;border-width: 1px 0px 1px 0px; border-collapse: collapse;background-color:#008000;color:white;" class="fontDocSmallV2Bold">
                &nbsp;Part 1 : For Requester / ส่วนที 1 : สำหรับ ผู้แจ้ง
            </td>
        </tr>
        <tr>
            <td style="width:50%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;">
                &nbsp;Name / ชื่อ :
            </td>
            <td style="width:50%;">
                &nbsp;Employee ID / รหัสพนักงาน :
            </td>
        </tr>
        <tr>
            <td style="width:50%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;">
                &nbsp;Department / หน่วยงาน :
            </td>
            <td style="width:50%;">
                &nbsp;Phone / เบอร์ติดต่อ :
            </td>
        </tr>
        <tr>
            <td style="width:50%;border-style: solid;border-width: 0px 1px 1px 0px; border-collapse: collapse;">
                &nbsp;Company / บริษัท :
            </td>
            <td style="width:50%;border-style: solid;border-width: 0px 0px 1px 0px; border-collapse: collapse;">
                &nbsp;E-mail :
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;<u>Choose request</u>
                &nbsp;<img class="cssCheckBoxV1" src="@picCheckBoxFalse" />System change request / ขอเปลี่ยนแปลงระบบ
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;<img class="cssCheckBoxV1" src="@picCheckBoxFalse" />Reset SAP Password / รีเซ็ตรหัสผ่าน SAP
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="cssCheckBoxV1" src="@picCheckBoxFalse" />Authorizations change request (Next page 2) / ขอเปลี่ยน นแปลงการใชสิ้ทธิ (ต่อหน้า 2)
                <br />
                &nbsp;<u>Choose system</u>
                <br />
                <table style="width: 100%;border-collapse: collapse;" class="fontDocSmallV2">
                    <tr>
                        <td>&nbsp;<b>Procure to Pay :</b></td>
                        @foreach (var item in Model.list_0)
                        {
                            <td>&nbsp;<img class="cssCheckBoxV1" src="@picCheckBoxFalse" />@item.name&nbsp;&nbsp;</td>
                        }
                        <td><b>ERP System :</b></td>
                        @foreach (var item in Model.list_1)
                        {
                            <td>&nbsp;<img class="cssCheckBoxV1" src="@picCheckBoxFalse" />@item.name&nbsp;&nbsp;</td>
                        }
                    </tr>
                    <tr>
                        <td>&nbsp;<b>Order to Cash :</b></td>
                        @foreach (var item in Model.list_2)
                        {
                            <td>&nbsp;<img class="cssCheckBoxV1" src="@picCheckBoxFalse" />@item.name&nbsp;&nbsp;</td>
                        }
                    </tr>
                    <tr>
                        <td>&nbsp;<b>Forecast to Delivery :</b></td>
                        @foreach (var item in Model.list_3)
                        {
                            <td>&nbsp;<img class="cssCheckBoxV1" src="@picCheckBoxFalse" />@item.name&nbsp;&nbsp;</td>
                        }
                        <td colspan="2"><b>Finance&Accounting :</b></td>
                        @foreach (var item in Model.list_4)
                        {
                            <td>&nbsp;<img class="cssCheckBoxV1" src="@picCheckBoxFalse" />@item.name&nbsp;&nbsp;</td>
                        }
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

