@model eForms.Models.Reports.RepPostEvaModels

<div class="row" style="width:1100px;overflow-x:scroll;">
    @if (Model != null && Model.repPostEvaLists != null && Model.repPostEvaLists.Count > 0)
    {
    <div class="col-md-12 col-xs-12">
        <div class="row">
            <table>
                <tr>
                    <td>
                        บริษัท โมเดิร์นเทรดแมนเนจเม้นท์ จำกัด
                    </td>
                </tr>
                <tr>
                    <td>
                        รายละเอียดขออนุมัติงบประมาณจัดกิจกรรมด้านส่งเสริมการขาย  @Model.repPostEvaLists[0].customerName
                    </td>
                </tr>
                <tr>
                    <td>
                        ประจำเดือน @ViewBag.mountText
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                @Html.Action("PostEvaGroupBrandView","actFormRepPostEva",new {model = Model })
            </div>
        </div>
        <div class="row">
            <table id="datatable" border="0" class="table table-striped jambo_table bulk_action" style="background-color:#ffffff;">
                <thead>
                    <tr class="headings" style="text-align:center;">
                        <th width="50px" rowspan="2">ลำดับที่</th>
                        <th width="80px" style="text-align:center;" rowspan="2">ประเภทกิจกรรม</th>
                        <th width="80px" style="text-align:center;" rowspan="2">Activity No.</th>
                        <th style="text-align:center;" rowspan="2">Name</th>
                        <th style="text-align:center;" rowspan="2">Brand Name</th>
                        <th style="text-align:center;" rowspan="2">ลูกค้า</th>
                        <th style="text-align:center;" rowspan="2">กลุ่มสินค้า</th>
                        <th style="text-align:center;" rowspan="2">size</th>
                        <th style="text-align:center;" rowspan="2">ระยะเวลากิจกรรม</th>
                        <th style="text-align:center;" rowspan="2">สิ้นสุดเวลากิจกรรม</th>
                        <th style="text-align:center;" rowspan="2">SE</th>
                        <th style="text-align:center;" rowspan="2">Unit</th>
                        <th style="text-align:center;" rowspan="2">compensate</th>
                        <th style="text-align:center;" rowspan="2">normalCase</th>
                        <th style="text-align:center;" rowspan="2">promotionCase</th>
                        <th style="text-align:center;" rowspan="2">ค่าใช้จ่ายรวม Spending Exp. (Bath)</th>
                        <th style="text-align:center;" rowspan="2">Normal Cost PerCase</th>
                        <th style="text-align:center;" rowspan="2">ยอดขายข่วงทำกิจกรรม(Baht-ALL)</th>
                        <th style="text-align:center;" rowspan="2">%To Sales</th>
                        <th style="text-align:center;" colspan="7">Act</th>
                        <th style="text-align:center;" colspan="3">Accuracy</th>
                        <th style="text-align:center;" rowspan="2">ตัอจ่ายจรีง</th>
                        <th style="text-align:center;" rowspan="2">%Actual</th>
                    </tr>
                    <tr class="headings" style="text-align:center;">
                        <th style="text-align:center;">Case</th>
                        <th style="text-align:center;">Liter</th>
                        <th style="text-align:center;">Bath</th>
                        <th style="text-align:center;">SDBath</th>
                        <th style="text-align:center;">SE % ToSales</th>
                        <th style="text-align:center;">Sales-Parti (Case)</th>
                        <th style="text-align:center;">Sales-Parti (Baht)</th>
                        <th style="text-align:center;">Sales (Case)</th>
                        <th style="text-align:center;">Sales (Baht)</th>
                        <th style="text-align:center;">Spending (Baht)</th>

                    </tr>
                </thead>
                <tbody>
                    @{ var index = 1; string strActNo = "";
                    }
                    @foreach (var item in Model.repPostEvaLists)
                    {


                        <tr class="even pointer">
                            <td>@index</td>
                            <td>@item.activitySales</td>
                            <td>@item.activityNo</td>
                            <th style="text-align:center;">@item.activityName</th>
                            <td style="text-align:center;">@item.brandName</td>
                            <td style="text-align:center;">@item.customerName</td>
                            <td style="text-align:center;">@item.groupName</td>
                            <td style="text-align:center;">@item.size</td>
                            @if (item.activityPeriodSt != null)
                            {
                                <td width="100px" style="text-align:center;">@item.activityPeriodSt.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.activityPeriodEnd != null)
                            {
                                <td width="100px" style="text-align:center;">@item.activityPeriodEnd.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td style="text-align:center;">@string.Format("{0:n2}", item.le)</td>
                            <td style="text-align:center;">@string.Format("{0:n2}", item.unit)</td>
                            <td style="text-align:center;">@string.Format("{0:n2}", item.compensate)</td>
                            <td style="text-align:center;">@string.Format("{0:n2}", item.normalCost)</td>
                            <td style="text-align:center;">@string.Format("{0:n2}", item.themeCost)</td>
                            <td style="text-align:center;">@string.Format("{0:n2}", item.total)</td>
                            <td style="text-align:center;">@string.Format("{0:n2}", item.tempAPNormalCost)</td>
                            <td style="text-align:center;">@string.Format("{0:n2}", item.estimateSaleBathAll)</td>
                            <td style="text-align:center;">@string.Format("{0:n2}", item.presentToSale)</td>

                            @if (item.activitySales == "Promotion Support")
                            {
                                <td style="text-align:center;background-color:#f0ffcb;">@string.Format("{0:n2}", item.actReportQuantity)</td>
                                <td style="text-align:center;background-color:#f0ffcb;">@string.Format("{0:n2}", item.actVolumeQuantity)</td>
                                <td style="text-align:center;background-color:#f0ffcb;">@string.Format("{0:n2}", item.actAmount)</td>
                                <td style="text-align:center;background-color:#f0ffcb;"></td>
                                <td style="text-align:center;background-color:#f0ffcb;"></td>
                                <td style="text-align:center;background-color:#f0ffcb;">@string.Format("{0:n2}", item.salePartiCase)</td>
                                <td style="text-align:center;background-color:#f0ffcb;">@string.Format("{0:n2}", item.salePartiBath)</td>
                                <td style="text-align:center;background-color:#beefff;">@string.Format("{0:n2}", item.accuracySaleCase)</td>
                                <td style="text-align:center;background-color:#beefff;">@string.Format("{0:n2}", item.accuracySaleBath)</td>
                                <td style="text-align:center;background-color:#beefff;"></td>
                                <td style="text-align:center;">@item.saleActual</td>
                                <td style="text-align:center;">@string.Format("{0:n2}", item.presentAcctual)</td>
                            }
                            else
                            {
                                <td style="text-align:center;background-color:#f0ffcb;">@string.Format("{0:n2}", item.billedQuantityMT)</td>
                                <td style="text-align:center;background-color:#f0ffcb;">@string.Format("{0:n2}", item.volumeMT)</td>
                                <td style="text-align:center;background-color:#f0ffcb;">@string.Format("{0:n2}", item.netValueMT)</td>
                                <td style="text-align:center;background-color:#f0ffcb;">@string.Format("{0:n2}", item.specialDiscountMT)</td>
                                <td style="text-align:center;background-color:#f0ffcb;">@string.Format("{0:n2}", item.presentSE)</td>
                                <td style="text-align:center;background-color:#f0ffcb;"></td>
                                <td style="text-align:center;background-color:#f0ffcb;"></td>
                                <td style="text-align:center;background-color:#beefff;">@string.Format("{0:n2}", item.accuracySaleCase)</td>
                                <td style="text-align:center;background-color:#beefff;"></td>
                                <td style="text-align:center;background-color:#beefff;">@string.Format("{0:n2}", item.accuracySpendingBath)</td>
                                <td style="text-align:center;"></td>
                                <td style="text-align:center;"></td>
                            }

                            @{strActNo = item.activityNo;
                                index++;
                            }
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
    }
</div>

<script>


    $(document).ready(function () {
        $('#datatable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 0 }
                , { "orderable": false, "targets": 1 }
                , { "orderable": false, "targets": 2 }
                , { "orderable": false, "targets": 3 }
            ],
            "dom": 'lCfrtip',
            "order": [],
            "language": {
                "lengthMenu": '_MENU_ entries per page',
                "search": '<i class="fa fa-search"></i>',
                "paginate": {
                    "previous": '<i class="fa fa-angle-left"></i>',
                    "next": '<i class="fa fa-angle-right"></i>'
                }
            }
        });

    })

</script>