
@using eActForm.BusinessLayer
@using System.Configuration;
@model eActForm.Models.Activity_TBMMKT_Model

<style>
    .line {
        border-bottom: 1px solid black;
    }
</style>
<hr />

<div class="col-md-12 col-xs-12">

    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                วันที่เสนอ :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBox("activityFormModel.documentDateStr", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityFormModel.documentDate, ConfigurationManager.AppSettings["formatDateUse"])
                 , new { @class = "form-control textRight datepicker textboxcss", Style = "text-align:center; width:200px;", autocomplete = "off" })
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                เบอร์โทรศัพท์ :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.activityTel, new { @class = "form-control textboxcss", @id = "txtactivityTel", style = "width:200px;" })
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-12 pull-left">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                ชื่อผู้เสนอ :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.toContact, new { @class = "form-control textboxcss", @id = "txtToContact", style = "width:200px;" })

            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                เอกสารเลขที่ :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(m => m.activityFormModel.activityNo, new { @class = "form-control textboxcss", Style = "text-align:center; width:200px;", @id = "txtActivityNo" })
            </div>
        </div>
    </div>

    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                สินค้า : <span class="required">*</span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.activityProduct, new { @class = "form-control textboxcss", @id = "txtActivityProduct", style = "width:200px;" })
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
        </div>
    </div>

    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-12">

            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                ชื่อกิจกรรม<br />(งบประมาณเดิม) :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.activityProduct, new { @class = "form-control textboxcss", @id = "txtActivityProduct", style = "width:200px;" })

            </div>
        </div>
        <div class="col-md-6 col-xs-12">
        </div>
    </div>

    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                ชื่อกิจกรรม<br />(งบประมาณใหม่) :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(x => x.activityFormModel.objective, new { @class = "form-control textboxcss width:200px;", @id = "txtObjective", Style = "width:200px;", autocomplete = "off" })
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
        </div>
    </div>

    <div class="col-md-12 col-xs-12 form-group" style="margin-bottom:50px;">
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                วัตถุประสงค์ :
            </label>
            <div class="col-md-8 col-sm-4 col-xs-12">
                @Html.TextAreaFor(x => x.activityFormTBMMKT.objective, new { @class = "form-control textboxcss", @id = "txtObjective" })
            </div>
        </div>
    </div>
</div>
<hr size="8" width="90%" color="red">

<div class="col-md-12 col-xs-12 form-group line">

    <div class="col-md-12 col-xs-12">
        <p class="lead">กรอกรายละเอียดงบประมาณ</p>
    </div>

    <div id="divgetdetailcost" class="col-lg-12">
        @Html.Action("dropdownCondtionBudgetControl", "SharedMasterFormHeaderDetail_Input", new { typeForm = Model.activityFormModel.typeForm, actId = Model.activityFormModel.id })
    </div>

    <div class="col-md-6 col-xs-6 form-group" style="margin-top:15px;">

        <fieldset class="border p-2">
            <legend class="w-auto">ขอลด/ขอเพิ่ม</legend>
        </fieldset>


        <div class="col-md-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-12">
                @Html.DropDownListFor(x => x.tB_Act_ActivityForm_DetailOther.other1, new List<SelectListItem>
                  {
                    new SelectListItem { Text = "EO", Value = "EO"},
                    new SelectListItem { Text = "IO", Value = "IO"},
                    new SelectListItem { Text = "BG", Value = "BG"},

                 },
                 new
                 {
                     @id = "ddlTypeBudget",
                     @class = "form-control textboxcss"
                 })
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBox("txtBudgetNumber", "", new { @class = "form-control textboxcss", Style = "text-align:center; width:130;", @id = "txtBudgetNumber" })
            </div>
        </div>

        <div class="col-md-12 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                ขอลด/ขอเพิ่ม :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.DropDownListFor(x => x.tB_Act_ActivityForm_DetailOther.other1, new List<SelectListItem>
               {
                 new SelectListItem { Text = "ลด", Value = "0"},
                 new SelectListItem { Text = "เพิ่ม", Value = "1"},

              },
              new
              {
                  @class = "form-control textboxcss",
                  @id = "ddlUpDown"
              })
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                งบประมาณเดิม :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBox("txtOldBudget", "", new { @class = "form-control textboxcss", Style = "text-align:center; width:130;", @id = "txtOldBudget"})
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                เหลือ :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBox("txtBudgetBalance", "", new { @class = "form-control textboxcss", Style = "text-align:center; width:130;", @id = "txtBudgetBalance" })
            </div>
        </div>




    </div>
    <div class="col-md-6 col-xs-6 form-group" style="margin-top:15px;">
        <fieldset class="border p-2">
            <legend class="w-auto">โอนงบประมาณ</legend>
        </fieldset>
       
        <div class="col-md-12 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                โอนงบประมาณเพิ่ม<br />(ลด) :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBox("txtTransferBudget", "", new { @class = "form-control textboxcss", Style = "text-align:center; width:130;", @id = "txtTransferBudget" })
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                งบประมาณใหม่ :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBox("txtNewBudget", "", new { @class = "form-control textboxcss", Style = "text-align:center; width:130;", @id = "txtNewBudget" })
            </div>
        </div>

    </div>



    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-6 form-group" style="margin-top:15px;">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                รายละเอียด  :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextAreaFor(x => x.activityFormModel.remark, new { @class = "form-control textboxcss", @id = "txtremark" })
            </div>
        </div>
    </div>


    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-12 col-md-offset-5">
            <button style="width:120px" type="button" id="BtnAdd" class="btn btn-primary" onclick="return addData();">Add</button>
        </div>
    </div>
</div>


<script type="text/javascript">
    function addData() {

        var required = "กรุณา ระบุ :<br>";
        var validate = true;
        if ($("#ddlTheme").val() == '') { required += "ประเภทกิจกรรม*<br>"; validate = false; }
        if (validate != true) {
            bootbox.alert(required);
            return false;
        }


        $("#WaitDialog").show();
         $.ajax({
                url: '@Url.Action("addBudgetList", "ActivityProductDetail")',
                data: {
                     channelId: $("#ddlChannel").val(),
                     brandId: $("#ddlBrand").val(),
                     activityGroupId: $("#ddlActivityGroup").val(),
                     typeBudget: $("#ddlTypeBudget").val(),
                     budgetNumber: $("#txtBudgetNumber").val(),
                     upDown: $("#ddlUpDown").val(),
                     oldBudget: $("#txtOldBudget").val(),
                     budgetBalance: $("#txtBudgetBalance").val(),
                     transferBudget: $("#txtTransferBudget").val(),
                     newBudget: $("#txtNewBudget").val(),
                },
                dataType: "json",
                type: 'POST',
             success: function (response) {
                 if (response.Data > 0) {

                     rowCount = response.Data;
                     CallChangefunc(response.ActivityId);
                     callThemedetailcost(response.ActivityId);
                 }
                 else {
                     bootbox.alert("ไม่พบ สินค้า!");
                 }
                 $("#WaitDialog").hide();
             }
         });
    }
</script>