
@using eActForm.BusinessLayer
@using System.Configuration;
@model eActForm.Models.Activity_TBMMKT_Model

<style>
    .line {
        border-bottom: 1px solid black;
    }

    .shadow {
        -moz-box-shadow: 5px 5px 5px #ccc;
        -webkit-box-shadow: 5px 5px 5px #ccc;
        box-shadow: 0px 5px 0px #ccc;
    }

    .my-bootbox-class .modal-dialog {
        width: 400px;
        font-size: 18px;
        text-align: center;
    }

    h1 {
        width: 100%;
        border-bottom: solid 1px #666;
    }

    a {
        cursor: pointer;
    }

    .areaWidth {
        width: 100%;
    }


</style>



<div class="col-md-12 col-xs-12">




    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                วันที่เสนอ :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @if (Model.activityFormModel.documentDate.ToString() != "")
                {
                    @Html.TextBox("activityFormModel.documentDateStr", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityFormModel.documentDate, ConfigurationManager.AppSettings["formatDateUse"])
                 , new { @class = "form-control datepicker textboxcss", autocomplete = "off" })
                }
                else
                {
                    @*@Html.TextBoxFor(x => x.activityFormModel.documentDate, "{0:dd-MM-yyyy}", new { @class = "form-control textboxcss", @id = "txtdateDoc", @Value = @DateTime.Now.ToString("dd-MM-yyyy"), @readonly = true, autocomplete = "off" })*@
                    @Html.TextBox("activityFormModel.documentDateStr", DocumentsAppCode.convertDateTHToShowCultureDateEN(Model.activityFormModel.documentDate, ConfigurationManager.AppSettings["formatDateUse"]),
                   new { @class = "form-control textboxcss", @id = "txtdateDoc", @Value = DocumentsAppCode.convertDateTHToShowCultureDateEN(@DateTime.Now, ConfigurationManager.AppSettings["formatDateUse"]), @readonly = true, autocomplete = "off" })

                }

            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                เอกสารเลขที่ :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(m => m.activityFormModel.activityNo, new { @class = "form-control textboxcss", Style = "text-align:center;", @id = "txtActivityNo", @readonly = true })
            </div>
        </div>

    </div>
    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-12 pull-left">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                ชื่อผู้เสนอ :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.toContact, new { @class = "form-control textboxcss", @id = "txtToContact" })
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                เบอร์โทรศัพท์ :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.activityTel, new { @class = "form-control textboxcss", @id = "txtactivityTel" })
            </div>
        </div>
    </div>

    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                สินค้า : <span class="required">*</span>
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.activityProduct, new { @class = "form-control textboxcss", @id = "txtActivityProduct" })
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
        </div>
    </div>

    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-12">

            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                ชื่อกิจกรรม :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(x => x.activityFormTBMMKT.activityName, new { @class = "form-control textboxcss", @id = "txtActivityProduct" })

            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                เลขที่ใบอนุมัติงบกิจกรรม :
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(x => x.activityFormTBMMKT.activityDetail, new { @class = "form-control textboxcss width:200px;", @id = "txtObjective", autocomplete = "off" })
            </div>
        </div>
    </div>

    <div class="col-md-12 col-xs-12 form-group">
        <div class="col-md-6 col-xs-12">

        </div>
        <div class="col-md-6 col-xs-12">
        </div>
    </div>

    <div class="col-md-12 col-xs-12 form-group" style="margin-bottom:50px;">
        <div class="col-md-6 col-xs-12">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                วัตถุประสงค์ :
            </label>
            <div class="col-md-8 col-sm-4 col-xs-12">
                @Html.TextAreaFor(x => x.activityFormTBMMKT.objective, new { @class = "form-control textboxcss", @id = "txtObjective" })
            </div>
        </div>
    </div>
</div>


<div class="col-md-12 col-xs-12 form-group">

    <a onclick="showEO()"> <h1 class="lead">กรอกรายละเอียด</h1></a>
</div>

<div id="divCondition2" class="col-md-12 col-xs-12 form-group">

    @*<div id="divgetdetailcost" class="col-lg-12">
            @Html.Action("dropdownCondtionBudgetControl", "SharedMasterFormHeaderDetail_Input", new { typeForm = Model.activityFormModel.typeForm, actId = Model.activityFormModel.id })
        </div>*@
    @Html.Action("dropdownCondtionBudgetControl", "SharedMasterFormHeaderDetail_Input", new { activity_TBMMKT_Model = Model })


    <div class="col-md-12 col-xs-12 form-group shadow">
        @Html.Hidden("hdRow", new { @id = "hdRow" })
        <div class="col-md-12 col-xs-12">
            <div class="col-md-3 col-xs-12">
                <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
                    EO :
                </label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBox("txtBudgetEO", "", new { @class = "form-control", Style = "text-align:center; width:90;", @id = "txtBudgetEO", @readonly = "true" })
                </div>
            </div>
            <div class="col-md-3 col-xs-12">

                <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
                    IO :
                </label>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBox("txtBudgetIO", "", new { @class = "form-control", Style = "text-align:center; width:90;", @id = "txtBudgetIO", onchange = "getBudgetEOIO();", @readonly = "true" })
                </div>
            </div>

            <div class="col-md-3 col-xs-12">
                <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
                    ขอลด/ขอเพิ่ม :
                </label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.DropDownList("ddlUpDown", new List<SelectListItem>
                   {
                     new SelectListItem { Text = "ลด", Value = "0"},
                     new SelectListItem { Text = "เพิ่ม", Value = "1"},

                  },
                  new
                  {
                      @class = "form-control",
                      @id = "ddlUpDown",
                      onchange = "getCalBudget();"
                  })
                </div>
            </div>
            <div class="col-md-3 col-xs3">
                <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
                    จำนวนเงินที่ต้องการโอน :
                </label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBox("txtTransferBudget", "", new { @class = "form-control clsTxtTransferBudget", Style = "text-align:center; width:130;", @id = "txtTransferBudget", onchange = "getCalBudget();" })
                </div>
                <script>
                    $("#txtTransferBudget").blur(function () {
                        var v_totalRow = 0.00;

                        if ($("#txtTransferBudget").val() != '') {
                            v_totalRow = $("#txtTransferBudget").val();
                        }


                        $("#txtTransferBudget").val(v_totalRow);


                    });

                </script>
            </div>
        </div>
        <div class="col-md-12 col-xs3">

            <div class="col-md-4 col-xs-12">
                <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
                    งบประมาณเดิม :
                </label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBox("txtOldBudget", "", new { @class = "form-control", Style = "text-align:center; width:90;", @id = "txtOldBudget", @readonly = "true" })
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
                    คงเหลือ :
                </label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBox("txtBudgetBalance", "", new { @class = "form-control", Style = "text-align:center; width:90;", @id = "txtBudgetBalance", onchange = "getCalBudget();" })
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
                    งบประมาณใหม่ :
                </label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBox("txtNewBudget", "", new { @class = "form-control", Style = "text-align:center; width:130;", @id = "txtNewBudget", @readonly = "true" })
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12">
            <div class="col-md-12 col-xs-12">
                <label class="control-label col-md-12 col-sm-12 col-xs-12" style="text-align:left;">
                    รายละเอียด
                </label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.TextAreaFor(x => x.activityFormTBMMKT.remark, new { @class = "form-control areaWidth", @id = "txtremark", rows = 3 })
                </div>
            </div>
        </div>


        <div class="col-md-12 col-xs-12 form-group" style="margin-top:15px; margin-bottom:15px;">

            <div class="text-center">
                <div style="display:inline-block;" id="divSubmit">
                    <button style="width:120px" type="button" id="BtnAdd" class="btn btn-success" onclick="return addRow('new');">Add</button>
                </div>
                <div style="display:inline-block;" id="divUpdate">
                    <button style="width:120px" type="button" id="BtnUpdate" class="btn ink-reaction btn-info" onclick="return addRow('update');">Update</button>
                </div>

            </div>

        </div>

    </div>
</div>


<script type="text/javascript">


    $(document).ready(function () {

        if ('@Model.activityFormTBMMKT.statusId' == '1' || '@Model.activityFormTBMMKT.statusId' == '5') {
            document.getElementById("BtnAdd").disabled = false;
            document.getElementById("BtnUpdate").disabled = false;
        }
        else {
            document.getElementById("BtnAdd").disabled = true;
            document.getElementById("BtnUpdate").disabled = true;
        }


        $("#txtremark").val('')

        bindDropdownSubject();
        getEmpDetail();

        $("#txtBudgetIO").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("getIOByEO", "GetDataMainForm")',
                    type: "POST",
                    dataType: "json",
                    data: {
                        txtEO: $("#txtBudgetEO").val(),
                        txtIO: $("#txtBudgetIO").val(),
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.IO, value: item.IO, id: item.IO };
                        }))

                    }
                })
            },
            minLength: 0,
            messages: {
                noResults: '',
                results: function (resultsCount) {
                }
            }, select: function (event, ui) {

                $("#txtBudgetIO").val(ui.item.id)
                getBudgetEOIO();
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
        });

        $("#txtBudgetEO").change(function () {
            if ($("#txtBudgetEO").val() != '') {
                document.getElementById("txtBudgetIO").readOnly = false;
            } else {
                $("#txtBudgetIO").val('')
                getBudgetNonEO();
                document.getElementById("txtBudgetIO").readOnly = true;
            }

        });

    });




    function cashEdit(i) {

        bindDropdownSubject();
        $("#txtBudgetEO").val($("#activityOfEstimateList_" + i + "__EO").val());
        $("#txtBudgetIO").val($("#activityOfEstimateList_" + i + "__IO").val());
        $("#ddlUpDown").val($("#activityOfEstimateList_" + i + "__hospId").val());
        $("#txtremark").val($("#activityOfEstimateList_" + i + "__remark").val());
        $("#txtOldBudget").val(parseFloat($("#activityOfEstimateList_" + i + "__normalCost").val()).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        $("#txtBudgetBalance").val(parseFloat($("#activityOfEstimateList_" + i + "__themeCost").val()).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        $("#txtTransferBudget").val(parseFloat($("#activityOfEstimateList_" + i + "__growth").val()).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        $("#txtNewBudget").val(parseFloat($("#activityOfEstimateList_" + i + "__total").val()).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        $("#ddlBrand_BG").val($("#activityOfEstimateList_" + i + "__productId").val());
        $("#ddlChannel_BG").val($("#activityOfEstimateList_" + i + "__typeTheme").val());
        $("#ddlActType_BG").val($("#activityOfEstimateList_" + i + "__activityTypeId").val());
        $("#txtBGYear").val($("#activityOfEstimateList_" + i + "__UseYearSelect").val());
        
        


        console.log($("#activityOfEstimateList_" + i + "__activityTypeId").val());
     
        setTimeout(function () {
            $("#ddlSubject_BG").val($("#activityOfEstimateList_"+i+"__QtyName").val());
        }, 5000);
        $("#hdRow").val(i);


        if ($("#activityOfEstimateList_" + i + "__EO").val() != '') {
            getBudgetEOIO();
        }
        else {
            getBudgetNonEO();
        }

    }



    function getEmpDetail() {

        ; if ('@Model.tB_Act_ActivityForm_DetailOther.toContact' == "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getEmpDetailById", "eAct")',
                data: {
                    empId: "@UtilsAppCode.Session.User.empId",
                }
            }).done(function (response) {
                if (response.Data != null) {
                    $("#txtToContact").val(response.Data.empName);
                }
                else {
                    $("#txtToContact").val('');

                }
            });
        }
    }

    function getBudgetNonEO() {
       $.ajax({
                url: '@Url.Action("getBudgetBalanceNonEO", "TransferBudget")',
                data: {
                    brandId: $("#ddlBrand_BG").val(),
                    channelId: $("#ddlChannel_BG").val(),
                    activityGroupId: $("#ddlActType_BG").val(),
                    bgYear: $("#txtBGYear").val(),
                },
                dataType: "json",
                type: 'POST',
           success: function (response) {
               if (response.Data != null) {
                   $("#txtOldBudget").val(response.Data.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                   $("#txtBudgetBalance").val(response.Data.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                   
               }
               else {
                   $("#txtOldBudget").val('');
                   $("#txtBudgetBalance").val('');
               }
               $("#txtNewBudget").val('');
               getCalBudget();
               $("#WaitDialog").hide();
           }
         });
    }

    $("#ddlBrand_BG").change(function () {

        $("#ddlSubject_BG option[value !='']").remove();
        if ($("#ddlBrand_BG").val() != "") {
            document.getElementById("txtBudgetEO").readOnly = false;
            if ($("#txtBudgetEO").val() != '') {
                getBudgetEOIO
            } else {
                getBudgetNonEO();
            }
        }
        else {
            $("#txtBudgetEO").val('');
            $("#txtBudgetIO").val('');
            document.getElementById("txtBudgetEO").readOnly = true;
            document.getElementById("txtBudgetIO").readOnly = true;
        }
    });

    $("#ddlChannel_BG").change(function () {

        if ($("#ddlChannel_BG").val() != '') {
            $('#ddlActType_BG').attr("disabled", true); 
            document.getElementById("ddlActType_BG").selectedIndex = "0";
        }
        else {
            $('#ddlActType_BG').attr("disabled", false); 
        }
      
            bindDropdownSubject();

            if ($("#txtBudgetEO").val() != '') {
                getBudgetEOIO
            } else {
                getBudgetNonEO();
            }
       // }
       // else {
        //    document.getElementById("divActType").style.display = "block";
        //    document.getElementById("divBGYear").style.display = "block";
        //    document.getElementById("divSubject").style.display = "none";
      //  }

    });

    $("#ddlActType_BG").change(function () {
       console.log('acc')
        if ($("#ddlActType_BG").val() != '') {
            $('#ddlChannel_BG').attr("disabled", true); 
            document.getElementById("ddlChannel_BG").selectedIndex = "0";
        }
        else {
            $('#ddlChannel_BG').attr("disabled", false); 
        }
    });





    $("#txtBGYear").change(function () {
        if ($("#txtBudgetIO").val() != "") {
            getBudgetEOIO();
        }
        else {
            getBudgetNonEO();
        }

       

    });

    $("#ddlActType_BG").change(function () {

        if ($("#ddlActType_BG").val() != "") {

            if ($("#txtBudgetEO").val() != '') {
                getBudgetEOIO
            } else {
                getBudgetNonEO();
            }
        }

    });

    function bindDropdownSubject() {

        var dataToBeSend = {
            channelId: $('#ddlChannel_BG').val()
            , master_type_form_id: '@Model.activityFormTBMMKT.master_type_form_id'
            , companyId: "@UtilsAppCode.Session.User.empCompanyId"
        };

        var ddlSubject = $("#ddlSubject_BG");
        $.ajax('@Url.Action("getEmpGroupFlowByChannel", "GetDataMainForm")',
            {
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataToBeSend),
                dataType: 'json',
                type: "POST",
                success: function (response) {
                    $("#ddlSubject_BG option[value !='']").remove();

                    if (response.Data.userList.length > 0) {
                      
                        document.getElementById("divSubject").style.display = "block";
                        document.getElementById("divActType").style.display = "none";
                        //document.getElementById("divBGYear").style.display = "none";
                        document.getElementById("ddlActType_BG").selectedIndex = "0";
                        $.each(response.Data.userList, function () {
                            ddlSubject.append($("<option></option>").val(this['empId']).html(this['empFNameTH']));
                        });
                    }
                    else {
                        document.getElementById("divSubject").style.display = "none";
                        document.getElementById("divActType").style.display = "block";
                        //document.getElementById("divBGYear").style.display = "block";
                    }
                    
                },
                error: function (data) {
                    alert("Error Get Subject.");
                }
            });
    }



    $(function () {
        $(".datepicker").datepicker({
            format: 'dd/mm/yyyy'
        });
    });

    function getCalBudget() {
        var result = "";
        var oldBG = $("#txtOldBudget").val().replace(/,/g, "");
        let budgetBalance = $("#txtBudgetBalance").val().replace(/,/g, "");
        let TransferBudget = $("#txtTransferBudget").val().replace(/,/g, "");

        if (budgetBalance == '' || budgetBalance == "NaN") {
            budgetBalance = "0.00";
        }
        if (TransferBudget == '' || TransferBudget == "NaN") {
            TransferBudget = "0.00";
        }


        if ($("#ddlUpDown").val() == "0") {
             result = parseFloat(budgetBalance) - parseFloat(TransferBudget);
        }
        else {
             result = parseFloat(budgetBalance) + parseFloat(TransferBudget);
           
        }

        $("#txtNewBudget").val(result.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
    }



     function getBudgetEOIO() {

         var required = "กรุณา ระบุ :<br>";
         var validate = true;
         if ($("#txtBudgetEO").val() == '') { required += "EO*<br>"; validate = false; }


         if (validate != true) {
             bootbox.alert(required);
             return false;
         }

         $.ajax({
             url: '@Url.Action("getBudgetBalanceByEOIO", "TransferBudget")',
             data: {
                 EO: $("#txtBudgetEO").val(),
                 IO: $("#txtBudgetIO").val(),
                 fiscalYear: $("#txtBGYear").val(),
             },
             dataType: "json",
             type: 'POST',
             success: function (response) {
                 if (response.Data != null) {
                     $("#txtOldBudget").val(response.Data.budgetPrice.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                     $("#txtBudgetBalance").val(response.Data.budgetPrice.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                 }
                 else {
                     $("#txtOldBudget").val('');
                     $("#txtBudgetBalance").val('');
                     $("#txtNewBudget").val('');
                     bootbox.alert("ไม่พบ ข้อมูล!");
                 }

                 getCalBudget();
                 $("#WaitDialog").hide();
             }
         });
    }


    function addRow(mode) {
        required = "<b>กรุณาระบุ/Please input data :<br></b>";
        var validate = true;

        

        if ($("#txtBGYear").val() == '') {
            required += "กรุณาเลือก Budget Year! *<br>"; validate = false;
        }
        if ($("#ddlBrand_BG").val() == '') {
            required += "กรุณาเลือก Brand! *<br>"; validate = false;
        }
        
        if ($("#txtremark").val() == '') {
            required += "กรุณากรอกรายละเอียด! *<br>"; validate = false;
        }
        if ($("#txtOldBudget").val() == '') {
            required += "กรุณากรอกรายละเอียด! *<br>"; validate = false;
        }

        if ($("#txtOldBudget").val() == '' || $("#txtOldBudget").val() == '0') {
            required += "ไม่พบ งบประมาณ! *<br>"; validate = false;
        }

        if ($("#txtNewBudget").val() == '') {
            required += "กรุณาระบุ โอนงบประมาณ! *<br>"; validate = false;
        }


        if (validate == false) {
            bootbox.alert(required)
        }
        else {

            var txtBudgetBalance = 0;
            if ($("#txtBudgetBalance").val() != '') {
                txtBudgetBalance = $("#txtBudgetBalance").val().replace(/,/g, "");
            }




            var RowCount = parseInt($('#tbl_budgetControl tr.tagCountRowBudgetControl').length -1).toString();

            if (RowCount == 0 && $("#activityOfEstimateList_0__remark").val() == '') {
                $("#activityOfEstimateList_0__EO").val($("#txtBudgetEO").val());
                $("#activityOfEstimateList_0__IO").val($("#txtBudgetIO").val());
                $("#activityOfEstimateList_0__hospId").val($("#ddlUpDown").val());
                if ($("#ddlUpDown").val() == '1') {
                    $(".txtUpdown_0").val('เพิ่ม');
                }
                else {
                    $(".txtUpdown_0").val('ลด');
                }

                $("#activityOfEstimateList_0__remark").val($("#txtremark").val());
                $("#activityOfEstimateList_0__normalCost").val($("#txtOldBudget").val().replace(/,/g, ""));
                $("#activityOfEstimateList_0__themeCost").val(txtBudgetBalance);
                $("#activityOfEstimateList_0__growth").val($("#txtTransferBudget").val().replace(/,/g, ""));
                $("#activityOfEstimateList_0__total").val($("#txtNewBudget").val().replace(/,/g, ""));
                $("#activityOfEstimateList_0__productId").val($("#ddlBrand_BG").val());
                $("#activityOfEstimateList_0__typeTheme").val($("#ddlChannel_BG").val());
                $("#activityOfEstimateList_0__QtyName").val($("#ddlSubject_BG").val());
                $("#activityOfEstimateList_0__activityTypeId").val($("#ddlActType_BG").val());
                $("#activityOfEstimateList_0__UseYearSelect").val($("#txtBGYear").val());

                
                var getTxtBrandChannel = $("#ddlBrand_BG option:selected").text() + ',' + $("#ddlActType_BG option:selected").text() + $("#ddlChannel_BG option:selected").text() + ',' + $("#txtBGYear").val();
                $("#activityOfEstimateList_0__productName").val(getTxtBrandChannel);
            }
            else {

                if (mode == "update") {
                    RowCount = $("#hdRow").val();
                }
                else {
                    RowCount = parseInt(RowCount) + 1;
                }


                if (mode == "new") {

                    var trHTML = $('.tRow_0').html();
  
                    var trHTML = $("#tbl_budgetControl tbody tr").first().clone().find("input").val("").end().html();
                    trHTML = trHTML.replaceAll('[0].row', '[' + RowCount + '].row');
                    trHTML = trHTML.replaceAll('[0].EO', '[' + RowCount + '].EO');
                    trHTML = trHTML.replaceAll('[0].IO', '[' + RowCount + '].IO');
                    trHTML = trHTML.replaceAll('[0].hospId', '[' + RowCount + '].hospId');
                    trHTML = trHTML.replaceAll('txtUpdown_0', 'txtUpdown_' + RowCount);

                    trHTML = trHTML.replaceAll('[0].remark', '[' + RowCount + '].remark');
                    trHTML = trHTML.replaceAll('[0].productName', '[' + RowCount + '].productName');
                    trHTML = trHTML.replaceAll('[0].normalCost', '[' + RowCount + '].normalCost');
                    trHTML = trHTML.replaceAll('[0].themeCost', '[' + RowCount + '].themeCost');
                    trHTML = trHTML.replaceAll('[0].growth', '[' + RowCount + '].growth');
                    trHTML = trHTML.replaceAll('[0].total', '[' + RowCount + '].total');
                    trHTML = trHTML.replaceAll('[0].productId', '[' + RowCount + '].productId');
                    trHTML = trHTML.replaceAll('[0].typeTheme', '[' + RowCount + '].typeTheme');
                    trHTML = trHTML.replaceAll('[0].QtyName', '[' + RowCount + '].QtyName');
                    trHTML = trHTML.replaceAll('[0].activityTypeId', '[' + RowCount + '].activityTypeId');
                    trHTML = trHTML.replaceAll('[0].UseYearSelect', '[' + RowCount + '].UseYearSelect');
                    trHTML = trHTML.replaceAll('cashEdit(0)', 'cashEdit(' + RowCount +')');

                    trHTML = trHTML.replaceAll('_0__row', '_' + RowCount + '__row');
                    trHTML = trHTML.replaceAll('_0__EO', '_' + RowCount + '__EO');
                    trHTML = trHTML.replaceAll('_0__IO', '_' + RowCount + '__IO');
                    trHTML = trHTML.replaceAll('_0__hospId', '_' + RowCount + '__hospId');
                    trHTML = trHTML.replaceAll('_0__remark', '_' + RowCount + '__remark');
                    trHTML = trHTML.replaceAll('_0__remark', '_' + RowCount + '__remark');
                    trHTML = trHTML.replaceAll('_0__productName', '_' + RowCount + '__productName');
                    trHTML = trHTML.replaceAll('_0__normalCost', '_' + RowCount + '__normalCost');
                    trHTML = trHTML.replaceAll('_0__themeCost', '_' + RowCount + '__themeCost');
                    trHTML = trHTML.replaceAll('_0__growth', '_' + RowCount + '__growth');
                    trHTML = trHTML.replaceAll('_0__total', '_' + RowCount + '__total');
                    trHTML = trHTML.replaceAll('_0__productId', '_' + RowCount + '__productId');
                    trHTML = trHTML.replaceAll('_0__typeTheme', '_' + RowCount + '__typeTheme');
                    trHTML = trHTML.replaceAll('_0__QtyName', '_' + RowCount + '__QtyName');
                    trHTML = trHTML.replaceAll('_0__activityTypeId', '_' + RowCount + '__activityTypeId');
                    trHTML = trHTML.replaceAll('_0__UseYearSelect', '_' + RowCount + '__UseYearSelect');
                    trHTML = ("<tr class=\"tagCountRowBudgetControl tRow_" + RowCount + "\">" + trHTML );

                    trHTML = (trHTML + "</tr>");
                    $('#tbl_budgetControl > tbody:last').append(trHTML);


                }

                $("#activityOfEstimateList_" + RowCount + "__EO").val($("#txtBudgetEO").val());
                $("#activityOfEstimateList_" + RowCount + "__IO").val($("#txtBudgetIO").val());

                if ($("#ddlUpDown").val() == '1') {
                    $(".txtUpdown_" + RowCount).val('เพิ่ม');
                }
                else {
                    $(".txtUpdown_" + RowCount).val('ลด');
                }

                $("#activityOfEstimateList_" + RowCount + "__hospId").val($("#ddlUpDown").val());
                $("#activityOfEstimateList_" + RowCount + "__remark").val($("#txtremark").val());
                $("#activityOfEstimateList_" + RowCount + "__normalCost").val($("#txtOldBudget").val().replace(/,/g, ""));
                $("#activityOfEstimateList_" + RowCount + "__themeCost").val(txtBudgetBalance);
                $("#activityOfEstimateList_" + RowCount + "__growth").val($("#txtTransferBudget").val().replace(/,/g, ""));
                $("#activityOfEstimateList_" + RowCount + "__total").val($("#txtNewBudget").val().replace(/,/g, ""));
                $("#activityOfEstimateList_" + RowCount + "__productId").val($("#ddlBrand_BG").val());
                $("#activityOfEstimateList_" + RowCount + "__typeTheme").val($("#ddlChannel_BG").val());
                var getTxtBrandChannel = $("#ddlBrand_BG option:selected").text() + ',' + $("#ddlActType_BG option:selected").text() + $("#ddlChannel_BG option:selected").text() + ',' + $("#txtBGYear").val();
                $("#activityOfEstimateList_" + RowCount + "__productName").val(getTxtBrandChannel);

                $("#activityOfEstimateList_" + RowCount + "__QtyName").val($("#ddlSubject_BG").val());
                $("#activityOfEstimateList_" + RowCount + "__activityTypeId").val($("#ddlActType_BG").val());
                $("#activityOfEstimateList_" + RowCount + "__UseYearSelect").val($("#txtBGYear").val());

            }

            //claer
            $("#txtBudgetEO").val('');
            $("#txtBudgetIO").val('');
            //$("#ddlUpDown").val('');
            $("#txtremark").val('');
            $("#txtOldBudget").val('');
            $("#txtBudgetBalance").val('');
            $("#txtTransferBudget").val('');
            $("#txtNewBudget").val('');
            $("#ddlBrand_BG").val('');
            $("#ddlChannel_BG").val('');
            $("#ddlSubject_BG").val('');
            document.getElementById("ddlActType_BG").selectedIndex = "0";

        }

    }




</script>
