@model eActForm.Models.Activity_Model
@using eActForm.BusinessLayer
@using System.Configuration;
@using eActForm.Models;
@{
    /**/

    /**/
    decimal? promotionTotal = 0;
    ViewBag.Title = "ProductCostdetail";
    Session["promotionTotal"] = 0;


}



<div class="row">
    <div class="col-12">
        <p class="lead">โครงสร้างราคา - ไม่รวม Vat (Product Cost - Bath Per Case)</p>
    </div>
    <div class="col-12">
        <table class="table table-bordered" id="tbl_productDetail" cellpadding="0" cellspacing="0">
            <thead class="thead-dark">
                <tr>
                    <th class="align-content-center font10" rowspan="2" width="5%" onclick="onDelCostDetail();"> <button class="btn ink-reaction btn-danger fa fa-trash-o"></button></th>
                    <th class="align-content-center font10" rowspan="2" style="width:17%;">ชื่อสินค้า (product Name)</th>
                    <th class="align-content-center font10" rowspan="2" style="width:7%;">Std. Wholesales Price</th>
                    <th class="align-content-center font10" colspan="2" style="width:15%;">ราคาขาย</th>
                    <th class="align-content-center font10" colspan="3" style="width:20%;">Normal Discount (Baht)</th>
                    <th class="align-content-center font10" style="width:7%;">Normal</th>
                    <th class="align-content-center font10" style="width:7%;">Normal</th>
                    <th class="align-content-center font10" style="width:7%;">Promotion</th>
                    @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                    {
                        <th id="col_Special" class="align-content-center font10" colspan="2" style="width:12%;">Special Discount %</th>
                        <th id="col_Promotion" class="align-content-center font10" style="width:8%;">Promotion</th>
                    }
                </tr>
                <tr>
                    <th class="align-content-center font10">&nbsp;&nbsp;Normal&nbsp;&nbsp;</th>
                    <th class="align-content-center font8">Promotion</th>
                    <th class="align-content-center font10">(1)</th>
                    <th class="align-content-center font10">(2)</th>
                    <th class="align-content-center font10">(3)</th>
                    <th class="align-content-center font10">Cost</th>
                    <th class="align-content-center font10">GP%</th>
                    <th class="align-content-center font10">GP%</th>
                    @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                    {
                        <th id="col_DisBaht" class="align-content-center font10">บาท</th>
                        <th id="col_DisPer" class="align-content-center font10">&nbsp;&nbsp;&nbsp;%</th>
                        <th id="col_Cost" class="align-content-center font10">Cost (BHT)</th>
                    }
                </tr>
            </thead>

            @if (Model.productcostdetaillist1 != null)
            {
                var index = 0;
                for (int i = 0; i < Model.productcostdetaillist1.Count; i++)
                {

                    <tr>
                        <td onclick="onDelCostDetail('@Model.productcostdetaillist1[i].productGroupId')">
                            <button class="btn ink-reaction btn-danger fa fa-trash-o"></button>
                            @Html.HiddenFor(x => x.productcostdetaillist1[i].productId, new { @id = "hdProductId_" + index })
                        </td>
                        @if (Model.productcostdetaillist1[i].isShowGroup == true)
                        {
                            <td class="font10 textLeft" onclick="showdetail('@Model.productcostdetaillist1[i].productGroupId')"><span role="button">@Model.productcostdetaillist1[i].brandName @Model.productcostdetaillist1[i].size ALL(@Model.productcostdetaillist1[i].detailGroup.Count) @Model.productcostdetaillist1[i].pack</span></td>
                        }
                        else
                        {
                            if (Model.productcostdetaillist1[i].detailGroup.Count >= 1)
                            {

                                <td class="font10 textLeft" onclick="showdetail('@Model.productcostdetaillist1[i].productGroupId')"><span role="button">@Model.productcostdetaillist1[i].detailGroup[0].productName @Model.productcostdetaillist1[i].pack</span></td>

                            }
                        }

                        @if (Model.activityFormModel.typeForm == Activity_Model.activityType.OMT.ToString())
                        {
                            <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].wholeSalesPrice, "{0:n2}", new { @id = "wholeSalesPrice_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @onfocus = "setZero(wholeSalesPrice_" + index + ")" })</td>
                        }
                        else
                        {
                            <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].wholeSalesPrice, "{0:n2}", new { @id = "wholeSalesPrice_" + index, @class = "form-control textboxcss font10 textRight", @readonly = true })</td>
                        }

                        <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].saleNormal, "{0:n2}", new { @id = "saleNormal_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @onfocus = "setZero(saleNormal_" + index + ")" })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].saleIn, "{0:n2}", new { @id = "saleIn_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @onfocus = "setZero(saleIn_" + index + ")" })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].disCount1, "{0:n3}", new { @id = "disCount1_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @onfocus = "setZero(disCount1_" + index + ")" })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].disCount2, "{0:n3}", new { @id = "disCount2_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @onfocus = "setZero(disCount2_" + index + ")" })</td>
                        <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].disCount3, "{0:n3}", new { @id = "disCount3_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @onfocus = "setZero(disCount3_" + index + ")" })</td>
                        <td style="text-align:right">
                            @if (Model.activityFormModel.typeForm == Activity_Model.activityType.OMT.ToString())
                            {
                                @Html.TextBoxFor(model => Model.productcostdetaillist1[i].normalCost, "{0:n2}", new { Style = "background:#c5f0c5;", @id = "normalCost_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => Model.productcostdetaillist1[i].normalCost, "{0:n2}", new { Style = "background:#c5f0c5;", @id = "normalCost_" + index, @class = "form-control textboxcss font10 textRight", @readonly = true })

                            }

                        </td>
                        @if (Model.activityFormModel.typeForm == Activity_Model.activityType.OMT.ToString())
                        {
                            <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].normalGp, "{0:n2}", new { @id = "normalGp_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")" })</td>
                        }
                        else
                        {
                            <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].normalGp, "{0:n2}", new { @id = "normalGp_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @readonly = true })</td>
                        }
                        @if (Model.activityFormModel.typeForm == Activity_Model.activityType.OMT.ToString())
                        {
                            <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].promotionGp, "{0:n2}", new { @id = "promotionGp_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")" })</td>
                        }
                        else
                        {
                            <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].promotionGp, "{0:n2}", new { @id = "promotionGp_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @readonly = true })</td>
                        }
                        @if (Model.activityFormModel.typeForm == Activity_Model.activityType.OMT.ToString())
                        {
                            @Html.HiddenFor(model => Model.productcostdetaillist1[i].specialDiscBaht, new { @id = "specialDiscBaht_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @onfocus = "setZero(specialDiscBaht_" + index + ")" })
                        }
                        else
                        {
                            <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].specialDiscBaht, "{0:n2}", new { @id = "specialDiscBaht_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @onfocus = "setZero(specialDiscBaht_" + index + ")" })</td>
                        }

                        @if (Model.activityFormModel.typeForm == Activity_Model.activityType.OMT.ToString())
                        {
                            @Html.HiddenFor(model => Model.productcostdetaillist1[i].specialDisc, new { @id = "specialDisc_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @onfocus = "setZero(specialDisc_" + index + ")" })
                        }
                        else
                        {
                            <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].specialDisc, "{0:n2}", new { @id = "specialDisc_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @onfocus = "setZero(specialDisc_" + index + ")" })</td>
                        }

                        @if (Model.activityFormModel.typeForm == Activity_Model.activityType.OMT.ToString())
                        {
                            @Html.HiddenFor(model => Model.productcostdetaillist1[i].promotionCost, new { @id = "promotionCost_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "calProductDiscount('" + Model.productcostdetaillist1[i].productGroupId + "', " + index + ")", @onfocus = "setZero(promotionCost_" + index + ")" })
                        }
                        else
                        {
                            <td style="text-align:right">@Html.TextBoxFor(model => Model.productcostdetaillist1[i].promotionCost, "{0:n2}", new { @id = "promotionCost_" + index, @class = "form-control textboxcss font10 textRight", @readonly = true })</td>
                        }
                    </tr>
                    promotionTotal = Model.productcostdetaillist1[i].promotionCost == null ? 0 + promotionTotal : Model.productcostdetaillist1[i].promotionCost + promotionTotal;

                    index++;
                }
                Session["promotionTotal"] = promotionTotal;

            }

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td class="auto-style3">&nbsp;</td>
                <td class="auto-style3">&nbsp;</td>
                <td class="auto-style3">&nbsp;</td>
                <td>&nbsp;</td>
                <td class="auto-style4">&nbsp;</td>
                <td class="auto-style4">&nbsp;</td>
                @if (Model.activityFormModel.typeForm != Activity_Model.activityType.OMT.ToString())
                {
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                }

            </tr>
        </table>
    </div>
</div>

<div class="modal fade" id="modalProductDetaillist" role="dialog" style="display:none">
    <div id="divModalProductDetaillist">
    </div>
</div>
<input type="hidden" id="hdPromotionCost" value="@promotionTotal">
<script>

    var rowCount = @Model.productcostdetaillist1.Count;
    function calProductDiscount(id, rowIndex) {
        if ($('#wholeSalesPrice_' + rowIndex).val() != "") {
            var productId = $('#hdProductId_' + rowIndex).val();
            var wholeSalesPrice = $('#wholeSalesPrice_' + rowIndex).val();
            var saleNormal = $('#saleNormal_' + rowIndex).val();
            var saleIn = $('#saleIn_' + rowIndex).val();
            var disCount1 = $('#disCount1_' + rowIndex).val();
            var disCount2 = $('#disCount2_' + rowIndex).val();
            var disCount3 = $('#disCount3_' + rowIndex).val();
            var normalCost = $('#normalCost_' + rowIndex).val();
            var normalGP = $('#normalGp_' + rowIndex).val();
            var promotionGP = $('#promotionGp_' + rowIndex).val();
            var specialDisc = $("#specialDisc_" + rowIndex).val();
            var specialDiscBaht = $("#specialDiscBaht_" + rowIndex).val();

            $.ajax({
            type: 'POST',
            url:  '@Url.Action("calDiscountProduct", "ActivityProductDetail")',
             data: {
                 productGroupId: id,
                 productId: productId,
                 wholeSalesPrice: wholeSalesPrice.replace(",", ""),
                 saleNormal: saleNormal.replace(",", ""),
                 saleIn: saleIn.replace(",", ""),
                 disCount1: disCount1.replace(",", ""),
                 disCount2: disCount2.replace(",", ""),
                 disCount3: disCount3.replace(",", ""),
                 normalCost: normalCost.replace(",", ""),
                 normalGP: normalGP.replace(",", ""),
                 promotionGP: promotionGP.replace(",", ""),
                 specialDisc: specialDisc.replace(",", ""),
                 specialDiscBaht: specialDiscBaht.replace(",", ""),
                 activityId : '@Model.activityFormModel.id',

            }
         }).done(function (response) {
             CallChangefunc('@Model.activityFormModel.id');
        });

        }
    }

    function showdetail(rowId) {
        $.ajax({
            type: 'POST',
            url:  '@Url.Action("showDetailGroup", "ActivityProductDetail")',
            data: {
                rowId: rowId,
                actId: '@Model.activityFormModel.id',
            }
        }).done(function (response) {
            $("#divModalProductDetaillist").html(response)
            $('#modalProductDetaillist').modal('show');
        });
    }


    function onDelCostDetail(id) {

            $.ajax({
            url: '@Url.Action("delCostDetail", "ActivityProductDetail")',
            data: {
                rowid: id,
                id: '@Model.activityFormModel.id',
            },
            dataType: "json",
            type: 'POST',
                success: function (response) {
                    CallChangefunc('@Model.activityFormModel.id');
                    callThemedetailcost('@Model.activityFormModel.id');
                }

            });
    }




</script>

