@using eActForm.BusinessLayer
@using eActForm.Models
@using System.Configuration;

@if (UtilsAppCode.Session.User.isAdmin
    || UtilsAppCode.Session.User.isSuperAdmin
    || UtilsAppCode.Session.User.isAdminTBM
    || UtilsAppCode.Session.User.isAdminOMT
    || UtilsAppCode.Session.User.isAdminPOM
    || UtilsAppCode.Session.User.isAdminHoreca)
{
    <li>
        <a><i class="fa fa-paint-brush"></i> Admin <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">

            @if (UtilsAppCode.Session.User.isAdminOMT || UtilsAppCode.Session.User.isSuperAdmin)
            {
                <li>@Html.ActionLink(" Customer Setting ", "manageCustomer", "admin")</li>
            }

            @if (UtilsAppCode.Session.User.isSuperAdmin
               || UtilsAppCode.Session.User.isAdminOMT
               || UtilsAppCode.Session.User.isAdmin
               || UtilsAppCode.Session.User.isAdminPOM
               || UtilsAppCode.Session.User.isAdminNUM
               || UtilsAppCode.Session.User.isAdminTBM
               || UtilsAppCode.Session.User.isAdminHoreca
               || UtilsAppCode.Session.User.isAdminChangInter
               || UtilsAppCode.Session.User.isAdminCVM
               || UtilsAppCode.Session.User.isAdminHCBP)
            {
                <li>@Html.ActionLink(" Flow Setting ", "index", "ManagementFlow")</li>
            }

            @if (UtilsAppCode.Session.User.isSuperAdmin
                || UtilsAppCode.Session.User.isAdminOMT
               || UtilsAppCode.Session.User.isAdmin)
            {
                <li> @Html.ActionLink(" Flow AddOn Setting ", "index", "ManagementFlow", new { typeFlow = Activity_Model.typeFlow.flowAddOn.ToString() }, null) </li>
                <li> @Html.ActionLink(" Product Setting ", "index", "Admin") </li>
            }

            @if (UtilsAppCode.Session.User.isSuperAdmin)
            {
                <li> @Html.ActionLink(" User Setting ", "index", "AdminUser") </li>
                <li> @Html.ActionLink(" Flow Swap Setting ", "index", "ManagementFlow", new { typeFlow = Activity_Model.typeFlow.swap.ToString() }, null) </li>
                <li> @Html.ActionLink(" Move Company ", "Index_EmpMoveCompany", "ManagementFlow") </li>
            }



        </ul>
    </li>
}