@using eActForm.BusinessLayer
@using eActForm.Models
@if (UtilsAppCode.Session.User.isAdmin || UtilsAppCode.Session.User.isSuperAdmin || UtilsAppCode.Session.User.isAdminTBM)
{
    <li>
        <a><i class="fa fa-paint-brush"></i> Admin <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>@Html.ActionLink(" Product Setting ", "index", "Admin")</li>
            <li>@Html.ActionLink(" User Setting ", "index", "AdminUser")</li>
            @if (UtilsAppCode.Session.User.isSuperAdmin || UtilsAppCode.Session.User.isAdminTBM)
            {
                <li>@Html.ActionLink(" Customer Setting ", "manageCustomer", "admin")</li>
                <li>@Html.ActionLink(" Flow Setting ", "index", "ManagementFlow")</li>
                <li>@Html.ActionLink(" Flow AddOn Setting ", "index", "ManagementFlow", new { typeFlow = Activity_Model.typeFlow.flowAddOn.ToString() }, null)</li>
                <li>@Html.ActionLink(" Flow Swap Setting ", "index", "ManagementFlow", new { typeFlow = Activity_Model.typeFlow.swap.ToString() }, null)</li>
                <li>@Html.ActionLink(" Import Flow ", "index", "ImportFlow")</li>
                <li>@Html.ActionLink(" Import Budget ", "index", "ImportBudgetControl")</li>
            }
        </ul>
    </li>
}