@using eActForm.BusinessLayer
@using System.Configuration;
@using eActForm.Models;
@if ((@Array.AsReadOnly(AppCode.compHcForm).Contains(UtilsAppCode.Session.User.empCompanyGroup)) 
    || UtilsAppCode.Session.User.isAdminHCBP 
    || UtilsAppCode.Session.User.isSuperAdmin
    || UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_Cashvan"])
{

    <li>
        <a><i class="fa fa-edit"></i>HC Forms <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            @if ((@Array.AsReadOnly(AppCode.compHcForm).Contains(UtilsAppCode.Session.User.empCompanyGroup)) || UtilsAppCode.Session.User.isAdminHCBP || UtilsAppCode.Session.User.isSuperAdmin)
            {
                <li>@Html.ActionLink("expense travelling", "Index", "MainForm", new { typeForm = Activity_Model.activityType.HCForm.ToString(), master_type_form_id = ConfigurationManager.AppSettings["formExpTrvNumId"] }, null)</li>
                <li>@Html.ActionLink("expense travel home", "Index", "MainForm", new { typeForm = Activity_Model.activityType.HCForm.ToString(), master_type_form_id = ConfigurationManager.AppSettings["formTrvHome"] }, null)</li>
            }
            @if (UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_Cashvan"] || UtilsAppCode.Session.User.isSuperAdmin)
            {
                <li>@Html.ActionLink("expense medical", "Index", "MainForm", new { typeForm = Activity_Model.activityType.HCForm.ToString(), master_type_form_id = ConfigurationManager.AppSettings["formExpMedNumId"] }, null)</li>
            }
        </ul>
    </li>
}