@using eActForm.BusinessLayer
@using eActForm.Models;
@using System.Configuration;

@if (UtilsAppCode.Session.User.isAdmin || UtilsAppCode.Session.User.isAdminOMT || UtilsAppCode.Session.User.isSuperAdmin
    || UtilsAppCode.Session.User.isCreator)
{
    <li>
        <a><i class="fa fa-bar-chart-o"></i> Reports <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">

            @if (UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_MT"] || UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_OMT"])
            {
                if (UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_MT"])
                {
                    <li>@Html.ActionLink(" Report Post Evaluation", "index", "actFormRepPostEva")</li>

                    <li>@Html.ActionLink(" Report Detail MT", "index", "actFormRepDetail", new { typeForm = Activity_Model.activityType.MT.ToString() }, null)</li>
                    <li>@Html.ActionLink(" Report Detail SetPrice", "index", "actFormRepDetail", new { typeForm = Activity_Model.activityType.SetPrice.ToString() }, null)</li>

                }
                if (UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_OMT"])
                {
                    <li>@Html.ActionLink(" Report Detail OMT", "index", "actFormRepDetail", new { typeForm = Activity_Model.activityType.OMT.ToString() }, null)</li>
                }
                if (UtilsAppCode.Session.User.isAdmin || UtilsAppCode.Session.User.isSuperAdmin)
                {
                    <li>@Html.ActionLink(" Report Summary", "index", "SummaryReport", new { typeForm = Activity_Model.activityType.MT.ToString() }, null)</li>
                }

                if (UtilsAppCode.Session.User.isAdmin || UtilsAppCode.Session.User.isSuperAdmin || UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_MT"])
                {
                    <li>@Html.ActionLink(" Report Budget Activity MT", "reportBudgetActivityIndex", "BudgetReport", new { typeForm = Activity_Model.activityType.MT.ToString() }, null)</li>
                    <li>@Html.ActionLink(" Report Claim PDG MT", "claimReportIndex", "ClaimReport", new { typeForm = Activity_Model.activityType.MT.ToString() }, null)</li>
                }

                if (UtilsAppCode.Session.User.isAdminOMT || UtilsAppCode.Session.User.isSuperAdmin || UtilsAppCode.Session.User.empCompanyId == ConfigurationManager.AppSettings["companyId_OMT"])
                {
                    <li>@Html.ActionLink(" Report Budget Activity OMT", "reportBudgetActivityIndex", "BudgetReport", new { typeForm = Activity_Model.activityType.OMT.ToString() }, null)</li>
                    <li>@Html.ActionLink(" Report Claim PDG OMT", "claimReportIndex", "ClaimReport", new { typeForm = Activity_Model.activityType.OMT.ToString() }, null)</li>
                }


            }
            @if (UtilsAppCode.Session.User.isAdminNUM || UtilsAppCode.Session.User.isSuperAdmin)
            {
                <li>@Html.ActionLink(" Report Medical", "ReportIndex", "MainReport", new { typeForm = Activity_Model.activityType.HCForm.ToString(), typeFormId = ConfigurationManager.AppSettings["formExpMedNumId"] }, null)</li>
            }
        </ul>
    </li>
}