@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer;
@using System.Configuration;

<table style="width: 100%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;">
    <tr style="">
        <td>
            <div id="divHeaderDetails" runat="server" style="width: 100%;">
                <table style="width: 100%;" id="tabelHeaderDetails" runat="server">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="control-label col-md-2 col-xs-12 hrTab">
                                    ส่วนที่ 3 - 5
                                </label>
                                <label class="control-label col-md-10 col-xs-12 hrTab">
                                    &nbsp;
                                </label>
                            </div>


                        </td>
                    </tr>
                </table>
                <table style="width: 100%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;">
                    <tr style="border-bottom:none;">
                        <td>
                            <div id="divHeaderDetailsCost" runat="server" style="width: 100%;padding-left:15px;padding-right:15px;">
                                <table class="table table-bordered" id="tabelHeaderDetails" runat="server">
                                    <tr style="background-color:#2f74b5;color:white;height:25px;">
                                        <th style="width: 15%;border-style: solid;border-width: 0px 1px 0px 1px; border-collapse: collapse;text-align:center;">IO</th>
                                        <th style="width: 10%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">GL</th>
                                        <th style="width: 30%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">Ch.+Reg.</th>
                                        <th style="width: 8%;border-style: solid;border-width: 0px 1px 0px 0px; border-collapse: collapse;text-align:center;">Brand</th>
                                    </tr>
                                    @{ var index = 0;}
                                    @foreach (var item in Model.activityOfEstimateList)
                                    {
                                        <tr class="tagCountRowinTable">
                                            <td style="width: 15%;border-style: solid;border-width: 1px 1px 0px 1px; border-collapse: collapse;text-align:center;">
                                                @if (Model.activityFormModel.mode == "edit" && Model.activityFormTBMMKT.statusId == 2 && UtilsAppCode.Session.User.isAdminTBM)
                                                {
                                                    <input type="text" value="@item.IO" id="activityOfEstimateList[@index].IO" name="activityOfEstimateList[@index].IO" class="form-control textboxcss clstxtIO" />
                                                }
                                                else
                                                {
                                                    <input type="text" value="@item.IO" id="activityOfEstimateList[@index].IO" name="activityOfEstimateList[@index].IO" class="form-control textboxcss clstxtIO" readonly="readonly" />
                                                }

                                            </td>
                                            <td style="width: 10%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                                                @Html.DropDownList("activityOfEstimateList[" + index + "].activityTypeId", new SelectList(Model.activityGroupList, "activityTypeId", "activitySales", item.activityTypeId), "", new { @class = "form-control selectpicker" })
                                            </td>
                                            <td style="width: 30%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                                                <input type="text" value="@item.productDetail" id="activityOfEstimateList[@index].productDetail" name="activityOfEstimateList[@index].productDetail" class="form-control textboxcss" />
                                            </td>
                                            <td style="width: 8%;border-style: solid;border-width: 1px 1px 0px 0px; border-collapse: collapse;text-align:center;">
                                                <input type="text" value="@item.QtyName" id="activityOfEstimateList[@index].QtyName" name="activityOfEstimateList[@index].QtyName" class="form-control textboxcss" />
                                            </td>
                                        </tr>
                                        index++;
                                    }
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
