@model eActForm.Models.Activity_TBMMKT_Model
@using eActForm.BusinessLayer;
@using System.Configuration;

<table style="width: 100%;border-style: solid;border-width: 0px 0px 0px 0px; border-collapse: collapse;">
    <tr style="">
        <td>
            <div id="divHeaderDetails" runat="server" style="width: 100%;">
                <table style="width: 100%;" id="tabelHeaderDetails" runat="server">
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="control-label col-md-12 col-xs-12 hrTab" style="text-align:left;">
                                    ส่วนที่ 2
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2 col-xs-12">
                                    เอกสารแนบ :
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="row">
                                        <style>
                                            td div span {
                                                line-height: 0px;
                                            }

                                            .multiselect-container {
                                                width: 100% !important;
                                            }
                                        </style>
                                        @Html.DropDownList("activityFormTBMMKT.list_2_multi_select", new SelectList(Model.list_0,
                                            "id", "name"),
                                            new
                                            {
                                                @class = "form-control",
                                                id = "ddlAttach",
                                                multiple = "multiple"
                                            })
                                        <script>
                                            $(document).ready(function () {
                                                $('#ddlAttach').multiselect({
                                                    numberDisplayed: 2,
                                                    enableFiltering: true,
                                                    nonSelectedText: '',
                                                    buttonWidth: '100%',
                                                    onChange: function (option, checked) {

                                                    },
                                                });
                                                $(".multiselect .caret").css('float', 'right');//ทำให้ caret ไปอยู่ขวาสุดของ Dropdown Multiselect ห้ามลบ
                                                $(".multiselect .caret").css('margin', '8px 0');//ทำให้ caret ไปอยู่ขวาสุดของ Dropdown Multiselect ห้ามลบ
                                            });
                                        </script>
                                        <script>
                                                $(function () {
                                                    var valuesSelect_list_2_multi_select_FromDb = [];
                                                    @if (Model.activityFormTBMMKT.list_2_multi_select != null)
                                                    {
                                                        foreach (var itemArray in Model.activityFormTBMMKT.list_2_multi_select)
                                                        {
                                                        @:valuesSelect_list_2_multi_select_FromDb.push("@itemArray");
                                                        }
                                                         @:$("#ddlAttach").multiselect('select', valuesSelect_list_2_multi_select_FromDb);
                                                    }
                                                });
                                        </script>
                                    </div>
                                </div>
                                <div class="control-label col-md-2 col-xs-12">
                                    ข้อมูลสนับสนุน/หมายเหตุ :
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="row">
                                        @Html.TextAreaFor(x => x.activityFormTBMMKT.remark, new { @class = "form-control textboxcss", @id = "txtRemarks", style = "", @rows = "1" })
                                    </div>

                                </div>
                            </div>
                         
                                <div class="form-group">

                                    <div class="control-label col-md-2">
                                        เผยแพร่/อื่นๆ :
                                    </div>
                                    <div class="col-md-1">
                                        <div class="row" style="padding-top:8px;">
                                            @Html.RadioButtonFor(m => m.tB_Act_ActivityForm_DetailOther.IO, "1", new { @checked = "checked", @Onchange = "rdbTypeIO()" })
                                        </div>
                                    </div>
                                    <div class="control-label col-md-1">
                                        ขาย :
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row" style="padding-top:8px;">
                                            @Html.RadioButtonFor(m => m.tB_Act_ActivityForm_DetailOther.IO, "2", new { @Onchange = "rdbTypeIO()" })

                                        </div>
                                    </div>
                                    <div class="control-label col-md-2 col-xs-12">
                                        ชื่อลูกค้า/ชื่อกิจกรรม :
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="row">
                                            @Html.TextBoxFor(x => x.tB_Act_ActivityForm_DetailOther.toName, new { @class = "form-control textboxcss" })
                                        </div>

                                    </div>


                                </div>

                                <script>


                                    $(document).ready(function () {
                                        var ddlPV = $('#ddl_EO_PV').val();

                                        if (ddlPV != null) {
                                            var eoTxt;
                                            var activityTxt;
                                            for (var item = 0; item < ddlPV.length; item++) {

                                                eoTxt += '|' + subStringGetEO(ddlPV[item]);
                                                activityTxt += '|' + subStringGetActId(ddlPV[item]);

                                            }

                                            //varible for dataToBeSend << for inputPageHeaderDetails.cshtml
                                            //support case change TypeIO for first time(page Load)
                                            if (activityTxt != "" && eoTxt != "") {
                                                dataToBeSend = {
                                                    ActivityByEOSelect: activityTxt.toString()
                                                    , EOSelect: eoTxt
                                                };
                                            }
                                        }
                                    });

                                    function rdbTypeIO() {
                                        removeDropdownIO();
                                        getDataIO();
                                    }
                                </script>
                            
                        </td>
                    </tr>
                </table>

            </div>
        </td>
    </tr>
</table>
