@model eActForm.Models.TB_Act_ProductPrice_Model
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <div style=""></div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div id="Grid1" style="width:97%; margin-left:20px;">
                <style>
                    .cssborderbottom {
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        border-bottom-color: gray;
                    }

                    .font8 {
                        font-size: 8px;
                    }

                    .font11 {
                        font-size: 11px;
                    }

                    .textRight {
                        text-align: right;
                    }

                    .textLeft {
                        text-align: left;
                    }

                    .line-breaks {
                        white-space: pre-line;
                    }
                </style>

                <div>
                    <div style="text-align:center;"><h5>@Model.ProductPriceList[0].productName</h5></div>
                </div>
                <div>

                    <table style="width:100%; margin-top:30px;">
                        @{
                            var index = 0;
                        }
                        <tr>
                            <td class="textRight"><h5>Customer</h5></td>
                            <td class="textRight"><h5>NormalCost</h5></td>
                            <td class="textRight"><h5>WholeSalesPrice</h5></td>
                            <td class="textRight"><h5>Discount1</h5></td>
                            <td class="textRight"><h5>Discount2</h5></td>
                            <td class="textRight"><h5>Discount3</h5></td>
                            <td class="textRight"><h5>SaleNormal</h5></td>
                        </tr>
                        @foreach (var item in Model.ProductPriceList)
                        {
                            @Html.HiddenFor(x => item.id,new { @id= "hdId_" + index})
                            <tr>
                                <td>@Html.DisplayFor(x => item.customerName)</td>
                                <td>@Html.TextBoxFor(x => item.normalCost, "{0:n2}", new { @step = "0.01" , @id = "normalCost_" + index, @class = "form-control textboxcss  textRight", @onchange = "return $adminPage.onchangePrice('" + item.customerId + "', " + index + ")"})</td>
                                <td>@Html.TextBoxFor(x => item.wholeSalesPrice, "{0:n2}", new { @id = "wholeSalesPrice_" + index, @class = "form-control textboxcss font10 textRight", @onchange = "return $adminPage.onchangePrice('" + item.customerId + "', " + index + ")" })</td>
                                <td>@Html.TextBoxFor(x => item.discount1, "{0:n2}", new {@id = "discount1_" + index, @class = "form-control textboxcss  textRight", @onchange = "return $adminPage.onchangePrice('" + item.customerId + "', " + index + ")"})</td>
                                <td>@Html.TextBoxFor(x => item.discount2, "{0:n2}", new {@id = "discount2_" + index, @class = "form-control textboxcss  textRight", @onchange = "return $adminPage.onchangePrice('" + item.customerId + "', " + index + ")"})</td>
                                <td>@Html.TextBoxFor(x => item.discount3, "{0:n2}", new { @id = "discount3_" + index, @class = "form-control textboxcss  textRight", @onchange = "return $adminPage.onchangePrice('" + item.customerId + "', " + index + ")"})</td>
                                <td>@Html.TextBoxFor(x => item.saleNormal, "{0:n2}", new {@id = "saleNormal_" + index, @class = "form-control textboxcss  textRight", @onchange = "return $adminPage.onchangePrice('" + item.customerId + "', " + index + ")"})</td>
                            </tr>
                            index++;
                        }
                    </table>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div>
                <p class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa fa-reply fa-fw"></i>&nbsp;Close</button>
                </p>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/Admin/adminPage.js"></script>
<script type="text/javascript">
    $(function () {
        $adminPage.urlOnchangePrice = '@Url.Action("onchangePrice", "Admin")';
    });


</script>
